[2019-08-19 13:52] gazhayes opened #795 "parsing go.mod: unexpected module path"
[code]

Note the `s`: `github.com/pions/webrtc`

I can't seem to find where this is actually coming from.

[2019-08-19 14:28] at-wat commented on #795
Try using `github.com/pion/webrtc/v2`.

As described in the official wiki (https://github.com/golang/go/wiki/Modules#semantic-import-versioning), major version of the module `/vN` must be included at the end of the module path.

[2019-08-19 17:20] backkem commented on #795
@at-wat is right. This issue exists since we renamed the organisation from `pions` to `pion` between v1 and v2. We should probably call out the correct import path in the readme.

[2019-08-19 17:51] Sean-Der commented on #795
@backkem That would be awesome. I think we need to redo the README honestly. It doesn't convey enough information, and it is wasting the readers time.

I was look at WebTorrent's the other day and it so friendly, and does a great job of selling why the project is exciting!

[2019-08-20 07:45] gazhayes commented on #795
Thanks @backkem @Sean-Der and @at-wat. I have updated the README in the examples in #797

[2019-08-21 19:20] backkem opened #798 "The big tinygo thread"
## Summary

This is a tracking issue to experiment with support for tinygo. It seems rather early for the tinygo project to try this. However, it's still interesting to see how far we can get.

## Known issues

- encoding/json is missing but we should be able to live without it.
- There may be no good source of cryptographic randomness.
- We need to use their custom net package.

## Steps

- [ ] A

[2019-08-22 08:41] Sean-Der commented on #571
@maxhawkins @enobufs

I have spent some time debugging this, and don't understand how this could have happened. For the time being I can add a guard against a `nil` association. But that is just a band-aid.

I ran this test ~200 times locally and passes every time.

* We create the association and assign it [here](https://github.com/pion/webrtc/blob/master/sctptransport.go#L95) we properly handle

[2019-08-22 08:43] Sean-Der commented on #571
Here are some other errors looking through `travis-ci` history that might be a clue

[code]

[code]

[2019-08-22 08:50] Sean-Der commented on #571
Does it seem possible that `Stop()` was called, and is hanging on the lock?

You can see that [here](https://github.com/pion/webrtc/blob/master/sctptransport.go#L104)

It feels like we should just have a graceful guard [here](https://github.com/pion/webrtc/blob/master/sctptransport.go#L134) and detect if it is closed. Would either of you disagree/push back on a PR doing that?

[2019-08-22 09:00] Sean-Der commented on #571
Actually found an even better solution, lets just pass the association in. We don't need to guard using the association itself. PR is https://github.com/pion/webrtc/pull/799

[2019-08-22 09:05] Sean-Der commented on #791
Hey @chrbsg sorry for the delay, busy week :( I will try and get this triaged/debugged ASAP!

Are you able to try on any other OSes/Browsers? I am Chrome on MacOS, I just want to rule out any issues around that.

The Linux media pipeline for libwebrtc is different then MacOS, so my guess would be that we are doing something that isn't portable.

[2019-08-22 09:06] Sean-Der commented on #795
Glad to see the contribution @gazhayes :)

Do you consider this issue closed, or anything else we can do to make Pion more user friendly! I am up for any and all input :) thanks

[2019-08-22 18:03] #571 closed

[2019-08-22 18:04] Sean-Der commented on #642
It looks like we are out of the woods with this! Thanks everyone for helping with this, I haven't had a single PR sent to me lately where someone has been blocked by a unrelated test fail.

[2019-08-22 18:04] #642 closed

[2019-08-23 08:41] gazhayes commented on #795
Thanks @Sean-Der, yeah I'll close it now :)

[2019-08-23 08:41] #795 closed

[2019-08-23 18:18] #750 closed

[2019-08-25 20:52] Sean-Der commented on #713
@enobufs

We need to expose `sctp` as a member of `PeerConnection` and that should be non-nil after `SetLocalDescription` is set.

[code]

[2019-08-26 09:31] niklaskorz commented on #639
https://github.com/notedit/media-server-go is able to run on a single port, so surely it should be possible to do this in Pion as well?
I currently have no time to investigate this further (maybe next month), but in this case, I think it would make sense to leave this issue open.

[2019-08-27 13:40] StartAt24 opened #803 "[Help] How to use it in LAN"
I have a client get stream data (pictures) from the server.

But i don't have network. I just want to use it in localhost.

I have tried
[code]
But i cannot get the `RTCSessionDescription`.

How can i get it without IceServer?

By the way if i have a ICEServer. How to send big data through dataChannel?

I have got this panic `panic: Outbound packet larger than maximum message size 65535`.
I'm usin

[2019-08-28 03:58] StartAt24 commented on #803
@Sean-Der Thanks for your help.
I have joined the Slack.
I'll try to packetize my image.

[2019-08-31 11:27] rushib1 opened #810 "Unable to work when behind ipv6"
### Your environment.
  - Version: go version go1.12.8 linux/amd64; github.com/pion/webrtc/v2 v2.1.2
  - Browser: not using browser. Using flutter-webrtc
  - the server is behind ipv4 only internet. The mobile is behind jio cellular network which support both ipv4 and ipv6.

### What did you do?

I am trying to stream a voice from external device from pion server to mobile.

### What did you expec

[2019-08-31 18:57] enobufs opened #811 "Add a data channel example with `bufferedAmount` control"
## Summary
Add a data channel example using `bufferedAmount` and `bufferedAmountLowThreshold`.

## Motivation
There was a multiple of times pion user stumbled upon the flow control issues with data channel.  I think it is nice to have an example that demonstrates how to use `bufferedAmount` and `bufferedAmountLowThreshold`.

## Describe alternatives you've considered
Just points to some external s

[2019-09-01 02:32] #811 closed

[2019-09-01 07:38] Sean-Der commented on #803
Hey @StartAt24!

Hopefully the new example is working out for you! https://github.com/pion/webrtc/tree/master/examples/data-channels-flow-control

Thank you for joining the Slack, your questions have caused us to improve stuff already so that is really awesome. I am going to close this issue now, but please feel free to open more with other issues if you think of them. thanks for using Pion!

[2019-09-01 07:38] #803 closed

[2019-09-03 05:40] Sean-Der commented on #639
@niklaskorz @Prinzhorn thanks for the kind words about Pion :) and I do think this is possible! Possibly not in `pion/ice`.

We can put some sort of `tee` in front of each PeerConnection, and it would handle demuxing the traffic. For `peer-reflexive` traffic we could check each packet and see which uPwd/uFrag matches. This could use the same infrastructure as `vnet` so I don't think there is anyth

[2019-09-03 05:41] Sean-Der commented on #639
I am available in [Slack](https://pion.ly/slack) if you want to chat. Happy to answer questions about WebRTC/Pion and see what I can do to help :)

[2019-09-05 06:36] Sean-Der commented on #767
Hey @jackfreed

Sorry this took so long, are you still using Pion? I have a possible patch that kicks the connectivity checks if we get another prflx candidate!

Would you be able to test it?

thanks

[2019-09-05 06:36] Sean-Der commented on #767
I am making this issue part of our next release, I am sure this is biting other people so would love to get it fixed :)

[2019-09-05 08:23] jackfreed commented on #767
Hi @Sean-Der

i am still using it. Please patch me up :-)
I will try it right away.

Many thanks!

[2019-09-07 06:29] Sean-Der opened #817 "Implement OnNegotiationNeeded"
This should be added to support the Tor folks!

[2019-09-07 17:45] hcm007 opened #820 "Index out of range"
panic: runtime error: index out of range
[code]

[2019-09-07 18:41] hcm007 commented on #820
I committed pr in this issue page `https://github.com/pion/webrtc/pull/821`

[2019-09-08 07:54] Sean-Der commented on #820
Fixed by 0e257f6c3d8495e938f46e08bded895a9f8a03c0

[2019-09-08 07:54] #820 closed

[2019-09-08 17:34] enobufs opened #823 "TestSRTPDrainLeak occasionally fails"
### Your environment.
  - Version: 0e257f6
  - Browser: n/a
  - Other Information

Travis CI [build #3831](https://travis-ci.org/pion/webrtc/builds/582373663?utm_source=github_status&utm_medium=notification)
[code]

[2019-09-08 17:43] enobufs commented on #823
I saw this error once earlier at https://travis-ci.org/pion/webrtc/builds/579269587

[2019-09-08 17:51] Sean-Der commented on #823
I will grab this! This test could fail with net loss, I will move to vnet should help a lot!

[2019-09-10 17:05] seppo0010 commented on #731
I think this issue can be closed now, @Sean-Der

[2019-09-10 19:16] Sean-Der commented on #731
Hey @seppo0010

Thanks for triaging issues! I added you to the `pion` organization, feel free to close/prune any ticket you see.

[2019-09-10 19:16] #731 closed

[2019-09-12 03:50] jifengle opened #827 "I set up RTX sdp, how to receive RTX package？"
I set up RTX sdp, how to receive RTX package？

[2019-09-15 21:49] breebee opened #831 "Scalable Topology"
## Summary
Test/improve on Muaz Khan scalable broadcast topology he implements in his library where each user relays the the media to the next peer and removing CPU/Bandwidth from the equation.

## Motivation
I believe webrtc needs to connect people on a global scale, and this library written in go seems to be the best fully featured open source collaboration that can actually achieve a large scal

[2019-09-16 04:01] #614 closed

[2019-09-16 07:53] Sean-Der commented on #831
Interesting @breebee

I think Pion WebRTC could easily be able to build something like this!

Another interesting idea I was thinking of playing with is what if you connected to an SFU, but then some media sections were actually from a different peer? It could give the user a possibility to seamlessly switch between P2P/SFU as more users join/leave the call.

The local PeerConnection would have no

[2019-09-16 07:56] Sean-Der commented on #831
This conversation is probably done better via [Slack](https://pion.ly/slack) or maybe email! I will leave this issue open, but I don't think there is any dev work I can do here.

Feel free to chat here, or close and we can talk via w/e method you prefer :)

[2019-09-16 07:57] Sean-Der commented on #827
Hey @jifengle

I am going to resolve this issue. If you have any more questions feel free to open issues or join us on [Slack](https://pion.ly/slack) !

[2019-09-16 07:57] #827 closed

[2019-09-16 07:59] #271 closed

[2019-09-16 08:00] breebee commented on #831
Thank you for the quick response, I would love to discuss via email if you can. I am not sure how to make my email visible only to you.

[2019-09-16 08:08] Sean-Der commented on #831
My email is sean@pion.ly feel free to email me anytime/with any question!

[2019-09-16 08:08] #831 closed

[2019-09-16 08:49] breebee commented on #831
I am so excited to here this is possible and can be improved with the double peer connection hop. Where can I follow/commit for the example implementation? I am diving into golang coming from Rust and trying to learn webrtc, however with lack of resources in rust I found pion so golang it is :)

-----Original Message-----
From: Sean DuBois <notifications@github.com>
To: pion/webrtc <webrtc@noreply

[2019-09-16 16:54] chrbsg opened #834 ""sctp ERROR: ... retransmission failure: T1-init" when trying to start datachannel with chrome/firefox"
### Your environment.
  - Version: 2.1.4
  - Browser: chrome 76.0.3809.100 (Official Build) (64-bit) / Firefox 69.0
  - Other Information - Using latest Ubuntu 18.04

### What did you do?
Tried to create a data channel in a server using pion and connect to it from chrome javascript

### What did you expect?
dc.OnOpen to run on server
dc.ondatachannel to run on chrome

### What happened?
No data ch

[2019-09-16 17:15] enobufs opened #835 "Support 1:1 NAT option"
## Summary

## Motivation
Pion could be used in  C/S topology, one end is a client and the other end is a server (just like Janus G/W does). But in this case, the server must have a routable (public) IP address. Many server environments may not have access to public IP address to bind to the local interface.

Janus provides the following option. Pion could provide something equivalent.
[code]

##

[2019-09-16 17:27] seppo0010 commented on #835
I would like this option as well, I might work on a patch for this. @enobufs should a port or somehow port mapping be allowed to be provided as well? In case the public endpoint's IP is not the same as the local one

[2019-09-16 17:36] Sean-Der commented on #835
We just are rewriting the SDP right? So when we emit `host` candidates we are swapping out the local interface IPs for a hardcoded `public IP` that the user can specify.

This seems like a great candidate for the `SettingEngine`. One pushback from me though is that the user could accomplish this already (with a little SDP munging) so this ends up being a convenience feature. Make this is something

[2019-09-16 17:45] seppo0010 commented on #835
I think that would be unnecessary complex, @Sean-Der. And people are used to having long configurations that they can ignore most of it. For example, [`http.Transport`](https://golang.org/pkg/net/http/#Transport) has around 20 settings and some of those are functions or maps of functions.

Also the `SDPRewriter` would have to handle the case of n candidates becoming m candidates.

Having one IP wo

[2019-09-16 17:53] Sean-Der commented on #835
Ok I say go for it!

I bet a lot of people will appreciate this feature, they just haven't brought it up yet :) Send the PR my way and happy to approve/review.

[2019-09-16 18:14] Sean-Der commented on #834
Thanks for the bug report @chrbsg!

` retransmission failure: T1-init` usually means the other side isn't running SCTP at all (so we timed out waiting for them)

I will check out the code, but for the time being do our samples work at all for you? `data-channels` and `data-channels-create` are both working for me locally, so if those don't work might help us get into this bug easier.

thanks!

[2019-09-17 00:52] enobufs commented on #834
I tried to run the attached code but it does not let me enter the offer (base64 string) on my terminal... (might be my iterm2 issue)
One thing I noticed is, the offer generated by Chrome does not have candidates in it. You would either collect the candidates generated by [onicecandidate](https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/onicecandidate) before generating base64 str

[2019-09-17 05:59] enobufs commented on #835
@Sean-Der @seppo0010 @hugoArregui I have one idea and I'd like to hear your opinion about it.

With 1:1 NAT option, we can eliminate the necessity of STUN server for the server-side node, reducing one point of failure, which is good.  I initially thought to replace host candidate with the external IP address, but that has a drawback, which is server-side nodes cannot talk to each other.  (AWS's 1:

[2019-09-17 07:53] enobufs commented on #835
Justifications:
* Resulting set of candidates are identical to the one gathered result if STUN was used.
*

[2019-09-17 07:58] enobufs commented on #835
Here is the code, Janus replaces the local IP with the provided external IP (janus.c:3969):
[code]
Janus, is completely giving up the original host candidate. (I believe it did not have to)

[2019-09-17 08:22] enobufs commented on #835
1:1 NAT IP as srflx vs ICE lite...  might be something we need to worry about? If we go with "1:1 NAT IP as srflx", then ICE-lite may allow srflx only when that was 1:1 NAT IP, or can we safely assume ICE-lite won't be used along with 1:1 NAT?  This is just a detail, not essential, however.

[2019-09-17 09:18] chrbsg commented on #834
Yes, the examples work. I wonder if what I tried to do is simply unsupported? I create an offer in the browser, then in server create the data channel and send answer to browser. But data-channels-create creates the data channel in the server, then generates the offer to be sent to the browser, so the initial offer has a data channel.

If I modify my example datachannel.html to create a data chann

[2019-09-17 09:44] chrbsg commented on #834
The offer from Chrome with a createDataChannel includes the line:

    m=application 9 UDP/DTLS/SCTP webrtc-datachannel

So, it looks like Chrome will only advertise support for data channels if a data channel is actually created by the javascript. Otherwise the offer won't include that line.

[2019-09-17 11:15] hugoArregui commented on #835
I love your idea of an extra srflx candidate @enobufs! this way we can avoid stun for no cost, I'm actually using the host private address for server2server communications so I would like to keep it.

[2019-09-17 15:21] seppo0010 commented on #835
Quite the opposite, I want to use ICE lite with a fixed IP address. In my use case I have multiple `pion` servers behind a load balancer (with an affinity rule to maintain connections). I want to be able to provide the load balancer public address while using ICE lite as I know that address will be reachable by the client. No STUN is used (they are not provided and ICE Lite is enabled).

I even wa

[2019-09-17 15:58] enobufs commented on #835
So, we have two ways...

(1) Opportunistic srflx IP
* Simply add srflx candidate with IP address given via config (without using STUN server)
* Works with 1:1 NAT while host candidate is still available

(2) 1:1 NAT IP
* Replace host candidate's IP address with the one given via config
* Works with 1:1 NAT, but original local IP won't be offered.

[2019-09-17 16:47] seppo0010 commented on #835
Is there any reason why you want it to be a server reflexive candidate besides having a lower priority than host candidates?

I guess in summary we want to be able to add srflx/host candidates (for 1 and 2) and skip gathering (for 2).

[2019-09-17 16:57] hugoArregui commented on #835
I don't see any disadvantages for (1), I really really like it.

@seppo0010 yes, I think it could be a host candidate as well, but right now with STUN server you will get the public ip as a srflx candidate. if we consider this an optimization to bypass STUN server it makes sense to behave as if we have one. That been said I'm not against making it a host candidate if that's what the majority prefe

[2019-09-17 16:57] enobufs commented on #835
When server-server finds a valid pair with srflx and host candidates, then it should choose host candidate. In server-client, the host candidate from the server won't be valid for the client, so srflx candidate would be the highest priority possible.

I guess 1:1NAT/OpportunisticSrflx and ICE-lite options are orthogonal, aren't they? (where I assume, ICE-lite is to skip gathering srflx and relay c

[2019-09-17 17:04] enobufs commented on #835
My project would want to take advantage of (1) - leaving the ability of server-server connection for a diagnostic purpose (health check inside the VPC/security group, etc).  I guess, now the question is whether the option (2) is needed when (1) is available.

[2019-09-17 17:29] enobufs commented on #834
Ah... good point. I guess this is a known limitation with pion... @Sean-Der can you confirm that pion needs to see `m=application 9 UDP/DTLS/SCTP ...` line in the incoming offer for data channel to work correctly?

[2019-09-17 19:03] seppo0010 commented on #835
It's not what I prefer (I really don't mind either way) but RFC 8445 states that Lite agents only use host candidates:

https://tools.ietf.org/html/rfc8445#section-5.2

[2019-09-17 19:07] seppo0010 commented on #835
For my use case I really need to skip local IP addresses (since I must to go through a load balancer that may assign another server for the client), but I can address that in a different issue.

[2019-09-17 21:06] enobufs commented on #835
Thanks @seppo0010. I think we should support both of them.
My proposal:
[code]
It takes two styles of a string, for example:
* "1.2.3.4" - replaces the host IP (Just like Janus does)
* "srflx:1.2.3.4" - insert srflx candidate

Consideration for future enhancements:
In case we need to map both IPv4 and IPv6, we can simply concatenate them with comma.
* "1.2.3.4,2601:1234::5678"
Also, in case we'd l

[2019-09-17 21:21] enobufs commented on #835
@seppo0010 I have just gone over RFC 8445. As I was reading about Lite implementation, I am beginning to feel that we should not have supported it. (correct me if I am wrong)

From [RFC 8445 Appendix A](https://tools.ietf.org/html/rfc8445#appendix-A)
[code]

Pion/webrtc already support full implementation. I really do not see the need of ICE-Lite when there are many cases it could break, for insta

[2019-09-18 15:39] seppo0010 commented on #835
@enobufs I'm sorry if I seem too eager to have ICE Lite, but it is really required in my use case. If I have a full agent deployed then a better route may be discovered, but my project required another one to be used, as I need to go through a load balancer, to, well, balance the load, and it also may gather statistics about network usage, logging, etc. The company I work for already does that for

[2019-09-18 17:24] enobufs commented on #835
Hi @seppo0010 No worries. I am just learning from you, trying to understand the issue you have and the ICE-lite spec also. ;)

I think I get it if your server (with "full implementation") tries to support clients with "lite implementation", but not trying to make pion a "lite implementation". - then that makes sense!

Besides ice-lite, you should be able to skip gathering of specific candidate typ

[2019-09-18 17:31] enobufs commented on #835
As for the method proposed, we can take array of string. But I am not sure ICECandidateType is a good idea because we also need to support WebAssembly. We tend to use types compatible with JavaScript I believe...

[2019-09-18 17:33] seppo0010 commented on #835
Oh, I'm making the opposite, an ICE lite pion server and a browser full client. To be more clear, I want users to upload a video using webrtc since I'll be processing the image in real time.

I have not tried it yet because I don't have `Set1To1NATIP`, but I think if I try to skip all methods and just set the IP it will not be possible at the moment.

Good point. But isn't ICECandidateType just an

[2019-09-18 17:39] enobufs commented on #835
In that case, I believe you don't need ice-lite.

Yeah, then I believe string is clearer for JavaScript API users.

Let's go with:
[code]
We should document that `typ` can only be "host" or "srflx", and defaults to "host".

[2019-09-18 17:42] seppo0010 commented on #835
I don't really need ICE Lite if I want the best NAT traversal. But I have other constraints, like I need to go through a load balancer and having a full ICE implementation will not honor that.

[2019-09-18 17:44] enobufs commented on #835
Could you please elaborate that?

[2019-09-18 17:47] enobufs commented on #835
My understanding is, your issue could be solved by having followings sorted out:
* Use public IP for the host candidate (this ticket)
* Skip reflexive candidate gathering (may not be working?)

[2019-09-18 17:55] seppo0010 commented on #835
I work in a company that uses [f5 load balancer](https://www.f5.com/services/resources/glossary/load-balancer) to handle incoming traffic. All public endpoint are currently receiving incoming HTTP/HTTPS and I need to add UDP traffic to handle WebRTC. The public IP of the servers is the load balancer's public IP. I want the users to stream their video camera using WebRTC to a cluster of servers thr

[2019-09-18 18:14] enobufs commented on #835
Oh.. F5! Used it a while ago. Would it understand WebRTP protocol? Or does it use IP/port-sticky to retain a session?

Host candidate gathering is a simple local IP address/port binding (lite ver does this also). It does not talk to external entity, so I think it has nothing to do with lite or full. I understand the srflx candidate gathering for behind load balancer wouldn't help. So I think. the

[2019-09-18 18:23] seppo0010 commented on #835
We are using IP+port for stickiness.

That's the desired behavior! That's why I want to skip host candidate gathering. You are right it is not part strictly related to ICE Lite but I have no way right now to produce an SDP with just the public IP address of the Load Balancer.

[2019-09-18 18:28] enobufs commented on #835
OK! Let me get started with implementing Set1To1NATIP.  I will look into SetNetworkTypes() also make sure there's only one host candidate in the SDP.  Thanks @seppo0010 for being patient with me understanding your goal. :)

[2019-09-18 18:28] seppo0010 commented on #835
Thank you!

[2019-09-19 07:18] Sean-Der commented on #305
Hey @backkem

If the first point was fixed I think we can close this!

For the second point we check if it is already open, and then fire the callback right away https://github.com/pion/webrtc/blob/master/datachannel.go#L192

please re-open if I am wrong though :) I did a little sleuthing, but I am not 100% confident

[2019-09-19 07:18] #305 closed

[2019-09-19 12:09] AeroNotix opened #838 "SettingsEngine.DetachDataChannels() makes attached data channels unusable."
I'm not sure if this is intended or not but when you set `.DetachDataChannels()` in the SettingsEngine you _must_ detach the data channel for it to be usable at all.

### What did you expect?

`webrtc.SettingsEngine{}.DetachDataChannels()` would still allow attached data channels to function

### What happened?

`webrtc.SettingsEngine{}.DetachDataChannels()` means that you _must_ detach the datach

[2019-09-19 16:35] chrbsg opened #839 "Update samples to use RTCPeerConnectionState and show graceful teardown"
### Your environment.
  - Version: 2.1.4
  - Browser: chrome 76.0.3809.100 (Official Build) (64-bit) / Firefox 69.0

### What did you do?
Have a standard audio channel packet handling loop which is basically:

[code]

Started streaming on audio channel with Chrome. Closed chrome tab. Server now appears to be blocked forever in track.ReadRTP, which is a resource leak of the goroutine.

### What did

[2019-09-19 21:02] Sean-Der commented on #839
Hey @chrbsg, thanks for filing this issue I love feedback from users. Currently this is working as designed (this isn't to say we can't make it better)

`ReadRTP` and `Read` will block until the PeerConnection is closed. I wouldn't be against adding a timeout, we will need to think about the API/make sure we are consistent with putting it everywhere!

The remote can't send as many tracks as it wan

[2019-09-19 21:04] Sean-Der commented on #838
This is by design, but we should probably add some logging/assertion if we don't detach!

[code]

After the `OnOpen` we should check if it was properly detached and throw an error message if it wasn't. Super easy PR if someone wants to grab that!

[2019-09-19 21:55] enobufs commented on #305
@Sean-Der @backkem
https://github.com/pion/webrtc/issues/834#issuecomment-532320752

As this ticket is closed, if pion receives offer without `m=application 9 UDP/DTLS/SCTP webrtc-datachannel` can still establish data-channel? (just trying to understand if this is possble now..)

[2019-09-19 22:27] Sean-Der commented on #305
I need to confirm, but I am pretty sure the Offerer must create a datachannel (otherwise it will not start up the SCTP subsystem)

I will confirm with Chromium, but I think if you add one video track in the offerer, and then create a DataChannel in the answerer you will not have Datachannels. So this isn't a constraint on our side (I really need to confirm this though) then we can close out that o

[2019-09-19 22:56] enobufs commented on #305
I see, I thought so too - thanks. I wasn't fully sure what the expected behavior in WebRTC protocol spec, either and I need to go back to the spec.

[2019-09-20 00:22] Sean-Der commented on #305
I will get a jsfiddle going and resolve that other ticket! Sorry been a busy week :(

Thanks for responding to tickets so much and helping people on Slack, really awesome to see how much people are helping each other out :)

[2019-09-20 05:29] enobufs commented on #835
@Sean-Der, I need your insight / opinion.

There's a case where the 1:1 NAT mapping and mDNS options would collide from what I can see.

I believe if mDNSMode is either:
* MulticastDNSModeDisabled
* MulticastDNSModeQueryOnly
Then we could 1:1 NAT mapping option could "safely" be effective.

But, If the mDNSMode is MulticastDNSModeQueryAndGather and 1:1 NAT mapping (typ = "host"), I think we should

[2019-09-20 08:17] enobufs commented on #835
1:1 NAT option in pion/ice is almost done but need to write a test.
I am going to add a new NAT behavior "NAT1To1" to vnet so that I can test it on a more realistic configuration.

[2019-09-20 09:07] enobufs commented on #835
As we discussed this earlier... Let me summarize my understanding.

Which candidate type to gather can be controlled by ICEServer URLs along with ICETransportPolicy (gatherPolicy). As I was writing a table (open the link below), there was a couple of patterns current pion does not support. When I look at libwebrtc (webrtc.org) code, they have ICETransportPolicyNoHost (not exposed by w3c) to fill t

[2019-09-20 11:46] chrbsg commented on #839
Thanks for the quick reply. I didn't know that peerconnection.Close would unblock ReadRTP, but it does and it works.  I didn't see peerconnection.Close being used in any of the pion examples so I wasn't calling it at all - is it necessary/expected to call this manually, or is the garbage collector eventually going to do the equivalent? I'm now calling it when ICE state changes to disconnected or f

[2019-09-22 11:21] thinkski opened #840 "Rejected m-lines not omitted in group bundle attribute"
### Your environment.
  - Version: d8b7905
  - Browser: Safari Version 12.1.1 (14607.2.6.1.1)
  - Other Information - https://tools.ietf.org/html/draft-ietf-mmusic-sdp-bundle-negotiation-39#section-8.3.4

### What did you do?

Configured Pion with custom `MediaEngine` with support for a single codec, H.264:

[code]

Had browser call Pion offering audio and video.

### What did you expect?

For off

[2019-09-24 02:11] enobufs commented on #835
## Status
* Land PR https://github.com/pion/ice/pull/103
* Expose 1:1 NAT config options to pion/webrtc API (SettingEngine)

[2019-09-24 06:34] Sean-Der commented on #839
@chrbsg

Correct we don't ever automatically tear down the PeerConnection.

We could do that in the future though! That would be a breaking change so something we should do for `v3`. I believe it would be more confusing to people however.

If you are interested I would love a PR that updates the examples to does a `Close` on `ICEConnectionStateDisconnected` and explains why. That could be really h

[2019-09-24 07:25] Sean-Der commented on #834
@enobufs @chrbsg

Sorry this took so long, but here is an example. https://jsfiddle.net/Lw3ye0hk/2/

If the answerer creates the datachannel nothing happens. If you switch `ondatachannel` and `createDataChannel` everything works, so I don't believe there is anything we can do here.

@chrbsg I am closing for now, but if anything comes up please re-open and we will fix it up. Thanks for using Pion :

[2019-09-24 07:25] #834 closed

[2019-09-24 08:03] Prinzhorn commented on #798
What is the main motivation behind that? For me personally the main motivation would be smaller WebAssembly builds (the examples have about 8MB). Which might also make for a good MVP / first step? Instead of having to port all of the networking to tinygo the first step would be to make the `*_js.go` (`// +build js,wasm`) files compile. Which is mostly `system/js` stuff. But does that even exist in

[2019-09-24 14:16] backkem commented on #798
Hi @Prinzhorn, I haven't had time to look further into this. All these are all open questions for me as well.

[2019-09-24 14:54] Prinzhorn commented on #798
@backkem no worries. I'm currently sick, but I'm interested in checking out TinyGo in the future. There seems to be a lot going on regarding WebAssembly. I also hope the regular Go builds will get significantly smaller in the future, but everything is still experimental right now. But it's amazing to see that the pion code works seamlessly on client and server.

[2019-09-25 06:34] Sean-Der opened #843 "Add interface filtering to SettingEngine"
Some users don't want certain interfaces to be used for ICE.

They may know ahead of time certain interfaces won't work. One users has a large number of interfaces, and spinning up that amount of routines to listen causes issues.

Others have reported security concerns from exposing internal topologies via candidates.

[2019-09-25 07:41] Sean-Der commented on #798
@Prinzhorn

If you are interested in getting `tinygo` working for WASM builds that would be amazing! Would love to have the contribution.

I am interested in seeing if we can provide DataChannels to IoT devices. I am not sure how many people will actually find it useful, but I think it could enable things that don't exist now! AFAIK there are no WebRTC implementation that can target these devices

[2019-09-25 08:16] #843 closed

[2019-09-25 22:44] hugoArregui opened #846 "Fix data-channels-flow-control example"
There is a problem with the current [example](https://github.com/pion/webrtc/blob/master/examples/data-channels-flow-control/main.go), the peer may stop sending data [here](https://github.com/pion/webrtc/blob/master/examples/data-channels-flow-control/main.go#L80) if the max buffer size has not been reached before [this point](https://github.com/pion/webrtc/blob/master/examples/data-channels-flow-

[2019-09-25 22:44] hugoArregui commented on #846
CC @enobufs

[2019-09-25 23:50] AeroNotix commented on #846
How have you tested the example (suggestion 1)? I have tried it myself and found a few issues. I am still isolating my own code from that example but I would like to see how you tested it to verify for correctness?

[2019-09-26 00:00] hugoArregui commented on #846
@AeroNotix I ran it with a 1.5gb file (uncommenting https://github.com/pion/webrtc/blob/topic-test-dc-perf/examples/data-channels-flow-control/main.go#L138 and adding a loop when I wanted more data) and different combinations of max buffer size / queue size / threshold. In this particular case please notice the channel is unreliable (https://github.com/pion/webrtc/blob/topic-test-dc-perf/examples/

[2019-09-26 00:03] AeroNotix commented on #846
It would be interesting to have a runnable example, alone, that you specify what parameters it is supposed to exhibit - then I run that - and I can confirm or deny that it exhibits the same or similar performance.

Without that we are pissing into the dark, with the wind at our face.

[2019-09-26 00:07] AeroNotix commented on #846
E.g. I would be interested in these metrics, from you example:

* How did it perform when running between _remote_ peers. I do not care, nor should any one ever, at all, care about how webrtc performs when running between local peers.
* When running between remote peers - is all data _actually_ transferred?

[2019-09-26 07:33] enobufs commented on #823
This happened again. Let me re-open.
https://travis-ci.org/pion/webrtc/builds/589809688

[2019-09-26 07:35] enobufs commented on #823
oops, if I rebuild, does the log get removed??

[2019-09-26 07:55] #823 closed

[2019-09-26 08:11] Sean-Der commented on #748
Priority was removed from webrtc-pc so I deleted it.

Will be implementing `Negotiated` and `Protocol` now!

[2019-09-26 08:50] yourchanges opened #849 "peerConnection.SetRemoteDescription failed with "failed to parse IP address""
### Your environment.
  - Version:

github.com/pion/webrtc/v2 v2.0.12 h1:76s5SXtX0YEcnbGD95rfXe2yOc3FvW7vxjCo3NqTuLM=
github.com/pion/webrtc/v2 v2.0.12/go.mod h1:O6ussUkKHJHV95xboN67X/t99jtejCWo/eRuw7viM6w=

  - Browser: chrome 77.0.3865.90(linux)
  - Other Information - firefox

### What did you do?
I write a golang web server to receive the post request to get the sdp.

[code]
 and a js
[code]

[2019-09-26 08:56] Sean-Der commented on #849
Hey @yourchanges!

This is because Chromium is rolling out mDNS candidates. Can you please update to a newer version of Pion WebRTC? The actual commit is https://github.com/pion/webrtc/commit/be3d922fbbd2860092b9096cc4537419eefb24f0 if you want to try and backport.

Thanks for using Pion!

[2019-09-26 09:15] #835 closed

[2019-09-26 09:56] yourchanges commented on #849
thank you, I'll try.

[2019-09-26 10:19] yourchanges commented on #849
confirmed, both v2.0.27 and v2.1.0 work well.

but I can't get my audio stream works. another problem.

[2019-09-26 10:21] Sean-Der commented on #849
@yourchanges make sure to call AddTransceiver. Chrome’s change to UnifiedPlan caused breakage on that, that might be it!

Always happy to help debug in Slack :) thanks for using Pion!

[2019-09-26 10:29] yourchanges commented on #849
I test on a Hik camera, here is the stream info:

[code]

the original audio stream is:  "Stream #0:1: Audio: pcm_alaw, 8000 Hz, mono, s16, 64 kb/s"
it seems not h264 standard aac codecs, it will work on webrtc ?

it seems, there is  no stream in chrome://webrtc-internals

[code]

[2019-09-26 10:31] Sean-Der commented on #849
PCM aLaw is supported by WebRTC. I haven’t used it personally with Pion so there may be issues.

If you want to retitle the ticket to ‘Support PCM’ I can investigate soon!

[2019-09-26 10:34] yourchanges opened #851 "Support PCM"
I test on a Hik camera, but can't get the audio works, so please support the pcm codecs, thank you!

here is the stream info:

[code]

the original audio stream is:  "Stream #0:1: Audio: pcm_alaw, 8000 Hz, mono, s16, 64 kb/s"
it seems not h264 standard aac codecs, it will work on webrtc ?

it seems, there is  no stream in chrome://webrtc-internals

[code]

[2019-09-26 10:35] yourchanges commented on #849
ok, I've create it https://github.com/pion/webrtc/issues/851

[2019-09-26 10:35] #849 closed

[2019-09-27 02:35] #840 closed

[2019-09-27 15:17] jjmaldonis opened #853 "Implement restartIce functionality?"
## Summary

Are you planning to support the `ICERestart` feature? It's available as an option in the [`OfferOptions` struct](https://github.com/pion/webrtc/blob/master/offeransweroptions.go#L22), but options are [not allowed](https://github.com/pion/webrtc/blob/master/peerconnection.go#L383) as a parameter to `PeerConnection.CreateOffer`.

## Motivation

Currently the only way to reconnect to a We

[2019-09-27 16:34] Sean-Der commented on #853
Hey @jjmaldonis thanks for checking out Pion!

Yes I would like to support it. I also don't believe it would be that much development work either.

We will need to evaluate if it is easier to restart an ICEAgent (or create a whole new one). I am leaning toward restarting it, so others can benefit from the change.

My goal is have 100% coverage of the webrtc-pc RFC! If you are interested/have time

[2019-09-27 16:57] AeroNotix opened #854 "PeerConnection.Close doesn't always close the underlying turn client"
Conversation carried on from: https://gophers.slack.com/archives/CAK2124AG/p1569602730038100

[2019-09-29 05:34] #748 closed

[2019-09-30 15:12] jjmaldonis commented on #853
Thanks that's great. I'm not sure if I can commit to implementing the iceRestart flag right now. If that changes, I'll let you know. I'm really looking forward to it though, and thanks for the awesome library and all your hard work!

[2019-10-05 09:20] Sean-Der commented on #854
I unfortunately haven't been able to reproduce this. I am just getting familiar with the TURN code base though.

I am about ~1/3 done with adding TCP (and TCP/TLS) support now. As I work through the code base I am trying to cull as much as I can. If I see anything that jumps out at me will make sure to investigate more!

[2019-10-05 09:41] AeroNotix commented on #854
Ah! I forgot to come and close this as the PR in https://github.com/pion/ice/pull/111 fixes this - what was happening is this:

* A peer connection is created between two peers
* Local and remote descriptions are set properly
* Communication ceases at this point

This left the _controlled_ side of the connection in limbo as it was stuck waiting for candidates. Due to how the code was structured it

[2019-10-06 06:06] #854 closed

[2019-10-08 08:13] Sean-Der commented on #623
This is now possible!

We provide two new entries in the `SettingEngine` [SetInterfaceFilter](https://godoc.org/github.com/pion/webrtc#SettingEngine.SetInterfaceFilter) which allows you to exclude an interface from ICE.

We then also provide [SetNAT1To1IPs](https://godoc.org/github.com/pion/webrtc#SettingEngine.SetNAT1To1IPs) this allows you to explicitly set your public IP.

[2019-10-08 08:13] #623 closed

[2019-10-08 08:27] Sean-Der commented on #9
We are closing in on releasing `v2.2.0` of Pion WebRTC! Here are the major features we expect from this release. We also have had lots of great bug fixes along the way.

* SCTP Performance Improvements (16x in some cases!)
* Extend SettingEngine to support SFU use cases
* TCP TURN Support
* PCM Support
* Add/Remove tracks at runtime
* IVF Reader to enable saving to disk

Updating to this release i

[2019-10-08 13:16] chrisprobst commented on #9
@Sean-Der Great, we are looking forward to the SCTP performance improvements!
Can you already suggest when the release will be available? In the meantime, is there a tagged branch with this improvement :-) ?

[2019-10-08 18:18] Sean-Der commented on #9
@chrisprobst Yes! I just pushed the tag `v2.1.6` that has the SCTP changes.

https://github.com/pion/sctp/commit/fc51cd9ffe82c68e5a8e72b68c569ce1e58ba8d5 is the `pion/sctp` commit and  https://github.com/pion/sctp/issues/62 is the tracking issue.

If you get a chance drop @enobufs a thank you! He is always looking for data points that can help make it better also, he has been doing amazing work :)

[2019-10-10 03:28] chrisprobst commented on #9
@Sean-Der Wonderful, I will check it out! I will tell @enobufs how it worked out :-)

[2019-10-10 07:00] enobufs opened #872 "introduce webrtc.ICEGathererConfig"
Now, webrtc.NewICEGatherer() takes **17 arguments** - lol
Every time we introduce a parameter for ice.Agent:
* We break API (it is an exposed function!) every time!
* Has to modify the function signature many places
* Code is unreadable (hard to tell what we are passing to the method)

Let's use a struct for it.

[2019-10-10 07:09] Sean-Der commented on #872
Yes! This looks so bad in the tests where we pass `0, 0, 0, 0`

I am fine with breaking the API also since it is ORTC! I doubt we have very many users (if any).

[2019-10-10 07:38] Filatoff73 opened #873 "Deadlock while peerConnection.GetStats()"
### Your environment.
  - Version: *2.1.6*
  - windows 10

I am try to get GetStats() from peerConnection. My project was based on the webrtc/examples/save-to-disk. But the function GetStats() freezes. During debugging, I found that this part of the code hangs:
if pc.sctpTransport! = nil {
pc.sctpTransport.collectStats (statsCollector)
}
The mutex in "func (r *SCTPTransport) collectStats" r.lock.L

[2019-10-10 07:46] Sean-Der commented on #873
Good catch!  I will check this out now and see what I can figure out :)

Thanks for using Pion!

[2019-10-10 07:49] enobufs commented on #872
Ok I will modify that when I expose vnet to webrtc!

Yea, yes.. i  mean, we have been breaking API when we added ICELite, NAT1To1IPs, etc, etc... lol

[2019-10-10 08:28] Sean-Der commented on #873
@Filatoff73 as a temporary fix I would create a single data channel on the offering side.

The issue is that we are starting the SCTP subsystem even if the other side doesn't support, and we hang forever. I will be able to fix this in the next 72 hours, thanks for reporting!

[2019-10-10 08:47] Sean-Der commented on #851
Hey @yourchanges

I am working on this now, I hope to have it done by tomorrow! I will resolve this ticket when all the work is done

Thanks for using Pion!

[2019-10-10 09:03] at-wat commented on #872
How about using functional options pattern?
It would be one of the nice way to safely add new options with non-zero default values, and also good at readability.

[2019-10-10 09:08] Sean-Der commented on #872
I do like the functional options pattern, only downside is that our existing code doesn't follow that pattern. I think users will probably find that confusing :/

I would love to see that for new code/internal interfaces though! It also makes the `godoc` a lot more approachable, and we can assert values much easier.

[2019-10-10 09:09] Filatoff73 commented on #873
@Sean-Der thanks for the help!

[2019-10-10 12:06] ccdeer commented on #851
Awesome!It is useful to IP Camera.

[2019-10-10 17:16] enobufs commented on #872
The functional options pattern is good and elegant - maybe way more elegant than necessary for ICEGatherer...(?)

I was looking at [Dave Cheney's awesome blog](https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis) and had a few thoughts:

* Would we end up with having to expose internal params or methods for them?
* If so, then wouldn't we need to worry about thread-safety becau

[2019-10-10 17:31] enobufs commented on #778
Consider fixing also #872

[2019-10-10 20:13] #851 closed

[2019-10-11 02:32] yourchanges commented on #851
:+1::+1::+1::+1::+1:

[2019-10-11 02:32] yourchanges commented on #851
I'll test it later.

[2019-10-13 00:17] lherman-cs commented on #744
I totally agree with this topic. It's so awkward to code in Go and hard to get right. I wish that the API used channels rather than callbacks.

[2019-10-14 04:30] Sean-Der commented on #744
Hey @lherman-cs

Thanks for checking out Pion :) if you are interested we would love to have you involved/contributing.

Unfortunately we will never be able to have channels in the public API, we did originally but it caused lots of issues for users https://github.com/pion/webrtc/issues/405

[2019-10-15 07:30] renovate[bot] opened #878 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2019-10-17 18:06] tylerlong commented on #784
@enobufs what is the root cause? I am having the same issue: "ICE connection state changes to "Connected", but OnTrack() won't get called."

[2019-10-17 19:13] enobufs commented on #784
The root cause was the fix mentioned above. My [tool](https://github.com/enobufs/webrtc-audio-streaming/) seems to work.  It transfers opus stream from browser to browser or pion. I wonder if this works for you... (it does not do pion to browser tho).

[2019-10-17 22:11] tylerlong opened #879 "RemoteDescription contained media section without mid value"
### Your environment.
  - Version: v2.1.8
  - Browser: None
  - Other Information - I am create a softphone using SIP and this library

### What did you do?
So I received SDP offer from SIP INVITE, it's

[code]

### What did you expect?

This library should accept the SDP

### What happened?

This library panic with error: "RemoteDescription contained media section without mid value"

I know the S

[2019-10-17 23:26] tylerlong opened #880 "PeerConnection OnTrack callback never invoked"
### Your environment.
  - Version: v2.1.8
  - Browser: None
  - Other Information - I am trying to create a softphone using SIP and this library. The remote SIP & RTC service have no problem, because I have done a softphone using Node.js: https://github.com/ringcentral/ringcentral-softphone-js . I am trying to make a GoLang version, but I am stuck.

### What did you do?

I have written the followi

[2019-10-17 23:41] Sean-Der commented on #879
Hey thank you for using Pion, and filing this bug report. I really appreciate it.

I think Pion is doing the right thing here, looking at the RFC https://tools.ietf.org/html/rfc5888#section-6

[code]

libwebrtc is tolerating an invalid SDP. I think if we make this change it could cause future breakage in the future when communicating with other WebRTC clients.

[2019-10-17 23:47] Sean-Der commented on #880
Hey @tylerlong I think it could be a few different things

* sha-1 instead of sha-256. We don't support older ciphers, I can add support though to unblock you!
* This SDP doesn't contain any SSRCes. Pion isn't expecting to receive any incoming audio without it.

[2019-10-18 17:02] tylerlong commented on #880
Please do, thanks. There are lots of legacy things in the world that we have to support. I cannot control the remote side so I cannot change its cipher. Thanks again.

[2019-10-18 17:09] tylerlong commented on #879
@Sean-Der What you said makes sense. But even the spec doesn't say that it is invalid.

   line that has no "mid" identification, the application MUST NOT
   perform any grouping of media lines.

No `mid` mean no grouping needed.

I only analyzed it literally. I am really not a SDP expert.

[2019-10-18 17:39] Sean-Der commented on #880
@tylerlong My *guess* is that if you turned on verbose debugging it probably threw an error message on fingerprint mismatch.

Unfortunately we can't panic because we are a library :/ don't want to hurt other code is running. `OnConnectionState` *should* be returning `Failed` though!

Would it be possible to get an account for ringcentral? Happy to debug, would love to get everything working this w

[2019-10-18 17:41] Sean-Der commented on #879
ACK! Ok that makes sense to me, let me fix that and add a test :)

thanks for reporting it!

[2019-10-18 17:58] tylerlong commented on #880
@Sean-Der  Let me ping you privately to give you credentials to test. Talk to you on Slack.

As my understanding, SSRC is optional.  https://tools.ietf.org/id/draft-westerlund-mmusic-max-ssrc-00.html#rfc.section.1

So it is just not the use case for me. I don't need multiple media sources.

[2019-10-20 09:05] #880 closed

[2019-10-20 09:07] Sean-Der commented on #880
Hey @tylerlong

This is fixed! I am able to use the ringcentral softphone and save the PCM to disk! Unfortunately the oggwriter is hardcoded to support Opus only, if you are interested we could expand it to support PCM if that is helpful!

[2019-10-20 17:36] tylerlong commented on #880
@Sean-Der Thank you so much! That is fast!

I don't know much about audio formats. But overall support more is a good idea.

Let me have a try and get back to you.

[2019-10-21 00:47] Sean-Der commented on #879
I will not be fixing this. Me and @tylerlong discussed this on [Slack](https://gophers.slack.com/archives/CAK2124AG/p1571603069243600)

Our SDP parsing is just targeted at working with WebRTC clients. If people are trying to operating with other clients that use SDP it would be best to rewrite to make it work with Pion. I think the LoC added/complexity outweighs the cost in this case.

If this is

[2019-10-21 00:48] #879 closed

[2019-10-21 13:27] guilhermehubner commented on #696
Any update on it?

[2019-10-21 18:13] tylerlong commented on #880
I tried the latest version github.com/pion/webrtc/v2 v2.1.9 and it still doesn't work for me

PeerConnection OnTrack callback never invoked.

But yesterday I tried it at home it worked. The different is yesterday I was trying it on Windows and today I am trying it on macOS.

[2019-10-21 18:54] Sean-Der commented on #880
@tylerlong

I added a test to assert it was working (and everything seems fine!) my guess would be there is another issue.

* Is ICE+ConnectionState going to connected?
* If you do a `tcpdump` do you see audio packets flowing from the remote peer?
* Is the SDP different in the cases it isn't working?

[2019-10-21 19:05] tylerlong commented on #880
I do see "OnICEConnectionStateChange connected"

SDP:

[code]

[2019-10-21 19:05] tylerlong commented on #880
I am going home to try it on my windows machine. Update you later.

[2019-10-21 20:04] tylerlong commented on #880
I tried it on my Windows a couple of times. And the conclusion is : sometimes it works while sometimes it doesn't.

The same code, I run it multiple times and I got different result. weird.

[2019-10-21 20:12] Sean-Der commented on #880
Let me try on my end tonight!

If you try on MacOS multiple times do you get similar results?

If you can get a pcap comparing good/bad results that would be really helpful! Hopefully I can replace tonight and just fix the issue :)

thanks @tylerlong

[2019-10-21 20:13] tylerlong commented on #880
No hurry.  I will post more detail in my comment above.

[2019-10-21 21:48] tylerlong commented on #880
I did some debugging.

[code]

[code]

[2019-10-21 22:03] tylerlong commented on #880
If I debug into `pc.dtlsTransport.Start`, then it alway succeed.

So it might has something to do with timing. If we delay the execution of `pc.dtlsTransport.Start` for 1 second, it always succeed. Not 100% sure though.

[2019-10-21 22:12] Sean-Der commented on #880
I will work on reproducing! I am not sure why DTLS is timing out. Hopefully I can reproduce it on my home network.

If you can use wireshark/tcpdump and get all `UDP` traffic it would help a lot to figure out what went wrong. If you send it to my pion.ly email I can check it out right away!

[2019-10-21 22:57] Sean-Der commented on #880
@tylerlong do you see any errors server side? It sounds like we are causing an error by sending DTLS traffic too soon maybe?

I will look at what happens when we delay DTLS vs when we don't

[2019-10-22 00:02] tylerlong commented on #880
Unfortunately I cannot see server side log. I don't maintain our server side code and I treat it as a black box when I created the Node.js softphone SDK.

I've sent TCPDUMP file to you via email.

[2019-10-22 00:36] tylerlong commented on #880
https://github.com/pion/webrtc/blob/master/dtlstransport.go#L256

If I add breakpoint to this line and its next line and **"Step Over"** to next line, it **always** work。

If I add breakpoint to this line and its next line and **"Resume Program"** (no matter how long I wait before resume), it **often** doesn't work.

So I think this might be a concurrency deadlock issue.

"Step Over" is like singl

[2019-10-22 00:46] Sean-Der commented on #880
@tylerlong

Looking at the pcap we keep DTLS traffic, but the other side never responds. We are running as the DTLS client (and we also are able to choose if we want to run as Client or Server).

Let me get a PR that switches roles and we can see if that helps! Will be done tonight

[2019-10-22 21:38] tylerlong opened #887 "Set track.Read() minimum size"
## Summary

Every time I call track.Read() it only gives me a few bytes. I want to set a minimum size for example 64 bytes.  Then it should give me no less than 64 bytes unless end of stream.

## Motivation

I am feeding track to https://github.com/faiface/beep/wiki/Hello,-Beep!

It panics with "short buffer". I did some debug and I find it is caused by track.Read() returns too small data size.

#

[2019-10-22 21:44] Sean-Der commented on #887
WebRTC is datagram/message based (and not a stream like files or TCP) so I don't know if we can set a size. We are just giving you the messages/RTP packets from the other side

If the reads are combining multiple RTP packets it will end up building invalid data.

----

`track.Read()` returns RTP, so I don't think you will want to use that. If you use `ReadRTP` the `Payload` member will give you ra

[2019-10-22 21:50] tylerlong commented on #887
I thought it supported the reader pattern out of box: https://medium.com/@matryer/golang-advent-calendar-day-seventeen-io-reader-in-depth-6f744bb4320b

If I use track.ReadRTP() I need to manually create an adapter to use the reader pattern which  https://github.com/faiface/beep requires.

It is not a big deal for me but maybe we can change pion a little bit. Just my $0.02.

[2019-10-22 22:22] Sean-Der commented on #887
Yea that is unfortunate it doesn't fit nicely, you just want the raw media.

People are using `Read` pattern directly because they want raw `RTP Packets`. Maybe we can add an additional method that gives a `Media Reader` maybe?

I love the feedback! I really appreciate the ideas :)

[2019-10-23 14:07] gqgs opened #889 "Implement H.264 writer"
## Summary

Implement H.264 writer.

## Motivation

Apparently the only video writer currently available is the IVF VP8 writer.
https://github.com/pion/webrtc/blob/758476212459d4faa882aa82934bf7099fe6a86e/pkg/media/ivfwriter/ivfwriter.go#L72

It would be useful to have a writer for H.264 as well.
Since the support for both codecs is required by the WebRTC specification the user would be able to us

[2019-10-23 17:21] tylerlong opened #890 "Typo in RegisterDefaultCodecs"
[code]

There are three `NewRTPOpusCodec`s.

I think

[code]

should be changed to

[code]

[2019-10-23 20:42] tylerlong opened #893 "PCM codec payload should in 16-bit LPCM format"
As I tested, the PCM codec payload is in 8-bit u-law format, which is not the default format of PCM.

According to: https://en.wikipedia.org/wiki/Pulse-code_modulation :

https://github.com/zaf/g711 decode* methods by default decode to Lpcm 16bit signed linear data

https://github.com/hajimehoshi/oto only accepts 16-bit LPCM

The most popular WebRTC library for Node.js https://github.com/node-webr

[2019-10-23 23:42] enobufs opened #895 "TestUndeclaredSSRC fails in CI build with Unexpected routines"
### Your environment.
  - Version: rev d793f
  - Other Information - see below

### What did you do?
CI build error with a PR made by renovate, which tries to bump pion/datachannel ver to 1.4.12.

### What did you expect?
Should pass all tests.

### What happened?
https://travis-ci.org/pion/webrtc/builds/602035144

[code]

[2019-10-23 23:44] enobufs commented on #895
The error never happens on my laptop. (with or without `-race`)

[2019-10-23 23:53] enobufs commented on #895
@Sean-Der Do you have any thoughts?
I hit "Restart build", but ended up with the same error: https://travis-ci.org/pion/webrtc/builds/602035144

[2019-10-24 00:55] enobufs commented on #895
It appears that the `test.CheckRoutines()` is detecting the outstanding goroutines from previous test:
[code]
Which is, "TestPeerConnection_EventHandlers_Go" which involves DataChannel.  I will dig in more.

[2019-10-24 01:16] enobufs commented on #895
I have confirmed that "TestPeerConnection_EventHandlers_Go" leaves many goroutines even with master and/or v2.1.10. So, the problem was already there.

My guess is, TestUndeclaredSSRC is a new test introduced in v2.1.9.  If TestPeerConnection_EventHandlers_Go happened to run earlier, TestUndeclaredSSRC would fail.

I will fix TestPeerConnection_EventHandlers_Go to clean up the goroutine blocked by

[2019-10-24 02:42] enobufs commented on #895
CI build still fails at TestUndeclaredSSRC.
By fixing test, TestPeerConnection_EventHandlers_Go, the number of outstanding goroutines has been reduced from 93 to 89.  There are still many goroutines... :(

[2019-10-24 03:12] enobufs commented on #895
I tried to dump the number of initial goroutines and the nunber of resulting goroutines inside test.CheckRouteines().  I found:

* At the time TestUndeclaredSSRC wa run, the number of outstanding goroutines are 89 ~ 97. LoL!!!
* It happens on my mac as well - I saw 97 outstanding goroutines, but the resulting number gets smaller than the initial one whcn test.CheckRoutines().Stop() is called, so i

[2019-10-24 03:26] Sean-Der commented on #895
@enobufs

Wow that is annoying :/

Can we move the UndeclaredSSRC test for now to unblock you? Then I will start working on adding `CheckRoutines` to every test, also will see if I can get a script that asserts it is used in every test also!

[2019-10-24 03:30] enobufs commented on #895
I found one thing.
At the end of UndeclaredSSRC, it closes PeerConnections, but I see the following message after about 10 seconds.
[code]

test.CheckRoutines() times out in about 10 seconds - so it is very close. If the CheckRoutines() times out first, then the test failes, but the checkCandidatesTimeout times out earlier, the test pass tho it was taking 10 seconds for nothing. I think, the check

[2019-10-24 03:36] #895 closed

[2019-10-24 04:00] enobufs opened #897 "Check candidates does not seem to stop when pc.Close() is called"
An issue discovered during #895

TestUndeclaredSSRC test was failing presumably because pc.Close() did not stop the timer for checkCandidatesTimeout in pion/ince.

[code]

[2019-10-24 06:43] #893 closed

[2019-10-24 06:45] Sean-Der commented on #890
Fixed by 6a29bdf3040f4227ad0e785da9cf479600cabd3c, thanks for reporting this @tylerlong !

[2019-10-24 06:45] #890 closed

[2019-10-24 06:47] Sean-Der commented on #889
Agree! If there is a simple container format I am all for adding it to `pion/webrtc`

For now I would use webm, there is an example here https://github.com/pion/example-webrtc-applications/tree/master/save-to-webm

Maybe we should add a comment to `save-to-disk` to use `webm` if you want multiple tracks in one file or to support other codecs! I think that would be a great PR, could really help oth

[2019-10-29 09:01] programmingman commented on #696
Any update on it?

[2019-10-29 20:06] Sean-Der commented on #887
Closing this for now. Since WebRTC is datagram based we can't really set the `Read()` size. If people have ideas would love to see us doing something here!

I will work on getting an example of using `oto` I think that could go a long way to unblocking people.

[2019-10-29 20:06] #887 closed

[2019-10-30 13:33] isqad opened #901 "[question] How can I take pictures periodically from video track"
Hello! Thank you for amazing project.
I have a question: can I take picture from raw video track? How I do it?

Regards,
Andrew

[2019-10-30 17:59] Sean-Der commented on #901
Hey @isqad, thanks for using Pion :)

Unfortunately that isn't something we can do easily. We only get a stream of video from the other side (that video stream will contain some complete pictures, but lots of inter-frames)

I would try first the `save-to-disk` examples, and then you can extract pictures from that via `ffmpeg` (or the tool of your choice)

If you are interested in contributing woul

[2019-10-31 05:02] isqad commented on #901
Thank you for reply!

I'll try to develop this)

[2019-10-31 05:02] #901 closed

[2019-11-02 04:56] lherman-cs opened #903 "Detach doesn't work as expected"
### Your environment.
  - Version: *v2.1.6*
  - Browser: *N/A* (pure go)
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*

### What did you do?

Note: `p.Connect()` is simply an abstraction over pion/webrtc with its **detached data channel** that will do signaling, etc. Basically, `writer = datachannel.ReadWriteCloser` (https://godoc.org/g

[2019-11-02 16:02] lherman-cs commented on #903
It seems to be related to this issue, https://github.com/pion/sctp/issues/77

[2019-11-07 17:59] 0x19 commented on #9
@Sean-Der

Related to the

[code]

My personal suggestion here would be to introduce gRPC (https://grpc.io/) due to numerous reasons. Some of them would be:
- Bi-directional streaming support
- Support for 12 languages officially with numerous additional unofficial support (such as Elixir)
- Easy to get started
- A well mature project that we can count for LTS

[2019-11-13 08:14] Sean-Der opened #908 "DataChannel ID generation doesn't take Client/Server role into consideration."
Currently it is possible to get collisions on StreamIDs if both sides create a stream at once.

https://tools.ietf.org/html/draft-ietf-rtcweb-data-channel-13
[code]

[2019-11-13 08:34] Sean-Der commented on #908
We need to add a `generateStreamId` function to SCTPTransport that `DataChannel` calls if an `id` has not been explicitly passed.

This contains an id that we increment by 2, if the `DTLSTransport` is a server it starts from 0. If the `DTLSTransport` is a client we start from 1

[2019-11-13 09:18] Sean-Der commented on #908
I should have this fixed tomorrow!

I need to do a little bit of refactoring to make this work. Currently we try to choose IDs before signaling is done (we can't do that since we don't know `DTLSRole` yet)

I need to move lots of DataChannel state into the `SCTPTransport` and choose the IDs right before we dial.

[2019-11-14 18:51] #908 closed

[2019-11-17 08:07] mabaohong opened #910 "accumulated delay time"
### Your environment.
  - Version: *master  latest version*
  - Browser: chrome 78
  - Other Information  two pcs all in local network, chrome video decode:hardware accelerated.

### What did you do?
I capture desktop and encode the picture captured to h264 stream, using nvidia display card on windows 10 , then send the stream to chrome pages, based on the example “play-from-disk”.
I capture one f

[2019-11-18 00:00] Sean-Der commented on #910
@mabaohong Thanks for using Pion!

Do you mind looking in the `chrome://webrtc-internals` I am curious if the browser is introducing the delay. How is your CPU usage

Pion itself doesn't introduce any delay, so my guess it is one of the following issues.
* Capturing/Encoding is falling behind. It might be encoding for quality and not real-time?
* Browser is introducing delay (perhaps it thinks the

[2019-11-18 01:51] mabaohong commented on #910
@Sean-Der  Thank you for answer.
chrome://webrtc-internals snapshot is attached. Chrome use HW decoding, and the CPU usage about 5-10%.
![QQ图片20191118093030clientgpuenable](https://user-images.githubusercontent.com/50134776/69018682-70ef1200-09e8-11ea-9d48-2a220bb3e4da.png)
![QQ图片20191118093054webrtcinternal](https://user-images.githubusercontent.com/50134776/69018691-75b3c600-09e8-11ea-9b6e-baeda

[2019-11-18 01:55] mabaohong commented on #910
![QQ图片20191118093127delay (2)](https://user-images.githubusercontent.com/50134776/69018812-02f71a80-09e9-11ea-830d-bee24ffaf55d.jpg)
And My Capturing/Encoding PC CPU usage is about 26%, GPU encode usage is about 44%.
![QQ图片20191118093747cpuusage (2)](https://user-images.githubusercontent.com/50134776/69018928-7731be00-09e9-11ea-889d-8a67bc014c67.png)

[2019-11-18 01:56] mabaohong commented on #910
![QQ图片20191118094442 (2)](https://user-images.githubusercontent.com/50134776/69019002-bcee8680-09e9-11ea-814c-888ea827f04d.jpg)

[2019-11-18 02:49] Sean-Der commented on #910
@mabaohong thanks for the details!

For WebRTC by default it only does SW encode/decode I believe (OpenH264). It is behind a flag, mind checking if enabled for you? My assumption from looking at everything is that the video is coming in properly, but the decoder is having issues and adding latency every time it happens.

Looking at the nvenc docs can you also set the following?
* Can you do `Const

[2019-11-20 06:27] mabaohong commented on #910
@Sean-Der  I made a mistake. Sending H264 frame packet data, using RTP. I set a wrong samples.

Thank you very much!

[2019-11-20 06:47] Sean-Der commented on #910
@mabaohong nice! did that fix it/no more delay issues?

It is really hard to debug this stuff, maybe we can build a better tool with Pion. Not sure though. Feels like Chromium needs to be extended with better debug tools, not sure where to dive in on that :)

[2019-11-20 20:00] Sean-Der commented on #910
@mabaohong thanks for using Pion :) if you are still having issues happy to help on here or [Slack](https://pion.ly/slack)!

[2019-11-20 20:00] #910 closed

[2019-11-21 19:18] #872 closed

[2019-11-21 20:24] Sean-Der commented on #873
Fixed! This was fixed by ce4071b96c6c67e55a65ef23f878d571c4fe1216

Sorry for the delay and really appreciate you reporting this @Filatoff73 if anything else comes up always here to help!

[2019-11-21 20:24] #873 closed

[2019-11-22 19:29] epes opened #915 "Panic on data channel close"
### Your environment.
  - Version: `pion/datachannel@v1.4.0` and `pion/webrtc/v2@v2.1.8`

[code]

### What did you do?
[code]

### What did you expect?
Close

### What happened?
Panic

[2019-11-23 02:06] #915 closed

[2019-11-23 08:14] Sean-Der commented on #754
This is actually really easy! Someone just needs to add `OnError` to `SCTPTransport`. This way it can work both for ORTC and WebRTC.

[2019-11-25 17:11] 51ias opened #920 "support FEC for video stream?"
I'm using pion on the server to send video to chrome web client through webrtc. But I found out that the video was laggy when when there is slight packet loss. So I searched the code of pion and saw <b>no implementation of FEC in SRTP module</b>.

Please let me know if any FEC (ulp fec or flex fec) will be supported in the future.
Or is there any mechanism of pion to perform better on a 1% packet

[2019-11-25 17:44] adwpc commented on #920
https://github.com/pion/ion
Anti-Loss-Package 30%~50% with PLI and NACK.

[2019-11-25 17:49] 51ias commented on #920
@adwpc Thanks for the quick reply. But the network between "client app" and ion node can't be trusted. Does WSS/SRTP work well on 1% packet loss network?

[2019-11-25 19:19] 51ias commented on #920
Another thought:
In PeerConnection::drainSRTP(), it reads rtcp packets but does nothing. Is this the place where  TransportLayerNack can be read and resend those lost RTP packets?

[2019-12-05 08:48] demirveriyaz opened #925 "firefox video player problem"
we are testing pion sfu-ws example.

chrome -> chrome     =  works well
chrome -> firefox    =  not working
firefox -> chrome    =  works well
firefox -> firefox   =  not working

when subscirber is on firefox  ontrack event firing and stream receiving successfully but when bind this stream html5 video player srcObject, video not playing

we research on google but nothing we tried was successful

[2019-12-05 09:03] Sean-Der commented on #925
Hey @demirveriyaz! Thanks for using Pion.

Does `sfu-minimal` have the same issues? I don't actively the other repo (I encourage people to share little projects they wrote their)

If `sfu-minimal` works I can probably update `sfu-ws` quickly though.

[2019-12-05 09:19] demirveriyaz commented on #925
go build

getting this error

use of internal package github.com/pion/webrtc/v2/examples/internal/signal not allowed

[2019-12-05 10:49] demirveriyaz commented on #925
when we use

mediaEngine.RegisterCodec(webrtc.NewRTPOpusCodec(webrtc.DefaultPayloadTypeOpus, 48000))

so

111 opus/48000

chrome -> chrome   =  works well
firefox-> chrome   =  works well
chrome -> firefox= fail
firefox-> firefox=  fail

when use that codec  (0 PCMU/8000), which is included chrme and firefox

mediaEngine.RegisterCodec(webrtc.NewRTPPCMUCodec(webrtc.DefaultPayloadTypePCMU, 8000))

c

[2019-12-05 21:00] Sean-Der commented on #925
hey @demirveriyaz I did some sleuthing and I remember this has always been broken :/

Right now I think the best way to implement this is to have a unique `Track` for each PeerConnection (so you can have the write PayloadType for each one)

There was an attempt to fix this https://github.com/pion/webrtc/pull/782/files but it didn't get merged. I will work on fixing this for `/v3` wasn't even aware

[2019-12-06 11:07] faroyam commented on #754
Hello
Am i right that this issue concerns adding `onErrorHandler` field along with `onError`/`OnError` functions to 'SCTPTransport' structure? Again, correct me if I'm wrong, but if it is what I understand it is, I'll take it.

[2019-12-08 09:01] Sean-Der commented on #754
@faroyam exactly! The the `PeerConnection` object can be notified of issues. On creating of the `SCTPTransport` we set those callbacks and we can handle async errors gracefully.

Also if users want they can construct the `SCTPTransport` themselves and do things via ORTC.

[2019-12-08 09:03] #778 closed

[2019-12-08 09:11] Sean-Der commented on #920
Hey @51ias

Sorry I took so long to respond, I do want to add `FEC` and other RTP resiliency features. The goal is to create a new package [RTPEngine](https://github.com/pion/webrtc/wiki/Big-Ideas#rtpengine) that does all this!

If you are interested in contributing I would love your help! I haven't had as much time as I had hoped, but I think it would be a great thing for someone to start on and

[2019-12-08 09:11] #920 closed

[2019-12-08 10:10] #889 closed

[2019-12-09 06:41] Sean-Der commented on #754
Resolved by 896f8e360f96498092b41ae24876de4ba012f63d great work @faroyam !

[2019-12-09 06:41] #754 closed

[2019-12-10 09:27] #838 closed

[2019-12-11 01:55] langep opened #938 "TestDataChannelBufferedAmount is flaky"
I modified the TestEOF test in datachannel_go_test.go but the `TestDataChannelBufferedAmount/set_after_datachannel_becomes_open` test failed in CI.

### What did you expect?
I expected the unmodified test to pass.

### What happened?
It failed with the following output:

--- FAIL: TestDataChannelBufferedAmount (2.91s)
    --- FAIL: TestDataChannelBufferedAmount/set_before_datachannel_becomes_open

[2019-12-11 08:49] xsbchen commented on #52
I created a repo https://github.com/xsbchen/awesome-pion

[2019-12-11 09:25] Sean-Der commented on #52
@xsbchen wow, that is amazing! I love that. Would you be up for transferring it to the Pion organization?

I think https://github.com/pion/awesome-pion would be perfect! Then we can put the 'Awesome Pion' badge in each repo to tell people to check it out :)

this is fantastic, thank you so much for starting it.

[2019-12-12 06:21] xsbchen commented on #52
@Sean-Der done

[2019-12-12 08:02] Sean-Der commented on #52
@xsbchen fantastic! I pinned it, and will add it to the `pion/webrtc` repo! I will start adding more stuff tonight :)

Thank you so much for starting this, I think people are really going to find this useful

[2019-12-12 12:42] xsbchen commented on #52
So happy that I can do something help. I hope it is useful for the guy who wants to use Pion

[2019-12-13 08:40] mabaohong opened #941 "I wonder how can sfu-minimal work"
I download webrtc-2.1.18， and follow the Instructions of README.md like this:
I  open jsfiddle.net in one of my windows pc, ip is 10.0.1.128, call it A pc
Run main.go in sfu-minimal;
In A pc chrome browser, Click Publish a Broadcast, a video view screen appears, wait about 3 minuts, Browser base64 Session Description appears: eyJ0eXBlIjoib2Zm................cclxuIn0=
cmd.exe localhost:8080/sdp -d

[2019-12-13 20:48] tmatth commented on #755
Can this be merged?

[2019-12-13 21:19] Sean-Der commented on #755
@tmatth No PR was opened. @thetooth you still have this code by chance, you mentioned it on slack a while back?

thanks!

[2019-12-14 04:34] Sean-Der commented on #639
This is tracked in https://github.com/pion/webrtc/wiki/Big-Ideas#single-port-mode now

I am moving all our `Big Ideas` tickets into the wiki, having so many GitHub issues is causing some things to get missed.

[2019-12-14 04:34] #639 closed

[2019-12-14 11:31] at-wat opened #942 "Flaky routine leak error on CI"
Routine leak test on CI looks flaky.

[code]

Several other tests fail with `Unexpected routines on test startup` due to it.

[2019-12-14 12:05] at-wat commented on #942
The routine is stopped at:
https://github.com/pion/dtls/blob/b4351bb3aded5836d8fa8ae7cc68bf78e1a25552/conn.go#L627
[code]

[2019-12-14 12:48] at-wat commented on #942
This https://github.com/pion/dtls/pull/160/files#diff-f9df1a974544ddcc7ccada9d10f705a4 test reproduces routine leak at same line.

[2019-12-14 17:25] at-wat commented on #938
Test failures related to datachannel can be reproduced locally by increasing CPU load during the test and repeating hundreds of times.

[code]

Similar error occurs also on `TestDataChannel_Open`.

[2019-12-14 17:50] at-wat commented on #938
`EOF` error is transferred from:
`net.Conn.Close()` -> `sctp.Association.Close()` -> `SCTPTransport.Stop()` -> `PeerConnection.Close()`

[2019-12-15 10:22] at-wat commented on #942
Another routine leak:
[code]

<details>

[code]

</details>

[2019-12-15 10:31] at-wat commented on #942
Another routine leak
[code]

<details>

[code]

</details>

[2019-12-16 10:37] Dimpiv opened #950 "No matching versions for query "latest""
`
GOROOT=/home/putty/go/go1.13 #gosetup
GOPATH=/home/putty/go #gosetup
/home/putty/go/go1.13/bin/go build -o /tmp/___go_build_main_go /home/putty/code/webrtc/examples/gstreamer-send/main.go #gosetup
go: finding github.com/pions/webrtc/pkg latest
go: finding github.com/pions/webrtc/pkg/ice latest
go: finding github.com/pions/webrtc/examples/gstreamer-send/gst latest
go: finding github.com/pions/web

[2019-12-16 15:47] Sean-Der commented on #950
Hi @Dimpiv

What version of the repo is this? We renamed from ‘pions’ -> ‘pion’ about a year ago, I think this broke things for old code.

Can you try https://github.com/pion/example-webrtc-applications/tree/master/gstreamer-send instead

Thanks!

[2019-12-17 13:15] cyantarek opened #952 "Why do anyone use WebRTC in the backend?"
As it's clear that, WebRTC is totally a client side of things. So when building applications like audio/video chat, we use the client side logic to initiate and make/answer offers.

So what is the use case to use WebRTC on the server side like Go? What is the use of it? What can I build with pions and golang server side? I don't find any real use cases.

Please let us know.

Thanks

[2019-12-17 19:19] Sean-Der commented on #952
@cyantarek Check out [awesome-pion](https://github.com/pion/awesome-pion) there are a few server side applications (harmony and cloud-game are good ones)

For non-Pion I would look into
* mixer.com
* Google Stadio
* Janus

[2019-12-17 19:19] #952 closed

[2019-12-17 19:48] enobufs commented on #952
@cyantarek
Even in C/S application, WebRTC is the only technology that allows us to take advantage of UDP transport (low latency where packet loss can be tolerated.) on browsers at the moment IMO. Pion allows us to write server-side logic purely in Go.

[2019-12-18 03:15] helisong427 opened #953 "MediaEngine PopulateFromSDP error for SDP with 'm=application 9 UDP/DTLS/SCTP webrtc-datachannel'"
### Your environment.
  - Version: V2.1.15
  - Browser: chrome

### What did you do?

	m := webrtc.MediaEngine{}
	err := m.PopulateFromSDP(offer)
	if err!= nil{
		panic(err)
	}

      -- hi, this offer contain ''m=application 9 UDP/DTLS/SCTP webrtc-datachannel'',  panic !

### What did you expect?
PopulateFromSDP :   Skip the parsing of this
### What happened?

[2019-12-19 11:23] at-wat commented on #938
Fixed by https://github.com/pion/dtls/pull/162 and https://github.com/pion/webrtc/pull/955 🎉

[2019-12-19 11:23] #938 closed

[2019-12-19 11:27] at-wat commented on #942
https://github.com/pion/webrtc/issues/942#issue-537902210 should be fixed by https://github.com/pion/dtls/pull/160, and
https://github.com/pion/webrtc/issues/942#issuecomment-565796715 seems had been caused by EOF problem which is fixed by https://github.com/pion/dtls/pull/162.

[2019-12-19 11:27] #942 closed

[2019-12-20 09:07] Sean-Der commented on #953
Hi, sorry for the delay @helisong427 and @fmarani!

This is fixed in #956, and if travis passes I will be merging this into master! Thank you very much for reporting this issue and appreciate you using Pion

[2019-12-20 09:17] #953 closed

[2019-12-20 18:10] rwrz commented on #810
Hey @rushib1 , to make it work, you need an IPv6 STUN/TURN server... I had the same issue and could only implement this on AWS. Tried on GoogleCloud, but their support to IPv6 sux.

- create a machine with IPv6 address, make sure you have both, IPv4 and IPv6 address ([how to on AWS](https://docs.aws.amazon.com/vpc/latest/userguide/get-started-ipv6.html))
- start pion turn server or coturn, both wo

[2019-12-20 21:29] Sean-Der opened #957 "MediaEngine API is not user friendly"
We need to re-evaluate how sending RTP works with setting PayloadTypes.

I have seen multiple users struggle with using it.

We should also evaluate how users set the durations/samplerates that is a pain as well.

[2019-12-21 06:13] Sean-Der commented on #950
Hi @Dimpiv

Hopefully this worked for you! If you are still have issues please reopen, thanks for using Pion! I am also available on [Slack](https://pion.ly/slack) if you need help.

[2019-12-21 06:13] #950 closed

[2019-12-21 06:27] Sean-Der commented on #620
This has been inactive for almost a year, so I am resolving.

If you are interested in the contents of incoming RTCP packets you can use [ReadRTCP](https://pkg.go.dev/github.com/pion/webrtc/v2?tab=doc#RTPSender.ReadRTCP) on RTPSender or [ReadRTCP] or [ReadRTCP](https://pkg.go.dev/github.com/pion/webrtc/v2?tab=doc#RTPReceiver.ReadRTCP) on RTPReceiver and print them as they arrive.

[2019-12-21 06:27] #620 closed

[2019-12-31 10:42] wade-liwei opened #963 "it there is real time chat room for the project ?"

[2020-01-02 18:18] alucic commented on #963
https://pion.ly/slack/

- in Readme Badge
- in Readme
- in the main navigation https://pion.ly/

[2020-01-02 19:58] Sean-Der commented on #963
Thanks @alucic!

@wade-liwei I am in Slack as Sean-Der, feel free to mention me anytime always happy to help.

[2020-01-02 19:58] #963 closed

[2020-01-05 20:53] lherman-cs opened #966 "Expose an API to get a list of registered RTPCodec from PeerConnection"
## Description
As of writing this, there's no way to get a list of registered `RTPCodec` from outside the package. This is because the constructed `mediaEngine` is stored within `api`, and `api` is a private member of `PeerConnection`.

So, instead of exposing the whole underlying `api` or `mediaEngine`, we should expose a new method under `PeerConnection` to get the list of registered `RTPCodec`.

[2020-01-06 03:43] helisong427 opened #968 "The track of the client frequently corresponds to onended events"
### Your environment.
  - Version: v2.1.16
  - Browser: chrome
  - Other Information
I used pion to implement the janus server of the go, and the OnTrack implementation is as follows:
[code]
**My question**：The client alternates the corresponding track.onended and track.onunmute events，
[code]

### What did you do?
I don't know if this is a BUG, how should I solve it? thank you!!

### What did you

[2020-01-06 05:13] #966 closed

[2020-01-06 20:05] backkem opened #970 "ICE username mismatch"
Looks like there may be an issue with ICE username. I get an ICE warning indicating the username is concatenated with another string:
[code]

### Your environment.
  - Version: 726a16faa60dccdc8c00df8e1ae6426bf5b3bd05
  - Browser: N/A
  - OS: Windows

### What did you do?
I updated [libp2p/go-libp2p-webrtc-direct](https://github.com/libp2p/go-libp2p-webrtc-direct) to latest pion/webrtc (726a16faa6

[2020-01-06 20:29] backkem commented on #970
Looks like this was also observed in pion/webrtc#649.

[2020-01-08 12:00] Prinzhorn commented on #798
@Sean-Der I've decided to put the project on hold, so unfortunately you cannot expect any contribution from me in the near future. But I hope to come back to Go and WebRTC in the future!

[2020-01-14 10:07] helisong427 commented on #9
@Sean-Der  I'm really looking forward to RtpEngine, when are you planning to release it？

[2020-01-21 08:17] encounter opened #983 "Implement other SDP media protos"
Hi, I'm attempting to connect to a Wowza streaming engine service that offers
[code]

However, the SDP answer generated by this library appears to use
[code]
unconditionally, and then the library complains about DTLS connection timeouts.

When running a packet capture for the original video player, I see no DTLS packets at all. I'm not too familiar with the WebRTC spec, so I'm not entirely sure if

[2020-01-21 19:09] Sean-Der commented on #983
Hey @encounter, thanks for checking out Pion!

The `actpass` value in the SDP controls who initiates the DTLS traffic. You mind sharing those? It sounds like Pion is running as the client (starting the DTLS handshake) but Wowza is never responding. If you can use `wireshark` or `tcpdump` and capture DTLS traffic that would be really helpful.

* Pion only supports DTLS v1.2, it is possible the wowz

[2020-01-21 19:22] encounter commented on #983
Yes, I'm using `SetAnsweringDTLSRole(webrtc.DTLSRoleClient)` to set `a=setup:active` in the answer, mostly to try to match Chrome's behavior. The offer uses `setup:actpass`, and pion defaults to `passive`, which didn't work either. It may very well be a (D)TLS version mismatch, so I'll investigate that more.

[2020-01-21 19:41] Sean-Der commented on #983
@encounter bummer!

I think the next best step is getting a packet capture of both scenarios. If you don't feel comfortable sharing them here feel free to email me sean @ pion.ly and can take a look!

[2020-01-21 20:09] encounter commented on #983
Thanks, I'll open a new issue if I find anything of note.

[2020-01-21 20:09] #983 closed

[2020-01-27 00:40] enobufs opened #988 "Cannot send audio data back to the sender over a 'sendrecv' track"
### Your environment.
  - Version: v2.1.18

### What did you do?
I am having difficulty creating a bidirectional track (using Opus)…

I am seeing this error:
[code]

Offer side creates a track like this:
[code]
Answer side prepares to receive one audio track like this:
[code]

In this OnTrack function, I store `track`, then later I call track.Write() assuming that the track is bidirectional, but I

[2020-01-27 04:36] enobufs commented on #988
According to [the spec](https://w3c.github.io/webrtc-pc/#rtcrtpsender-interface), RTPSender has read-only attribute "track", but pion's RTPSender does not have it.

I still do not fully understand concept of RTPTranceiver.  Looking at [the slide](https://www.slideshare.net/alexpiwi5/webrtc-object-model-api-transceivers), the Transceiver binds remote and local tracks together.

So, it looks to me t

[2020-01-27 06:04] enobufs commented on #988
@Sean-Der
I have made a little bit of progress by exposing RTPSender.track:

[code]

I noticed the track instance from RTPSender has a randomly assigned track ID and Label. I am wondering if application (answerer side) has an opportunity to create the label...

(It's been tough for me because I don't know exactly how WebRTC API for transceivers work... :p)

[2020-01-28 14:57] iansweeneysg commented on #925
Hi @Sean-Der @demirveriyaz , I think we seeing something similar.

We only using audio tracks and unable to perform AudioContext createAnalyser() in chrome or firefox. Audio plays in chrome but does not in firefox.

When creating a peerConnection.ontrack eventhandler, initially we seeing the event.streams[0].id = 'OTVlungShKKfXMHN', but after making a second publish request, event.streams[0].id be

[2020-01-28 17:28] chrbsg opened #989 "ontrack never called in pion-pion comms"
### Your environment.
  - Version: 2.1.18
  - Browser: no
  - Other Information -

### What did you do?
Check code.zip
$ cd server && go build && ./server
$ cd client && go build && ./client
copy/paste offer from client to server
copy/paste reply from server to client

server output:
...
2020/01/28 17:18:39 server: ICE state changed: connected
2020/01/28 17:18:39 sendPCM(0xc0001ee000,0xc00016c000,

[2020-01-29 08:07] Sean-Der commented on #989
Hey @chrbsg, sorry about the bug! Would you mind uploading another zip, I think it filtered your code out.

[code]

thanks!

[2020-01-29 08:13] Sean-Der commented on #970
@backkem I think this is happening because the remote details haven't been set yet. It looks like we call `assertInboundUsername` even if we don't have `remoteUfrag` yet [here](https://github.com/pion/ice/blob/master/agent.go#L1107)!

We should probably return early and give an `info` log maybe? `Inbound STUN packet, but remote details have not been set`

[2020-01-29 08:14] Sean-Der commented on #970
I am going to move this to `pion/ice`, but if you have the bandwidth to grab happy to merge anyway you want to take this :)

[2020-01-29 08:22] Sean-Der commented on #968
Sorry for the delay @helisong427 !

I am taking the day off work tomorrow and working on Pion issues :) I will make sure to update you tomorrow.

thanks!

[2020-01-29 09:45] chrbsg commented on #989
Sorry my mistake with the zip.

[code.zip](https://github.com/pion/webrtc/files/4127234/code.zip)

[2020-01-29 16:40] ciceroverneck commented on #207
Is this not planned for the next release anymore?

[2020-01-30 03:42] Sean-Der commented on #989
Hey @chrbsg,

In `server/main.go:69` `sendPCM` is commented out. When I uncommented out it I get `received packet` printed!

I *believe* everything is working, but would you mind double checking?

[2020-01-30 04:14] Sean-Der commented on #988
Hey @enobufs

I *think* things are working as designed, the terminology is kind of confusing though so here is how it works. I want to massively refactor all this stuff though, so maybe this is a good chance to review :)

* You will never be able to call `Write` on the `Track` emitted by `OnTrack`. Tracks themselves are never bi-directional, you either get to call `Read` or `Write` on them. Maybe

[2020-01-30 04:25] Sean-Der commented on #968
Hi @helisong427 I don't fully understand what you are trying to do? Are you trying to send the input back to the sender/Janus? Something like the reflect sample?

[2020-01-30 07:43] Sean-Der commented on #767
Hey @jackfreed

Sorry I forgot to come back to this. If you ever need help with anything/want to ping me I am always on [Slack](https://pion.ly/slack) or please email me sean @ pion.ly I am really excited when people use Pion so sorry for falling through :(

I have a PR now that adds tests (and asserts) that `OnICEGatheringStateChange` behaves properly.

I also updated `pion/ice` to kick off conne

[2020-01-30 08:19] #767 closed

[2020-01-30 08:34] Sean-Der commented on #621
I am resolving this for now, but feel free to re-open if you disagree. These are my thoughts for now.

* We haven't gotten any other bug reports about this being an issue
* We have no way to enforce these checks are added properly. We can add them to the code base, but there is no tooling to ensure new structs in the future have this check
* They add code complexity and may have a runtime cost.
*

[2020-01-30 08:34] #621 closed

[2020-01-30 08:36] Sean-Der commented on #207
Hey I do want to do this @ciceroverneck!

Is this something that is blocking you short term? I am going to be releasing a new version of `pion/dtls` this weekend, and then moving back to `pion/webrtc`.

I don't see this happening in the short term, but would be happy to move faster if it helps.

thanks

[2020-01-30 08:43] varadely opened #991 "Codec problem in the OnTrack function"
Hi,
I wanted to make an Update of your librairy (my old version :  June 2019). And while doing the update I have a codec problem when I build for windows only:
output from pion/example-webrtc-applications/gstreamer-receive :
On windows:
[code]

on Linux :
[code]
Any idea ?

[2020-01-30 08:45] Sean-Der commented on #991
Hi @varadely

What SHA1 are you using now? We did fix a bug around this with 6a29bdf3040f4227ad0e785da9cf479600cabd3c

[2020-01-30 08:47] Sean-Der commented on #991
Could you also try before 5a752da6831a61700a22df00ae117ca2ec24c7d9 this was when G711 support was added

[2020-01-30 08:51] varadely commented on #991
I use the this https://github.com/pion/webrtc/commit/537c841073600e9fb176d1677ee1b3c41b8baca7
Is this the correct SHA1 ? Or if not, where do I find it?

[2020-01-30 08:55] varadely commented on #991
I've this correction in my code :
[code]

[2020-01-30 09:05] enobufs commented on #988
Yes, it took a bit of time to figure this out.

I wanted to Transceiver tho... To do that I was doing this:

Offerer:
1. pc.NewTrack()
1. pc.AddTransceiverFromTrack()
1. pc.CreateOffer()

Answerer:
1. pc.AddTransceiver()
2. pc.CreateAnswer()

This will let both ends a set of tracks successfully but requires RTPSender.Track() method being public on the answerer end because it does not involve pc.Ne

[2020-01-30 09:13] enobufs commented on #988
Ah I guess we can do this:

Offerer:
1. pc.NewTrack()
1. pc.AddTransceiverFromTrack()
1. pc.CreateOffer()

Answerer:
1. pc.NewTrack()
1. pc.AddTransceiverFromTrack()
1. pc.CreateAnswer()

And, if we don't need to use transceivers:
Offerer:
1. pc.NewTrack()
1. pc.AddTrack()
1. pc.CreateOffer()

Answerer:
1. pc.NewTrack()
1. pc.AddTrack()
1. pc.CreateAnswer()

Correct?

[2020-01-30 09:32] varadely commented on #991
How I can install an older version ?
When I wanted to build, I had problems with dependencies on outdated packages (src\github.com\pion\webrtc\dtlstransport.go:245:3: unknown field 'Certificate' in struct literal of type dtls.Config) .

[2020-01-30 10:57] chrbsg commented on #989
That's odd, when I uncomment sendPCM I get:

[code]

I had guessed the problem here was that ontrack hadn't been called, so the track wasn't set up, so when the client gets an RTP packet for a track that hasn't been properly setup yet it complains.

(apart from the issue above, I don't understand why calling txtrack.WriteSample would result in onTrack being called on the peer - is the call to onTr

[2020-01-30 11:40] varadely commented on #991
I overwrite the PayloadType and it's work. I don't know why it's 0, in the SDP, the codec is OPUS.
In track.go :
[code]

[2020-01-30 13:57] guilhermehubner commented on #207
@Sean-Der it would be amazing if this fix came with the new version of `pion/webrtc`, it is blocking us to deliver our SFU system. There's a work around, it's not optimised though so not production ready :disappointed:

[2020-01-30 19:43] Sean-Der commented on #991
@varadely I think the issue is that PCM is at the top, so the other side is just taking the top codec we support.

Would you mind trying out https://github.com/pion/webrtc/pull/992 ? You can also instantiate your own MediaEngine and set codec preferences, but I think this new behavior is the best default.

thanks

[2020-01-30 19:50] Sean-Der commented on #989
yea OnTrack is only called when it gets the first audio/video packet! We don't know what codec the other side is going to send till we get the first RTP packet, so we have to wait until then.

`Incoming unhandled RTP ssrc(4039455774)` that usually happens if the sender is using an SSRC they didn't declare in the SDP. When you get that message I would see if the SSRC is actually in the SDP.

Are yo

[2020-01-30 23:04] Sean-Der commented on #988
@enobufs yep exactly!

`AddTrack` in the background is doing `AddTransceiverFromTrack` also. The API is sort of funky because.

* WebRTC has `AddTrack` and `AddTransceiver` and hasn't committed to API breakage yet.
* `AddTransceiver` in the browser accepts either a `string` or `Track` and we can't do multi-method dispatch in Go, making it impossible to match their API exactly :(

[2020-01-30 23:33] enobufs commented on #988
I see...
I was initially thought that I would need to use `AddTransceiver` because I wanted to use the same `m=` line for both direction because addTransceiver alows us to specify the direction.
[code]

If we just use addTrack() for both ends, would it still be sharing the same `m=` with sendrecv?
Well, I can try testing it - thanks for answering to my novice questions on media channels!. ;)

[2020-01-31 10:15] varadely commented on #991
Hi @seppo0010
Big thanks, it's works. You can close this issie.
I've some questions :
So, the first codec is necessarily the one used ? how to do if the browser uses another codec ? (mainly for Safari on iphone)

[2020-01-31 12:32] chrbsg commented on #989
Client and server are running on same host.

The `a=ssrc:2596996162` line appears to be the same in both offer and answer?

Offer:

[code]

Answer:

[code]

Error:

[code]

But it may be that this is caused by a bug in the server/main.go code! The server was doing:

[code]

So server was adding a transceiver (which has to be done to support incoming audio) - but client was not creating/sending an

[2020-01-31 12:52] chrbsg commented on #989
I had an idea that maybe AddTransceiver interferes with AddTrack. In server/main.go, this fails with "Incoming unhandled RTP":

[code]

But this works:

[code]

[2020-01-31 19:18] Sean-Der commented on #989
@chrbsg I think SSRC collision is exactly the issue! `rand.Uint32()` needs to be seeded first I believe?

I will update all the examples in the Pion repo to seed first :/ completely missed that

[2020-02-01 00:42] Sean-Der commented on #991
WebRTC clients try to find an intersection of supported codecs. Each side publishes the list of codecs they support via the Offer/Answer messages.

If they both have `Opus` as the first one that is what they will use!

You can use the `MediaEngine` interface to declare was codecs you are willing to accept. If you don't support any codecs the browser supports `SetRemoteDescription` will return an e

[2020-02-01 00:42] #991 closed

[2020-02-01 03:27] at-wat opened #996 "TestPeerConnection_Media_Shutdown causes timeout on CI"
[code]

[2020-02-01 06:12] at-wat commented on #996
Looks caused if `Close()`ed before `pcOffer`'s ICE complete. Only `pcAnswer`'s complete is checked.
https://github.com/pion/webrtc/blob/6165344d78c9c44b14166160a6c7043b134ee8d9/peerconnection_media_test.go#L262-L274

[2020-02-01 06:23] at-wat commented on #996
`ICETransport.onSelectedCandidatePairChange()` callback during `ICETransport.Stop()` causes deadlock.

[2020-02-01 09:14] #996 closed

[2020-02-03 08:51] Sean-Der commented on #207
@guilhermehubner that is exciting, glad to hear you are using Pion :)

I started a branch with this work! I am thinking this is ~week of work. When it is ready for alpha testing will update this thread so everyone can play with it!

thanks for the patience everyone. Also if you get a chance join [Slack](https://pion.ly/slack). I work on w/e issue people are most excited for, so giving feedback/cha

[2020-02-03 13:56] chrbsg commented on #989
I added PRNG seeding to client/main.go and server/main.go but still see "Incoming unhandled RTP ssrc" when server calls pc.AddTransceiver before pc.AddTrack.

Two other odd things, possibly related:

- ontrack in the browser shows some UUID-style strings for event.track.id, event.track.label and not "audio" "pion1" as the Go client does. Is this expected?

- The server can send an opus track to Ch

[2020-02-04 07:57] enobufs opened #1001 "The first RTP packet that triggers OnTrack wouldn't be received (trivial)"
### Your environment.
  - Version: v2.1.18

### What did you do?
Use an audio track (opus), both ends have a local track (bidirectional).
Sending a dummy RTP packet from both ends.

### What did you expect?
The RTP packets should be received by the remote.

### What happened?
The first RTP packet sent by the sender successfully triggered remote's OnTrack() callback, but the packet never gets recei

[2020-02-04 08:10] enobufs commented on #988
My code has been working fine with using a transceiver.
I think RTPSender.track could be exposed so that I don't have to hold on to the local track for send when I am also holding on to the transceiver which has both local and remote tracks - but this is trivial...

Let me close this issue - thanks Sean!

[2020-02-04 08:10] #988 closed

[2020-02-04 14:19] gqgs opened #1002 "Connection disconnects 30 seconds after being established"
### Your environment.
  - Version: 20f2d1899ebbbdb3879444a03a7dc956a3b51126
  - Browser: Chrome 78.0.3904.97
  - Other Information - running Pion in a remote docker container.

### What did you do?

Established a connection with a remote server.

### What did you expect?

The peer to stay connected with the server until it decides to close the connection.

### What happened?

On Chrome, the connec

[2020-02-04 17:35] gqgs commented on #1002
Apparently our handling of the `Disconnected` state was incorrect.
The connection can still be reestablished after moving to that state.
There is still a disconnect the first time the client connects but I suppose that's expected for some reason?

[2020-02-06 21:42] Sean-Der opened #1005 "GetStats crashes when called on Closed agent"
[code]

[2020-02-06 22:17] #1005 closed

[2020-02-07 10:31] Sean-Der commented on #207
I have finished implement Adding tracks! I will be working on removal tomorrow.

Currently I have only tested against Pion. I am sure bugs will show up when testing against FireFox/Chromium. If anyone is feeling brave testing out my branch would be really helpful!

[2020-02-09 06:29] at-wat opened #1009 "Update godoc link"
Currently linked to https://pkg.go.dev/github.com/pions/webrtc. (Still linked to pion**s**)

There is a new document site https://pkg.go.dev/github.com/pion/webrtc/v2 which can explicitly handle package versions.

[2020-02-09 06:44] at-wat commented on #1009
Would be better to check other repositories.

[2020-02-10 05:40] #207 closed

[2020-02-10 05:50] Sean-Der commented on #9
Pion WebRTC now allows you to Add/Remove tracks at anytime! You can call `AddTrack`/`RemoveTrack` on either side (Pion or Browser) and it should work :)

I have landed this in master, and will wait a week for it to stabilize. The next release of Pion WebRTC is going to be all media API improvements. Supporting multiple browsers is needlessly hard right now, and I want to fix that.

We also are goi

[2020-02-10 05:54] Sean-Der commented on #9
@helisong427 `RtpEngine` is something I hope to do before April! If it is blocking something you are trying to build I would love to do it sooner.

I am mostly driven by things people need, if you are able to get involved/explain your exact uses cases that would really be helpful! I am in [Slack](https://pion.ly/slack) if you ever want to talk real-time :)

[2020-02-10 06:12] Sean-Der opened #1012 "Race condition in `peerConnection.setDescription`"
[code]

[2020-02-10 06:21] #1012 closed

[2020-02-10 08:42] Sean-Der commented on #1009
@at-wat I will grab this! Will send you PRs tomorrow to update all our godoc links to pkg.go.dev across all repos.

[2020-02-10 08:58] Sean-Der opened #1014 "Add E2E tests for PlanB generation"
CodeCov shows that some of our SDP code isn't executed for PlanB

[2020-02-10 08:59] Sean-Der opened #1015 "Add PeerConnection Trickle tests"
`AddICECandidate` is never executed. We should add some tests that run a trickle candidate against a non-trickle. This is a common use case, and wouldn't want to see it regress.

[2020-02-10 12:55] cloudwebrtc opened #1016 "Add support for Simulcast/SVC."
## Summary

Add multiple resolution/rate support for the video track.

## Motivation

In a video conference or live broadcast scenario, multiple resolutions need to be generated at the same time on the same PC, and different devices can subscribe to the resolution they want.

SVC can adapt to network transmission by dynamically adjusting resolution and bit rate during the SFU Relay process.

## De

[2020-02-10 18:41] Sean-Der commented on #1016
@cloudwebrtc that would be an amazing feature! Also would be really nice to just have it be on the `Track`

I will need to think about a little bit though. I need to do some research/API thinking and will come back on this!

thanks for filing, this could really open up some cool things.

[2020-02-10 21:45] paralin commented on #9
@Sean-Der just know that this is a really awesome project, and your work is greatly appreciated.

[2020-02-11 06:21] #1015 closed

[2020-02-11 09:48] juexun opened #1019 "How to generate "Golang base64 Session Description""
Hi, I'm a newbie to pion.
 I run the examples with `go run examples.go` under `webrtc/examples`
While I tried the broadcast by accessed the url `http://localhost/example/js/broadcast/` on Chrome browser, I got the `Browser base64 Session Description`.
The question is how to generate the `Golang base64 Session Description`.
Could anybody help me?
Thanks a lot

[2020-02-11 11:34] at-wat opened #1020 "Support RTPSender.ReplaceTrack()"
In Web API, `Track` connected to `RTPSender` can be replaced without renegotiation.
For example, it is used to switch between front/rear cameras.
https://developer.mozilla.org/en-US/docs/Web/API/RTCRtpSender/replaceTrack

In the currently implementation, `Track` which is not bound to `RTPSender` returns error.
https://github.com/pion/webrtc/blob/2b212f8a7c4feed4621272bf8309637827e695cd/track.go#L1

[2020-02-11 21:15] Sean-Der commented on #1019
Hi @juexun

Thanks for checking out Pion! You can generate it by running `curl localhost:8080/sdp -d "Browser SDP"` then the broadcast binary will print it to stdout.

[broadcast](https://github.com/pion/webrtc/tree/master/examples/broadcast) has more documentation around it. Please re-open or reach out on Slack if you have more questions.

thanks

[2020-02-11 21:15] #1019 closed

[2020-02-11 21:15] #1014 closed

[2020-02-11 21:44] Sean-Der commented on #1020
* 👍 from me on ReplaceTrack, that would be really helpful
* Can we just have the caller ignore `io.ErrClosedPipe`? In the past users were confused why video wasn't showing up. They would create a `Track` and just expect it to work. By returning an error it helped users debugging a lot.

I do think we need to revisit the Media API entirely. This could be a good kicking off point. Stuff like we shou

[2020-02-11 22:32] gqgs opened #1021 "Incoming unhandled RTP/RTCP ssrc"
### Your environment.
  - Version: 2b212f8a7c4feed4621272bf8309637827e695cd
  - Browser: Chrome 78.0.3904.97

### What did you do?

Executed the [reflect example](https://github.com/pion/webrtc/tree/master/examples/reflect).

### What did you expect?

The browser to receive the video stream.

### What happened?
The browser didn't receive video stream.
`OnTrack` event handler in the server is never

[2020-02-11 22:52] #1021 closed

[2020-02-11 22:54] Sean-Der commented on #1021
Oof nice catch @gqgs! The example itself is incorrect, but the lack of re-negotation hid it from us.

Before we had a global list of transceivers and when a track arrived we would pull from them at anytime. So if you called `AddTrack` before a remote sent you a new RTP packet it would work.

Now we freeze the transceivers for each `SetRemoteDescription` and in reflect since we call `AddTrack` afte

[2020-02-11 22:55] Sean-Der commented on #1021
Thank you so much for catching + reporting :)

[2020-02-12 01:46] Sean-Der commented on #9
@paralin thanks I appreciate it :)

[2020-02-12 06:39] wattanakorn495 opened #1022 "Why is srflx raddr 0.0.0.0 ?"
### Your environment.
  - Version: v2.1.18
  - Other Information - ubuntu armv8 rk3399

### What did you do?

I try to connect browser client with gstreamer-receive client which runing on nanopi rk3399 board
but srflx raddr in the sdp answer always 0.0.0.0
### What did you expect?
should raddr be host addr ?
### What happened?
srflx raddr in the sdp answer always 0.0.0.0

ex:
a=candidate:foundatio

[2020-02-12 07:23] Sean-Der commented on #1022
This is by design! I don't know the exact spec, but for privacy reasons the raddr value is nulled out.

 WebRTC is trying to move away from host candidate IPs being available anywhere like [mDNS candidates](https://tools.ietf.org/html/draft-ietf-rtcweb-mdns-ice-candidates-04)

[2020-02-12 07:24] Sean-Der commented on #1022
I currently have mDNS candidates off by default, but they can be enabled via the `SettingEngine` they will fail in some networks where host candidates currently work.

[2020-02-12 08:21] Sean-Der commented on #1022
Hey @wattanakorn495 I am going to resolve this, please re-open if this is an issue/I didn't fully understand the problem!

I am getting ready to release `v2.2.0` and aggressively triaging stuff :)

[2020-02-12 08:21] #1022 closed

[2020-02-12 08:22] Sean-Der commented on #1009
Done!

[2020-02-12 08:22] #1009 closed

[2020-02-13 08:22] Sean-Der opened #1023 "Support DTLS fingerprints declared at the media section or global level"
We should look for fingerprints at both the media and global level. After parsing we should assert that they all match, and then move ahead.

Currently we only scan at the media level.

[2020-02-13 09:01] Sean-Der commented on #1023
This is actually implemented properly! We just need to add some tests

[2020-02-13 09:09] Sean-Der commented on #989
Sorry missed this @chrbsg!

The Media API is currently pretty annoying :( You need to instantiate a MediaEngine and then parse the PayloadTypes the other side is using when answering. For now I would generates offers, then the other side has to match Pion.

You can see when answering what you have to do [here](https://github.com/pion/webrtc/blob/master/examples/play-from-disk/main.go#L17-L40) I am

[2020-02-13 09:11] Sean-Der commented on #989
I am not sure about the ordering of `AddTrack` and `AddTransceiver` causing issues. They both should just be creating a sendrecv transceiver. Since this happens `pion-to-pion` I will whip up a test and get this fixed!

[2020-02-13 11:29] at-wat opened #1025 "Make Track an interface"
To deal with a MediaStreamTrack coming from an another package like pion/mediadevices, Track would be better to be an interface something like:
[code]
ref: https://github.com/pion/mediadevices/pull/39#discussion_r378651046

It might require a lot of breaking changes, so it would be a v3 matter.

[2020-02-13 11:33] at-wat commented on #1020
https://github.com/pion/webrtc/issues/1020#issue-563147171 is a kind of a workaround to do it on v2 API.
https://github.com/pion/webrtc/issues/1025 may be a better solution to implement `ReplaceTrack` easily.

[2020-02-13 15:41] RathanakSreang commented on #1019
@Sean-Der I also fact this issue.
And  I try follow your command above but it still does not work.

[2020-02-13 16:00] Sean-Der commented on #1019
@RathanakSreang are you running the curl command on the same computer you ran broadcast/main.go?

Thanks

[2020-02-13 16:09] RathanakSreang commented on #1019
@Sean-Der  Yes, I do. But the result i got is just HTML code instead.

[2020-02-13 16:13] Sean-Der commented on #1019
Something else is listening on :8080 then. Probably examples.go ? I would use the JSFiddle link in the broadcast README, and make sure nothing else is running.

[2020-02-13 21:54] gqgs opened #1026 "Regression in the number of outbound data"
### Your environment.
  - Version: e9d5bc5a92f3ff48977b5548bbd5acb9ff8dd6e1
  - Browser: Chrome 78.0.3904.97

### What did you do?

Executed the [reflect example](https://github.com/pion/webrtc/tree/master/examples/reflect).

### What did you expect?

Not sure yet which exact version produced the regression but back in version 20f2d1899ebbbdb3879444a03a7dc956a3b51126 the browser was still able to

[2020-02-13 22:01] Sean-Der commented on #1026
Thanks for the report @gqgs!

I will be able to look into this in about two hours. If you have the time trying a few different commits and getting it into a smaller commit range would be super helpful :)

thanks

[2020-02-13 22:03] Sean-Der commented on #1025
@at-wat :+1:, my goal is to publish a new release this weekend. Then feel free to break anything/everything you want in master :)

If you wouldn't mind adding stuff to https://github.com/pion/webrtc/wiki/PlanningV3 that would be really helpful. I want to make sure our new changes interact well with.
* Better Stats
* NACK
* Congestion Control
* SVC/Simulcast

All of these are hurt by the current AP

[2020-02-14 00:10] gqgs commented on #1026
Thanks for the reply @Sean-Der.

If I'm not mistaken the issue was already present in commit ce8de088e73c1dfe23e881448682ca0fcd82581b so it was something that changed between 20f2d1899ebbbdb3879444a03a7dc956a3b51126 and the aforementioned commit.
Unfortunately I have no way of bisecting this further at the moment but I will post any updates here as soon as I have the opportunity to look further in

[2020-02-14 01:53] Sean-Der commented on #1026
Hey @gqgs I can confirm https://github.com/pion/webrtc/commit/ce8de088e73c1dfe23e881448682ca0fcd82581b is the commit causing the issue. I am going to revert and will close this ticket with it.

Sorry for all the bugs you are hitting, but it really helps me :)

[2020-02-14 04:22] #1026 closed

[2020-02-14 09:43] at-wat opened #1029 "TestPeerConnectionTrickle failure on CI"
[code]
Infrequently happens on CI.
It seems like a race condition.

[2020-02-14 10:17] chrbsg opened #1030 "Wrong Payload type for audio tracks in Firefox"
### Your environment.
  - Version: 2.1.18
  - Browser: Firefox 59 Linux
  - Other Information -

### What did you do?

"Chrome  uses RTP payload type value 111, but Firefox uses 109. The PT is actually dynamically assigned, so it does not have to be 111, but pion by default ignores what the remote requests in SDP." (Yutaka)

### What did you expect?

Audio tracks should work in Firefox

### What h

[2020-02-14 10:19] chrbsg commented on #989
I opened #1030 to track the Firefox bug, since it now appears to have a different root cause to this AddTransceiver/AddTrack ordering issue.

[2020-02-14 10:25] chrbsg commented on #925
Just following up to @iansweeneysg above - the Chrome stream ID issue was caused by #989 and the "no audio in Firefox " issue was #1030.

[2020-02-14 12:54] gqgs commented on #1026
Thanks @Sean-Der :)

[2020-02-14 19:12] Sean-Der commented on #1029
I will take this!

I think we are calling `AddICECandidate` before we have a remote description. You have this same issue in the browser :( I just need to cache the candidates.

[2020-02-15 08:03] Sean-Der commented on #1023
Resolved by 6bb48a2a9243577e09c37a86bd146cd9cdb60697

[2020-02-15 08:03] #1023 closed

[2020-02-15 11:19] adwpc opened #1032 "Add RemoveTrack() api"
## Summary

https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/removeTrack

## Motivation

It will be useful for remove track which you want

[2020-02-15 14:07] #1032 closed

[2020-02-15 20:44] #1029 closed

[2020-02-15 20:45] Sean-Der commented on #755
Implemented by https://github.com/pion/rtp/commit/f7a712d0fb41baeacb3e2ef9ed68ed1aa42afb82

[2020-02-15 20:45] #755 closed

[2020-02-16 09:14] Sean-Der commented on #52
Closing since we have [awesome-pion](https://github.com/pion/awesome-pion) now! I have made sure everything on here has been moved to that repo.

[2020-02-16 09:14] #52 closed

[2020-02-17 13:59] illuspas commented on #1001
That's it, I also encountered this problem, Every time.

Version: v2.2.0

I created a H264 session, Then I use wireshark to capture packets.nThe received packets are as follows.
[code]

But in the debug output of my program, It returns from the second package
[code]
The 2578 package is missing,  And it must be the sps of h264.

[2020-02-17 16:13] nindolabs opened #1036 "Turn TCP Relay not working as expected"
### Your environment.
  - Version: v2.2.0
  - Browser: Chrome 80.0.3987.106

### What did you do?

Set ice server to **turn:192.168.1.27:3478?transport=tcp**

Turn server : coturn

Block UDP Protocol

### What did you expect? / What happened ?

When i block UDP protocol on the client side (chrome), the browser fallbacks to TCP relay as expected.

But when i do the same thing on the server side (pi

[2020-02-17 18:27] Sean-Der commented on #1036
Hey @nindolabs

I believe this is https://github.com/pion/ice/issues/118. If you do UDP + TCP it will block until all of them connect. We need to properly collect them async. If you do TCP only it should work.

I will be able to grab this in the next few days. Also make sure to enable Trickle ICE (via SettingEngine) otherwise CreateOffer/CreateAnswer blocks forever until everything is gathered. In

[2020-02-17 18:27] Sean-Der commented on #1001
This shouldn't be difficult to fix! I will grab.

[2020-02-18 10:25] nindolabs commented on #1036
Hello @Sean-Der

Thank you for your reply.

I tested TCP only (blocking UDP on both sides), unfortunately it fails to connect too, i also increased ping timeout + ice trickle but without success.

Logs

turnc DEBUG: 11:13:49.572868 client.go:109: turnServ: 192.168.1.27:3478
turnc TRACE: 11:13:49.572868 client.go:353: start Allocate request transaction WDzuNy7mTaqgw235 to 192.168.1.27:3478
turnc TR

[2020-02-18 16:09] lawl opened #1039 "TestPeerConnection_Renegotation_AddTrack failing sometimes"
### Your environment.
  - Version: a4353b3668055610a40d50d311cf5c6ddd01f486
  - Browser: n/a
  - Other Information - https://travis-ci.org/pion/webrtc/jobs/652037403

### What did you do?

When creating PR #1038 a the test-suite on travis failed and it had seemingly nothing to do with my change (add a method for users that's never used by pion itself).

After a force push with no changes, to trigg

[2020-02-18 21:44] Sean-Der commented on #1036
It looks the TCP allocation is being generated properly at least!
[code]

Does Chrome have access to `192.168.1.27`? Can you try running `tcpdump -i any udp` on 192.168.1.27  and see if Chrome is properly attempting to send UDP traffic in.

[2020-02-18 21:46] Sean-Der commented on #1036
I am going to fix https://github.com/pion/ice/issues/118 (which will help the original issue) but I am not sure why things aren't working now :/

[2020-02-18 22:03] nindolabs commented on #1036
Chrome has access to `192.168.1.27`, i see it in coturn logs.
 I'll try this week using webrtc native api to see if it's related to pion or coturn or something else.

[2020-02-21 21:03] cohosh opened #1043 "Expose the ability to set DTLS ciphersuites in the API"
## Summary

Right now there is no ability to set the list of DTLS ciphersuites in the WebRTC API. This feature would allow users to the specify the list of ciphersuites in the creation of a DTLSTransport, perhaps as an argument to the [NewDTLSTransport](https://godoc.org/github.com/pion/webrtc#API.NewDTLSTransport) function.

## Motivation

In our work for Snowflake, we desire the ability to choos

[2020-02-21 21:08] Sean-Der commented on #1043
@cohosh :+1: in support of this.

I brought up fingerprinting at the W3C, but didn't have much luck convincing people it matters. Does Tor have any membership in the W3C/people that can push for it there? I am all for adding it, I just don't want to diverge. Maybe I am being paranoid, but I know it has caused my frustration when other software adds 'extensions' to APIs/protocols they don't own.

F

[2020-02-21 21:15] cohosh commented on #1043
Nice! That's a good question, I'll ask and try to get back to you next week.

I also filed https://github.com/pion/dtls/issues/199 which would help with some more immediate issues we're having. I'm okay with this ticket being a longer-term goal. I didn't think about the `SettingEngine`. I'll take a look at that too, thanks!

[2020-02-22 06:47] Sean-Der opened #1045 "TestDataChannel_ORTCE2E timed out in PR"
[code]

[2020-02-23 12:32] adwpc opened #1046 "Get ssrc payloadtype from sdp"
## Summary

Get ssrc payloadtype from sdp

## Motivation

the subscribers in the sfu need to know the publisher's ssrc and payload so that they can AddTrack() to their peerconnection immediately without waiting and get from OnTrack()

[2020-02-26 17:32] Jorropo opened #1051 "Adding PeerConnection.OnICEGatheringFinish event."
## Summary

An event called once ICE gathering is finished.

## Motivation

The idea to be able to safely close the stream used to trickle when there no more ICE candidate to expect (my protocol wait for both nodes to finishing exchange, not only one).

## Describe alternatives you've considered

Registering OnICEGatheringStateChange and checking if state is completed, but that doesn't works or is

[2020-02-27 01:12] Sean-Der commented on #1051
I believe this is handled by `OnICECandidate` being called with a `nil` candidate. Taking to #1052 for further discussion.

[2020-02-27 01:12] #1051 closed

[2020-02-28 03:55] Sean-Der opened #1055 "When creating offers always put application first"
When calling `createOffer` always put application first.

During renegotation we properly iterate all media transceivers, and then we append application. This causes issues during renegotation because it breaks ordering.

Instead just put application at the top and we don't have to worry about preserving it's ordering.

[2020-02-28 07:17] Sean-Der commented on #1045
Haven't been able to reproduce, closing for now.

[2020-02-28 07:17] #1045 closed

[2020-02-28 07:19] Sean-Der commented on #1036
Hey @nindolabs

I have landed all the ICE improvements I have mentioned. If you use the latest master of `pion/webrtc` you will get everything. If you are still having issues please re-open! I would love to help you debug.

thanks

* [TLS and DTLS are now supported](https://github.com/pion/ice/commit/bf81fb51549b1492d3df583ca04ebbe8817b9e47)
* [ICE Gathering is fully async](https://github.com/pion

[2020-02-28 07:19] #1036 closed

[2020-02-28 07:20] #1055 closed

[2020-02-28 17:34] hendrikhofstadt opened #1058 "Ordering issues in SDP"
I was just about to report #1055 when I saw that @Sean-Der just fixed the issue.

However there are a couple of cases where this does not work:

1. When the browser creates the first offer, it might not put data first and the answer would break the ordering.
2. When the browser creates the first offer without data, any subsequent offer by the library will break the ordering.
2. When the browser cr

[2020-02-28 18:51] Sean-Der commented on #1058
@hendrikhofstadt Oof I didn't think about these at all. Currently the `createOffer` generation doesn't take into account the remote SDP at all.

Let me rework everything and come back to you. Would you be up for helping me write tests cases? You don't have to write any code, but I don't do any re-negotation myself in anything I built so am ignorant to all the things I need to handle :/

[2020-02-28 19:00] hendrikhofstadt commented on #1058
Thanks a lot for working on this.

I really appreciate the work you've done. This is an amazing piece of software, especially considering that there's little to no reference code / good doc out there beyond the official implementation.

I'd be happy to help you with test cases. Just ping me once you've done some initial refactoring.

[2020-03-01 01:38] enobufs commented on #1030
Here's a comment by @Sean-Der from the pion Slack channel:

[code]

@Sean-Der Although this solves for the moment, as some of the RTP payload types are "dynamically" assigned, I think the reassignment of the payload type should happen transparently to the user code. How about changing this issue title to something like "Support dynamic RTP payload type", then close the referencing issues as redund

[2020-03-02 10:26] chrbsg commented on #1030
Won't mediaEngine.PopulateFromSDP(offer) (_"finds all codecs in a session description and adds them to a MediaEngine"_) add support all the codecs that the peer supports, even if we don't? e.g. if the peer supports VP8, but we don't support video, then the mediaEngine will get VP8  codec added?  I don't know the exact impact of that, is it just for runtime checks for payload types in calls to func

[2020-03-04 20:33] asticode opened #1061 "Forward RTP packets to other tools (e.g. ffmpeg)"
Hey guys,

I'm having trouble forwarding RTP packets to ffmpeg and I wonder if you could point me to the right direction.

The whole WebRTC logic works very smoothly (your golang API is really nice btw) but ffmpeg doesn't seem to be able to parse the stream I'm trying to feed it.

I wonder if pion's RTP packets are forwardable at all...

I'm using [gortp](https://github.com/wernerd/GoRTP) to send

[2020-03-04 21:20] Sean-Der commented on #1061
Hey @asticode, thanks for checking out Pion!

* Are you sure it is H264 only. Did you create a `MediaEngine` that only allows H264? OnTrack is only firing once?
* I would just forward the raw H264 packets. The following is pseudo code, but should work.
[code]

* I would try GStreamer, a little easier to debug. Then come back to ffmpeg when this is working.
[code]

[2020-03-04 21:23] Sean-Der commented on #1061
@asticode If you are interested, it would also be SUPER helpful to have this an example application! `examples/rtp-forwarder`

It would forward a single H264 stream, and then we could print out the H264 ffmpeg should use. I am happy to help as well, then would love to share what you built in Slack/Twitter. I bet this is a really common thing people are trying to build :)

[2020-03-05 21:15] asticode commented on #1061
@Sean-Der thanks a bunch for the suggestions, I managed to make it work by simply UDP forwarding raw packets as you suggested. You're a life saver!

However now I need to find a way to generate automatically the `sdp` I provide `ffmpeg` depending on what the user is sending. Here's how I see things:

- parse the offer which is a `SessionDescription` => is there an exported function to parse the of

[2020-03-05 22:32] Sean-Der commented on #1061
For parsing you could use the SDP library that `pion/webrtc` uses! [Unmarshal](https://pkg.go.dev/github.com/pion/sdp/v2?tab=doc#SessionDescription.Unmarsha)l I think this will be more of a pain though.

I would look at the first RTP packet in `OnTrack` and then generate it by hand. You can use [Marshal](https://pkg.go.dev/github.com/pion/sdp/v2?tab=doc#SessionDescription.Marshal) or just do a str

[2020-03-06 21:16] jwhited opened #1063 "DataChannel.OnOpen() fires before ACK is received"
### Your environment.
Both peers are Pion
  - Version: 3b6c071107319fa10cb2299226d66d8786bbb3a2

### What did you do?
Opened a DataChannel between two peers and wrote data to it from the dialing side once DataChannel.OnOpen() fired. A `SettingEngine` with `DetachDataChannels()` is being used on both sides.

Dialing side:

[code]

### What did you expect?
Data was transported successfully

### What

[2020-03-07 03:37] Sean-Der commented on #1063
@jwhited Thanks for the report!

I don't think the issue is specific to detached, but maybe just timing related.

The fix is that we shouldn't consider the channel Open until [channelAck](https://github.com/pion/datachannel/blob/master/datachannel.go#L260-L262) is processed.

We should then add a `OnOpen` to `datachannel.DataChannel` that we fire when we get it. Then only `pion/webrtc` should fire

[2020-03-07 04:56] jwhited commented on #1063
I'll give it a shot @Sean-Der

[2020-03-08 04:19] Sean-Der commented on #1058
Thank you so much @hendrikhofstadt really appreciate the positivity! I feel really luck to work on this stuff, having people use it is very motivating and gives me a lot of purpose :) It is fun building stuff that people want.

Would you mind checking out https://github.com/pion/webrtc/pull/1065 ? I may have missed issues, but it covers the following (I believe)

1.) When answering we always try t

[2020-03-08 19:57] #1061 closed

[2020-03-09 04:29] #1058 closed

[2020-03-09 08:10] at-wat opened #1071 "TestOnICEGatheringStateChange is flaky"
[code]

[2020-03-09 15:26] at-wat commented on #1071
https://github.com/pion/webrtc/blob/912779df433afaacdca5770a32983b28f806ed03/icegatherer.go#L244-L246
State change callback in goroutine causes unstable behavior.

[2020-03-09 16:26] darwayne opened #1073 "Is it possible to add media to a data channel peer connection?"
Hey Guys,
I'm attempting to do the following:

### Flow
1. Setup a data channel that comes from browser
2. Use data channel as signaling
3. Add [perfect negotiation logic](https://blog.mozilla.org/webrtc/perfect-negotiation-in-webrtc/) on both sides.
   - of course can't use the `OnNegotationNeeded` event from the pion side since that isn't supported yet
4. Add an audio track from the browser to t

[2020-03-09 16:28] Sean-Der commented on #1073
Hey @darwayne

That should be possible! Did you add Transceivers on the receiver side? Every time you want to send something you need to add a Transceivers on the Pion side (or the browser side if Pion is sending)

[2020-03-09 16:30] at-wat opened #1074 "TestPeerConnection_RoleSwitch fails"
https://travis-ci.org/pion/webrtc/jobs/660184903
It fails again on rebuild.
[code]

[2020-03-09 16:32] darwayne commented on #1073
ahh thanks for the quick response @Sean-Der that may be the problem 🤔 I have an initial transceiver set on the pion side, but browser does not connect with transceiver set it adds it after the fact. think I will dig into this logic some more thanks for the tip!

[2020-03-09 17:12] at-wat commented on #1074
It also fails on i386 Go 1.12.
Seems not Go 1.13 specific.
https://travis-ci.org/pion/webrtc/jobs/660251538

[2020-03-09 17:15] Sean-Der commented on #1074
So frustrating. It landed and was fine for a few days, and just started flaking -_-

Will dig into it @at-wat !

[2020-03-09 19:44] mobistor opened #1075 "The second video in the gstreamer-send example"
How to write a corrent pipeline string for the second video in the gstreamer-send example? any hint?

[2020-03-09 20:59] Sean-Der commented on #1073
Of course! Always happy to help. I am also available on [Slack](https://pion.ly/slack) and will be faster responding (and you get a lot of other people).

You do need to add the transceiver before you do any signaling, or you can re-signal!

[2020-03-09 21:09] Sean-Der commented on #1073
I would also check out our `save-to-disk` and `play-from-disk` examples, those might be helpful! I am going to close this for now, but please re-open if there is a bug.

Also if you have suggestions on how to make the library easier to use I would love to hear! Always trying to make things better.

thanks

[2020-03-09 21:09] #1073 closed

[2020-03-10 07:32] #1071 closed

[2020-03-10 13:52] at-wat commented on #1039
It can be reproduced locally by running the test a lot of times.

On success,
[code]

On failure,
[code]

[2020-03-10 15:29] at-wat commented on #1039
`pc.startRenegotation()` is called before finishing `pc.dtlsTransport.Start()`.

[2020-03-10 15:35] at-wat commented on #1039
I think this block
https://github.com/pion/webrtc/blob/be9fde1fd3cfad91450f1d090b84afe119405c76/dtlstransport.go#L238-L289
should be continuously locked.
And/or other APIs using DTLS/SRTP/SCTP should return error if `pc.dtlsTransport.Start()` is not completed.

@Sean-Der Will you take this issue?

[2020-03-10 16:36] ababo opened #1076 "Streaming to latest Safari and Firefox on OSX."
The `gstreamer-send` example doesn't work with latest Safari and Firefox. Indeed, there's no video on Safari and both video and audio on Firefox. Running on OSX 10.15.3.

[2020-03-11 07:00] at-wat commented on #1039
@Sean-Der feel free to take this issue if you want!

[2020-03-11 07:16] Sean-Der commented on #1039
:+1: really sorry for burning your time on this :( I will get this fixed tonight!

I don't ever want to be a blocker on your work, so if you ever feel I am slowing down the project please drive it any way you see fit.

[2020-03-11 14:09] chrbsg opened #1078 "pion offer contains "a=rtpmap:111 OPUS" not "a=rtpmap:111 opus""
### Your environment.
  - Version: github.com/pion/webrtc/v2 v2.2.3
  - Browser: none
  - Other Information -

### What did you do?
Create an offer in pion

### What did you expect?
Offer to contain `a=rtpmap:111 opus/48000/2`. This was the case in pion-v2.1.19.

### What happened?
Offer had line `a=rtpmap:111 OPUS`.
I'm not sure if using uppercase OPUS is a real bug / incompatible with the specif

[2020-03-11 17:45] Sean-Der commented on #1078
This came from 20f2d1899ebbbdb3879444a03a7dc956a3b51126

I can downcase it though if it causing issues! As long as we don't break the case insensitive media matching, I don't care what we put in the SDP.

thanks for reporting, you do a great job of catching stuff :)

[2020-03-13 04:08] Sean-Der commented on #1063
Hey @jwhited

Anyway I can help with this? If you don't have the bandwidth I am happy to take it on

[2020-03-13 17:55] jwhited commented on #1063
@Sean-Der ended up moving to a reliable dataChannel design for other reasons and this is no longer an issue due to timing changes and/or retrans. I may not have time in the short term to get a PR in, feel free fix it

[2020-03-14 07:03] #1078 closed

[2020-03-14 07:07] Sean-Der commented on #1039
Fixed by 825b5e41f7bc12863e08e443c22f3803af147f3c

The issue was that we would process `RemoteDescription`s concurrently. We know how hold a lock and make sure they are processed sequentially.

[2020-03-16 16:21] adwpc opened #1081 "pc ERROR: 2020/03/16 23:58:13 Incoming unhandled RTP ssrc(1858531374)"
### Your environment.
  - Version: *v2.2.2*
  - Browser: chrome 80.0.3987.132

#### my chrome sdp
[code]
### What did you do?
i found the bug by adding some log in peerconnection.go

the adding log code:
[code]

the log:
[code]
### What did you expect?
I think startRTPReceivers didn't pull the right ssrc stream, instead it pull the rtx ssrc stream, and drainSRTP pull the right ssrc stream and disc

[2020-03-17 08:19] codenoid opened #1082 "module declaration error"
### Your environment.
  - Version: github master
  - Browser: -
  - Go Version: go version go1.14 linux/amd64

### What did you do?
I'm trying to install pion/webrtc with go.mod

### What did you expect?
successful go get

### What happened?

[code]

this is so confusing for novice like me, how can i get latest pion/webrtc from `go get` ?

[2020-03-17 08:22] Sean-Der commented on #1082
Hey @codenoid can you try doing `github.com/pion/webrtc/v2`

We renamed from `pions` -> `pion` and unfortunately this broke our history. thanks!

[2020-03-17 08:28] #1082 closed

[2020-03-17 16:14] adwpc opened #1083 "RTX support"
## Summary
I think `RTX` feature cat fix this bug:
#1081

## Motivation

webrtc use rtx to send packet when it receive nack.
rtx use different ssrc and payload type
It make bandwidth and lost packet rate calculation more precisely.

[2020-03-19 07:01] pradeep538 opened #1084 "How to use gstreamer webrtcdsp for noice,echo cancellation"
## Summary

One paragraph explanation of the feature.

## Motivation

Why are we doing this? What use cases does it support? What is the expected outcome? Is this available in other implementations? Can this not be implemented using primitives?

## Describe alternatives you've considered

A clear and concise description of the alternative solutions you've considered.

## Additional context

Add an

[2020-03-19 07:03] Sean-Der commented on #1084
Hey @pradeep538

https://github.com/pion/example-webrtc-applications/tree/master/gstreamer-receive demonstrates how to playback media using GStreamer. You can modify this to insert `webrtcdsp`.

`pion/webrtc` just worries about transport. Media coding isn't something we will ever handle.

thanks for checking out Pion! If you have further questions I am also on [Slack](https://pion.ly/slack) and ha

[2020-03-19 07:03] #1084 closed

[2020-03-19 07:13] pradeep538 commented on #1084
Thanks for the replay,
Unbelievable ! got reply before i write the discription.
But I am novice in gstreamer it would be helpful if you provide an example

Thank You.

[2020-03-19 07:34] Sean-Der commented on #1084
Do you want to use those elements for sending or receiving? I can get an example together!

[2020-03-19 08:11] Sean-Der commented on #1084
Oh I see! Didn't noticed you edited the description :)

[webrtcdsp](https://gstreamer.freedesktop.org/documentation/webrtcdsp/webrtcdsp.html?gi-language=c) does have quite a few properties you can set. I don't have advice on what the best things to set are though :/

you can do that like `-audio-src "autoaudiosrc ! webrtcdsp experimental-agc =true"`

Does the microphone sound worse then if you had

[2020-03-19 08:27] pradeep538 commented on #1084
@Sean-Der Thanks again for the reply,
i was using gstreamer-send example.
I dint know that i need to use **experimental-agc =true**  I will try your suggestion and Actually am using [respeaker](http://wiki.seeedstudio.com/ReSpeaker_2_Mics_Pi_HAT/) module with a raspberry pi so I have to use pion with GStreamer to send camera feed and mic audio to peer, for peer am using flutter Android/IOS  from p

[2020-03-19 12:11] HusniMic opened #1085 "API or SDK for Video conferencing"
Hi,

I am going to build an application whose one of its features is the online video conferencing between a large number of users. The windows-based app will be developer by C#.net.

In Your opinion, What is the best way to proceed ?

do you know any good related API or SDK?

Thanks

[2020-03-19 18:28] #1085 closed

[2020-03-20 05:24] opennota opened #1086 "IVFReader doesn't work when reading from e.g. a network connection"
`IVFReader` doesn't work when it reads from an `io.Reader` which is not an `os.File`, because `Read` calls aren't guaranteed to fill all the supplied buffer and the data can arrive in chunks.

[2020-03-20 05:34] at-wat commented on #1074
It still fails sometimes.
https://travis-ci.org/github/pion/webrtc/jobs/664710463 (restarted)
[code]

[2020-03-20 07:53] longsleep commented on #1083
Like shown in #1081 `ssrc-group:FID` (RTX) SDP lines are currently not handled and thus the extra RTX `ssrc` entries are treated incorrectly as a track in https://github.com/pion/webrtc/blob/master/sdp.go#L23-L56

Since an not existing extra track is returned, this leads to an wrongly started RTPReceiver if the order of all tracks in the SDP is so that a receiver for the wrong kind gets skipped ea

[2020-03-20 10:38] #1086 closed

[2020-03-22 05:56] notedit opened #1090 "pion can not talk to iOS native SDK with h264 support"
### Your environment.
  - Version: *Release or SHA*

v2.2.2

  - Browser: *include version*

iOS latest native sdk from cocopod.

  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*

There are at least two things to fix:

1, iOS SDK can not handle h264 profile-level 42001f
2，some other sdp mismatches

### What did you do?

make an iOS SDK tal

[2020-03-22 07:48] #1081 closed

[2020-03-22 08:07] at-wat commented on #1074
It is reproduced locally by increasing CPU load.

[2020-03-22 08:15] at-wat commented on #1074
[code]
[code]

[2020-03-22 08:50] at-wat commented on #1074
As the order of function execution of multiple goroutine is not guaranteed, `startRenegotation` can be called before `startTransports`.

[2020-03-22 15:36] notedit commented on #1090
dig a bit, it has two issues:

1,  profile-level does not match
2, payload type does not match

[2020-03-23 06:53] at-wat commented on #1074
@Sean-Der Still there is an another race condition related to this and https://github.com/pion/webrtc/issues/1039.
https://api.travis-ci.org/v3/job/665723204/log.txt
[code]
Close can be called before `t.conn = dtlsConn`
https://github.com/pion/webrtc/blob/4cb3b1a7c66816d96b4d385c9dd8675c59efdd00/dtlstransport.go#L280-L295

I'm still thinking that it's better to take lock during `dtls.Client` and `

[2020-03-23 07:07] Sean-Der commented on #1074
:+1: all for that change! sorry we didn't do it sooner. I assumed the only bug was the poor implementation around re-negotiation.

One thing that does concern me is that that `pion/dtls` might not be respecting nextConn being closed. When `Close` is called we close the ICE agent, this should flow downstream to DTLS. It is strange to me that it is deadlocking.

This might be effecting others users

[2020-03-23 07:13] at-wat commented on #1074
In this race condition, `DTLSTransport` just skips calling `dtlsConn.Close()` as it is not yet set, so there is no deadlock.

[2020-03-23 07:17] Sean-Der commented on #1074
Is `ICETransport` is closed? Originally I had thought [this](https://github.com/pion/dtls/blob/master/conn.go#L583) would return an error, then we can depend on that tearing down the `*dtls.Conn`

[2020-03-23 07:26] at-wat commented on #1074
I haven't checked `ICETransport` condition.

The problem is happens in the following sequence
1. main routine: `PeerConnection.startTransports()` is called
    - start sub routine
2. sub routine: `DTLSTransport.Start()` is called
3. main routine: `PeerConnection.startTransports()` ends
4. sub routine: `dtls.Client()` or `dtls.Server()` is called
5. main routine: `PeerConnection.Close()` is called

[2020-03-23 07:35] at-wat commented on #1074
Logically, `PeerConnection` and `DTLSTransport` is causing this problem. It should be independent from `ICETransport`.

[2020-03-23 07:47] Sean-Der commented on #1074
The `dtlsEndpoint` *should* be closed though https://github.com/pion/webrtc/blob/master/dtlstransport.go#L281 so that means anything reading from it will fail.

So I would hope by [closing the iceTransport(https://github.com/pion/webrtc/blob/master/peerconnection.go#L1385-L1389) that `dtls.Client()` or `dtls.Server()` would then return. Internally the `dtlsEndpoint` that was given to `pion/dtls` i

[2020-03-23 07:58] at-wat commented on #1074
Ah, I got what you concerned.
In short, it is caused because `ice.Conn` is not compatible with `net.Conn` at now.

`dtls` now expect that underlying `Conn` implements `SetReadDeadline` to make implementation of the asynchronous operations clean.
`ice.Conn` currently doesn't properly implement `SetReadDeadline`.
I recently added full spec `SetReadDeadline` to `transport/packetio.Buffer`, so it's ve

[2020-03-23 08:14] at-wat commented on #1074
https://github.com/pion/dtls/pull/233

[2020-03-23 08:23] #1074 closed

[2020-03-23 16:20] mlgarrido commented on #1076
Same problem here. Working on chrome -> chrome, firefox -> chrome, safari -> chrome, but never play on safari or firefox. Working on Android mobile too, but same problem on ios (chrome or safari).

[2020-03-25 05:44] at-wat opened #1098 "Add option to set SRTP/DTLS replay protection window"
`pion/srtp` and `pion/dtls` supports replay protection now.
Currently the window size is fixed to the recommended values specified in RFCs.
Better to have options to set it, maybe via `SettingEngine`.

[2020-03-26 10:38] lumenier1 opened #1102 "webcam broadcasting"
## Summary

Broadcast webcam stream from server to browser.

## Motivation

This feature definitely should be in examples section.
It has many use cases: from home security control to live video streaming.
Nowadays it's a must have feature.

## Alternatives

Alternatives: Python ([aiortc](https://github.com/aiortc/aiortc)), Java ([Kurento](https://www.kurento.org)), linux-projects ([UV4L](https://

[2020-03-26 23:43] at-wat opened #1103 "Data race in TestPeerConnection_Renegotation_RemoveTrack"
[code]
Go: 1.14 https://travis-ci.org/github/pion/webrtc/jobs/667158306

[2020-03-27 09:08] newzai opened #1105 "Setting Data Channel is Open"
- in PeerConnection , the data channel now is default open.  some time , I don't datachannel,

I  want a  api to Close the data channel when CreateOffer or CreateAnswer

[2020-03-28 01:12] porjo commented on #1102
Check out https://github.com/pion/example-webrtc-applications for more examples. This one may do what you need:
https://github.com/pion/example-webrtc-applications/tree/master/gstreamer-send

[2020-03-28 01:16] porjo commented on #1075
Can you provide more information? What video are you referring to - do you mean the second example usage in the README?

[2020-03-28 03:13] at-wat commented on #1102
Another way to capture video without gstreamer and send by pion/webrtc is provided by https://github.com/pion/mediadevices

[2020-03-28 10:41] lumenier1 commented on #1102
Thank you!

Thanks! But there is some problem:
<img width="862" alt="go-pion-mediadevices-get" src="https://user-images.githubusercontent.com/23046497/77821209-6c0a3f80-70f9-11ea-8aeb-db928017aa87.png">

---

Why docs are so scattered?

[2020-03-28 14:32] at-wat commented on #1102
First error is due to mismatch of the dependency version.
Go modules is required to be enabled.
Other errors mention that required libraries are missing. In this case, `libopus-dev` and `libvpx-dev` should be installed.

`pion/webrtc` is kept to be pure Go library.
Examples using media capture and encoding require CGO and external libraries/tools; they can't be in `pion/webrtc`.

[2020-03-28 14:41] lumenier1 commented on #1102
Could you please add required installation process in readme file?

[2020-03-28 22:15] #1103 closed

[2020-03-28 22:18] Sean-Der commented on #1105
Hey @newzai thanks for using Pion :)

I might be missing your question, but can you call [Close](https://pkg.go.dev/github.com/pion/webrtc/v2?tab=doc#DataChannel.Close) on the DataChannel?

[2020-03-29 19:22] #1098 closed

[2020-03-29 19:39] #1090 closed

[2020-03-29 21:42] edwinhayes opened #1110 "Regression: v2.2.x stuck in CookieWait."
### Your environment.
  - Version: v2.2.4 & v2.2.1 at least.
  - Browser: Safari 13, Chrome 80

Upgrading from v2.1.0 to v2.2.x breaks my application.

On Pion WebRTC v2.1.0, the app receives an offer via signalling, adds a single H264 video track, sends the answer back, then finds a connection (either relayed or locally) and starts playing video.

On v2.2.x, it sets up the connection, but then se

[2020-03-29 21:53] Sean-Der commented on #1110
Hey @edwinhayes

Can you double check that you are not doing any PeerConnection modification after signaling?

Some applications were broken by re-negotiation. Because they were calling AddTrack/AddTranscevier before SetRemoteDescription. One of our examples had the same bug https://github.com/pion/webrtc/commit/8c7bd6670689d07a11a9893ce3cfc39f11aa8a77

[2020-03-29 21:53] Sean-Der commented on #1110
That message is for SCTP, so possibly could related! But seems unlikely.

[2020-03-29 21:54] Sean-Der commented on #1105
Hey @newzai hopefully this fixed your issue!

If you are still having problems feel free to re-open the issue. I am also available on [Slack](https://pion.ly/slack) if I can be helpful.

thanks

[2020-03-29 21:54] #1105 closed

[2020-03-29 22:01] edwinhayes commented on #1110
Hmm, yes, in both cases I was only adding the track after calling `SetRemoteDescription`, though before creating my answer.  If I change the order around then v2.2.4 works as well.

1. Why does this behaviour change between v2.1 and v2.2?
2. Why is this ordering important?  What does the addition of a track locally have to do with setting the remote description?

[2020-03-30 08:17] rostopira opened #1111 "[FR] Support gomobile bind"
## Summary

I want to use it in native iOS project as a library, however it seems to not be possible, cause usage of `byte` which is unsupported by gobind: https://github.com/golang/go/issues/31670

## Describe alternatives you've considered

Native WebRTC from chromium - is a total hell to build

## Additional context

Logs?
[code]

[2020-03-30 08:26] Sean-Der commented on #1111
Oof that is a pain :/

This sounds like something we should get involved and fix upstream? We pretty extensively use byte across all our packages. Would it be possible to write a shim API on your side, and then we can cast internally?

I have never use gomobile, so not really familiar and don't have a Mac to test myself :( I can get something going in QEMU/VirtualBox though!

[2020-03-30 08:27] Sean-Der commented on #1111
But this is a use case that is super promising! Especially for DataChannels. There are other users that are doing mobile though, not sure how though?

[2020-03-30 08:45] rostopira commented on #1111
I'm not familiar with go, actually, just thought it would be easier to build and add some Obj-C code via gobind than build from googlesource.

Yeah, maybe, but I'm not sure it will worth it. I thought, maybe there is an easier solution, will try few ideas

[2020-03-30 13:55] fletcherist opened #1112 "Question: audio RTP broadcasting breaks safari"
### Your environment.
  - Version: v2.2.3
  - Browser: Chrome 71, Safari 13.1

### What did you do?
Heya! I'm trying to implement many-to-many open-source voice chat like Discord. My current approach is to broadcast incoming RTP packets to all other clients. Here's an implementation
[code]
It works fine in Chrome for many simultaneous connections, however it breaks Safari (no audio, microphone wor

[2020-03-30 14:05] nindolabs opened #1113 "Microsoft Edge Prechromium not working"
### Your environment.
  - Version: v2.2.3
  - Browser: Microsoft Edge (Win 10 build 1903)

### What did you do?
Pion server (CreateOffer) to Edge client.

### What did you expect?
Connects

### What happened?
Fails to connect : Error in edge js scripts =>
0: Unable to get property 'state' of undefined or null reference rtcpeerconnection.js (1016,1)

[2020-03-30 14:41] at-wat commented on #1112
The audio stream is encoded usually by OPUS codec in WebRTC.  Each frame of the stream has specific frame duration for example 20ms.
So, if multiple RTP streams are simply multiplexed using single SSRC like your example, there is too many duration of the audio signal more than realtime. (for example 40ms of the signal arrives per 20ms; it can't be played correctly.)

As the input audio streams are

[2020-03-30 15:03] at-wat commented on #1112
FYI, in https://github.com/pion/mediadevices, we use Go wrapper of libopus https://github.com/lherman-cs/opus (fork of https://github.com/hraban/opus).

https://github.com/pion/mediadevices/blob/master/pkg/codec/opus/opus.go
This code only uses the encoder, but using the decoder is also very easy.

[2020-03-30 15:16] fletcherist commented on #1112
@at-wat thank you for clear explanation! now it's clear to me what's the matter with safari)

By the way, what do you think is it a good idea if i will add/delete new audio tracks dynamically with renegotiation as user join/leave and handle audio mixing on the client side by using Web Audio API?

[2020-03-30 15:17] fletcherist commented on #1112
This code only uses the encoder, but using the decoder is also very easy.

wow thanks will dive into it right now

[2020-03-30 15:36] at-wat commented on #1112
I think it depends on your system structure (with server or server-less) and the number of the maximum users.

Mixer implementation is simillar to WebRTC SFU. The simplest implementation may need a server machine (or cloud instance) at somewhere.
(It maybe possible to select one of the participants and make that one server, but the system will be complex and handling on the leaving of host peer is

[2020-03-31 13:22] fletcherist commented on #1112
thanks a lot for help! will try implement MCU pattern then. will close this for now!

[2020-03-31 13:22] #1112 closed

[2020-04-01 19:15] #1113 closed

[2020-04-01 19:49] sorushsaghari opened #1117 "can not install"
### Your environment.
  - Version: *Linux 5.3.0-45-generic #37-Ubuntu SMP Thu Mar 26 20:41:27 UTC 2020 x86_64 x86_64 x86_64 GNU/Li
go version go1.14 linux/amd64

*
  - Browser: *include version*
  - Other Information - *go: github.com/pion/webrtc upgrade => v1.2.0
go get: github.com/pion/webrtc@v1.2.0: parsing go.mod:
	module declares its path as: github.com/pions/webrtc
	        but was required

[2020-04-01 20:37] longsleep commented on #1117
You probably want v2.

So try `go get github.com/pion/webrtc/v2`

[2020-04-02 06:55] jeremija commented on #925
I believe I ran into a similar issue with Firefox, but I'm only streaming video.

The video streams when the server creates the initial offer and receives the video from the browser, and then sends back a copy of the track. However, when initial offer is created client-side and I send a copy of the track back to the client, the video does not play in Firefox, but does in Chrome.

It appears Firefo

[2020-04-02 13:59] #1117 closed

[2020-04-02 13:59] sorushsaghari commented on #1117
could you please ad it into documentation

[2020-04-03 19:40] audiolion opened #1121 "SessionDescription candidates are duplicated when calling LocalDescription() / CurrentLocalDescription() / PendingLocalDescription()"
### Your environment.
  - Version: v2.2.4

### What did you do?
Reproducible example:
[code]

`LocalDescription()` / `PendingLocalDescription()` /  `CurrentLocalDescription()` all call the [same code path](https://github.com/pion/webrtc/blob/31e3a1a6ac7ca66a3b4a1a741be79611fe7135e0/peerconnection.go#L1431) so a fix there should resolve them all.

### What did you expect?

SDP offers to match

###

[2020-04-03 21:51] Sean-Der commented on #1110
Sorry missed this!

1.) `v2.2` added re-negotiation. So your list of Transceivers is tightly coupled with last call to the signaling APIs.

2.) So before we kept all our transceivers in a global list. If at anytime you got a new inbound track we would accept it if you had enough receivers. Now we have a list that is only updated for every call to `SetRemoteDescription`.

Please re-open if you thin

[2020-04-03 21:51] #1110 closed

[2020-04-03 23:51] Sean-Der opened #1122 "OnTrack is incorrectly fired for the same ssrc multiple times"
I am opening a PR for this now, but a user reported that called re-negotiation multiple times with the same SSRC would cause duplicated calls to OnTrack to happen.

[2020-04-04 02:39] #1122 closed

[2020-04-04 04:43] alinz commented on #1111
I've been using this project inside my side project, and it seems working pretty fine, what I have done to compile it is directly compile it to framework.

Here's the command that I've been using inside a package that I want build for ios

[code]

[2020-04-04 08:33] at-wat opened #1127 "TestPeerConnection_GetStats is flaky"
[code]

[2020-04-04 16:40] Esser420 commented on #1076
Funny because h264 video only works on firefox and safari but not chrome :(

[2020-04-05 05:51] #1121 closed

[2020-04-06 09:35] rostopira commented on #1111
@alinz thanks, I think, this closes the issue
Just in case, maybe you know how to create framework for tvOS/watchOS ?

[2020-04-06 09:35] #1111 closed

[2020-04-07 10:27] at-wat commented on #1127
dump of the failure case
[code]

[2020-04-07 20:49] #1127 closed

[2020-04-09 02:21] illuspas commented on #1001
Any updates? I figured out what the problem was.

In this step, a packet of RTP data is read to get the PayloadType
https://github.com/pion/webrtc/blob/b0d95d59dacc18ccee71e24aa639765e22550ae2/peerconnection.go#L787
Then use it to get codec from mediaEngine.
https://github.com/pion/webrtc/blob/b0d95d59dacc18ccee71e24aa639765e22550ae2/peerconnection.go#L800

As a result, the first packet of data is

[2020-04-09 09:20] Esser420 opened #1133 "Implement an oggreader, and update play-from-disk to use it."
## Summary

Have an example of how to stream just audio (either from file or microphone)

## Motivation

There are already examples on how to stream purely video, so it would be nice to have the same for audio. I'm pretty sure this is possible already and is therefore not a new feature per-se.

The example holds value for applications that get their video stream separately from their audio stream.

[2020-04-09 13:44] normanr commented on #853
What's the expect action to take if a DataChannel.Send() fails due to connection failure? (`sending payload data in non-established state: state=Closed`). Should that DataChannel 'heal' once the connection state goes back to connected? or should the calling code Close() the channel, and reopen a new one?

[2020-04-09 14:15] jeremija opened #1134 "Remote Track ID and Label are blank for answers using Unified Plan, and sometimes after renegotiation"
I have a fix ready and am going to open a pull request associated with this issue. Would greatly appreciate feedback!

### Your environment.
  - Version: 364d0de
  - Browser: Firefox and Chrome
  - Other information: please see below

### What did you do?

This happens in two cases:

1. I initiated a peer connection from server to Chrome or Firefox. Both of them default to unified plan and no long

[2020-04-11 02:48] #1046 closed

[2020-04-12 06:27] at-wat commented on #1039
This still happens.
https://travis-ci.org/github/pion/webrtc/jobs/673755936
[code]

[2020-04-12 06:32] Sean-Der commented on #1039
This looks like a timeout in DTLS, possibly different?

Also interesting thing is I see server frames (but no client ones) maybe reading the trace wrong!

[2020-04-12 07:14] enobufs opened #1138 "OnICECandidate emit another candidate after a nil"
### Your environment.
  - Version: v2.2.0 and current HEAD (f4f8299)

### What did you do?
Just connecting to another pion node on the same local interface.

### What did you expect?
The last OnICECandidate callback to be reporting nil.

### What happened?
OnICECandidate reports one more non-nil candidate after reporting the nil.

[code]

It appears that pc.LocalDescription contains the candidate

[2020-04-12 07:18] Sean-Der commented on #1138
https://github.com/pion/ice/pull/168 we did land a fix to try and fix this!

The root issue is that goroutines may not fire in the order they were created, so we fire them in a queue now. Somewhere in the stack we might still be doing this. I can look at this soon, just doing H264 RTP Unmarshal tonight :)

[2020-04-12 07:25] enobufs commented on #1138
@Sean-Der OK - Great!

[2020-04-12 17:16] at-wat commented on #1039
hmm, dtls handshaker routine must be always existing unless the connection is closed or handshake is errored, but client side handshaker seems not there. That's strange.

[2020-04-13 03:17] AVFoundation opened #1139 "webrtc neteq and bitrate controller"
## Summary

the neteq and bitrate controller

## Motivation

I wanna use the pion to replace the c++ webrtc library, but I don't see any code about the bitrate controller or neteq module. Do you have any plans about that?

[2020-04-13 03:20] Sean-Der commented on #1139
@AVFoundation Right now users implement it themselves, you can see it in `pion/ion`

I do have plans to add a JitterBuffer and Congestion Control itself to the library, but we need to make it opt-in. I have started to write about this [here](https://github.com/pion/webrtc/wiki/PlanningV3) and [here](https://github.com/pion/webrtc/wiki/MediaAPI).

For many users bitrate controller doesn't make sens

[2020-04-13 04:14] AVFoundation commented on #1139
thank u

[2020-04-13 04:14] #1139 closed

[2020-04-14 03:48] cretz commented on #1020
Are there any plans to implement this in v2 (or is v3 coming anytime soon)? I am considering adding it myself and have not dug into the specs, but any idea what `ReplaceTrack` look like? I see [the spec](https://w3c.github.io/webrtc-pc/#dom-rtcrtpsender-replacetrack) but I fear details like checking whether renegotiation is needed and what "switch seamlessly" entails.

[2020-04-14 04:15] at-wat commented on #1020
@cretz  I don't have specific plan yet. It's very helpful if you can dig into this.

MDN said:
https://developer.mozilla.org/en-US/docs/Web/API/RTCRtpSender/replaceTrack

[2020-04-14 06:42] #1134 closed

[2020-04-14 09:37] normanr commented on #1063
I'm coming across this too (and I'm not using detached channels). Is it because of the lack or ordering or lack of reliability (or both)?

[2020-04-14 10:12] normanr commented on #1063
heh, pion/datachannel DataChannel.handleDCEP has a TODO for channelAck: referencing https://tools.ietf.org/html/draft-ietf-rtcweb-data-protocol-09#section-5.2. Note that messages may be sent before before ACK is received, but must be sent ordered.

also as part of this: SCTPTransport.acceptDataChannels triggers OnError, but nothing is subscribed to it (and external parties can't because pion/webrt

[2020-04-14 16:27] jbert commented on #494
Hi. In our testing, we see that setup:passive is now the default if the settingengine is not used.
i.e. we see:

offer (setup:actpass)
pion/webrtc: answer (setup:passive)

This is permitted by the RFC, but not recommended due to potentially added latency.
I haven't tried to quantify any additional latency, but this change does break interop with a latency-sensitive client (using the settingengine

[2020-04-14 20:54] Sean-Der commented on #494
We should totally match the RFC!

If you want to update the value and add a link to the RFC it is an instant merge from me :)

[2020-04-16 20:18] enobufs opened #1143 "pc.LocalDescription() does not contain "a=candidate""
### Your environment.
  - Version: v2.2.0 (ice v0.7.8)

### What did you do?
Investigating an issue with connectivity between two pion nodes began occurring after I enabled trickle ICE with pion to avoid pc.CreateOffer() and pc.CreateAnswer() blocking calls.

For compatibility with the remote side (non-trickled) implementaton, actual SDP is not "trickling", but wait for nil from OnICECandidate() c

[2020-04-16 20:19] Sean-Der commented on #1143
This is super easy to fix!

https://github.com/pion/webrtc/blob/master/peerconnection.go#L712 just needs to include a call to `populateLocalCandidates` like [this]( https://github.com/pion/webrtc/blob/bd6c5cbc71fc401eac3cd158c97586a79f92d34e/peerconnection.go#L1457)

[2020-04-16 20:20] Sean-Der commented on #1143
I can fix this tonight! (not on a computer with any Go dev stuff right now) also happy to approve a PR right away :)

[2020-04-16 20:26] enobufs commented on #1143
Oh great - let me see if I can find time tonight. If so, I will ping you!

[2020-04-17 09:52] jeremija opened #1144 "Unable to renegotiate when trickle is enabled"
### Your environment.
  - Version: 035b2d5
  - Browser: N/A

### What did you do?

I tried to renegotiate when trickle is enabled. The `PeerConnection#SetLocalDescription` returns an error: `attempting to gather candidates during gathering state`.

Sample failing test case: https://github.com/jeremija/pion-trickle-error/ (with and without trickle enabled).

### What did you expect?
I expected `Set

[2020-04-17 12:52] mrostamii opened #1145 "data-channels source problem"
Environment:
  - Version: go version go1.14.1 windows/amd64

I was going to test the pion data-channel but I realized that the source you mentioned [here](https://github.com/pion/webrtc/tree/master/examples/data-channels) has corrupted.

I have tried:
[code]

After that, I checked "[github.com/pion/webrtc/v2/examples/data-channels](github.com/pion/webrtc/v2/examples/data-channels)" then deduced th

[2020-04-17 17:46] Sean-Der commented on #1145
Hey @mrostamii

I had the same issue until I set `export GO111MODULE=on` then it worked! If you are interested it would be really helpful if you could open a PR and put `GO111MODULE=on go get github.com/pion/webrtc/v2/examples/data-channels` in all the READMEs :)

[2020-04-17 20:09] mrostamii commented on #1145
Thank you. I got through the problem.

The `GO111MODULE=on` isn't recognized by PS on windows, however, it has worked on my Linux box.

[2020-04-17 20:09] #1145 closed

[2020-04-18 07:18] jeremija opened #1148 "Order of Transceiver / Track association sometimes changes after track is removed"
Could be related to my changes in https://github.com/pion/webrtc/pull/1140, since this happens after I remove a track.

### Your environment.
  - Version: d5dbe1f
  - Browser: N/A

### What did you do?

I called `peerConnection.RemoveTrack()` and renegotiated.

### What did you expect?

I expected `a=mid`/`a=ssrc` associations to stay the same.

### What happened?
Looks like the order of `a=mid`/`

[2020-04-18 08:18] silbinarywolf opened #1149 "examples/pion-to-pion: Running "offer" example in the browser doesn't work"
### Your environment.
  - Version: 208e06832be2a59ec6e4de5d5bf323b85086b812
  - Browser: Chrome (Latest), Brave (Latest)
  - Other Information Noted how I'll fix this below

### What did you do?
1) Run "answer" server with `go build && ./answer` in Bash on Windows
2) Build "offer" as WASM and run in browser.

### What did you expect?
I expected "offer" to work and not error. Instead the server got

[2020-04-18 09:20] moneyzmey opened #1151 "Question: Get AV data from server"
Could you give some advice how to get AV sequence, metadata and audio video packets from server.

[2020-04-18 22:00] Sean-Der commented on #1151
@moneyzmey You probably want something like `examples/play-from-disk`

What server do you have in mind? In `example-webrtc-applications` we show how to connect to Janus and could add more. `pion/webrtc` is a just a WebRTC implementation, so if you can get an SDP we can pull anything you want.

I would join [Slack](https://pion.ly/slack) if you have more ad-hoc questions! Happy to help there also.

[2020-04-18 22:00] #1151 closed

[2020-04-18 22:17] #1149 closed

[2020-04-18 22:30] enobufs commented on #1138
The PR pion/ice#168 appears to have been landed on its master as v0.7.12. Which lannded on pion/webrtc v2.2.5. Closing this issue.

[2020-04-18 22:30] #1138 closed

[2020-04-18 22:46] enobufs commented on #1143
@Sean-Der @at-wat
Let me reopen this issue until the issue I am seeing at the current master head with the above fixes:

With my test, nil pointer dereferencing is happening during the pc.LocalDescription() call:
[code]

As I described in the issue:
* The issue is happening at the answerer.
Trickle ICE is enabled
* Waiting for nil to return from OnICECandidate() callback.
* When it sees OnICECandi

[2020-04-19 02:14] Sean-Der commented on #1143
Merged!

[2020-04-19 02:14] #1143 closed

[2020-04-19 05:50] #1144 closed

[2020-04-19 07:44] jeremija opened #1155 "Transceivers are never reused for sending"
### Your environment.
  - Version: 234a170
  - Browser: N/A

### What did you do?

[code]

### What did you expect?

I expected the existing transceiver to be used for this track

### What happened?

The logic in `peerConnection.AddTrack` only reuses a transceiver when a `Sender() !=nil`. The `sender` will be `nil` in a `Recvonly` transceiver. It is not clear to me why a check for `t.Receiver()` i

[2020-04-19 17:57] cedricfung opened #1157 "SetRemoteDescription when renegotiation causes deadlock"
### Your environment.
  - Version: *234a170*
  - Browser: *Firefox 75.0*

### What did you do?

1. Firefox send an offer with an audio track
2. Pion: pc = NewPeerConnection => SetRemote(offer) => OnSignalingStateChange(have-remote-offer)
3. Pion: OnICEConnectionStateChange(checking)
4. Pion: CreateAnswer => SetLocal(answer) => OnSignalingStateChange(stable)
5. Pion: new audio track => pc.AddTrack

[2020-04-19 18:36] Sean-Der commented on #1157
@cedricfung I will get this fixed today! This is a bug though, we shouldn't create a SCTP Association unless the other side requested it.

[2020-04-19 19:08] jeremija commented on #1148
Not sure if you're aware of this document already, but it helped me clear up some confusion about the Unified Plan and how native apps are handling transceivers, receivers and senders:

https://docs.google.com/document/d/1PPHWV6108znP1tk_rkCnyagH9FK205hHeE9k5mhUzOg/mobilebasic#heading=h.cp7krlgejmby

[2020-04-20 00:20] dtaht commented on #9
given your roadmap it looks it might be a good idea for some bufferbloat.net folk to get involved in this?

[2020-04-20 21:41] #1155 closed

[2020-04-21 13:26] Defman21 opened #1160 "Is it possible to add tracks on the fly?"
For example, after a client established a peer connection with me, I'd want to add different tracks with different ids but the same label over time (so I'd accept its offer, set it as remote, add a single track, create an answer and send it back to the client, THEN I want to add another track). Looks like I have to somehow fire the `negotiationneeded` event, but I'm not sure how. Or should I just

[2020-04-21 14:23] cedricfung commented on #1157
After many tests, there are still deadlocks. The clients has enabled datachannel.

[2020-04-21 17:46] cedricfung commented on #1157
The deadlock seems occur in this oder:

1. browser offer audio track and datachannel to pion
2. pion answer
3. browser setremote(pion.answer)
4. signal state stable
5. pion offer another audio track to browser
6. browser answer
7. pion setremote(browser.answer)

The pion SetRemoteDescription will block forever now. And in this procedure, no OnTrack event yet. That said, browser offers audio, and s

[2020-04-22 08:02] Sean-Der commented on #1160
Hey @Defman21!

Yes this is possible, a good example of this is [play-from-disk-renegotation](https://github.com/pion/webrtc/tree/master/examples/play-from-disk-renegotation)

You don't need to fire the `negotiationneeded` you just need to re-signal. That event is just a suggestion that you should re-signal. We do plan on adding it in the future though! https://github.com/pion/webrtc/issues/817

I

[2020-04-22 08:02] #1160 closed

[2020-04-22 08:06] Defman21 commented on #1160
This example shows a demo when the browser creates an offer. I guess it should be the same if I want to do that from the pion side? So something like this should happen whenever I add a track?

1. pion: Add a track.
2. pion: create an offer.
2.1. pion: set as local description
3. pion: send the offer.
4. web: accept the offer.
4.1. web: set it as remote description.
5. web: create an answer
6. sen

[2020-04-22 08:47] Defman21 commented on #1160
Okay I figured it out, I'm hitting a deadlock as well: #1157

[2020-04-22 14:39] Defman21 commented on #1157
I got it working somehow.

1. browser: addTrack(...), createOffer() => setLocalDescription() => pass to Pion
2. pion: receive offer, setRemoteDescription(offer), createAnswer() => setLocalDescription() => pass to browser
3. browser: accept answer, setRemoteDescription()

Some time passes, a new track appears and it needs to be added, so:

1. pion: peer.AddTrack(...), createOffer() => setLocalDescr

[2020-04-23 08:24] Sean-Der commented on #1160
@Defman21 I will get that fixed ASAP, sorry about that :( at the latest this weekend it will be done.

For the time being you could do something like [this](https://github.com/peer-calls/peer-calls/blob/baa099c173d10371e5a454c7df15c7a3c905c20b/src/server/wrtc/negotiator/negotiator.go#L89-L93) and handle this outside the PeerConnection.

[2020-04-23 08:31] Defman21 commented on #1160
No worries, thanks for your library! I've found a workaround and described it in #1157 (do not offer any streams immediately, first create a datachannel then offer media and stuff), so I'll wait for the fix.

[2020-04-23 21:50] cretz commented on #1020
I need this for an impl I'm working on, so I started a toying w/ an impl at https://github.com/cretz/webrtc/tree/replace-track. It's not very cleaned up by intention as I'm still working bugs out, but right now when it tries to switch tracks in the example code, it just ends up pausing the track, but if switched back, resumes just fine. I will be digging more into why, but if there's anything obvi

[2020-04-24 05:33] Sean-Der commented on #1157
Hey @Defman21

The issue is that we don't allow a second `SetRemoteDesc` until the first one completes. The first one may never complete if connectivity isn't established.

@at-wat What do you think of these two solutions? I haven't thought about it deeply yet though, just realized this was an issue today!

* Queue `SetRemoteDescription` calls so that the call is non-blocking
* Return an error if

[2020-04-24 05:48] at-wat commented on #1157
How the browsers handle this case?
Doing similar to the browsers would be better.

[2020-04-24 08:07] cedricfung commented on #1148
Will this be fixed in the master branch? This actually causes chrome to have issues if the order changes.

[2020-04-24 16:05] cretz commented on #1020
After further investigation, the only way I can get track replacement to work is to mess w/ the RTP packets. Specifically, besides setting the ssrc, I also have to keep my own sequence number, keep my own timestamps, and send an out-of-band RTCP PLI on change. I have tested with h264 and vp8 (no audio atm) and that procedure works well. There are various issues if any of those 4 things are not don

[2020-04-25 17:46] cretz commented on #1020
PR opened at #1166

[2020-04-26 07:38] Sean-Der commented on #1133
Hey @Esser420, sorry for the delay!

This is a good idea, what we need is an `oggreader` so we can update [play-from-disk](https://github.com/pion/webrtc/tree/master/examples/play-from-disk) to play audio to the user.

This package itself will never support microphones, that requires media pipeline integration (which is out of the scope of the project). But another project [mediadevices](https://g

[2020-04-26 07:52] Sean-Der commented on #1075
Hi @mobistor

`gstreamer-send` only has one video pipeline, but you can send the same video to multiple tracks. If you want to start two video pipelines you will need to call `gst.CreatePipeline` again.

I am closing this for inactivity, if you have further questions please re-open!

[2020-04-26 07:52] #1075 closed

[2020-04-26 08:01] Sean-Der commented on #753
This feature is at risk upstream, so I don't think it is worth us putting in the effort to implement. https://github.com/w3c/webrtc-pc/issues/2498

ECDSA is a better choice, and in the year this has been open we have seen zero interest anyway.

[2020-04-26 08:01] #753 closed

[2020-04-27 07:10] jeremija opened #1168 "Sending RTP too early from Pion to Chrome causes issues"
### Your environment.
  - Version: c0032c4
  - Browser: Chrome 81.0.4044.122 (Official Build) (64-bit) Mac OS

### What did you do?

1. pion established a peer connection to chrome (javascript webrtc api)
2. added a track to pion pc
3. created an offer in pion and sent it to chrome
4. created an answer in chrome
5. called`pc.setLocalDescription` in chrome

### What did you expect?
I expected to re

[2020-04-27 08:10] sgotti opened #1169 "AddTrack/Add*Transceiver/RemoveTrack concurrency issues during negotiation."
### Your environment.
  - Version: master eab7996d848f2cc1f16c1ec9aad2eac3ef224f0f
  - Browser: Not related to a browser but reproducible with Chrome at probably any version (tested with 81/82/83/84)

### What did you do?

I noticed this while building an sfu and testing it with chrome (looks like firefox is less susceptible to such issues).

Basically, calling AddTrack/Add*Transceiver/RemoveTrack

[2020-04-27 08:23] sgotti commented on #1169
Created PR #1170.

[2020-04-28 07:55] jeremija commented on #1169
@sgotti @Sean-Der is this the same as https://github.com/pion/webrtc/issues/1168 ?

[2020-04-28 08:00] jeremija commented on #1168
Closing in favor of #1169

[2020-04-28 08:00] #1168 closed

[2020-04-28 09:16] sgotti commented on #1169
@jeremija Yeah it looks the same, I probably opened it just a bit later than you (I was digging in it for quite a week...).

[2020-04-29 07:05] #1148 closed

[2020-04-29 13:26] danj565 commented on #1076
The broadcast example also only seems to work in Chrome and no other browsers.  I get a blank video with the below error in Firebox with the out of the box broadcast example.  Is this an issue with browser support, immature protocol, or an issue with the library/examples?

InvalidStateError: Cannot set remote answer in state stable

[2020-04-29 15:22] sgotti opened #1171 "Pion should create a recvonly transceiver when needed."
### Your environment.
  - Version: master currently @ 18dfe7919313be036ec632e47856903596f25722
  - Browser: *include version*
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*

### Issue Description

If a remote adds a new track that creates a new remote transceiver, when receiving the offer, pion in `setRemoteDescription` won't find any av

[2020-04-30 07:45] at-wat opened #1176 "TestPeerConnection_Renegotation_AddTrack_Multiple failing sometimes"
[code]

https://travis-ci.org/github/pion/webrtc/jobs/681361005#L513 (restarted)

[2020-04-30 14:24] sgotti opened #1178 "Media section mids generated could conflict with recycled m= sections"
### Your environment.
  - Version: master currently @ abe3ea1ea86d0daafca4a4f08c2ac6f36e5cddcf
  - Browser: not relevant

### Issue Description

Currently new media session mid generated by `generateMatchedSDP` are number with value set to just the length +1 of the remote current media descriptions.

JSEP defines the possibility to recycle a media description at a specific index. The spec says tha

[2020-05-01 15:14] #1176 closed

[2020-05-03 08:25] anacrolix opened #2712 "Outbound packet larger than maximum message size 65535"
Doing a `DataChannel.Write` can generate the error `Outbound packet larger than maximum message size 65535` for large slices. See https://gophers.slack.com/archives/CAK2124AG/p1588493648338600.

[2020-05-03 10:12] Generalomosco opened #1182 "Stream always get lags for some seconds"
I perform test on https://github.com/pion/webrtc/tree/master/examples/broadcast, but the result with it was very laggy in Join Broadcast, it will play for some secs and stop then continue after some secs continuously just like that!
Please is there any possible solution for this? Thanks!

[2020-05-03 11:29] Generalomosco commented on #1182
My bad! i was the one that was doing it wrong, it is working perfectly! i set userMedia audio true and not separate the audio and video in the server also

[2020-05-03 11:29] #1182 closed

[2020-05-03 18:30] patrickdevivo opened #1183 "Add TODOs Badge to README"
Hi there! I wanted to propose adding the following badge to the README to indicate how many `TODO` comments are in this codebase:

[![TODOs](https://badgen.net/https/api.tickgit.com/badgen/github.com/pion/webrtc)](https://www.tickgit.com/browse?repo=github.com/pion/webrtc)

The badge links to `tickgit.com` which is a free service that indexes and displays TODO comments in public github repos. It c

[2020-05-03 21:59] sgotti commented on #1016
@Sean-Der I started studying how adding simulcast will work and doing an initial implementation. Since it'll break various pion packages api (primarily webrtc and srtp) (like also discussed in #1025 for track api) I'd like to propose a design doc to cover and explain the required changes and discuss to possible options. Is the wiki the right place (a page like https://github.com/pion/webrtc/wiki/P

[2020-05-03 23:49] Sean-Der commented on #1016
@sgotti Yes the wiki is the best place, and please edit away!

I don't think it will be a substantial amount of work, but I am just timid to change the API and not do it right. The `/v2` API was dramatically different then the original one, and introduced a whole new set of different issues :(

[2020-05-04 01:50] keremgocen commented on #817
Where exactly should this be added?

[2020-05-05 12:03] #1171 closed

[2020-05-05 12:03] #1178 closed

[2020-05-05 14:28] sgotti commented on #1016
@Sean-Der

I'll start writing something here the keep you updated, I'll try to summarize my work until now and explain why we need a different pion `Track` API.

I have an initial working implementation of simulcast handling and, to be honest, is a quite big amount of work. I'll clean it up and split in multiple patches and then publish it in the next days so you can take a look at it.

It's a big

[2020-05-05 21:14] tarrencev opened #1184 "Sample Builder drops all packets in maxLate if a packet is dropped"
When a packet is dropped, the sample builder drops all packets until `maxLate` after the dropped packet, i think due to this line https://github.com/pion/webrtc/blob/1ba672fd111aa9144bfe8938780ef9b5868611f3/pkg/media/samplebuilder/samplebuilder.go#L110

The following test fails:
[code]

[2020-05-05 21:18] #1184 closed

[2020-05-06 15:57] #1169 closed

[2020-05-06 16:04] jeremija opened #1186 "Transceiver Mid test failing"
### Your environment.
  - Version: 4f362ee

### Steps to reproduce

[code]

### Log

[code]

[2020-05-06 16:24] jeremija commented on #1186
Unable to reproduce after #1170 was merged.

[2020-05-06 16:32] sgotti commented on #1186
@jeremija It should be fixed by #1170 since we skip starting a not negotiated sender. But the test should wait for negotiation to be finished before continuing on another negotiation. A possible solution is the one used in `TestPeerConnection_Start_Right_Receiver`:

[code]

Basically wait for negotiation to be completed before trying another negotiation.

This is related to a broader issue I'd lik

[2020-05-06 16:36] jeremija commented on #1186
That's why I figured so I closed the issue. I restarted the test on your PR and it passed.

I can still create a PR with the negotiationLock.

It would be awesome if we could make pion more thread-safe so I won't have to resort to things like this: https://github.com/peer-calls/peer-calls/blob/4698405bf049e3293bece9375d9b3a763b9b6249/server/wrtcnegotiator.go#L84-L87

[2020-05-06 18:33] sgotti commented on #1186
I think we should open a dedicated issue since there're different point in the code not really thread safe. Regarding the negotiation calls that needs synchronization this is also more complex since it shouldn't be permitted to call them in the wrong order (I remember that the webrtc specs should define how to handle such kind of states).

[2020-05-06 19:43] #1186 closed

[2020-05-07 17:19] longsleep commented on #1183
If added, it should be added via shields.io similar to the existing badges. Generally i recommend to be careful about these external services and avoid adding too many external trackers unless there is a big benefit.

[2020-05-08 07:59] liping17 opened #1189 "TypeError: offer SDP semantics does not match configuration"
/root/go/src/github.com/pion/webrtc/examples/save-to-disk/main.go:142 +0x8eb
![image](https://user-images.githubusercontent.com/46994788/81384718-a75e4c00-9144-11ea-9d64-4549e38c92d2.png)

Browser base64 Session Description:
eyJ0eXBlIjoib2ZmZXIiLCJzZHAiOiJ2PTBcclxubz0tIDQwNzIxNTEwODgzNDY5ODg1IDIgSU4gSVA0IDEyNy4wLjAuMVxyXG5zPS1cclxudD0wIDBcclxuYT1ncm91cDpCVU5ETEUgYXVkaW8gdmlkZW9cclxuYT1tc2lkLXNlbWF

[2020-05-08 08:00] liping17 commented on #1189
decoded sdp:
v=0
o=- 40721510883469885 2 IN IP4 127.0.0.1
s=-
t=0 0
a=group:BUNDLE audio video
a=msid-semantic: WMS x1LK4C0a2BDHBky07MNH0Tj3Vcd4xABpYsYj
m=audio 49795 UDP/TLS/RTP/SAVPF 111 103 104 9 0 8 106 105 13 110 112 113 126
c=IN IP4 10.18.88.73
a=rtcp:9 IN IP4 0.0.0.0
a=candidate:3926138363 1 udp 2113937151 10.18.88.73 49795 typ host generation 0 network-cost 999
a=ice-ufrag:vAPy
a=ice-pwd:B

[2020-05-08 22:43] somersbmatthews commented on #1133
I am working on implementing oggreader.

[2020-05-09 00:58] Sean-Der commented on #1133
That is awesome @somersbmatthews !

If you have questions I am in [Slack](https://pion.ly/slack) and happy to answer them :) also feel free to push WIP (if you have tests), doesn't have to be perfect first try.

[2020-05-09 08:12] Sean-Der commented on #1189
Hey @liping17

The SDP you shared is an PlanB SDP. If you want to use PlanB you can set [SDPSemantics](https://pkg.go.dev/github.com/pion/webrtc/v2?tab=doc#SDPSemantics) in your WebRTC.Configuration. Possibly you are using an older version of Chrome?

The Configuration is defined [here](https://github.com/pion/webrtc/blob/master/examples/save-to-disk/main.go#L50-L56) in the save-to-disk example.

[2020-05-09 08:12] #1189 closed

[2020-05-09 22:22] patrickdevivo commented on #1183
If there is a desire to add this badge, shields.io is also supported like so:

[code]

[![TODOs](https://img.shields.io/endpoint?url=https%3A%2F%2Fapi.tickgit.com%2Fbadge%3Frepo%3Dgithub.com%2Fpion%2Fwebrtc)](https://www.tickgit.com/browse?repo=github.com/pion/webrtc)

Thanks for considering!

[2020-05-10 17:19] cretz commented on #1016
I am trying to finagle this into current v2. I have altered the SDP to add (well, more programmatic):

[code]

When my JS is:

[code]

Chrome sends the `h` data (as seen via the RTP header for the `rid` extension), but when I reduce `maxBitrate` like:

[code]

It sends `h` _and_ `m` as separate tracks (as caught by the undeclared ssrc code). Any idea why this is or what I can do to just get raw RT

[2020-05-11 03:00] liping17 commented on #1189
After modification according to your instructions ：
root@guest:~/go/src/github.com/pion/webrtc/examples/save-to-disk# go build
# github.com/pion/webrtc/v2/examples/save-to-disk
./main.go:7:2: imported and not used: "github.com/pion/sdp/v2" as sdp
./main.go:56:17: undefined: SDPSemanticsPlanB

[2020-05-11 03:01] liping17 commented on #1189
![image](https://user-images.githubusercontent.com/46994788/81520383-b0cefa80-9376-11ea-9b26-01cd043d2558.png)
modify location

[2020-05-11 04:48] Sean-Der commented on #1189
@liping17 You need to specify the package also, ‘webrtc.’ And it should work!

[2020-05-11 05:42] liping17 commented on #1189
![image](https://user-images.githubusercontent.com/46994788/81527507-07dfca00-938d-11ea-8c18-f10c4bc8de7e.png)
there was an error on the web page side

[2020-05-11 05:51] liping17 commented on #1189
When {start session} is pressed, save-to-disk reports the following error and exits.
error：
Connection State has changed failed
Done writing media files

[2020-05-11 05:55] josharian commented on #1076
Ditto here: The reflect example on macOS only works on Chrome. Firefox silently shows nothing. Safari says: `TypeError: pc.addStream is not a function. (In 'pc.addStream(stream)', 'pc.addStream' is undefined)`.

[2020-05-11 08:06] Sean-Der commented on #1189
Are you running this on the same machine? Try doing it on your local PC first (no VM/Docker etc) connection going to failed sounds like ICE issue.

What browser are you trying to use here?

[2020-05-11 08:50] liping17 commented on #1189
I run exe on the server(ubuntu18),run browser(chrome70) on Win7。
PC(Win7) cannot access ice【'stun:stun.l.google.com:19302'】
How to use  { https://github.com/pion/ice }  to Build a LAN ICE?

[2020-05-12 03:24] cretz commented on #1016
Ok, I hacked together a [simulcast example in a branch on my fork](https://github.com/cretz/webrtc/tree/simulcast-hack/examples/simulcast-hack). Quick notes:

* I need this functionality for my SFU. I don't really expect this to be a PR or get merged because it is a bit of a hack.
* I needed to accept undeclared SSRCs, yet the regular code only did it if there was a single media description which

[2020-05-12 11:24] jeremija opened #1191 "RTP streams should be started from SetLocalDescription when an answer is being set (not from SetRemoteDescription when an offer is being set)"
### Your environment.
  - Version: 2.2.9
  - Browser: N/A/

### What did you do?

I tried to add a test for `OnTrack` after renegotiation in my application, but the `OnTrack` callback is sometimes not called because the sender is not added to `track.activeSenders` after renegotiation.

The test case I have in my app is available here: https://github.com/peer-calls/peer-calls/tree/ontrack-test

Lin

[2020-05-12 13:02] sgotti commented on #1191
@jeremija Sorry but I'm not sure I understand the issue you're describing. If pion is offering then we have to call setRemoteDescription when receiving an answer and so `sender.setNegotiated` has already been called. Instead if we're receiving an offer we can't offer anything else so there's no need to start a sender.

[2020-05-12 18:24] jeremija commented on #1157
I'm working on #1191 and I ran into this issue. The webrtc spec says that a RTCPeerConnection should have a an operations chain: https://w3c.github.io/webrtc-pc/#chain-an-asynchronous-operation

So looks like the right thing to do is to queue asynchronous operations.

[2020-05-13 13:56] cnderrauber opened #1194 "peerconnection stuck at pc.sctpTransport.Start"
### Your environment.
  - Version: v2.2.9
  - Browser: ios native
  - Other Information -
stacktrace:

  Goroutine 103 - User: /home/go/pkg/mod/github.com/pion/sctp@v1.7.6/association.go:220 github.com/pion/sctp.Client (0x61fd3b)
        0  0x0000000000431410 in runtime.gopark
            at /usr/local/go/src/runtime/proc.go:305
        1  0x000000000044025b in runtime.selectgo
            at /usr

[2020-05-13 19:00] Sean-Der commented on #1189
@liping17 if the two devices can access each other by direct IP it *should* work.

You should confirm that they IPs they publish are directly accessible. This is not true for VirtualBox (and other virtualization software) they often create a NAT, so it makes it hard to do P2P software between them.

[2020-05-13 20:00] #1157 closed

[2020-05-13 20:00] #1191 closed

[2020-05-14 17:07] sgotti commented on #1016
@sgotti Just as an update, simulcast works correctly on both chrome and firefox. Before opening a PR I'm trying to split all my changes in many small patches so they can be easily reviewed just because there're many changes required to handle tracks with multiple sources and all the features required for simulcast (extmaps negotiation, handling rid based streams etc...).

I also have two track pro

[2020-05-15 08:58] Sean-Der commented on #1194
Sorry for the delay on this but https://github.com/pion/webrtc/pull/1161 should be the fix for this!

I am going to add tests and merge before the weekend is over.

[2020-05-15 21:43] funvit commented on #1133
Hi, i was in need of ogg reader, so i wrote one..

Anyone is free to improve this code.

[oggreader.go.zip](https://github.com/pion/webrtc/files/4637231/oggreader.go.zip)

[2020-05-15 22:11] Sean-Der commented on #1133
Fantastic work @funvit!

Would you be interested in opening a PR? If not I can take your code and write tests/reformat as needed. I would put you as the co-author on the commit.

[2020-05-15 22:17] funvit commented on #1133
@Sean-Der out of time currently...

[2020-05-16 16:33] cyantarek opened #1202 "How to live stream video from browser to Golang server to Other people?"
I want to make a system that will monitor and record live streaming videos.

So, I want to start capturing video from browser, browser webrtc will send raw video data to a Golang webrtc backend server and this golang server will record videos to file as well as stream to other subscribed users.

[2020-05-16 18:19] r-novel commented on #1202
Hey, @cyantarek

What kind of video do you want to send to the WebRTC server? From a web camera or external source (HLS, DASH, File)?

Anyway, you could follow the examples described below:
https://github.com/pion/webrtc/tree/master/examples/broadcast
https://github.com/pion/example-webrtc-applications/tree/master/save-to-webm
Try to combine them and make what you want.

[2020-05-16 23:03] Sean-Der commented on #1133
@somersbmatthews how is your work going? I would love to have this merged under your name, are you able to take any of funvit's code? If we add some tests/minor modifications I think we can land it!

I can do the work myself, but would much rather help get people involved in the project.

[2020-05-16 23:26] somersbmatthews commented on #1133
@Sean-Der still working on it. I have more code than funvit, a lot of it might be unnecessary. I will slack you when I push by Sunday 5pm.

[2020-05-16 23:44] Sean-Der commented on #1133
Fantastic! No rush, if you need more time please take it :)

[2020-05-17 10:47] cyantarek commented on #1202
Hi, I want like this: user -> browser -> web cam -> webrtc -> sends video data -> backend server -> records/analyzes data -> broadcasts to others

[2020-05-17 11:07] Sean-Der commented on #1202
@cyantarek I think broadcast does exactly what you are looking for! It allows one person to upload, and then fans out. [Here](https://github.com/pion/webrtc/blob/master/examples/broadcast/main.go#L85) is where we read the video, you could analyze it as you wish.

https://github.com/pion/example-webrtc-applications/tree/master/gocv-receive demonstrates how to use OpenCV with Pion if you want to ana

[2020-05-18 07:07] Sean-Der commented on #1194
Hey @cnderrauber this is fixed by f78334d9d4cb163b7280be77c848aacca168d0e6

Thanks for using Pion!

[2020-05-18 07:07] #1194 closed

[2020-05-19 09:23] DevRockstarZ opened #1205 "Question about Multi-Peer connection(sfu) by pion"
When client A,B,C is online,
A should receive traffic from B,C.
B should receive traffic from A,C.
C should receive traffic from A,B.

When I assume matching is established by in order A,B,C

When A's matching turn, A doesn't have B,C track so A can't AddTrack() B,C's track.

And B's matching turn, B can AddTrack() A's track because A entered match.

**But, I had already finished offer and answer

[2020-05-20 10:19] cyantarek commented on #1202
@Sean-Der , when I copy and paste browser session description to golang terminal, I got this error:

`panic: illegal base64 data at input byte 4092`

[2020-05-20 11:10] cyantarek commented on #1202
Hi @r-novel I have developed something with the help of your link.

What if I want to save to mp4 instead of webm? How can I do this from RTP packet?

[2020-05-21 08:59] #1202 closed

[2020-05-21 09:00] cyantarek opened #1208 "Is it possible to access webcam/microphone from golang webrtc, without having to rely on client browser?"

[2020-05-21 23:04] josharian opened #1210 "better error message when offer/answer get confused"
I accidentally typed `conn.SetRemoteDescription(offer)` when I should have written `conn.SetRemoteDescription(answer)`. This resulted in a nil pointer panic. It took me a while digging around in the code to find out what went wrong. It would be nice if pion could detect this mistake and return a helpful error message instead of panic.

[2020-05-22 10:40] anilthummar commented on #52
Hello Everyone ,
can we set up personal server with pion webrtc ?
i am getting error like below
{
I/flutter ( 8210): [Ion::Client] DEBUG: leave reject: error =>transport error
I/flutter ( 8210): [protoo-client] DEBUG: close()
I/flutter ( 8210): [protoo-client] DEBUG: constructor()
I/flutter ( 8210): [protoo-client] DEBUG: constructor() [url:https://meet.cynod.live/html5client/join?peer=bb48fd89-04

[2020-05-22 14:23] josharian opened #1211 "inconsistent errors when sending on closed track vs closed channel"
It's possible I'm misunderstanding something, but...

When you send media to a track with no peers, you get `io.ErrClosedPipe` back. Many of the examples use this to suppress unimportant error messages.

When you send data to a data channel that is closed, you get `data channel not open`.

It would be nice if data channels also returned `io.ErrClosedPipe` in this situation, for consistency.

I gue

[2020-05-22 15:56] jech opened #1212 "pc.AddIceCandidate complains when candidate.Candidate is the empty string"
[Section 4.8.2 of the spec](https://www.w3.org/TR/webrtc/#rtcpeerconnectioniceevent) has the following to say:

However, if I pass such a candidate to `pc.AddIceCandidate`, it complains with the error `attribute not long enough to be ICE candidate (0)`.

[2020-05-23 03:18] somersbmatthews commented on #1133
Unlike the ivf filed, the opus files have some headers of variable length, therefore the sound data starts at variable offset in the .opus file. I'm getting it figured out slowly but surely. Also there is some semantic issues with the usage of ogg. As .ogg is Vorbis and .opus is Opus and both are ogg. I will make PR with my suggested usage of these terms.

[2020-05-23 06:17] Sean-Der commented on #1133
Hey @somersbmatthews!

Feel free to start with an `oggreader` that only works with Pion's `oggwriter`. I would rather see you land something in master today and improve later.

I see a lot of developers stress about making it perfect, don't worry about that here :)

[2020-05-23 06:27] Sean-Der commented on #1208
Hey @cyantarek

You have a few options
* [GStreamer integration](https://github.com/pion/example-webrtc-applications/tree/master/gstreamer-send)
* [mediadevices](https://github.com/pion/mediadevices)

Or you could write your own capture/encode code like [webrtc-remote-screen](https://github.com/rviscarra/webrtc-remote-screen)

This seems to be a really common asked question, adding it to the FAQ w

[2020-05-23 06:27] #1208 closed

[2020-05-23 06:28] Sean-Der commented on #1211
:+1: 100% agree with this.

Yea probably `V3` is probably best, great catch :)

[2020-05-23 22:22] jech opened #1214 "No easy way to clone a packet"
In my SFU, packets go through a number of data structures, and finally end up in a static buffer that is passed to `Track.WriteRTP`.  This works fine with ordinary tracks, but fails when trying to write data to disk: `SampleBuilder.Push` requires the packet to never be overwritten.  This does not appear to be documented.  (My personal opinion is that `Push` should clone the packet, but as a second

[2020-05-24 19:33] Sweetkubuni opened #1218 "having trouble importing with github.com/pions/webrtc"
The error on go build keeps recurring:

go: brisky.com/m/v2 imports
        github.com/pion/webrtc: github.com/pion/webrtc@v1.2.0: parsing go.mod:
        module declares its path as: github.com/pions/webrtc
                but was required as: github.com/pion/webrtc
I already have GO111MODULE=on and I am using the import path based on your example code
github.com/pion/webrtc/v2

[2020-05-24 19:57] Sean-Der commented on #1218
Hi @Sweetkubuni

Double check you are importing ‘pion’ and not ‘pions’. Another possible issue is not importing ‘v2’ the ‘github.com/pion/webrtc’ does not work pre v2

[2020-05-25 08:57] jech opened #1221 "ICE state switches to failed with unidirectional IPv6 flow"
Hi,

The Unnamed SFU negotiates unidirectional connections.  In one of my users' networks, Firefox and Pion negotiate the client-to-server connections over IPv6 and the server-to-client connections over IPv4.

The issue I'm having is that the `OnICEConnectionStateChange` callback triggers on the upstream connection with `state` equal to failed after a few seconds.  If the callback is ignored, then

[2020-05-25 09:22] jech commented on #1030
Shouldn't you be using `sdp.SessionDescription.Unmarshal` instead of grepping through the SDP yourself?

[2020-05-25 21:59] Sean-Der commented on #1030
The design right now is unfortunate, lots of sharp edges.

I am prototyping [here](https://github.com/pion/webrtc-v3-api-examples) about what I would like to do to fix all these issues. We need to support both Sender/Receiver side congestion control, and I don't want users to manage PayloadTypes and SSRCes.

If you have time @jech would love your opinion!

[2020-05-25 22:02] Sean-Der commented on #1221
@jech I wouldn't be surprised if our IPv6 support was broken. I need to confirm myself, and then update our CI to provide IPv6 candidates (to make sure it doesn't regress)

The `ice.Agent` itself chooses a `selectedPair` and you can keep using it even if you are disconnected. So I assume that the connectivity is good, but we are getting packets back on a different pair.

[2020-05-25 22:04] Sean-Der commented on #1218
@Sweetkubuni If you are still having issues I would be happy to help in the [Pion Slack](https://pion.ly/slack)

I am going to resolve this, but if I am misunderstanding the issue please reopen. thank you!

[2020-05-25 22:04] #1218 closed

[2020-05-26 09:02] jech commented on #1221
I'll try to reproduce the problem on my side.

I'm now ignoring ICE indications in my code, which means that the user
whose connection fails gets no useful indications about the failure.  Do
you have any suggestions about how to robustly detect that a flow is
failed?

[2020-05-26 14:24] jech commented on #1210
I can confirm this.
[code]
Here's the test file:
[code]

[2020-05-27 09:20] somersbmatthews commented on #1133
Does this command work on anyone's machine? `go get github.com/pion/webrtc/v2/examples/play-from-disk`

[2020-05-27 09:35] somersbmatthews commented on #1133
That command is from here: https://github.com/pion/webrtc/blob/master/examples/play-from-disk/README.md

[2020-05-27 09:49] somersbmatthews commented on #1133
I don't see how the `play-from-disk` as a command is supposed to work either. I can rewrite the examples like this into something that does work, unless I'm making a mistake somehow.

[2020-05-27 10:46] somersbmatthews commented on #1133
And cgo is not an option for usage in pion/webrtc right?

[2020-05-28 04:57] conanchen commented on #209
Hello @projetoarduino

do you use pion/webrtc in android app?
if so, may you share the android app snippet code with pion/webrtc part?