[2018-05-19 04:20] kc5nra opened #1 "Implement Data Channel Establishment Protocol (DCEP)"
Abstract:
Simple protocol for establishing symmetric Data Channels between the peers.  It uses a two way handshake and allows sending of user data without waiting for the handshake to complete.

https://tools.ietf.org/html/draft-ietf-rtcweb-data-protocol-09

https://github.com/xhs/librtcdc/blob/master/src/dcep.c
https://github.com/xhs/librtcdc/blob/master/src/dcep.h

[2018-05-19 04:23] kc5nra opened #2 "Implement Datagram Transport Layer Security (DTLS)"
Abstract:
The DTLS protocol provides communications privacy for datagram protocols.  The protocol allows client/server applications to communicate in a way that is designed to prevent eavesdropping, tampering, or message forgery.  The DTLS protocol is based on the Transport Layer Security (TLS) protocol and provides equivalent security guarantees.  Datagram semantics of the underlying transport ar

[2018-05-19 04:26] kc5nra opened #3 "Implement Interactive Connectivity Establishment (ICE)"
Abstract:

A protocol for Network Address Translator (NAT) traversal for UDP-based multimedia sessions established with the offer/answer model.  This protocol is called Interactive Connectivity Establishment (ICE).  ICE makes use of the Session Traversal Utilities for NAT (STUN) protocol and its extension, Traversal Using Relay NAT (TURN).  ICE can be used by any protocol utilizing the offer/answe

[2018-05-19 04:31] kc5nra opened #4 "Implement Stream Control Transmission Protocol (SCTP)"
Abstract:
SCTP is a reliable transport protocol operating on top of a connectionless packet network such as IP

https://tools.ietf.org/html/rfc4960

https://github.com/xhs/librtcdc/blob/master/src/sctp.h
https://github.com/xhs/librtcdc/blob/master/src/sctp.c

The initial implementation should use the kernel-mode driver for this (limiting portability for the short-term).

[2018-05-19 04:32] kc5nra opened #5 "Implement Session Description Protocol (SDP)"
Abstract:
SDP is intended for describing multimedia sessions for the purposes of session announcement, session invitation, and other forms of multimedia session initiation.

https://tools.ietf.org/html/rfc4566

https://github.com/xhs/librtcdc/blob/master/src/sdp.h
https://github.com/xhs/librtcdc/blob/master/src/sdp.c

[2018-05-19 04:37] kc5nra opened #6 "Implement WebRTC Data Channels (RTCDC)"
Abstract:
Direct interactive rich communication using audio, video, and data between two peers' web-browsers.  This document specifies the non-media data transport aspects of the WebRTC framework.  It provides an architectural overview of how the Stream Control Transmission Protocol (SCTP) is used in the WebRTC context as a generic transport service allowing WEB-browsers to exchange generic data f

[2018-05-30 00:13] Sean-Der commented on #5
Implemented by https://github.com/pions/webrtc/commit/b2e8189df45618ee037691fc76f5128bdf1215f4

[2018-05-30 00:13] #5 closed

[2018-06-09 09:37] #3 closed

[2018-06-09 09:37] #2 closed

[2018-06-09 09:37] Sean-Der opened #7 "Implement SRTP"

[2018-06-09 23:14] #7 closed

[2018-06-12 17:02] santrym opened #8 "Project is too good"
You're going to make competitors feel bad about themselves. Try making this project a little less good.

[2018-06-12 17:05] kc5nra commented on #8
The only way to make it less good is if we had an image to inspire us

[2018-06-12 17:09] santrym commented on #8
hahaha! I'm working on it!

[2018-06-12 18:32] Sean-Der commented on #8
Your obviously working on making lots of issues!

@kc5nra how far back do you think this distraction sets us

[2018-06-13 05:57] #1 closed

[2018-06-13 05:57] #4 closed

[2018-06-13 05:57] #6 closed

[2018-06-13 05:57] #8 closed

[2018-06-13 06:53] Sean-Der opened #9 "Roadmap"
This is a covering ticket for the pion-WebRTC roadmap. If you have any requests feel free to leave them here/vote on others.

# Planet Strike -- 1.0.0 (2018-06-20)
* [x] ICE-lite (We only respond to binding requests, requires host candidates. No STUN or TURN)
* [x] DTLS (In C, using OpenSSL)
* [ ] port SRTP to Go from cgo (using libsrtp)
* [x] API that allows users to send/receive media that close

[2018-06-17 09:11] notedit commented on #9
It seems it is a webrtc golang version. Any plan on SFU media server?

[2018-06-17 18:36] gedw99 opened #10 "QUIC and flutter"
Adding something for the roadmap.

QUIC is a good modern alternative to webrtc that is 100% written in golang.
It what Google used for their Allo video calling app.

https://github.com/lucas-clemente/quic-go

Flutter is a way to build mobile apps GUI.
It has the ability to interoperable between flutter ( dart ) and golang using its platform channels. It's quite easy.

https://www.google.de/url?sa=

[2018-06-17 18:38] gedw99 commented on #10
Almost forgot this gem !!?

go-libp2p-quic-transport

[2018-06-17 18:38] gedw99 commented on #10
https://github.com/libp2p/go-libp2p-quic-transport

[2018-06-18 08:40] Sean-Der commented on #9
Hey @notedit

Currently no, we may build an SFU using pions-WebRTC in the future though. You are right though, pions-WebRTC is a Golang version of libwebrtc (instead we don't use any libraries)

The goal is that people will be able to just do one `go build` and not have to worry about anything else, and other cool things like that!

If you do want to build an SFU would love to help! Can add featur

[2018-06-18 08:57] notedit commented on #9
Thanks,  I may try SFU media server based on your lib.  Great work.

[2018-06-18 09:17] gedw99 commented on #9
Dumb question ! Whats an SFU - am curious....
got a good link ?

On Mon, 18 Jun 2018 at 10:57 notedit <notifications@github.com> wrote:

[2018-06-18 09:18] gedw99 commented on #9
https://bloggeek.me/webrtc-multiparty-video-alternatives/

?

On Mon, 18 Jun 2018 at 11:17 Ged Wed <gedw99@gmail.com> wrote:

[2018-06-18 09:19] gedw99 commented on #9
it looks to me like an SFU scales out better ?

On Mon, 18 Jun 2018 at 11:18 Ged Wed <gedw99@gmail.com> wrote:

[2018-06-19 00:41] deepch opened #11 "Support sending H264"
I do not understand the idea of ​​the project a little

I have rtp or raw stream from rtsp ip camera
I can send my rtp or raw h264 or rtsp stream to browser over webrtc?

I can write examples that will get the rtp video stream but do not know how to give it to the browser. Does your project plan such a decision?

[2018-06-19 05:30] Sean-Der commented on #11
Hi @deepch

Exactly! We are still working on it, but you will be able to send your H264 to your web browser when we are done (maybe 1 more week) Right now you can receive video and save to disk, try it out [here](https://github.com/pions/webrtc/blob/master/examples/save-to-disk/README.md) to get a feel for it.

I will take care of making an example that sends video to a browser, when it is done I

[2018-06-19 05:31] Sean-Der commented on #10
@gedw99 thanks for sharing this stuff! I know nothing about QUIC, but will do a deep dive this weekend :)

[2018-06-19 05:32] Sean-Der commented on #9
@gedw99 An SFU is so your users only have to upload video once (and can selectively download)

[this](https://thenewdialtone.com/wp-content/uploads/2016/04/SFU-Video-Conferencing.jpg) is a good visualization

[2018-06-19 12:06] deepch commented on #11
Excellent! I will wait with impatience.

[2018-06-19 12:15] gedw99 commented on #9
Thank you - appreciated the learning.

This is really a great system. I will be helping. I think I can build a
flutter GUI for mobile and desktop.

If you want something like this as a PR let me know.

On Tue, 19 Jun 2018, 07:32 Sean DuBois, <notifications@github.com> wrote:

[2018-06-19 12:18] gedw99 commented on #10
We don't have to change to QUIC. Am not dogmatic at all about it.

It's more of an option.
Eventually it would be possible to build a webrtc / Quic bridge.

Webrtc is established and has it tricky stuff.
QUIC can be done in 109% golang and so less tricky.

Looking forward to hearing your thoughts...

On Tue, 19 Jun 2018, 07:31 Sean DuBois, <notifications@github.com> wrote:

[2018-06-21 14:30] shazow commented on #9
Pretty excited about this. Personally I'm waiting for DataChannel support.

Many p2p projects (libp2p/ipfs, openbazaar, etc) rely on datachannels to create DHTs of peers, and end up having segregated networks on browser-based users vs native UDP-based users, only being able to talk to each other over bridges that support both (usually NodeJS).

Having a robust Go-native WebRTC implementation with

[2018-06-21 19:10] Sean-Der commented on #9
@shazow Hey thanks for checking us out :)

Just moved it up! I will work on datachannels right after I finish sending video. I have had multiple people reach out to me about wanting that the most, so seems the right choice.

I will try to reach out to any projects that are looking for datachannels. It would be great if they had input on what features they needed most, so I could get it good enough

[2018-06-21 23:36] BennettJames commented on #10
I am not a QUIC expert, but from my understanding it is not a replacement for WebRTC. There is a [proposed protocol to use QUIC with WebRTC][1], but that's specific to multiplexing QUIC with other types of WebRTC. Rather than replace WebRTC, QUIC would act as the means of transit for certain types of data alongside WebRTC.  Abstractly speaking, it seems that something like QUIC could eventually be

[2018-06-24 03:40] silbinarywolf commented on #9
Hey @Sean-Der, very very keen to see Data Channels implemented in this library as I'm aiming to build a real-time browser-based game in Golang.

I want Data Channels / UDP to avoid hitches and non-responsiveness when building games with an authoritative server model.
(Source if you're interested: https://new.gafferongames.com/post/why_cant_i_send_udp_packets_from_a_browser/ )

As of right now, the

[2018-06-24 17:34] gedw99 commented on #10
Google's messaging platform for text and video is 100% based on QUIC.
YouTube is all QUIC.
40% of all internet mobile traffic is UDP. Mostly because of YouTube and Netflix apparently.

So yes it replaces the transport channel.
It's UDP with the TCP congestion control backend in.

So if you want video conferencing then you just transcode and stream onto this transport.
It's exactly what you do with

[2018-06-24 17:35] gedw99 opened #12 "Mobiles"
So can I run this on a mobile ? I guess not since it wants gstreaner for the real time transcode ?

[2018-06-24 18:18] gedw99 commented on #10
It's going through standards WG at the moment

https://github.com/quicwg

[2018-06-24 18:22] gedw99 commented on #10
https://github.com/libp2p/go-libp2p-quic-transport

Probably the best example of the usefulness and practicality of QUIC.

You can see the multiplexing aspects in the code and issues

[2018-06-24 19:28] shazow commented on #9
@gedw99 QUIC is not an alternative to WebRTC Data Channels. Browsers can't use QUIC to establish peer-to-peer connections with each other.

[2018-06-24 21:50] Sean-Der commented on #12
Hey @gedw99!

This will 100% run on mobile. GStreamer is just in the examples to show how one could either generate (or display) video using GStreamer. I am also going to do a ffmpeg example.

But there is no requirement that you use GStreamer in your application. If you are up for it would love doc updates that makes it clear. It is just hard for me, I assume people know whats in my head.

thanks

[2018-06-24 21:59] Sean-Der commented on #9
@silbinarywolf Hey!

Thanks for checking us out :) That's really cool, I am excited to hear about all the use cases like this.

What I was thinking about doing was starting a bountysource (I personally don't need the money/will not incentive me anymore) but was hoping to incentive other contributors. I also might not be presenting work in a way that others can take on.

I think if others could mak

[2018-06-24 22:04] gedw99 commented on #12
by doc updates you mean documenation about how to use the code in this repo ? I think you mean something else though - maybe about using gomobile and cross compiling to mobile.

anyway i doubt ffmpeg can be used compiled in to work on gomobile. Its not like how on desktop you can use a c import. But there are ways.

I think you should checked this github org !
https://github.com/xlab

He is really

[2018-06-24 22:05] Sean-Der commented on #11
@deepch Good news! I got sending VP8 [working](https://i.imgur.com/2inQaSH.png) on a branch (videotestsrc coming from GStreamer).

Hopefully not much longer and it will land on master. Thanks for the patience.

[2018-06-24 22:16] deepch commented on #11
good news!

VP8 - not supported rtsp camera can h264? or late?

[2018-06-24 22:45] deepch commented on #11
I really look forward to it.

[2018-06-24 23:13] gedw99 commented on #9
@shazow since your into libp2p repo then their QUIC implementation might be of interest.
https://github.com/libp2p/go-libp2p-quic-transport

And yes QUIC is not supported in all browsers, but it is supported on all mobiles and desktops because it has no dependencies at all. NOt even kernel level for the networking.

All i am saying is that its quite feasible that pions can support both webrtc and

[2018-06-25 05:35] Sean-Der commented on #12
Documentation about anything would be great! Happy to give you access to create a wiki if you want, it doesn't have to be perfect but the more people involved the better :)

You don't need to use ffmpeg either. pion-WebRTC just emits/takes `[]byte` there is no requirement to use GStreamer, ffmpeg (or anything else) those examples are just to help people who already use those things.

Those are som

[2018-06-25 16:29] kafein commented on #9
Hi @Sean-Der. Thanks for your effort. Just wondering, is it possible to build a live steaming / broadcasting system with this library? I want to record video with Navigator.getUserMedia() then stream (via webrtc) to server then distribute to clients.

[2018-06-26 04:40] Sean-Der commented on #9
@kafein Hey!

Yes you can (and pretty easily!) would you mind posting to our [mailing list](https://groups.google.com/forum/#!forum/pion) happy to answer any questions there.

----

We have got quite a lot of questions in this issue, I am going to delete ones that aren't related to the roadmap. I would love to discuss anything on the mailing list though! I just don't want new users to be overwhelm

[2018-06-26 22:08] deepch commented on #11
When will the support for h 264 be?

[2018-06-27 05:49] Sean-Der commented on #11
@kc5nra Is working on the last bit needed for sending.

How much more do you think it would take to add H264. If we can just use what you already did once before in C++ ? I don't even care about multiple stream-formats, just an MVP sorta deal.

[2018-06-27 22:44] kc5nra commented on #11
@Sean-Der @deepch
Yep! I will add single and FU-A support for H264 shortly!  Just finishing up the VP8 packetizing

[2018-06-30 13:47] belohlavek commented on #6
What happened to this?

[2018-06-30 19:10] colek42 commented on #11
@kc5nra if you tag me when this is done I would love to give you a code review.

[2018-07-01 08:37] gedw99 commented on #12
Check this out !

https://github.com/cloudwebrtc/flutter-webrtc/issues/5#issuecomment-401592449

Flutter is an excellent choice for the GUI and supports mobile and desktop with no changes.

It has support for camera capture and screen capture today.

A webrtc plugin for the flutter GUI can be written in golang and would work really well.

So the above link is a backline to another group looking to

[2018-07-01 21:37] deepch commented on #11
ok im wait and ready test

[2018-07-04 05:18] Sean-Der commented on #9
Good news!

1.0.0 has officially landed you can see the announcement [here](https://groups.google.com/forum/#!topic/pion/10VPhvr9Q2U) look forward to hearing what people think!

[2018-07-04 06:37] Sean-Der commented on #12
Moved into roadmap (added entry for mobile support)

[2018-07-04 06:37] #12 closed

[2018-07-04 06:38] Sean-Der commented on #11
If you are interested the examples have landed for sending video/audio (but only VP8 for video) if you want to check those out. We are gonna work on getting H264 in next.

thanks for the patience!

[2018-07-04 06:40] Sean-Der commented on #10
Added to roadmap! I think it would be great if we could play with this in pion-WebRTC. Hopefully we can get to a point where it is easier to prototype things here then other implementations of WebRTC.

[2018-07-04 06:40] #10 closed

[2018-07-04 06:55] Sean-Der opened #16 "media: support sending MediaStreams with multiple tracks"
Currently the media stream labels are hardcoded in the SDP offer and answer generation. The `RTCPeerConnection.AddTrack` should be extended to support adding media stream labels.

**TODO**
- [ ] Add a [variadic](https://gobyexample.com/variadic-functions) streams argument to the AddTrack method as specified in the [RTP Media API](https://w3c.github.io/webrtc-pc/#rtcpeerconnection-interface-extensi

[2018-07-04 06:58] Sean-Der opened #17 "Implement DataChannels"
This is the big covering ticket, will include links to RFC/design docs as needed.

As far as `pion-WebRTC` is concerned we need to start with a SCTP library to parse/create packets

[2018-07-04 07:12] Sean-Der opened #18 "Implement STUN"
Currently pion-WebRTC only generates host candidates. Adding STUN shouldn't be too difficult and mostly just involves modifying SDP generation and a basic STUN client.

* Add a way for a user to pass a STUN server to `pion-WebRTC` add a new argument to RTCPeerConnection to match Javascript.

* Communicate with the STUN servers to get our public IP see https://github.com/pions/turn/tree/master/inte

[2018-07-04 07:16] Sean-Der opened #19 "Implement better SDP builder"
SDP construction is not great currently. It is a loose collection of SDP methods.  https://github.com/pions/webrtc/blob/master/internal/sdp/util.go#L26

Implement a Go idiomatic way so I can build an SDP given things like
[code]

[2018-07-04 07:17] Sean-Der opened #20 "Port DTLS code to Native Go (instead of OpenSSL)"
This is a huge task, but if someone is up for it I won't stop them :)

When I get around to this I will assign to myself and start the long task. Also more then happy to split the task/get guidance if you are familiar with DTLS/have opinions on how the API looks but don't have time to do the coding.

[2018-07-04 07:28] Sean-Der opened #21 "Improve SDP code so that we properly generate response"
Currently we statically set our supported codecs. This is incorrect.

As described in [section 5.3.1](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep#section-5.3.1)  of the JSEP spec: The SDP answer should contain a MediaDescription corresponding the each MediaDescription found in the SDP offer. If the PeerConnection can't comply with the MediaDescription in the offer, the media section should

[2018-07-04 07:32] Sean-Der opened #22 "Allow user to pass supported codecs"
I don't know exactly what this will look like API wise but we should allow users to specify what codecs they support. This is needed to support cases where user doesn't support all codecs (has hardware decoder for only some codecs)

* Update RTCPeerConnection to allow user to pass supported codecs
* Update SDP generation to take this into account. Also error if user creates a track for a codec we

[2018-07-04 07:39] Sean-Der opened #23 "Implement full ICE"
Currently we only implement `ice-lite` we need to finish this so we can operate with other peers that are `ice-lite` only.

* We should be able to respond to DTLS handshakes (currently we always generate them)
* We should generate the STUN requests to check for ICE connectivity (instead of only responding to them)
* Accept the first connected peer

----
The full RFC is [here](https://tools.ietf.or

[2018-07-04 07:43] Sean-Der opened #24 "SDP code should be able to generate offers, not only answers"
Currently we only generate answers.

The SDP code in general needs a good review. Someone should look at the WebRTC API and make sure we match the Javascript API.

**TODO**
- [x] Implement basic offer generation
- [x] Create an example of offer generation

[2018-07-04 07:55] chenkaiC4 opened #25 "[example]: save-to-disk problem"
Wonderful Work!

I want to try the example, save to disk. But I can't connect the problem run at mac pro and the jsfiddle app.

the sdp generated by jsfiddle code is below:

[code]

it seems like the `o=- 1019280199810234193 3 IN IP4 127.0.0.1` is not right, the ip address is empty.

[2018-07-04 07:56] notedit commented on #19
what about some api like  https://github.com/ibc/libsdptransform?

[2018-07-04 08:03] Sean-Der commented on #25
Hey @chenkaiC4 thanks for trying us out! I don't have access to a mac right now :( but can you try this patch? Someone else mentioned that everything worked if they communicated via loopback.

If that doesn't work I will fix this on Thursday when I have access to a Mac again!

[code]

[2018-07-04 08:16] chenkaiC4 commented on #25
@Sean-Der 💯 👍 demo run success according to your code !!! Thank you 🥂

[2018-07-04 08:21] chenkaiC4 commented on #25
@Sean-Der But i have a question. Why the browser create a sdp with ip address 127.0.0.1, and the go program at serve can connect it?

[2018-07-04 08:32] Sean-Der commented on #25
@chenkaiC4 Right now the browser initiates the call, so when you paste the answer into the browser that is where it gets the IPs from (if you base64 decode that you will see candidate lines with all your local IPs)

I am going to leave this open until I fix macOS! Thanks again for reporting this, keeps slipping my mind.

[2018-07-04 08:33] Sean-Der opened #26 "Find better way to generate contributors in README.md"
Currently I am manually updating them, I see other projects have a nice way to credit everyone that has helped. It would be great if someone could implement this so everyone that helps out gets credit :)

[2018-07-04 15:08] shoutoutloud commented on #26
Hi.This might be helpful :smiley:
[https://github.com/DavidWells/markdown-magic-github-contributors/blob/master/README.md#1-add-markdown-magic-transform-script](url)

[2018-07-04 16:57] backkem commented on #19
Some form of [functional options](https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis) may also provide an alternative:
[code]

[2018-07-04 23:03] Sean-Der opened #27 "Investigate why Chrome doesn't send ICE requests when there is only one candidate"
Currently if Chrome gets a list of ICE candidates with only one it will not send any requests.

For now if we have only one interface we just duplicate the list, but this needs to be properly fixed/investigated.

[2018-07-04 23:08] #25 closed

[2018-07-04 23:08] Sean-Der commented on #25
Hey @chenkaiC4 can you try master and see if it works for you now? You shouldn't need that hack anymore!

thanks

[2018-07-04 23:30] #27 closed

[2018-07-05 02:38] chenkaiC4 opened #28 "[suggestion] some WebRTC knowledge for every issue or a overview introduction"
Hi, @Sean-Der, Thanks For U Great Work! We have look for a Go native WebRTC implement long time.

I have see the issues you created for improving this repo. I hope to contribute some code and want to learn some protocol, but i don't know how to start up for there are series of protocols.

So i suggest to have some basic knowledge for current issues you have created, or a overview intruduction of p

[2018-07-05 10:13] chenkaiC4 commented on #23
Draft is here: https://tools.ietf.org/html/rfc5245#section-2.7

[2018-07-05 10:16] chenkaiC4 commented on #23
Hi, @Sean-Der , i'm read ICE draft, and want to try solve this issue. I will give a PR as soon as possiple.

[2018-07-05 10:25] gedw99 opened #29 "Web client"
https://github.com/zserge/webview

It's a fantastic golang based webview for all desktops.
Very very light and we'll tested.

You can bundle any client side golang code running outside the webview too.

Quick start example:
https://github.com/zserge/webview/tree/master/examples/todo-go

On windows it uses the built in browser ( shtml or something) not the edge browser.

If you need edge browser le

[2018-07-05 10:28] gedw99 commented on #29
Found it :)

https://github.com/asticode/go-astilectron

[2018-07-05 21:42] kc5nra commented on #11
@deepch @colek42
https://github.com/pions/webrtc/pull/30

[2018-07-05 22:33] kc5nra commented on #11
Fixed by https://github.com/pions/webrtc/pull/30

[2018-07-05 22:33] #11 closed

[2018-07-05 22:47] Sean-Der commented on #28
That's a great idea @chenkaiC4!

Would you be interested in starting a wiki on the pions/webrtc github project? I would be more then happy to fill in stuff/add what I know.

There are a bunch of holes in my knowledge, so would help me as well!

[2018-07-05 23:11] Sean-Der commented on #26
Oh that is cool @shoutoutloud !

Yea something like that would be great, in a perfect world it would either just be a shell script or Go. I don't want to add Javascript as a dependency. I might take a crack at this soon, but if anyone else wants it would get merged right away

[2018-07-05 23:13] Sean-Der commented on #23
@chenkaiC4 That would be fantastic!

I am also on Slack so anytime you want to chat I am available. This will be great when we get the Wiki  started also. I am setting some stuff up but will also add it so you can create branches on this repo, I want everyone to be able to push/work on code together.

Hopefully great less friction, and make it more enjoyable to contribute :)

[2018-07-05 23:17] Sean-Der commented on #19
@notedit ibc does AMAZING work, you can't go wrong with stuff like that :)

@backkem APIs like that are great! We have something similar, in our [TURN server/client](github.com/pions/turn) and it reads really well.

If either of you are interested making SDP processing better would be a huge improvement. I am just short on time, going all in on DataChannels for the next week or so. If you are up f

[2018-07-05 23:38] chenkaiC4 commented on #28
@Sean-Der I glad to do it! 😄

[2018-07-05 23:39] chenkaiC4 commented on #23
@Sean-Der thanks, 🥂

[2018-07-06 04:29] notedit commented on #19
Hi @Sean-Der,   i want to pick this. but i  am not so  self-confidence on my golang skills and only have 1-2 free hours  one day.    i will  try this on my private repo.
Thanks.  If others can just do this right away,   please do.

[2018-07-06 05:07] backkem commented on #19
@notedit do you intend on adding the JSON or functional options? They don't have to be exclusive. The idiomatic way to add JSON suppprt is probably to add new Marchall methods.

[2018-07-06 05:31] notedit commented on #19
@backkem  I am thinking add some JSON lib.  also add simulcast/svc parser.

[2018-07-06 08:09] Sean-Der commented on #19
Hey @notedit no rush at all! Also a great chance to get better at Golang. If you have any questions feel free to reach out :)

[2018-07-06 18:16] backkem commented on #24
I'll take a shot at [this](https://w3c.github.io/webrtc-pc/#methods).

[2018-07-06 18:42] Sean-Der commented on #24
Fantastic, thanks @backkem !

I will add you to repo, feel free to refactor anything you want while in there! I tend to just shoot for an MVP, so a lot can be improved.

[2018-07-06 21:54] backkem opened #32 "Read example jsFiddles from GitHub"
According to [this documentation](http://doc.jsfiddle.net/use/github_read.html) jsFiddles can be backed by GitHub. This would allow for easier contributions.

[2018-07-06 22:21] Sean-Der commented on #32
Really nice find! I will add a `jsfiddle` folder to each example directory, should be a pretty quick win :)

(Unless you want to grab it, don't want to steal your good idea!)

[2018-07-07 03:43] backkem commented on #32
By all means, go ahead!

[2018-07-07 18:32] #32 closed

[2018-07-08 14:09] backkem opened #34 "ICE: gather candidates per media section"
According to the [JSEP spec](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-24#section-5.2.1) ICE candidates should be gathered per media section (track):

   generate a unique set of ICE credentials and gather its own unique
   set of ICE candidates.  Bundle-only m= sections MUST NOT contain any
   ICE credentials and MUST NOT gather any candidates.

[2018-07-08 18:44] backkem commented on #16
For anyone interested in taking on this issue: Please check out #35. The purpose of the PR is to match the [WebRTC API](https://w3c.github.io/webrtc-pc/) more closely and it should serve as a good basis to implement MediaStream support. However, MediaStream support itself has been ignored for now.

[2018-07-08 19:14] backkem commented on #19
The functional options API didn't seem scalable enough. I've opted for a chainable API in #35. As an example, this would look as follows:
[code]

PR #35 only implements the chainable API within the context of [JSEP](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep) for now. However, It should be easy to generalize.

@notedit Don't let this distract you. JSON marshaling would still be a great add

[2018-07-09 03:33] notedit commented on #19
@backkem  That looks great,  I will try do the first version and then optimize the API.

[2018-07-09 08:35] Sean-Der opened #37 "Move Github/CI activity to public Slack channel"

[2018-07-10 06:18] Sean-Der commented on #37
Moved GitHub to Slack. Personally don't care about CI (only look when about to merge the branch) so will leave for now.

Feel free to re-open if you disagree!

[2018-07-10 06:18] #37 closed

[2018-07-11 13:54] notedit commented on #19
I have already made a working sdp-transform like lib  here  https://github.com/notedit/go-sdp-transform.  It just is sdp to json,  json to sdp.
I am not sure about the SDP builder,  @Sean-Der  do you have any advise about this?
What i want to do is something like https://github.com/medooze/semantic-sdp-js,  the api is great.

[2018-07-12 04:58] #18 closed

[2018-07-12 05:02] Sean-Der commented on #9
I am excited to announce that @nicolai86 has landed STUN support for pion-WebRTC in master! We are still adding tests/improving things but it works.

----
DataChannels is coming along nicely. I would estimate ~2 weeks, me and @kc5nra are making good progress. We have to fully implement an SCTP parser, but after that should be smooth sailing!

----

@backkem is also making HUGE progress with his SD

[2018-07-12 05:31] nicolai86 commented on #20
The relevant RFC for this is [RFC 6347](https://tools.ietf.org/html/rfc6347) , correct?

[2018-07-12 06:01] backkem commented on #20
Yes, there's also an overview of RFCs on the [wiki](https://github.com/pions/webrtc/wiki/Relative-Drafts-And-Usages).

[2018-07-12 20:56] Sean-Der commented on #26
@nicolai86 oh nice that is perfect, I will add a `git push` hook that makes sure people are added!

Also in the future might be cool to extend it to credit people with what features they did/people who helped but not with code.

[2018-07-12 21:06] nicolai86 commented on #26
We could generate a Changelog based off of commits and probably also issues; but I’m not sure how to track non-code commits consistently ..

[2018-07-13 20:43] backkem opened #38 "Separate the stack into reusable modules"
I've added the following overview of the WebRTC stack to the [wiki](https://github.com/pions/webrtc/wiki/Relative-Drafts-And-Usages):
<div align="center"><img src="https://github.com/pions/webrtc/wiki/images/stack/WebRTC.png" alt="drawing" width="200" height="200"/></div>

Most of these components deserve their own package (or even repository). This issue can be used to track the progress to that

[2018-07-17 04:37] notedit commented on #19
It  seems  @backkem  already did this.

I write a golang sdp transform lib here   https://github.com/notedit/go-sdp-transform.

[2018-07-17 18:52] backkem commented on #19
@notedit I only did the minimal SDP generation/parsing needed for my initial offer/answer implementation. Most of it is in jsep.go. There is definitely room for improvement:
1. Complete the API to support the entire SDP spec.
1. The parsing currently mostly returns entire lines. It would be nice to have direct access to every individual value. This will definitely help for further improvements of

[2018-07-18 19:13] backkem commented on #22
#35 introduces the ability to register codecs. By default you can register a codec with the default media engine. This media engine is used by all new peer connections. However, the user can create a custom media engine and assign it to one or more peer connections.
Are there any more options we should address within the scope of this issue or do we close it and create new issues if needed?

[2018-07-18 19:34] backkem opened #39 "examples: exchange entire RTCSessionDescription"
Currently we only exchange the SDP between the browser (JSFiddle) and the example, hard-coding the session description type on both sides. This should be changed so the entire RTCSessionDescription is exchanged. In addition, all examples should be adapted so the offer/answer direction can be changed.

Update: The [pion-to-pion](https://github.com/pions/webrtc/tree/master/examples/pion-to-pion) exa

[2018-07-18 19:41] backkem opened #40 "examples: Create a pions to pions example"
Right now we only have examples of pions connecting to a browser. It would be nice to have an example of two pions clients connecting to each other.

[2018-07-18 19:51] backkem opened #41 "testing: investigate NAT testing"
Investigate ways to simulate and test traversal of different NAT types and combinations of NAT types.

Related:

- libp2p/go-libp2p#111

[2018-07-18 19:59] backkem opened #42 "testing: integration testing"
Automate integration tests between pions and web browsers. Example setup: Use a headless browser in combination with a simple web server to serve a test web page and exchange the SDP offer/answer. Validate the success using a browser API like the [Google Chrome Remote API](https://github.com/wirepair/gcd). Finally make the test part of the [CI](https://docs.travis-ci.com/user/gui-and-headless-brow

[2018-07-18 20:11] backkem opened #43 "media engine: generate payload types"
When creating a codec, dynamically generate a payload type in the range 96-127 if one wasn't provided. The generation is described in [RFC3551](https://tools.ietf.org/html/rfc3551#section-3)

[2018-07-18 20:12] #22 closed

[2018-07-21 19:31] Sean-Der commented on #17
And we landed! https://github.com/pions/webrtc/pull/31 was merged

Things aren't perfect yet, but it works so merged and we can keep iterating on it.

[2018-07-21 19:31] #17 closed

[2018-07-22 01:29] Sean-Der commented on #40
This is blocked by https://github.com/pions/webrtc/issues/23

Once we land this will be a great first issue, but will mark blocked for now

[2018-07-23 02:20] Sean-Der commented on #26
Implemented a script that will fail the build if any authors are missing in d34d77216b17caa35c7cbbfafaff4236d8960b5d

[2018-07-23 02:20] #26 closed

[2018-07-23 05:03] Sean-Der commented on #9
DataChannels has landed!

You can now use WebRTC DataChannels in master, there are still plenty of things to improve but it works :) if you get a chance try it out and report any bugs! It isn't production ready yet, but getting there. There is an example application [here](https://github.com/pions/webrtc/tree/master/examples/data-channels)

[2018-07-24 06:42] Sean-Der opened #44 "Use gometalinter instead of using individual tools"
Right now we manually use tooling, switch to Gometalinter (and use the defaults as much as possible)

I am honestly ok with the build breaking as upstream changes things, as long as our code is clean/idiomatic as possible

[2018-07-24 07:53] Sean-Der opened #45 "Fix panic in chunk_select_ack unmarshal"
[code]

[2018-07-24 07:54] Sean-Der opened #46 "Run all examples with -race, add locks to RTCDataChannel"

[2018-07-24 16:56] kc5nra opened #47 "Add T3-rtx timer for SACK retransmissions"
https://tools.ietf.org/html/rfc4960#section-6.3.3

[2018-07-24 16:58] kc5nra opened #48 "Add simple PMTU calculation with heartbeats"
Calculate the maximum MTU size that can travel the entire path machine1<->machine2.

The easiest way is probably to craft heartbeat messages starting at the maximum value until they are successfully returned.  Potentially listen to ICMP PacketTooBig

[2018-07-25 05:53] backkem opened #50 "API: Implement the RTCRtpReceiver"
As described in the [WebRTC API](https://w3c.github.io/webrtc-pc/#rtcrtpreceiver-interface)

[2018-07-25 08:02] Sean-Der commented on #45
dupe of #46, issue is just race conditions

[2018-07-25 13:56] backkem opened #51 "net: build net interfaces around datachannels"
Build [net interfaces](https://godoc.org/net) around datachannels. These will significantly simplify building higher level go apps.

- [ ] Determine where to put them (package/repository)
- [ ] net.Addr
- [ ] net.Conn
- [ ] net.Listener
- [ ] Build corresponding Javascript library.

[2018-07-25 17:18] backkem opened #52 "community: related projects"
This ticket tracks projects related to pions. These can be projects using pions or projects we want to/are contributing WebRTC support to.

**Media API**

- [vvspacetime/webrtc](https://github.com/vvspacetime/webrtc)
- [maxhawkins/asciirtc](https://github.com/maxhawkins/asciirtc) ([incubated](https://github.com/pions/asciirtc))

**DataChannel**

- [go-libp2p](https://github.com/libp2p/go-libp2p) (

[2018-07-25 17:53] Sean-Der commented on #52
https://github.com/vvspacetime/webrtc is/was working on an SFU. It would be great if we could support this or do it ourselves eventually.  @vvspacetime still interested in working on this? Anything we can do to support/help, more then happy to share in our README and any dev help you need.

If people can use pion-webrtc to have conferences, and then maybe show them how to do server side video proc

[2018-07-26 07:46] #44 closed

[2018-07-26 07:46] #46 closed

[2018-07-27 02:17] #45 closed

[2018-07-27 02:26] dhannyz opened #53 "Firefox Support"
Firefox is using sdparta_N in their SDP offers as a bundle & mid value instead of the hardcoded 'data' value.
Additionally Firefox only supports a max 62bit value as a sessionID, currently the 64bit value in the answer causes Firefox to error during SDP answer parsing.

[2018-07-27 21:19] ericxtang commented on #52
An open source SFU would be very useful.

Another application would be video broadcasting over the data channel. It can help scale the delivery of a very popular stream to many viewers.

With the combination, an internet talkshow applications can be built fairly easily.

[2018-07-28 04:47] backkem commented on #40
Welcome @writeprovidence, glad to have you. We're very active on the #pions channel of the golang slack if you have any questions. Please note that this issue is still blocked by #23 for the moment.

[2018-07-28 21:40] backkem commented on #16
Welcome @vukovinski, glad to have you. We're very active on the #pions channel of the golang slack if you have any questions.

[2018-07-29 08:38] notedit commented on #16
do we need implement unified-plan?

https://tools.ietf.org/html/draft-roach-mmusic-unified-plan-00

[2018-07-30 09:45] notedit opened #54 "Support unified-plan"
firefox supports unified-plan,  latest chrome supports unified-plan too.

https://tools.ietf.org/html/draft-roach-mmusic-unified-plan-00

https://bugs.chromium.org/p/chromium/issues/detail?id=799030

[2018-07-30 10:47] backkem commented on #54
Thanks @notedit . Let us know if you have any specific needs for this feature. That allow us to determine the correct priority.

[2018-07-30 10:50] backkem commented on #16
#54 has meanwhile been created to track unified-plan support.

[2018-07-30 11:15] notedit commented on #54
If we have want to support multi MediaStreams  or build a SFU,  we need this feature.

[2018-07-31 07:49] Sean-Der commented on #23
Hey @chenkaiC4 now that DataChannels dropped I have time to work on this!

If you started working already I would love to work together on it. If you haven't had time no worries at all I have time to grab it now :)

[2018-07-31 14:56] backkem opened #55 "API: Implement the Peer-to-peer Data API"
Implement the Peer-to-peer Data API as documented in the [spec](https://w3c.github.io/webrtc-pc/#peer-to-peer-data-api)

[2018-08-02 10:45] vukovinski commented on #16
Be happy bot :)

[2018-08-02 12:35] brendan-rius opened #58 "How to send and receive at the same time?"
Hi, following your example I was able to receive media from the client to the server, but when I try to add another track to send media from server to client, the handler in `OnTrack` is not called anymore.

If I remove the call to `AddTrack` (that I used to add the track to send data to the client), then it works again

[2018-08-02 13:14] backkem commented on #58
Hi @brendan-rius, I think this may be due to limitations in our signaling procedure (possibly #50). We're actively working on building it out further and would love to ensure your use-case is added ASAP. If possible, please share a code snippet to ensure we're looking at the same problem.

[2018-08-02 13:33] brendan-rius commented on #58
Here is the code that works (but there is no track added):

[code]

and here is the code that does not work (the only difference is that I added a track):

[code]

[2018-08-02 14:41] brendan-rius commented on #58
If you give me some guidance on where I should start to look at, I can maybe give you a hand as this is something I really need :)

[2018-08-02 15:46] backkem commented on #58
That would be awesome. As a quick hack I would try to force the direction to RTCRtpTransceiverDirectionSendrecv on signaling.go:306 like on line 334.
Please also consider joining the #pions channel of the gophers slack. We're pretty active in there and will be able to communicate a bit easier.

[2018-08-03 00:28] brendan-rius commented on #58
Should be fixed in #60  (at least temporarily)

[2018-08-03 11:31] Bogdan-D opened #62 "Issue with profile-level-id for h264 on chome android"
Current profile-level-id doesn't work for chrome android.
With current implementation video playing does not start on such devices.
If works fine if it's replaced from "42001f" to "42e01f"

[2018-08-03 12:49] chrisprobst commented on #9
Hi! Awesome project! What would be necessary for mobile support?
Shouldn't it work out of the box, since it is Go only?

We really need mobile functionality and want to cooperate with that.
I saw that it is not part of the road map, but if we are willing to help, what would be a good starting point?

Best,
Chris

[2018-08-03 14:17] backkem commented on #9
Hi @chrisprobst, we definitely want to support your use-case. Can you elaborate a bit more wat exactly you want to accomplish? E.g.: connect with mobile browsers, compile with go-mobile or ...? Please also consider joining us in the #pion channel of the gophers slack. We're really active on there.

[2018-08-03 14:44] chrisprobst commented on #9
Hi @backkem , nice to hear from you!

Yes, gomobile is our target. We are StriveCDN and building a Go-based SDK for P2P live streaming optimization. Connection would be between SDK (Android and iOS) <-> Web Browsers on Desktop.

I'll join you guys on slack, perfect!

[2018-08-03 14:58] tabvn opened #63 "Can we have an example for attach current stream to other webRTC"
Hi Pions

could you create an example show how to attach a stream track (track *webrtc.RTCTrack) from webRTC call A to another WebRTC call B and send it to B browser ?

* Plus could we have sample to push stream track to another RTMP server :)

Best regards,
Toan

[2018-08-03 16:35] gedw99 commented on #9
There is a flutter webrtc plugin

https://github.com/cloudwebrtc/flutter-webrtc

It should be reasonably easy to get the flutter client talking to pions. I
will be working on it in my spare time.

If anyone in the team wants this +1 this

On Fri, 3 Aug 2018, 16:49 Christopher Probst, <notifications@github.com>
wrote:

[2018-08-03 16:44] backkem commented on #63
Hi tabvn, @brendan-rius has kindly offered to create this kind of example.

[2018-08-03 16:54] backkem opened #64 "mobile: support compiling with go-mobile"
TBD if we want to try this before porting DTLS (#20).

cc @chrisprobst @gedw99

[2018-08-03 17:10] backkem commented on #9
We'll move the go-mobile conversation to #64. I'll hide the conversation here to keep this topic clean.

[2018-08-03 17:26] backkem opened #65 "example: create a pions <-> flutter-webrtc example"
Create an example connecting pions with [flutter-webrtc](https://github.com/cloudwebrtc/flutter-webrtc).

cc @gedw99

[2018-08-03 20:12] gedw99 commented on #65
Hey all

I know flutter and golang but not the dark mysteries of webrtc.
Happy to collaborate to make it come together.

What repo do you want it in ?

On Fri, 3 Aug 2018, 19:26 Michiel De Backker, <notifications@github.com>
wrote:

[2018-08-03 22:31] tabvn commented on #63
Cool, i 'm look forward to hearing from that soon. If possible we do have an example about push webRTC stream track into another stream server like RTMP (we may use ffmpeg)

[2018-08-03 22:35] backkem commented on #65
@gedw99 I suggest we keep the example as simple as possible. Unless flutter has some specific needs, I think the example can live in the main repo for now.

[2018-08-04 08:33] gedw99 commented on #65
ok. I will work on a PR.

On Sat, 4 Aug 2018 at 00:35 Michiel De Backker <notifications@github.com>
wrote:

[2018-08-04 08:53] gedw99 commented on #20
There is an existing DTLC golang implementation..

Background:
The go team have an issue for a pure golang dtls implementation:
https://github.com/golang/go/issues/13525
But they are still holding out from putting a go team supported package into the go crypto library.

In that issue, the most promising DTLS implementation highlighted is this:
https://github.com/bocajim/dtls

@bocajim  @backkem

S

[2018-08-04 18:12] leslie-wang opened #66 "send/receive natively"
Thanks for making this project.

I want to send / receive through datachannel natively. Seems like `CreateOffer` is `TODO` at master branch. So wonder if you have any plan to support?

[2018-08-04 18:26] writeprovidence commented on #40
yes

On Fri, Aug 3, 2018 at 4:15 PM, Gitcoin.co Bot <notifications@github.com>
wrote:

[2018-08-04 20:15] backkem commented on #66
Welcome @leslie-wang, we're working our way towards supporting connections between pions clients ASAP. In addition to CreateOffer we need full ice support (#23). We'll be making an example of this in #40. This should be up and running in the coming days/weeks.
Please consider joining the #pion channel of the gophers slack. We've got a great community in there.

[2018-08-05 01:01] tabvn commented on #63
could you invite me on slack to group chat ? toan@tabvn.com

Best regards
Toan

[2018-08-05 23:40] writeprovidence commented on #40
hello @backkem pls could you give a little more explanation on this, thanks .

[2018-08-06 13:00] chrisprobst commented on #64
How could one start working on this issue? I guess the openssl lib has to be cross compiled for ARM so that the C files link to correct library. Do you have a hint for how to start ? I'm on macOS and everything works beside the gomobile build process due to an missing import:

[code]

[2018-08-06 14:58] gedw99 commented on #64
The only option is to split the codebase and use a c lib and wrap it.
This woudl mean that you need to be able to swap out what DTLS lib you use depending if your on desktop versus mobile.

This is ALL of course until a pure golang DTLS lib is sturdy enough. But this is the world we live in for now.

SO a very brief search came up with:

 https://github.com/sics-iot/tinydtls-standalone
I found tin

[2018-08-06 17:27] Sean-Der commented on #63
Hey @tabvn you can create an account here https://invite.slack.golangbridge.org/

Once you have joined you can just do `/join #pion` and you are all set! Look forward to seeing you there :)

[2018-08-06 19:36] backkem commented on #39
Hi @evgeniuz. Awesome, glad to have you! Don't hesitate to ask any questions you may have. Please conciser joining the #pion channel of the gopher slack. It makes discussions a little easier plus we've got a great community in there.

[2018-08-06 19:46] backkem commented on #64
We're going to focus on getting connections between two pions clients working for now. Afterwards we'll look into this. We intend to estimate the difference in effort between compiling the current version on ARM and porting DTLS to pure go. If the difference is minimal we'll likely pursue the latter since it is our goal to avoid the CGO dependency anyway.

[2018-08-06 21:31] backkem commented on #40
Currently all our examples demonstrate connections between a pions client and a web browser. This issue is meant to introduce one (or more) example(s) that demonstrate a connection between two pions (Go) clients. I suggest you start by looking at the existing examples. For example: gstreamer-send and gstreamer-receive (or save-to-disk). These could be combined into one example so one pions client

[2018-08-06 23:15] gedw99 commented on #64
I think pure golang is a better approach too

On Mon, 6 Aug 2018, 21:46 Michiel De Backker, <notifications@github.com>
wrote:

[2018-08-09 03:00] trivigy commented on #21
@Sean-Der I have been reading all of the RFCs and comparing them to what have been implemented so far and I feel like I might be ready to take a crack and this issue.

It seems that what this issue is asking for is better `Marshal` and `Unmarshal` for the entire `SessionDescription` struct. A lot of the stuff that RFC mentions is related to changing states and updating stuff inside of the Ice Agen

[2018-08-09 03:26] trivigy commented on #21
I am assuming that the change will simply have to be made inside of `SetSessionDescription` to actually pass the IceAgent down to the unmarshalling and for now just create handles for things that might need to be manipulated inside of an IceAgent that was not implemented completely yet.

[2018-08-09 05:06] trivigy commented on #21
@backkem Would love a little bit of guidance regarding whether I am thinking about this correctly.

[2018-08-10 14:31] writeprovidence commented on #40
[Client connection.pdf](https://github.com/pions/webrtc/files/2278236/Client.connection.pdf)

[2018-08-10 14:34] writeprovidence commented on #40
hello@backem pls review the code if am on the right track. its on pdf
waiting for ur reply.

[2018-08-10 15:08] backkem commented on #40
I'm sorry @writeprovidence but we don't accept contributions via PDF. I've deleted the related comment for security reasons. If you want to contribute, you'll have to send in a pull request with an example, written in Golang, similar to the current examples in the examples directory.

I fear this issue may be outside of your current abilities. It requires you to possess working knowledge of Golang

[2018-08-10 15:52] writeprovidence commented on #40
ok. thanks for ur patience. God bless

On Fri, Aug 10, 2018 at 3:08 PM, Michiel De Backker <
notifications@github.com> wrote:

[2018-08-11 14:21] rosimildo opened #69 "Sending to the browser a RTP Stream source"
Hi there, and thanks for the excellent work!
So far, this project looks very promissing!

I am wondering if there is anything on works to get a generic RTP source to the browser. It would be similar to the gstreamer example, but reading the media from an RTP source which could be the output of gstreamer itself, ffmpeg or vlc.

If there is none, in about a month I should be able to contribute a bit

[2018-08-11 14:23] backkem opened #70 "API: Implement Session Negotiation Model"
Implement [Session Negotiation Model](https://w3c.github.io/webrtc-pc/#x4-7-session-negotiation-model)

**TODO** (Among others)
- [ ] Determine how to 'debounce' the NegotiationNeeded event without operations queue
- [ ] NegotiationNeeded event

[2018-08-11 14:50] backkem commented on #69
Welcome @rosimildo.
A quick overview of what we have right now. If you look at the `gstreamer-send` example you'll see the following line:
[code]
This line initializes some default 'codecs' which are shipped with the library.
Note that when referring to a 'codec' we mean a collection of:
- Some meta data that defines the codec. This is used in WebRTC to find matching capabilities between the peers

[2018-08-11 15:03] rosimildo commented on #69
Thanks Backkem for your quick answer!

For now, I am browsing the project to get familiar with, and hopefully soon to be able to play with the examples..... thanks!

[2018-08-11 15:07] backkem commented on #69
Great, If you have any questions while browsing you can always find us in the #pion channel of the Gopher slack.

[2018-08-11 21:56] Sean-Der commented on #23
@chenkaiC4 no worries at all!

When ever you are ready to contribute would love to have you, we are all on Slack also if you ever need help finding a good issue.

----

This was implemented by https://github.com/pions/webrtc/pull/56

[2018-08-11 21:56] #23 closed

[2018-08-11 22:28] Sean-Der commented on #21
@trivigy Hey! Sorry for the radio silence when building this stuff, but it is all done now :)

I am gonna start an article on the Wiki for contributors about what you can do to get involved. I will send you a message on Slack when it is done.

----
This was implemented by https://github.com/pions/webrtc/commit/bf062e38b7b2c8108868cf6aea4b28279b074c32

[2018-08-11 22:28] #21 closed

[2018-08-12 07:58] Sean-Der commented on #38
I moved this to our [Project Ideas)(https://github.com/pions/webrtc/wiki/Contributing#project-ideas)

[2018-08-12 07:58] #38 closed

[2018-08-12 08:12] Sean-Der commented on #20
I moved this to our [Project Ideas](https://github.com/pions/webrtc/wiki/Contributing#project-ideas)

[2018-08-12 08:12] #20 closed

[2018-08-12 08:14] Sean-Der commented on #24
This was implemented by https://github.com/pions/webrtc/commit/bf062e38b7b2c8108868cf6aea4b28279b074c32

[2018-08-12 08:14] #24 closed

[2018-08-12 08:14] Sean-Der commented on #28
I am happy with this!

We now have a developer wiki, and we are slowly expanding it

[2018-08-12 08:14] #28 closed

[2018-08-12 08:16] Sean-Der commented on #40
I moved this to our [Project Ideas](https://github.com/pions/webrtc/wiki/Contributing#project-ideas)

Feel free to reopen this when this is active again!

[2018-08-12 08:16] #40 closed

[2018-08-12 08:40] Sean-Der commented on #62
Hi @Bogdan-D

You can easily override this yourself via the API now. We can't assume a certain profile however, maybe we should revisit this entirely (and not have any defaults)

[2018-08-12 08:40] Sean-Der commented on #42
I moved this to our [Project Ideas](https://github.com/pions/webrtc/wiki/Contributing#project-ideas)

[2018-08-12 08:40] #42 closed

[2018-08-12 08:43] Sean-Der commented on #58
Hi @brendan-rius @backkem

What are the next steps here? Do we just need to query direction at build time (should be a simple fix!)

[2018-08-12 09:16] Sean-Der commented on #53
I have started work on this, will open a PR when I make some progress.

[2018-08-12 10:50] gedw99 commented on #20
@Sean-Der
there are many good c DTLS, and so maybe a conversion like what the golang team often do. For example when they had to charge the compiler itself from c to go.

https://github.com/elliotchance/c2go

[2018-08-12 16:11] Bogdan-D commented on #62
Hi @Sean-Der,

Sure, that's exactly what I'm doing right now.
Just informing you that SDP exachange should be not hardcoded values,
I think the best if you could rely on client's SDP profiles in response, so browser will able to think they are working with correct SDP profile.. etc

[2018-08-14 07:35] Sean-Der commented on #53
Hey @dhannyz can you try the PR out, it has full FireFox support (audio, video and datachannels) I hope to merge it soon.

Would love to get you back on pion-WebRTC

thanks!

[2018-08-14 08:25] Sean-Der commented on #69
Hey @rosimildo, thanks for checking out pion-WebRTC!

We have examples of GStreamer generating RTP traffic (and consuming it) I am happy to add more examples though (I think this covers what your looking for though)

Feel free to reopen this if you have a specific example that would help developers learning this library! And always happy to chat in Slack.

[2018-08-14 08:25] #69 closed

[2018-08-14 08:30] Sean-Der commented on #52
Hi

@ericxtang I would love to build something that would be unique/useful for people! I am going to start a email thread on our mailing list to gauge community interest, it would distract from normal pion-WebRTC development. If it is something innovative I would love to build it.

Also we have DataChannels now! Personally I would love to do anything I can to help livepeer, the whole concept is am

[2018-08-14 18:53] Sean-Der opened #74 "Janus support"
Currently we aren't able to pull from https://janus.conf.meetecho.com/

Get a PoC going so that we can pull from it

[2018-08-14 22:12] Sean-Der commented on #53
This landed with #73 @dhannyz

[2018-08-14 22:12] #53 closed

[2018-08-15 14:20] Bogdan-D opened #78 "Regression: connection failed"
The latest working commit c87c3ca45386f2889887ac70633d71841793bc3c
Current master doesn't establish connection at all, I think issue related because of latest ICE changes.
Tested with chrome browser.
Network map: `client -> NAT -> server with real ip`

[2018-08-15 16:36] Sean-Der commented on #78
Oof, sorry about that @Bogdan-D

Will debug+fix after work, thanks!

[2018-08-15 17:51] Sean-Der commented on #78
Hey @Bogdan-D can you cherry-pick https://github.com/pions/webrtc/commit/c5255370aeea40d7b7cabb1feb07b3c6414dcbdd

If that works can push to master. Right now we are discarding STUN candidates (I will work on getting E2E testing working) would have really helped in this situation.

thanks!

[2018-08-15 19:08] Sean-Der commented on #78
Hey @Bogdan-D I pushed that master, just to be safe.

Can you test again and see if that fixes it for you, I haven't had a chance to confirm that is it.

[2018-08-16 08:46] Sean-Der commented on #64
Just to update anyone watching, great news in Slack today! Max was able to get pion-WebRTC working on Android (and will be doing iOS as well)

I am not involved in the work, but sounds very promising :)

[2018-08-16 10:35] Bogdan-D commented on #78
@Sean-Der Can't build master because of moved ice to internals.
Ice is required for this code
[code]

[2018-08-16 10:40] Bogdan-D commented on #78
Tried commit 12e7e87102d54abe1c14fae9abef76fbad00b5fd - still the same

[2018-08-16 14:43] notedit commented on #74
hi  @Sean-Der  What else still need to do ?    I can help with this.

[2018-08-16 17:13] Sean-Der commented on #78
@Bogdan-D I reverted moving ICE to internals

Are both the client+server using STUN servers?

[2018-08-16 17:16] Sean-Der commented on #74
@notedit Hey! I haven't started at all, if you could get the signaling started so we could connect to a videoroom that would be amazing. I am really strapped for time, so don't know how much progress I could make.

I haven't work with Janus in a long time, but it looked like your library was the best bet? I was going to start something in `examples/`

thanks!

[2018-08-16 17:45] notedit commented on #74
I have written some janus signaling module one year ago.   I will give a try.

[2018-08-16 21:54] Sean-Der commented on #78
Hey @Bogdan-D

I updated the examples, that should be more useful. I just tested and the following scenario works using master. Would like to fix up your scenario, I am hoping that the ICE security checks (and lack of STUN on one side) is what is breaking you.

`AWS (pion-WebRTC) -> NAT -> INTERNET <- NAT <- Home (Chromium)`

[2018-08-16 21:55] Sean-Der commented on #74
Fantastic, thank you!

If there is anyway I can help I am here! The hardest part for me is getting all the signaling working, but if you can get that wired up I can debug any ICE/DTLS/SRTP issues.

[2018-08-17 04:43] Bogdan-D commented on #78
Hey @Sean-Der
Both client and server are using same STUN server like in examples:
[code]

[code]

[2018-08-17 04:51] Bogdan-D commented on #78
Here are SDP's of both request and responce

[code]

[code]

`40.118.62.201` is real IP for the server.

[2018-08-17 04:57] Bogdan-D commented on #78
Only message I see from golang side is ` websocket: close 1001 (going away)`

[2018-08-17 05:18] Sean-Der commented on #78
Hey @Bogdan-D the request doesn't have any candidates so pion-WebRTC is going to not allow any inbound traffic.

This worked before because we just allowed all traffic (ice-lite just isn't that smart) can you update your requester to only send the SDP after `onicecandidate` emits a null candidate like [here](https://github.com/pions/webrtc/blob/master/examples/gstreamer-receive/jsfiddle/demo.js#L2

[2018-08-17 05:52] Bogdan-D commented on #78
Thanks, that's fixed the issue. One problem is that collecting ICE candidates takes long time (about 30 seconds), but that's not related to the issue

[2018-08-17 05:53] Sean-Der commented on #78
Wohoo! Glad that fixed it.

Is it slow on Pion-WebRTC, or your browser? Can you maybe drop slow ICE candidates (pion-WebRTC doesn't support TURN so you can drop those) or maybe choose better STUN servers?

trickle-ice is on our roadmap, but not in the near future :( thanks again for using pion-WebRTC and dealing with all the breakage! I know it is frustrating, but hopefully will get better quickly

[2018-08-17 06:03] Bogdan-D commented on #78
Thanks a lot for your help!

It's slow in the browser, and not depend on STUN server - discovering all ICE candidates is always 39 seconds (using Chrome). You can try check it here https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/

[2018-08-17 06:10] Bogdan-D commented on #78
Here is a trick I've found to solve that
[code]

[2018-08-17 06:27] Bogdan-D commented on #78
One more problem related to the issue: now I don't see `completed` event in pions-webrtc, so stream starts successfully, but then it stopped after few seconds

[2018-08-17 06:38] Bogdan-D commented on #78
It looks like deadlock, after connected state there are no other state chanes, even `failed`

[2018-08-17 07:02] Sean-Der commented on #78
Hey @Bogdan-D I pushed a small fix to master (unrelated to this issue though I believe)

I am not able to reproduce the deadlock, I just ran the `save-to-disk` example for 15 minutes and seems to be doing fine :/ do you have a reproduce?

There was a deadlock in ICEAgent, but it was fixed. I don't have any idea except `pprof` I am here to help I really want to fix up all your issues and get back u

[2018-08-17 07:31] Sean-Der commented on #78
Also @Bogdan-D `connected` is the final state, we currently don't transition to `completed` (full ICE is still being worked on)

[2018-08-17 10:34] programmingman opened #80 "undefined: stun.UseCandidate, stun.IceControlling and stun.Priority"
[code]

[2018-08-17 15:57] Sean-Der commented on #80
Hey @programmingman your copy of `github.com/pions/pkg` is out of date.

If you `go get -u` in `github.com/pions/webrtc` or `git pull` in `github.com/pions/pkg` this will be fixed.

mind closing the issue if that fixes it for you? thanks!

[2018-08-17 16:38] programmingman commented on #80
@Sean-Der it's my negligence,thanks.

[2018-08-17 16:38] #80 closed

[2018-08-17 17:08] Sean-Der commented on #80
It needs a better design, I will see if I can find a way to make it a better experience! Thank you for using `pion-WebRTC`

[2018-08-19 16:40] trivigy opened #83 "Design proposal for RTCIceTransport"
For a little white I have been brainstorming on how to best enhance the ICE protocol and finally after conversations with @Sean-Der decided to put down the information I found in this proposal. This change is primarily only for enhancing internal readability and does not change a single thing in terms of the public API. In this proposal I am not going to cover in depth how the current design of th

[2018-08-20 01:54] programmingman commented on #80
@Sean-Der My pleasure.

[2018-08-20 04:11] Sean-Der commented on #83
This is fantastic! Thank you so much for doing this, in the future this should be the standard before making any changes, this just makes everything better long term.

* For the IceAgent constructor we pass STUN/TURN URLs. It then maintains them and emits up to the RTCPeerConnection when they are ready. This makes sense to me (and matches the RFC) thanks for doing all the research!

* `IceAgent.Ga

[2018-08-20 04:11] Sean-Der commented on #78
Hey @Bogdan-D just checking in, anything I can do here to help?

[2018-08-20 04:12] Sean-Der commented on #74
Hey @notedit just checking in!

I think you can create any you want in `/examples` and you can depend on w/e libs you see fit :) mind if assign this to you. No rush, but lots of people are excited for this.

thanks!

[2018-08-20 05:06] ronanj opened #84 "PayloadTypeWebRTCBinary mapped to deprecated value"
The PPID for the binary data type `PayloadTypeWebRTCBinary` is currently defined as `52` (file https://github.com/pions/webrtc/blob/master/internal/sctp/chunk_payload_data.go#L75)

Shouldn't it be equal to `53` instead, per IETF spec: https://tools.ietf.org/html/draft-ietf-rtcweb-data-channel-13#section-8

[code]

As a matter of fact, sending binary data from chrome will fail using the following c

[2018-08-20 10:16] shithappens2016 opened #85 "Add IPv6 Support"
listen udp4: address 0000:0000:0000:000:0000:000:0000:0000:00000: too many colons in address

[2018-08-20 15:54] kc5nra commented on #84
Yep! This looks like a typo, thanks for catching it!

[2018-08-20 18:03] trivigy commented on #83
@Sean-Der So yeah... I wrote an answer for every point you mentioned. Sorry that it is a long explanation.

Yes. That exactly how it is going to work.

A few things to mention here. As for the async capability no. At least not at first. In my personal opinion we should use goroutines in general because **a**. it is SUPER golang. **b**. It is in line with RFC design. **c**. Without this we, already

[2018-08-20 23:59] ronanj commented on #84
Associated fix / pull request: https://github.com/pions/webrtc/pull/86

[2018-08-21 14:04] notedit commented on #74
Just install janus.   Working on this.

[2018-08-21 21:59] Sean-Der commented on #84
This was fixed by the merged PR for #86

Thanks again @ronanj

[2018-08-21 21:59] #84 closed

[2018-08-21 22:30] brendan-rius commented on #58
@Sean-Der yes

[2018-08-22 06:43] notedit commented on #74
@Sean-Der  I just push some code to https://github.com/pions/webrtc/tree/janus-gateway

The janus-gateway is on my public server,  you can visite it too,  in my testing,  pions-webrtc can connect to janus-gateway,  but still have some problems.
1,  I config janus-gateway to use ice-lite,  do pions-webrtc support ice-lite?
2, I see pions-webrtc iceconnection state change to  connected to disconnect

[2018-08-22 18:31] topfs2 commented on #64
How did he achieve it? did he port the C parts to pure golang?
Mostly asking since I wanted to use this and cross compile to arm (synology), but got into issues with ssl. I got it to work on raspberry pi with ubuntu mate (without cross compile) but could not move that to another arm os (since it was missing ssl-dev)

Anyways, awesome work, the project seems to be real nice and would love to see it

[2018-08-23 12:09] wattanakorn495 opened #87 "no binding success response"
I test pions data-channel examples on this scenerio
intenet <-> wifi router nat <-> PC1 (windows 10 + enable wifi hospot) <-- wifi hospot --> PC2 (ubuntu)
i run pions on PC2 and js on PC1
it is no binding success responce send form PC2 to PC1
but javascript peers on chrome works fine

js to js
192.168.137.1	     192.168.137.251	STUN	138	Binding Request user: Uplx:0NIC
192.168.137.251	192.168.137.1

[2018-08-23 19:09] backkem commented on #64
I think he cross compiled OpenSSL using a docker container. Hopefully we can get this added as an example at some point.

[2018-08-27 17:10] gedw99 commented on #64
That would be awesome
Interesting to see his code and makefile

[2018-08-27 20:33] deepch opened #89 "sdp rtsp -> to sdp rtp"
hello

I'm start create sample use pions/webrtc without gstreamer for rtsp to webrtc streaming

https://github.com/deepch/RTSPtoWebRTC

so far this is a very early code but it already works.
But at the start he starts producing very slowly.

I can not understand how you better give away packages

sps , pps , key , p, p, p
or use h.264 annex b
00 00 01 sps 00 00 01 pps 00 00 01 key

I think I might

[2018-08-28 18:55] Sean-Der commented on #87
Hey @wattanakorn495 sorry for the delay!

I am going to look at this soon, been a bit swamped recently.

[2018-08-31 15:44] trivigy opened #96 "Passing variadic arguments in place of options or configs"
Hey guys, I wanted to explain a situation here and wanted to get some input with a proposed deviation from the general API/JS spec. This way we are going to make the library more golang like while actually solving a tiny but really annoying problem. I would greatly appreciate your input on the proposal.

**Problem**
Since the WebRTC spec was written for JS with has first class object, which are ba

[2018-08-31 16:05] trivigy commented on #96
One proposal came from @backkem is to get rid of wrapper options function like `WithRTCDataChannelInit` and just pass the arguments in the outer function so that the use case will look more like:
[code]

[2018-08-31 17:25] backkem commented on #16
Welcome @BR7braj. Looking forward to working with you. We're very active on the #pions channel of the golang slack if you have any questions.

[2018-09-01 05:50] Sean-Der commented on #96
Another solution (and my favorite) is the one you did with the SDP code, use pointers to show default values.

That is a pain because you can't do `&true` but you could do something like `&webrtc.NullBool{true}` which means things can be a one liner.

I think we need to do something that involves passing a struct, otherwise the API is going to look foreign if you compare a JS WebRTC tutorial to pi

[2018-09-01 06:12] gedw99 commented on #64
@backkem yes i am pretty sure this is what he did. On android you can build as a shared lib and on IOS as an archive and then use it

[2018-09-01 12:41] trivigy commented on #96
@Sean-Der Hahaha... It is almost like we go back and forth between wanting to be like JS API and not. I started implementing the other approach already but I am happy to change it. Keep in mind that the divergence we are talking about is only going to be related to the argument intake of the different functions that have options/configs allowed. Generally speaking I want to stay as close to the JS

[2018-09-01 21:11] trivigy commented on #96
I have been messing around with this for quiet a while and no matter how I do it, if we make it using nil the way I did in sdp it will require the user to either use wrapper functions which is ugly or write extra code code the way I did with sdp which is hard because not all users will know that trick. Either way I am kinda leaning more and more towards my proposal as I mess around with this.

[2018-09-01 23:12] trivigy commented on #96
https://stackoverflow.com/questions/30716354/how-do-i-do-a-literal-int64-in-go

Found this and wanted to put it here for reference. Gosh I find like golang is missing some seriously basic functionality.

[2018-09-02 00:56] trivigy commented on #96
@Sean-Der @kc5nra after a short convo with some of the people in the golang community I am going to do what @Sean-Der wanted. I am going to implement our own special structs that default nil based primitives.

[2018-09-02 00:56] #96 closed

[2018-09-02 00:58] trivigy commented on #89
@deepch Not really sure how to help you with this. Could you give more feedback.

[2018-09-02 04:01] trivigy commented on #96
For record keeping, this is what I am going to re-implement and imitate. Credits go to whoever implemented this library. https://golang.org/pkg/database/sql/#NullInt64

[2018-09-02 13:33] inta495 commented on #87
I changed these line in agent.go and it works.
both controlling and controlled agent call pingCandidate
 in pingCandidate
`

if a.isControlling {

		msg, err := stun.Build(stun.ClassRequest, stun.MethodBinding, stun.GenerateTransactionId(),
			&stun.Username{Username: a.remoteUfrag + ":" + a.LocalUfrag},
			&stun.UseCandidate{},
			&stun.IceControlling{TieBreaker: a.tieBreaker},
			&stun.Priority{

[2018-09-02 13:50] wattanakorn495 commented on #87
I add these line in agent.go and it works
both controlling and controlled agent call pingCandidate
in pingCandidate
`
if a.isControlling {

		msg, err := stun.1Build(stun.ClassRequest, stun.MethodBinding, stun.GenerateTransactionId(),
			&stun.Username{Username: a.remoteUfrag + ":" + a.LocalUfrag},
			&stun.UseCandidate{},
			&stun.IceControlling{TieBreaker: a.tieBreaker},
			&stun.Priority{Priori

[2018-09-02 13:58] backkem commented on #87
Thanks for looking into this. Are you comfortable with (or interested in learning) sending a pull request for the proposed changes? This would really help us to make sure we're looking at the correct changes, run all the required checks and correctly attribute these findings to you. We'll be sure to help you through this process. Please conciser joining the #pion channel of gophers slack if you wo

[2018-09-04 09:06] joeky888 opened #102 "How to replace gstreamer from the examples gstreamer-receive and gstreamer-send"
How could I replace gstreamer with something more lightweight c lib

or pure go lib if I only want to work with audio (non-GUI app)?

Any ideas?

Thanks in advance :)

[2018-09-04 09:38] joeky888 commented on #102
I would like to make a simple and lightweight cli audio chat app using pions webrtc.

Gstreamer seems to be a heavyweight dependency for me.

[2018-09-04 10:00] deepch commented on #102
I think you can do this. But still there will be two dependencies this libssl developers want to remove it and I think this is very correct.
and you receive audio device pcm audio you can mux it to g711 alaw / ulaw
but webrtc does not support as I understand it pcm, alaw, ulaw, aac need encode to opus

1) you need find go project use opus https://github.com/hraban/opus
2) you need receive raw pcm

[2018-09-04 10:12] deepch commented on #102
libssl <- I would really like that the developers deleted this dependence
and then one would say proudly that this is on pure golang ;)

[2018-09-04 11:31] deepch commented on #102
I can do this a little later, since I was on vacation.

[2018-09-04 13:04] gedw99 commented on #102
What about https://github.com/nareix/joy4

Looks like a full bodied replacement of gstreamer to me.
What do you think ?

On Tue, 4 Sep 2018, 13:31 Andrey Semochkin, <notifications@github.com>
wrote:

[2018-09-04 13:33] joeky888 commented on #102
I don't think it has an opus decoder/encoder in it.

[2018-09-04 15:32] gedw99 commented on #102
No it doesn't.
But I am thinking it's smarter to add it to that lib because it's setup for
muxing and transcoding that's all.

On Tue, 4 Sep 2018, 15:33 Joeky Zhan, <notifications@github.com> wrote:

[2018-09-05 06:35] joeky888 commented on #102
Cross-platform is better,
but for now I am working on linux so I am using alsa lib to play the audio for testing.

And the following code does not work, it only produces noises.

[code]

[2018-09-05 06:39] Sean-Der commented on #89
Hey @deepch sorry for the slow response.

Who is producing the video? pion-WebRTC needs to implement RTCP so we can emit FIR/PLI. Currently pion-WebRTC doesn't request a full keyframe when it connects (so if there is any packet loss/peer doesn't connect right away) you will see this long gap. I am currently implementing this in the `proxy` branch.

If video is slow to play in the browser, then I w

[2018-09-05 06:52] Sean-Der commented on #102
Lots of info here, will try my best to respond to everything!

# Is GStreamer required.
Nope! We have some examples that use GStreamer, but we also have others that save VP8 straight to disk with no extra dependencies [save-to-disk](https://github.com/pions/webrtc/tree/master/examples/save-to-disk)

# Dropping libssl
me and @trivigy talk about this a lot. It is going to be quite the undertaking, b

[2018-09-05 06:55] Sean-Der commented on #87
Hey @wattanakorn495 does this work for you in master now that your PR has landed? Mind closing it out if it does.

thanks!

[2018-09-05 06:56] Sean-Der commented on #85
Thanks for the bug report @shithappens2016 !

This is in progress, and will close it out when it lands in master

[2018-09-05 07:14] joeky888 commented on #102
Thanks! I finally heard some voices, but the voice is so deep, like I am using a voice changer or something..

[2018-09-05 07:31] Sean-Der commented on #102
Nice! If you can hear voices I don't think there is anything left to tune with `pion-WebRTC`, since it just transports the audio buffers. If it was a bug at that level it would completely corrupt it (not change the pitch)

I would try playing with things like rate+format+channels and see if any of that helps.

[2018-09-05 07:33] Sean-Der commented on #78
Hey @Bogdan-D sorry for the delay, just hit with so many different issues.

Do you have an easy reproduce?

I don't understand how the lock in the portsManager could be the issue. @kc5nra @trivigy @backkem any ideas? We could make that an atomic really easily, but would rather fully understand the issue.

[2018-09-05 07:34] Sean-Der commented on #74
Thanks for getting this so far @notedit sorry I have just been really busy, but the second my `proxy` branch lands I will get this done.

[2018-09-05 07:37] Sean-Der commented on #63
I am working on this in the `proxy` branch, should be landing really soon!

[2018-09-05 07:56] joeky888 commented on #102
Change `const channels = 2` to `const channels = 1` the deep voice was fixed.

Thanks again! You guys are amazing!

[2018-09-05 08:58] deepch commented on #102
I look at you it turned out to be done. It is perfectly.

[2018-09-05 11:39] Bogdan-D commented on #78
Hey @Sean-Der, I haven't looked into it in depth yet, was on vacation. But also have no idea why it's blocking. Maybe it was related to go 1.11beta3, will try build master with new stable release

[2018-09-05 12:07] trivigy commented on #47
Guys my goal is to make this happen with a compliant sctp. I actually need the congestion control functionality so will get it done. This is literally what I am working on right now. You can keep checking out the `pions/transports` branch for updates as it slowly develops. Periodically I am making PRs that are adding more and more functionality.

[2018-09-05 17:27] Sean-Der commented on #102
Awesome glad to hear it worked @joeky888 :) Is there anything else I can do to help out, or mind if I close the issue?

If you are interested I would love to have your `/examples` in the repo, could really help another developer in the future!

[2018-09-05 17:30] Sean-Der commented on #47
In `/examples` there is `pion-to-pion` which is what I was using to test.

It sends the SDP over a unix socket, and makes testing really easy. Last time I checked DTLS+ICE worked fine, just that SCTP didn't try to start the association. So if you can get that part working it would really unblock a lot of other stuff from happening.

Anything I can do to help happy to jump in, I was in the SCTP stu

[2018-09-05 17:39] trivigy commented on #47
The reason this part is having a tons of issues is because of compliance. It's not according to the abstractions described in the spec. I am slowing changing this to be compliant with the spec but this means that `networkManager` is going to disappear. In order to continue being backwards compatible, I am actually creating a parallel process that does all the association start and the whole nine y

[2018-09-05 22:14] Sean-Der commented on #47
You don't have to do any deprecation notices for `networkManager` or anything in `internal` are there any other external APIs you see changing?

Feel free to make changes you need, but it would be really easy to kick off an association now. When ICE+DTLS is done just put the association start behind a timer (in case SCTP peer doesn't recv at first)

You could just copy everything in the `networkMa

[2018-09-05 22:36] trivigy commented on #47
Okay cool. You actually answer my question when the association needs to be kicked off. I am going to make it actually sequential because I am layering the structs of the different protocols on top of each other.

**Something that looks like this roughly**
[code]

I still want to keep deprecating stuff even internal because I know @backkem works with Jetbrains Goland and I am sure if he sees inter

[2018-09-05 22:37] trivigy commented on #47
Oh btw, the same struct exists for the video/audio streams.
[code]

[2018-09-05 22:39] trivigy commented on #47
#83

[2018-09-06 00:44] joeky888 commented on #102
Wait, I didn't add the recording code there. I'll make it as soon as possible.

Sure, just do it. But it only works on Linux. I would like to rewrite it using ether [oto](https://github.com/hajimehoshi/oto) or openal.

[2018-09-06 02:54] joeky888 commented on #102
Edit:

I will close it anyway. I will update my code and post it here, thanks!

[2018-09-06 03:10] tabvn commented on #63
cool, So we are look forward to seeing it soon 👍

[2018-09-06 04:33] Sean-Der opened #105 "Remove `reftypereturn` instead follow NullString pattern"
Using a pointer to represent primary data types is prone to error/not self documenting.

Instead replace reftypereturn with `util.NullString util.NullUint16` etc.. they can't be in the WebRTC package since SDP needs to use them as well.

[2018-09-06 04:33] Sean-Der opened #106 "Add lint to TODO/FIXME"
Require that each comment with a TODO/FIXME has an associated github issue (otherwise we will lose track of them)

[2018-09-06 04:34] Sean-Der opened #107 "Document which public interfaces aren't connected"
We have implement a lot of the ECMAScript WebRTC API, but things aren't connected.

Users may find this confusing, we should document/annotate things that aren't connected yet so we can make a plan around it.

[2018-09-06 06:19] gedw99 commented on #107
Great. If you can do basic document then it will make it much easier to get
it working with flutter webrtc client.

On Thu, 6 Sep 2018, 06:34 Sean DuBois, <notifications@github.com> wrote:

[2018-09-06 17:55] trivigy commented on #106
@Sean-Der can we lose some of the restrictions here? Personally I use TODO and FIXME a lot during "work in progress" to indicate things that I put in place but still require additional coding. Those are not stories within themselves. I fear is that this kind of strict linting is discouraging me from putting indications of things that don't fully work by requiring me to have to open tens of issues

[2018-09-06 17:57] trivigy commented on #105
Really going back and forth on this one. I feel like it might be a little too much of a change for now. Can we wait a little with this until the library is a bit more stable so we could identify exactly where this could be placed such that it is not putting too much public api restricting?!

As I said, I am happy to get this story out of the way. Just feel like it may be just a little too early.

[2018-09-06 18:01] trivigy commented on #107
Agreed. We could potentially use https://blog.golang.org/godoc-documenting-go-code (`BUG(r):`) for now to indicate that. I think there are generally a lot of minor API transformations that are happening because the library is missing a lot of functionalities related to rfc compliance. At least on my end I am adding some of those as fast as I can but in the process I end up introducing public APIs

[2018-09-07 04:44] #87 closed

[2018-09-07 07:24] thetooth opened #108 "Leaking peer connections on disconnect"
Currently having an issue where a long running process will eventually run out of file descriptors because the UDP socket is left open when the peer is no longer listening but state is stuck as "connected".

As I am building a SFU, we use a async broker to fanout a media stream to multiple peers, when the track offered to the peer stops accepting samples on it's channel, I determine the peer to be

[2018-09-07 18:49] trivigy commented on #20
@gedw99 Did you end up trying the c2go route?

[2018-09-08 06:15] porjo opened #109 "dtls_session_cleanup panic"
When calling `RTCPeerConnection.Close()` I'm seeing this:

[code]
My code isn't online yet, but happy to do some local debug if required.

[2018-09-08 16:06] trivigy commented on #109
@porjo this is under current development. Will fix it really soon. Thanks for sharing.

[2018-09-09 06:16] porjo commented on #109
It turns out I was calling `RTCPeerConnection.Close()` more than once. Since I've fixed that I have not seen another panic.

[2018-09-09 10:50] porjo opened #110 "race conditions"
I built [my app](https://github.com/porjo/babelcast) with `-race` and found a couple of races inside `webrtc` itself:

[code]

[code]

[2018-09-09 21:16] Hixon10 opened #111 "Cannot establish a connection between pion-to-pion"
I try to run two examples: https://github.com/pions/webrtc/blob/master/examples/data-channels-create/main.go and https://github.com/pions/webrtc/blob/master/examples/data-channels/main.go

If I use one of these examples, with browser, I get working example. But I want to use two go applications instead of browser.

Log of **data-channels-create**:
[code]

Log of **data-channels**:
[code]

So, I ca

[2018-09-09 21:28] backkem commented on #111
The data-channels and data-channels-create examples should work when communicating with a browser. However, they are not yet able to communicate to each-other since we're missing a small part of the SCTP spec. As mentioned, this is actively being worked on and we should have this working soon.

[2018-09-09 21:29] Hixon10 commented on #111
@backkem thank you for response! I get it.

[2018-09-09 21:29] #111 closed

[2018-09-09 23:28] thetooth commented on #108
SFU is "working" because we're taking a naive approach, it's not correct. FIR or PLI are not strictly necessary with VP8 as the client can figure out the frame from any starting point.

As for reproducing, I can replicate this using the gstreamer send example simply by modifying the client to refresh on disconnect(which occurs often because we're testing behind a NAT that STUN has no chance of res

[2018-09-10 02:59] Sean-Der opened #112 "Implement SampleBuilder so users can build RTCSamples that can be distributed across many peers"
Instead of just re-distributing RTP packets have the user build samples using incoming buffers.

I believe it would be a leaky abstraction if users worked directly against RTP packets in their code.

[2018-09-10 03:01] Sean-Der opened #113 "Don't use OpenSSL to generate certificates"
@trivigy has implemented certificate generation in native Go, use that instead and pass the certificate into the OpenSSL code for now.

[2018-09-10 03:53] trivigy commented on #109
@porjo glad to hear it worked out for you. Generally speaking though, according to the spec, you should be fine calling `RTCPeerConnection.Close()` multiple times. Unfortunately we are missing a few key features still internally which probably causes this issue. Hopefully we can resolve stuff soon. Actively working on it as we speak.

[2018-09-10 03:57] trivigy commented on #110
@porjo Yeah for sure dude. Thanks for posting these. I have seen some myself and hoping to resolve them  very soon. If you have something really urgent make sure to talk to us via slack channel. You can find the reference on the main readme.

[2018-09-10 04:00] trivigy commented on #47
Okay this story will have to wait a bit after I am done with the rewiring because I need to understand the internals of Ice Agent a little better. Not just the sink/source section.

[2018-09-10 04:02] trivigy commented on #85
@Sean-Der I can use `net/ipv6` just like the way you used `net/ipv4` right?! All I need to do is just add the collection of the appropriate ipv6 based local candidates?! Am I missing anything else here?

[2018-09-10 05:06] Sean-Der opened #115 "Move IVFwriter to pkg"
Allow others to consume/use this API

[2018-09-10 06:16] #112 closed

[2018-09-10 06:16] #115 closed

[2018-09-10 06:17] Sean-Der opened #117 "Implement SRTCP"
Needed so we can emit FIR/PLI

[2018-09-10 06:18] Sean-Der opened #118 "Add SRTP Decrypt tests"
Easy test coverage increase

[2018-09-10 07:13] Sean-Der commented on #47
Yea 100%!

I wouldn't touch anything relating to SCTP except converting the API to be generic transports. Then when that lands I would finish implementing the SCTP RFC

[2018-09-10 07:16] Sean-Der commented on #85
Sounds right to me!

The ICEAgent just needs to keep IPv4/IPv6 candidates separated. That way you only ping v4 remote candidates with local v4 candidates etc..

These issues are showing up because STUN servers are returning IPv6 address (and then we are trying to communicate with them via IPv4) and there is nothing around that.

I would push this after your `Transport` refactor, I would land that

[2018-09-10 23:52] Sean-Der opened #119 "Implement RTCP handling"
This can be broken into smaller issues, but at a high level we need to allow users to send RTCP packets to an RTCPeerConnection. Right now we are unable to build an SFU because when a new peer joins a room we can't send a FIR

This is what we need
* Create a new package `pkg/rtcp` that has structs for all the different RTCP Packet types
* I should be able to `Pack` and `Unpack` into these struct
*

[2018-09-10 23:56] Sean-Der opened #120 "Examples: Serve fiddles locally"
We should run a local HTTPS server so people don't even need to open a jsfiddle. This will also allow people to prototype faster using tools they are already comfortable with.

[2018-09-11 05:46] Sean-Der opened #122 "Commit Message Linting"
I am adding commit message linting with the following rules

* Separate subject from body with a blank line
* Limit the subject line to 50 characters
* Capitalize the subject line
* Do not end the subject line with a period
* Wrap the body at 72 characters
* Must include `Relates to #` or `Resolves #`

[2018-09-11 08:05] backkem commented on #120
I've also been toying with the idea to make the examples serve as integration tests. The downside is that it likely requires a bit of test specific code in the examples which may reduce clarity. There may be some clever ways to hide this thought. The advantage would be that we don't need to duplicate all this code for the integration tests.

[2018-09-11 17:22] #122 closed

[2018-09-11 21:14] chertov commented on #64
Hi, i am Max
To build pions with go-mobile is very simple!
I have two scripts for this. https://github.com/chertov/pions_gomobile
I'm using prebuild openssl binary from here https://www.teskalabs.com/blog/openssl-binary-distribution-for-developers-static-library
but you can build openssl from source if you want!
I don't know how to build universal aar library for all android platforms.
I linked ar

[2018-09-12 04:14] Sean-Der opened #125 "Remove panics in library code"
Remove all panics (or silence them with nolint)

We had a lint but was broken by bash array with invalid commas

[2018-09-12 06:01] gedw99 commented on #64
Hey .ax . That's awesome. I will try it out with flutter for android and iOS and feedback my efforts

[2018-09-12 07:07] #125 closed

[2018-09-12 07:49] thetooth commented on #108
Nice! Good to hear this will be addressed, it was a pretty non-obvious problem, I was convinced I was just using the library wrong for some time.

I have done some quick tests and the patch corrects the problem fully, connection durability is suddenly 100% on LAN which it was not before, I had originally assumed that was due to a broken ICE configuration(STUN cannot resolve our topology, waiting o

[2018-09-12 21:30] Sean-Der opened #127 "Allow panics in test files"
The `lint-disallowed-functions-in-library.sh` lint is stopping people from using helpful functions in test, raise the restriction in files that match `_test.go`

[2018-09-12 21:37] #127 closed

[2018-09-13 20:09] Sean-Der commented on #108
Hey @thetooth how is the patch holding up? No rush!

[2018-09-14 00:41] thetooth commented on #108
Yep, holding up over night, no issues to speak of.

[2018-09-14 00:41] #108 closed

[2018-09-14 06:00] #78 closed

[2018-09-14 06:08] Sean-Der commented on #105
I opened a PR @trivigy nothing depends on this API currently, so no public facing issues.

It is a fair conversation if it makes sense to use it. Personally as a user I would be confused if something is `int*` instead of `NullInt`, the second is self documenting.

@maxhawkins @kc5nra you guys have thoughts! I am probably overlooking things, I am just trying to steal the existing NullString Go patt

[2018-09-14 08:26] Sean-Der opened #132 "Generate certificate fingerprint in Go"
[dtls_tlscfg_fingerprint](https://github.com/pions/webrtc/blob/master/internal/dtls/dtls.c#L334) can easily be done in Go

[2018-09-14 08:27] Sean-Der opened #133 "Remove global state from DTLS package"
Currently DTLS package has un-needed global state

**Problems**
Because we are currently using openssl based dtls that is in c we are forced to use cgo to integrate with it. cgo comes with its own challenges and because of it two separate issues arise to the top. The first one is that we have to create separate global data structures to allow openssl to send out messages into the world. The second

[2018-09-14 14:27] maxhawkins commented on #105
If you name the package `null` the struct names can be shorter.

`nullvalue.NullBool` -> `null.Bool`

[2018-09-14 16:17] backkem opened #137 "Examples: Exchange SDP automatically"
Make an example that handles sending/receiving the SDP offer/answer automatically. Make the friction even lower to build something. Make sure to exchange the entire RTCSessionDescription (ref #39, #97).

(Moved from #120)

[2018-09-14 17:17] trivigy commented on #133
@Sean-Der I am really worried about the choice "shying away from extra c code at all costs" at the cost of faulty current design. I agree we should be moving to a native dtls. Unfortunately that is a huge project undertaking that we are not going to complete for a while. In the meantime there might be a real issue with the dtls not able to send out all of the buffer messages it generates. The enti

[2018-09-14 18:04] Sean-Der commented on #105
I like that @maxhawkins! Will make that change.

You also ok with what/how I am trying to solve the issue? It isn't very Go-like, but I think keeping the WebRTC API is important (so we don't have to document things about WebRTC that already exist)

[2018-09-14 18:06] maxhawkins commented on #105
Do you have an example of what it will look like for an end-user to use the API?

The NullBool thing seems right but it's hard to know without seeing it in practice

[2018-09-14 19:41] backkem commented on #105
Using the current package it would be:
[code]
It's probably best if we add constructors where you don't have to manually set the 'Valid' field. Maybe add NewType(v Type) methods? E.g.:
[code]
`null.Bool(ordered)` would be nice but then we'll have to name the structs differently.

[2018-09-14 20:06] backkem opened #139 "Testing: turn examples into integration tests"
Turn examples into integration tests.

Design goals:
- Use the existing examples
- Have minimal impact on the example code E.g.: add event listeners on the existing textareas.
- Use `go test` to run the tests
- Place integration tests behind a build flag to avoid bloating unit tests (E.g.: `go test github.com/pions/webrtc -tags=integration`)
- Communicate test data/results over http in order to mi

[2018-09-14 20:33] trivigy commented on #105
@backkem @Sean-Der what happens if we reassign the value? Should there also be functions that are actually updating the underlying `Valid`? Since this is public interface as well, what happens if a user that has multithreading/goroutines starts to update these values? Should there be an internal lock? There are some of the concerns I had a little while back.

[2018-09-14 20:49] backkem commented on #105
My thoughts: These structs are not supposed to be passed by reference. You would pass null.Type instead of *null.Type. The value will be copied and you can't change it anymore. If you don't explicitly set a field with a null.Type it will be initialized with Value = false which means the value is 'null'.

[2018-09-14 21:14] Sean-Der commented on #105
@trivigy

* multi-threading
We have the same issue with any value, if a user has an int shared across two threads they need to lock also.

* Valid member
User needs to get/set that as well. It works this way now with SQL, I am not aware of any complaints around `Valid` on that.

[2018-09-14 21:15] Sean-Der commented on #105
What is the alternative though? I am totally happy to do something else, but `int*` has the multi-threading issue and is going to cause segfaults when people just assume it is valid.

[2018-09-14 21:16] Sean-Der commented on #133
@trivigy the DTLS code right now matches mediasoup+Janus, and neither of them have any issues around this.

[2018-09-14 22:53] #105 closed

[2018-09-15 01:37] trivigy commented on #133
@Sean-Der Those projects implement a callback to golang which is needed to be global.

[2018-09-15 02:03] trivigy commented on #133
@Sean-Der unfortunately this design issue is blocking me. Any chance we can somehow come to a decision on this one?

[2018-09-15 02:47] trivigy commented on #133
http://roxlu.com/2014/042/using-openssl-with-memory-bios following this example it looks like with BIO in memory buffers the output can be completely exported at the right moments. So we can implement the solution you described. The one element that will be missing is `SSL_set_info_callback()`. Instead I am going to export the state together with the buffer after each call to the external library.

[2018-09-15 05:25] Sean-Der opened #140 "IceAgent improperly returns XorAddress when finding ports"
Update `getAddrs` to return the `RemoteAddress/RemotePort` when binding STUN candidates, otherwise port lookup will fail.

[2018-09-15 05:34] #140 closed

[2018-09-15 06:06] Sean-Der commented on #133
Janus is C, mediasoup is C++ neither of those projects have Go.

I would split this up into two commits first have those functions return buffers, that removes all your global state and we can be confident that everything works.

`SSL_set_info_callback` looks to only be useful for alerts, so I would put an atomic on the SSL session and then query it. That should be really maintainable https://gith

[2018-09-15 07:58] #120 closed

[2018-09-15 08:04] backkem opened #142 "Examples: Improve docs"
TODO:
- [ ] Link from main README
- [ ] Overview of examples in examples/README

[2018-09-15 08:37] Sean-Der opened #143 "Move SRTP SSRC handling into SRTP package"
Right now we put too much logic in `networkManager`

While working on SRTCP implementation issues have come up around this. It would be better to just have one inbound and one outbound SRTP Context.

This would make our network code cleaner, and makes SRTCP easier.

[2018-09-15 22:28] #118 closed

[2018-09-16 04:05] #143 closed

[2018-09-16 05:25] Sean-Der opened #147 "Don't include examples in code coverage"
We don't write unit tests for examples, exclude them from coveralls

[2018-09-16 07:29] #147 closed

[2018-09-17 07:58] Sean-Der opened #151 "SRTP holds the wrong lock on outbound handling"

[2018-09-17 08:00] #151 closed

[2018-09-17 19:13] Sean-Der opened #152 "Cleanup root directory of project"
See if we can move code to `pkg` without breaking public API.

This can be exploratory we might not be able to do this. It would be a great win for people dropping in on the project for the first time, would make it seems more organized/less intimidating.

[2018-09-18 13:46] Bogdan-D opened #153 "Datachannels are not working"
I saw that api-datachannels branch was merged, decide to try how does it working. The problem is there nothing is happened when I'm creating new datachannel, not from js nor from golang.
Also examples are not go gettable, I suggest it's outdated
[code]

[2018-09-18 18:14] Sean-Der commented on #153
Hey @Bogdan-D I think your copy of `github.com\pions\pkg` is out of date.

Can you try `go get -u github.com/pions/webrtc/examples/data-channels` that should auto-update all dependencies.

thanks!

[2018-09-18 21:34] justinokamoto opened #154 "Broken example links in README.md"
The example links in `examples/README.md` are broken.

[2018-09-19 01:02] thetooth opened #156 "Regression: High packet loss on LAN"
This wasn't what I was expecting following a browser update... but somewhere between my gstreamer frames and lo we're loosing >90% of the payload.
![problem](https://user-images.githubusercontent.com/42569/45686309-3e9b1800-bb8b-11e8-8426-db46ee64ff3d.png)

I found the commit where I last had success, and 147ac1e2d1a8bf9b6f8c044bfebdbd86f6755fcc to where @trivigy finished up is where I first get t

[2018-09-19 07:38] #156 closed

[2018-09-19 12:47] Bogdan-D commented on #153
Got what's wrong, openssl dll files was missing. Doub't how it was working with regular streaming :)

[2018-09-19 12:47] #153 closed

[2018-09-19 13:01] Bogdan-D opened #158 "RTCDataChannelInit structure pointers"
https://github.com/pions/webrtc/blob/af2033741de289e3a1c36938da972fb16af2e1e2/rtcdatachannelinit.go#L5

Why do you have using pointers there? It's not very useful and makes things more complicated like from
[code]
it could be simple
[code]

[2018-09-19 13:11] Bogdan-D opened #159 "DataChannel open message missing"
In current webrtc state dataChannel working only if they are opened from javascript.
Datachannel open from golang does nothing (even when I call `SendOpenChannelMessage` manually), also manual negoitaion is not possible

[2018-09-19 13:31] backkem commented on #158
Hi @Bogdan-D, The JavaScript API defines some defaults for the Init object. E.g.: the Ordered field should be 'true' by default. The fields are pointers so we can know if the user specified the value or if it wasn't set. E.g.: in your second example Ordered would default to 'false' since it was not specified and will be initiated with it's default value 'false'.

After much deliberation we decided

[2018-09-19 13:39] backkem commented on #159
Yes, you are correct. We are actively working on filling these gaps in our implementation.

In the mean time: The ``data-channels-create`` example has a workaround for this that works with Chrome. (In my testing it doesn't work when connecting to NodeJS thought). On [main.go#L42](https://github.com/pions/webrtc/blob/master/examples/data-channels-create/main.go#L42) you can see we manually call ``S

[2018-09-19 17:36] Bogdan-D commented on #159
Yeah, I've tried that workaround but without success

[2018-09-19 17:55] Bogdan-D commented on #158
Most common way I saw in golang community is to use constructor with setting default values for a struct.
Other way is to use maps.
Well, in any case I understand the reason now

[2018-09-20 06:56] joeky888 commented on #102
Hello guys, me again.

I am trying to finish the recording part in `examples/gstreamer-send`.

Once again the browser only produces noises.

Here is how I did it:

[code]

I would be appreciated with your help! :)

[2018-09-20 14:44] joeky888 commented on #102
I created a repo to replace gstreamer

Links: https://github.com/joeky888/pions-examples

Feel free to use it!

[2018-09-20 20:45] millnitzluan commented on #39
This issue still opened?

[2018-09-20 20:49] backkem commented on #39
Hi @millnitzluan. Yes, it is still open. JSON (un)marshaling of the RTCSessionDescriptions was added in #137 but the examples have not yet been adapted to exchange the entire RTCSessionDescription.

[2018-09-22 08:11] Sean-Der commented on #63
Hey @tabvn @brendan-rius this is done!

Mind checking out the PR https://github.com/pions/webrtc/pull/162

[2018-09-22 08:11] Sean-Der commented on #63
I haven't handled the RTMP case yet, but this example allows you to send video once (and then send it out to as many peers as you want)

[2018-09-22 12:15] backkem opened #163 "ICE: Implement keepalives"
As mentioned in the [RFC](https://tools.ietf.org/html/draft-ietf-ice-rfc5245bis-20#section-11):

   packet has been sent on that pair in the last Tr seconds, an agent
   MUST send a keepalive on that pair.  Agents SHOULD use a Tr value of
   15 seconds.  Agents MAY use a bigger value, but MUST NOT use a value
   smaller than 15 seconds.

   used [RFC5389].  The Indication MUST NOT utilize any auth

[2018-09-22 12:29] backkem opened #164 "ICE: Improve conclusion"
As mentioned in the [docs](https://tools.ietf.org/html/draft-ietf-ice-rfc5245bis-20#section-8.1.1):

   order to nominate a candidate pair (Section 8.1.1).  The controlled
   agent MUST NOT include the USE-CANDIDATE attribute in a Binding
   request.

   CANDIDATE attribute set, and if the ICE agent receives a successful
   response to the request, the agent sets the nominated flag of the
   pair

[2018-09-22 20:00] #163 closed

[2018-09-22 20:29] backkem opened #167 "DataChannels: Handle ChannelAck"
[Docs](https://tools.ietf.org/html/draft-ietf-rtcweb-data-protocol-09#section-5.2)

[2018-09-22 21:12] #164 closed

[2018-09-22 22:02] Sean-Der commented on #119
This has landed!

The `sfu` example shows how to send RTCP. Further improvements can just keep rolling in as we go.

[2018-09-22 22:02] #119 closed

[2018-09-22 23:58] #63 closed

[2018-09-23 00:05] Sean-Der commented on #89
Hey @deepch pion-WebRTC can now emit PLIs

Can you emit a PLI against the media tracks that have slow playback, like [here](https://github.com/pions/webrtc/blob/master/examples/sfu/main.go#L74) this will cause video playback to start much quicker.

If you want to confirm the behavior try using the SFU example and comment out the PLI emit (it will take ~90 seconds)

[2018-09-23 00:05] #89 closed

[2018-09-23 11:14] reklatsmasters commented on #52
I`m working on pure js webrtc datachannel server for nodejs https://github.com/nodertc. STUN, DTLS and SCTP parts are complete. I hope established connection between pions/webrtc and nodertc will be possible sometime in the future.

[2018-09-23 11:34] backkem commented on #52
Thanks for reaching out @reklatsmasters. Your awesome project has been on our radar. We would love to collaborate on a connection example when it becomes possible. We also plan to build a suite of integration tests between pions and other webrtc implementations at some point. A nodertc test would fit in perfectly. Also, feel free to join Slack if you ever want to chat.

[2018-09-23 11:38] reklatsmasters opened #171 "undefined reference to `dlopen'"
I'm trying to build datachannel example. I've got an error:

[code]

OS: Ubuntu 16.04.5 LTS

[2018-09-23 13:29] backkem commented on #171
Hi, I'm sadly not able to reproduce this. I'm also not entirely sure what could be causing it. Did you install the OpenSSL headers?

Overly elaborate guide to my testing, starting from a fresh `ubuntu-16.04.5-desktop-amd64` vm (may be helpful to some):
1. Install go:
[code]
2. Install Git:
[code]
3. Install OpenSSL headers:
[code]
4. Host the examples (port 8080 to avoid privilege issues):
[code]

[2018-09-23 14:44] backkem opened #172 "Examples: close examples.json reader"
`examples.json` reader should be closed:
https://github.com/pions/webrtc/blob/e0313c7cc5167e218ad16513546f20568d076c48/examples/examples.go#L85-L88

[2018-09-23 18:34] #172 closed

[2018-09-24 08:11] Sean-Der commented on #74
I am actively working on this again.

Building locally+adding debug messages it looks like Janus is stuck because it has no remote candidates. So it never sends out an ICE binding requests, it should be getting them from the SDP but is failing to parse possibly.

Still investigating, but wanted to update everyone!

[2018-09-24 08:42] Sean-Der commented on #74
And in good news FINALLY got it working, I will peel away all the extra changes + debug information and post a PR tomorrow!

~5% of the time DTLS hangs, but that is another issue -_-

[2018-09-24 08:55] reklatsmasters commented on #171
I found a similar problem https://stackoverflow.com/questions/40046145/go-run-throes-error-undefined-reference-to-dlopen?rq=1

However, i don't known how to add LDFLAGS with `-ldl` to `go get`.

[2018-09-24 13:51] joeky888 commented on #102
I added a packetizer to add rtp headers (I think)

still no luck :(

[code]

[2018-09-24 15:54] backkem commented on #171
I have little experience with cgo so I'm not sure what this change does. Maybe @Sean-Der can comment on that. However, if you want to test this solution:
The answer on the page you linked seems to suggest adding `-ldl` to this line:
https://github.com/pions/webrtc/blob/9ed7683718f54edccdd2cf451f06f5f05243798f/internal/dtls/dtls.go#L7
The file is in `$gopath/src/github.com/pions/webrtc/internal/dtl

[2018-09-24 17:57] Sean-Der commented on #171
Hey @reklatsmasters

@backkem is 100% right about adding `-ldl`, hopefully that fixes your issue.

What version of Go are you using? Is this a minimal install, in Docker? Just trying to reproduce myself. I use `16.04` + latest Go and haven't had this issue yet unfortunately.

[2018-09-25 03:53] notedit commented on #74
cool,  I will provide more  example  after your pr.

[2018-09-25 08:00] Sean-Der opened #175 "Add DTLS retransmissions"
Janus is very flakey without them, we have about a 25% failure rate. It shouldn't be difficult, just need to call the APIs that OpenSSL provides.

[2018-09-25 20:02] #74 closed

[2018-09-25 20:13] backkem commented on #159
Hi @Bogdan-D, can you please test again with the last master branch. We're now sending the ChannelOpen messages when creating data channels in Pions. These changes also make Pions to Pions and Pions to NodeJS data channels work in my testing.

[2018-09-26 06:19] Sean-Der opened #178 "Include MessageIntegrity + Username in STUN keepalive"
libnice is throwing errors because we aren't include these attributes

[code]

When I add them
[code]

[2018-09-26 07:05] #178 closed

[2018-09-26 08:57] backkem opened #180 "Graceful shutdown"
We need to investigate graceful shutdown of a peer connection. E.g.: Close all tracks and data channels when closing the peer connection. In addition, we can provide API for:
- Closing/un-registering a track.
- Closing a data channel.

Re-negotiations, E.g.: adding/removing tracks or data channels at runtime, seem less crucial and can be tracked in a future issue.

[2018-09-26 09:00] backkem commented on #51
Will track progress in pions/dcnet.

[2018-09-26 09:00] #51 closed

[2018-09-26 09:01] backkem commented on #55
A minimal API has meanwhile been built. We'll create separate issues when working on the remaining missing parts.

[2018-09-26 09:01] #55 closed

[2018-09-26 09:05] backkem commented on #19
Closing due to @trivigy's great work on the SDP builder and parser.

[2018-09-26 09:05] #19 closed

[2018-09-27 22:18] reklatsmasters commented on #171
Oh, god. I solved my problem. I explicitly added `-ldl` after `libcrypto`. My changes:

[code]

* go version go1.11 linux/amd64
* Ubuntu 16.04.5 LTS
* libssl-dev: 1.0.2g-1ubuntu4.13

[2018-09-28 02:45] Sean-Der opened #181 "Emit `keepAlive` in Janus example"
Janus ends the session if we don't send the keepAlives on an interval.

[2018-09-28 03:17] Sean-Der commented on #29
Hey @gedw99 thanks for sharing these!

I would love to see an example of having a webview application that handles all the signaling/UI code. If you have time to work on this, feel free to re-open and I will do anything I can to help.

Otherwise will close for now and move this to the wiki.

thanks!

[2018-09-28 03:17] #29 closed

[2018-09-28 03:18] #181 closed

[2018-09-28 03:47] Sean-Der commented on #16
This was implemented.

`(pc *RTCPeerConnection) NewRTCTrack` allows you to pass MediaStream + track.

[2018-09-28 03:47] #16 closed

[2018-09-28 06:18] Sean-Der commented on #102
Hey @joeky888 really nice work with those examples!

You mind posting what isn't working as a finished code sample (gist or in that linked repo) I should have time this weekend to check it out!

Would you be ok with me importing your examples? I will mark you as a coauthor on the commit, but would love if other people could try them out easy!

thanks

[2018-09-28 06:34] Sean-Der commented on #58
@brendan-rius With the latest changes I pushed this is now possible, I hacked up the SFU [example](https://gist.github.com/60bda7c9e6f63c9f359c42f843ae0141) to show it in action.

If there is anything else I can do would love to hear! Thanks

[2018-09-28 06:34] #58 closed

[2018-09-28 06:40] Sean-Der commented on #171
Thank you so much for fixing that :) will open a PR and get that fixed!

If you are interested I would love to work together on getting `nodertc` and `pions` be perfectly compatible (if a user wants a nodejs implementation we should point to your repo, and vice versa). I would love to see WebRTC implementations that are native to each language!

We are decently active in Slack, so always happy to

[2018-09-28 06:47] Sean-Der commented on #171
@reklatsmasters
What does `pkg-config --cflags --libs libssl libcrypto` return? Does this patch help?
[code]

I am not sure, but could it be a mixup between your global install, and an install in `/usr/local`? We have to keep the `pkg-config` since most users will have different install paths unfortunately.

[2018-09-28 14:34] Sean-Der opened #183 "RTP packetization should copy payloads"
Later operations are done in place (like SRTP), and we don't want to put the burden on the user for copying.

This was reported by @thetooth and Pasha Shavkunov in Slack.

[2018-09-28 14:51] #183 closed

[2018-09-28 15:52] joeky888 commented on #102
Here it is: https://github.com/joeky888/pions-examples/tree/master/alsa-send

I don't mind, just do it!

[2018-09-28 15:54] backkem opened #185 "examples: make pion-to-pion cross platform"
Make make pion-to-pion cross platform by using HTTP in stead of unix sockets.

[2018-09-28 16:39] #185 closed

[2018-09-28 16:46] Sean-Der opened #187 "ICE Agent improperly includes IceControlled/IceControlling values"
keepaliveCandidate always assumes we are controlled, update to be a conditional.

[2018-09-28 16:48] backkem commented on #187
Do we know if Janus requires the IceControlled attribute?

[2018-09-28 16:50] Sean-Der commented on #187
Oh good point, will check when I get home!

If libnice doesn't care I say just not include the value at all (cuts down on pointless logic)

[2018-09-29 22:48] #187 closed

[2018-09-30 08:05] Sean-Der commented on #62
Hey @Bogdan-D

Using values from the clients SDP would be incorrect though. If you are sending H264 you need to properly declare what you are sending

If you want to craft your SDP depending on the client, can you have them answer and set your values depending on what they send?

[2018-09-30 16:17] #109 closed

[2018-09-30 20:55] reklatsmasters commented on #171
@Sean-Der it should be

[code]

Just `#cgo linux LDFLAGS: -ldl` doesn't work.

[2018-10-01 19:52] backkem opened #190 "wiki: SRTP not on DTLS"
Update the WebRTC Stack image on the wiki to reflect that SRTP doesn't run fully on top of DTLS.

[2018-10-01 21:47] Hixon10 opened #192 "Add docker-compose for pion-to-pion example"
Docker-compose allows people to run <a href="https://github.com/pions/webrtc/tree/master/examples/pion-to-pion">the example</a> faster.

[2018-10-01 22:38] #192 closed

[2018-10-02 02:12] joeky888 commented on #171
What are the outputs of `locate libdl.so` and `locate libdl.a`

For me it dumps

[code]

If `locate libdl.a` is empty, I guess you need to install `libc6-dev`

[2018-10-02 05:33] reklatsmasters commented on #171
@joeky888

[code]

[2018-10-02 10:49] projetoarduino opened #193 "gstreamer-send /dev/video (webcam)"
Hi

Is possible in my linux system send via webrtc with to source /dev/video (webcam)

[2018-10-02 15:54] kc5nra commented on #193
Yeah! Just switch out the gstreamer-send example to use v4l2src using /dev/video path

[2018-10-02 22:09] Sean-Der commented on #193
Hey @projetoarduino

That should be really easy! Replace `videotestsrc` with any source you want [here](https://github.com/pions/webrtc/blob/master/examples/gstreamer-send/gst/gst.go#L37-L48). On Linux you can replace with `autovideosrc` and it should work out of the box.

If that works feel free to close the ticket! Also feel free to join the Slack channel, we are all active on there and happy to

[2018-10-02 22:14] Sean-Der commented on #193
You can also experiment with GStreamer pipelines locally using `gst-launch-1.0` which is a great way to prototype pipelines before using them in code.

[2018-10-03 05:17] joeky888 opened #194 "[Pion-to-Pion] SACK Cumulative ACK 1837106535 is older than ACK point 1837106535"
Hi guys, I am trying to make a audio chat app using Pion-to-Pion example

Code here: https://github.com/joeky888/pions-examples/tree/master/alsa-pion-to-pion

It was fine at first, but after 2 or 3 seconds, I got a lot of error messages:

[code]

[2018-10-03 06:04] Sean-Der commented on #194
Thanks for reporting this!

@kc5nra any ideas? I can check it out Friday/this weekend if not!

[2018-10-03 07:03] joeky888 commented on #194
Fyi, the code is based on my another alsa example:

https://github.com/joeky888/pions-examples/tree/master/alsa-echo

[2018-10-03 11:28] joeky888 commented on #194
And these are the changes I made:

Answer:

[code]

[2018-10-03 11:28] joeky888 commented on #194
Offer:

[code]

[2018-10-03 18:06] kc5nra commented on #194
Will look into this, this is perfect thanks!

[2018-10-03 20:30] netwer opened #195 "Exchange messages using Windows environment"
Hi, we are trying to sending message using windows environment.

We have 1 server instance run on the Windows from NAT network and other one client instance run on the Windows from NAT network on other PC.

As the result we cant exhange messages and we cant see any errors.

Can you help as run this solution using Windows enviroment, because is it important for us?

If you need we can gve you as in

[2018-10-04 04:22] wattanakorn495 opened #197 "gstreamer-send to gstreamer-recv, VPX preprocessing error: unsupported bitstream"
I combined gstreamer-send and gstreamer-recv into pion-pion-video.go
code here: https://github.com/wattanakorn495/pion-pion-video

Connection State of both sender and receiver have changed to Connected
Track has started, of type 96: VP8

but receiver did not show received video stream
and it has this gstreamer debug massage

height and width are random every loop

[2018-10-04 05:16] backkem commented on #195
Hi @netwer. Glad to have you use the library! Can you share the errors you are getting?
Note that WebRTC should be able to traverse NATs. However, the pion-to-pion example uses a direct HTTP connection to exchange the SDP information. This HTTP connection is not able to traverse NAT. For use-cases where both peers are behind NAT you would need to exchange the SDP over a rendezvous server, that is

[2018-10-04 08:01] backkem commented on #195
Actually, I seem to be able to reproduce this. I'll need to find more time for testing, please stand by.

[2018-10-04 08:10] backkem opened #199 "STUN: Gather IPv4 and IPv6 candidates separately"
Gather IPv4 and IPv6 candidates separately by calling using the STUN server using the corresponding network type.

[2018-10-04 17:45] Sean-Der commented on #195
Hey @netwer can you try master please?

@backkem fixed a bug where we could get IPv6 srflx candidates back from the STUN server (and then we would fail to parse them) so you would only end up with host candidates.

[2018-10-04 19:04] netwer commented on #195
@backkem @Sean-Der Hey!
We are tried changes from master and no successful result.
We are use the following pion scripts for testing:
1 pion
`package main

import (
	"bufio"
	"encoding/base64"
	"fmt"
	"io"
	"math/rand"
	"os"
	"time"

	"github.com/pions/webrtc"
	"github.com/pions/webrtc/pkg/datachannel"
	"github.com/pions/webrtc/pkg/ice"
)

func main() {
	/* Everything below is the pion-WebRTC API,

[2018-10-04 19:09] backkem commented on #195
Yes, I seems my fix isn't complete yet. I should have more time tomorrow evening and in the weekend for further debugging.

[2018-10-04 19:10] netwer commented on #195
Ou, thanks! We will be waiting you fix.

[2018-10-05 04:07] Sean-Der commented on #193
Hey @projetoarduino I am closing the issue for now, feel free to reopen if you have any questions!

thanks

[2018-10-05 04:07] #193 closed

[2018-10-05 04:09] Sean-Der commented on #83
Conversation was moved to the wiki [here](https://github.com/pions/webrtc/wiki/TransportDesign)

[2018-10-05 04:09] #83 closed

[2018-10-05 06:52] wattanakorn495 commented on #197
I changed decodebin to avdec_vp8 then got message "Header size larger than data provided "
and i found
RTP packet Marshaled = gstreamer buffer(sender) + 23 bytes
but
RTP packet UnMarshaled = gstreamer buffer(receiver) + 10 bytes

Does it relate to header size ?

[2018-10-05 20:40] jacobloveless commented on #85
HI @Sean-Der I wanted to see if there was anything I could do to help here or if you needed any testing done - we're actually blocked on this IPv6 bit but have a test setup ready to go.

[2018-10-06 20:31] backkem commented on #195
Hi @netwer, I didn't try your example yet but I've fixed another bug that caused NAT traversal to fail. Do you mind trying with the new master again?

[2018-10-07 08:16] Sean-Der commented on #85
Hey @jacobloveless thanks for using pion-WebRTC!

We are refactoring/cleaning up for this right now! @backkem is leading this one, but in the process of cleaning up how we do ICE this should happen also. I would say ~2 weeks, just need to add extra data around candidates (so we know if they are IPv6 or v4)

thanks!

[2018-10-07 15:43] projetoarduino commented on #193
Hi thanks for help me.

I made the modifications, and change  autovideosrc in gst.go.

But when i running in my linux board arm (h3 board) with webcam the streaming in very very slow, is exist one way to improviment this performance

[2018-10-08 07:10] Sean-Der commented on #197
Hey @wattanakorn495 sorry this took so long
I forked https://github.com/wattanakorn495/pion-pion-video and it worked perfectly for me! Is there something I should be changing/debugging?

RTP header is 12 bytes, so maybe an off-by-one but `23 -> 10` is almost right :)

[code]

[2018-10-08 07:12] Sean-Der commented on #159
Thanks for implementing this @backkem  :)

Closing for now, feel free to re-open @Bogdan-D if it is still an issue, thanks!

[2018-10-08 07:12] #159 closed

[2018-10-08 07:34] Sean-Der commented on #193
Is it constrained by CPU usage?

I am not positive, but it looks like that supports H264 hardware encoding, try to use that with GStreamer. WebRTC supports H264, so still should work great! You can just do `gst-launch videotestsrc is-live=true ! vp8enc ! fakesink` then you can test CPU usage `vp8enc` vs others encoders.

You can also try lowering the resolution/encoding quality of VP8. I would ass

[2018-10-08 08:14] wattanakorn495 commented on #197
I changed this line in gstsend/gst.go for displaying sender side
[code]
so if it work correctly, it should show 2 video windows.

[2018-10-08 19:20] backkem commented on #195
Is all this information from the same test? The SDP from Pions 2 refers to IP 92.107.x.x but the MS Message Analyzer screenshot seems to send requests to 91.108.x.x?

The gathering of the server reflective candidates seems to work fine. This was related to the first bug I addressed. Assuming the information is not from the same test: There do seem to be binding requests sent to the reflective cand

[2018-10-08 21:02] projetoarduino commented on #193
Hi guys

This line work well

pipelineStr = "v4l2src device=/dev/video0 ! videoconvert ! video/x-raw,format=I420,width=320,height=240 ! vp8enc end-usage=cbr cpu-used=5 threads=4 target-bitrate=2048 max-quantizer=40 min-quantizer=10 cq-level=10 ! " + pipelineStr

My processor allwinner h3 only consum 50% of system

Another question please :)

i want capture mic from this board and send via webrtc a

[2018-10-09 12:48] gedw99 opened #201 "Gateway for NATS"
It would be pretty useful to make a webrtc gateway for NATS.

This seems safest to ensure messages don't get lost due to network issues.

https://github.com/isobit/websocket-nats
- so web browser client works on ALL browsers

https://github.com/orus-io/nats-websocket-gw
- so web browser has server.

Need to write my a NATS to webrtc code gateway from the above examples.

[2018-10-09 21:06] netwer commented on #195
Both clients simply behind a their own NAT

Simple consumer grade NATs

Yes, we can. We are used this example: https://www.sharedrop.io/

We are tried again binaries from the last our test builded (https://github.com/pions/webrtc/issues/195#issuecomment-427642188) and evething all works:)

Are computers has same configurations like 2 days ago.
What is going on here? :)
The result example:
[code]

[2018-10-10 05:18] backkem commented on #195
Interesting, I've seen some instability in my testing as well. After the DTLS port and transport refactor we'll work on dialing in the reliability.

[2018-10-10 21:52] Hixon10 opened #202 "Can I use pions-webrtc in concurrency environment?"
Hello,

I have some questions about concurrency in this project:

Should I create a new ```RTCDataChannel``` each time, when I want to send some bytes from one pion to another one? I mean, I want to send bytes from pion1 to pion2 and from pion1 to pion3 simultaneously. Should I in that case to create two different ```RTCDataChannels``` (like, ```webrtc.New(config)```), or should I have one ```RTCD

[2018-10-12 11:42] thetooth commented on #201
I have found wrapping or embedding the peer connection and datachannel(s) into your own struct type to hold information about the session as a whole works quite well. You can then have both the peercon and datachannel callbacks pointing to methods that are part of this type. Then it's as simple as dropping your pub/sub call logic inside OnMessage.

[2018-10-13 03:58] silbinarywolf opened #203 "Improve Windows install instructions"
Hi there!

I'm currently interested in testing out / trying this project so I can experiment with getting a UDP-like solution in the browser. However I have no clue how to get openssl built on Windows and I'm getting stuck on step 3. I'm just not able to find an OpenSSL package that gives me any sort of ".pc" file.

I've tried installing this but it doesn't seem to come with the correct file:
- ht

[2018-10-13 08:42] gedw99 commented on #201
Have you got an example on GitHub by any chance ?

I gotta admit I am quite impartial to NATs because I can build little blocks of functional code and just let them interact via NATS with webrtc is the Comms up above to all the clients
But your example would be useful for the gateway between the client and NATS using the webrtc transport

[2018-10-13 08:46] gedw99 commented on #202
Have to say that NATS would get you that concurrency.
I raised an issue already about this

On Wed, 10 Oct 2018, 23:52 Denis, <notifications@github.com> wrote:

[2018-10-13 09:31] Sean-Der opened #204 "Implement Go native DTLS out of tree"
I am working on a Go native DTLS implementation [here]( https://github.com/sean-der/dtls)

It is only going to support the cipherSuites/extensions needed for DTLS so should be very small compared to other solutions. It needs the following features before it can be imported.

* [x] Implement retransmissions/timeouts
* [x] Implement `use_srtp`
* [x] Implement `TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA` a

[2018-10-13 09:32] Sean-Der commented on #175
Closing for #204 I am implementing Go native DTLS instead of continuing work with OpenSSL

[2018-10-13 09:32] #175 closed

[2018-10-13 09:34] Sean-Der commented on #133
I am working on Go native DTLS in #204 won't be doing any work with OpenSSL

[2018-10-13 09:34] #133 closed

[2018-10-13 09:42] Sean-Der commented on #202
Hey @Hixon10

You should create a unique `RTCDataChannel` for each DataChannel you want to open (like `webrtc.New`). I will update docs/add and error if you try to reuse to make it more user friendly, thanks for pointing that out.

Also will update the docs around what needs to be locked/unlocked. Everything in the examples should be thread safe, so if you find something with `-race` when followin

[2018-10-13 09:44] #132 closed

[2018-10-13 09:53] Hixon10 commented on #202
@Sean-Der  Thank you!

[2018-10-13 10:34] thetooth commented on #201
[code]
Should do it.

[2018-10-13 15:32] backkem commented on #203
Hi @silbinarywolf , thanks for the feedback.
Here's what I did to install the dependencies on Windows:
1. Install [MSYS2](https://www.msys2.org/)
2. Download [pkg-config-lite](https://sourceforge.net/projects/pkgconfiglite/) and put `pkg-config.exe` on the `PATH` environment variable. I did this by placing the `pkg-config.exe` executable in `%GOPATH%/Bin` since this directory is part of my `PATH`

[2018-10-14 12:23] backkem opened #205 "ICE: Transport refactor"
Refactor the ICE transport as discussed on the [wiki](https://github.com/pions/webrtc/wiki/TransportDesign).

[2018-10-15 16:52] aguilEA commented on #204
Hey @Sean-Der I can help with the native Go implementation of DTLS. Are you already working on one of the features?

[2018-10-17 20:36] netwer commented on #139
@backkem you did not implement the turn server yet?

[2018-10-18 03:54] wattanakorn495 commented on #197
It works, if disabled SRTP encrypt/decrypt

`
//stream.XORKeyStream(packet.Payload, packet.Payload)
`

[2018-10-19 08:58] SriramScorp opened #206 "gstreamer-send from file not working"
I'm running the examples on my local machine. I modified the pipeline in the gst.go file to stream from a filesrc but I can't find a way to make it work. I keep seeing only the videotestsrc on the browser end. I confirmed the pipeline works fine on the command line. What am I missing?

[2018-10-21 21:40] Sean-Der commented on #206
Hey @SriramScorp

Mind sharing a diff? Are you changing the [VP8 branch](https://github.com/pions/webrtc/blob/master/examples/gstreamer-send/gst/gst.go#L39) ? The example uses VP8 by default

[2018-10-23 10:04] ast opened #207 "remoteDescription is already defined, SetRemoteDescription can only be called once"
Not sure if this is a bug or a feature but according to [MDN documentation][1] calling setRemoteDescription after a connection is already in place should trigger renegotiation. However this is not the case with pions/webrtc and I get:

    remoteDescription is already defined, SetRemoteDescription can only be called once

[1]: https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/setR

[2018-10-23 10:57] wezzle opened #208 "Firefox (> 63) mediadescription fmt = webrtc-datachannel"
This triggers the following error: `sdp: invalid numeric value webrtc-datachannel` on line: https://github.com/pions/webrtc/blob/c7f838b98d7a5bdab8578764f79bb847d895f000/internal/sdp/unmarshal.go#L839

See https://blog.mozilla.org/webrtc/how-to-avoid-data-channel-breaking/

Firefox now sends the data channels as followed:
[code]

I've tried finding out where in the code base this could be changed

[2018-10-25 08:52] SriramScorp commented on #206
Yes. I am aware that the example uses vp8 by default and am modifying the vp8 pipeline. I changed the pipeline in the gst.go file to read as below and compiled the go file.

       case webrtc.VP8:
                pipelineStr = "filesrc location=/tmp/big_buck_bunny.mp4 ! decodebin ! videoscale ! 'video/x-raw,width=640,height=480' ! videorate ! videoconvert ! timeoverlay ! vp8enc ! " + pipelineStr

[2018-10-25 13:36] projetoarduino opened #209 "Send and receive in one session"
Hi i need help or one example to send audio and video in golang to receive on my browser and send back my mic capture to golang.

Anyone please.

[2018-10-25 14:39] Lesterpig commented on #194
I have the same issue: in my case, it is triggered by a stress test on a data channel between Firefox 63 and this package (sending 16KB packets very fast).

[2018-10-26 00:09] silbinarywolf commented on #203
Thanks, sorry I haven't had the chance to sit down and go through these steps. If they work for me, I'll do a PR and update the README.md with them :)

[2018-10-27 11:06] silbinarywolf commented on #203
Followed the steps and was able to get the datachannels example running! I've raised a PR with essentially what you wrote. Thank you :)

[2018-10-27 11:07] #203 closed

[2018-10-28 00:45] Sean-Der opened #211 "Fix golang-ci when testing pion-WebRTC against master"
Not sure what the issue is, but don't have the bandwidth to fix this currently.

When testing against Golang master like [here](https://travis-ci.org/pions/webrtc/jobs/447176727) we get a lot of errors that aren't our fault. Would love some help figuring out what the solution is.

[2018-10-28 00:47] Sean-Der commented on #209
Hey @projetoarduino can you post what you have tried so far?

We don't have an example currently, but I would be against making something with GStreamer (maybe you upload video and we add text effects or something like that?)

[2018-10-29 14:22] projetoarduino commented on #209
Hi thanks for reply

This code send and receive audio but dont send video

`package main

import (
	"fmt"
	"io"
	"os"

	"bufio"
	"encoding/base64"

	"github.com/pions/webrtc"
	"github.com/projetoarduino/gstTX"
	"github.com/projetoarduino/gstRX"
	"github.com/pions/webrtc/pkg/ice"
)

func main() {
	reader := bufio.NewReader(os.Stdin)
	rawSd, err := reader.ReadString('\n')
	if err != nil && err != io

[2018-11-01 19:52] mjmac opened #212 "RTCTrack should accept unmodified *rtp.Packet input"
In some cases (e.g. with an existing RTP stream source), it is undesirable to force the input through a full cycle of packet -> sample -> packet. Instead, the RTCTrack implementation should accept "raw" *rtp.Packet input which is sent to networkManager directly.

[2018-11-01 20:31] mjmac opened #214 "rtp/packetetizer.Packetize() should handle empty payloads"
If not handled here, it can cause panics later in code which makes assumptions about slice indexes.

[2018-11-02 07:09] superp00t opened #215 "TURN is not implemented"
[code]
This does not return an error but prints "turn is not implemented" in the terminal.

I would like to be able to use the [pions TURN server](https://github.com/pions/turn) with the pions/webrtc package, to prevent my true IP from being leaked to WebRTC peers.

[2018-11-02 09:09] Sean-Der commented on #215
Hey @superp00t sorry I haven't implemented TURN yet. I am currently working on DTLS (which is turning out much harder then I anticipated) but after I am done this is our next big roadmap item.

btw great avatar choice :) 'i have no mouth and i must scream' is fantastic.

[2018-11-02 21:17] #211 closed

[2018-11-02 21:39] #212 closed

[2018-11-02 21:39] #214 closed

[2018-11-06 20:30] mjmac opened #218 "Setting callbacks is potentially error prone"
The API defines a number of callbacks for handling asynchronous events, e.g. RTCPeerConnection.OnDataChannel, RTCDataChannel.OnMessage, etc. These are intended to mirror the JS spec as closely as possible in order to enable tutorial portability and reduce cognitive burden on developers working in multiple environments.

As currently implemented however, the API requires users to first know about a

[2018-11-07 20:15] mjmac opened #220 "Simple Trickle-ICE support"
Not entirely sure how much more needs to happen in order to fully support this. I've been maintaining a simple solution to add remote candidates as they trickle in; figured I'd share it as a PR to see what the delta is from my hack to a full solution.

[2018-11-07 21:13] #220 closed

[2018-11-09 05:17] aguilEA opened #222 "Add logging to RTCPeerConnection"
RTCPeerConnection should have a logger to debug SDP/Packets and to log other messages at varying verbose levels. RTCPeerConnection should accept an interface so that a user can customize a logger and pass the logger to RTCPeerConnection through a setter. This logging implementation can begin with a simple default logger that will replace all the fmt.print and fmt.printf messages that are currently

[2018-11-16 19:18] mjmac opened #226 "API: Implement OnSignalingStateChange"
Do state transition validation and begin implementing [4.4.1.6 Set the RTCSessionDescription](https://w3c.github.io/webrtc-pc/#set-the-rtcsessiondescription).

[2018-11-16 19:20] backkem opened #227 "Docs: Feature slack more prominently"
I suggest to feature the link to slack more prominently in the readme.

[2018-11-17 00:12] tobiasfriden opened #230 "RTCPeerConnectionState stuck at 'new'"
Hello, and thanks for the awesome library!

I am trying to implement a SFU using Gstreamers recent webrtc plugin as one client and a browser as the other. Just sending directly p2p from gstreamer to browser works fine, however when putting pions 'in the middle' I am having some issues.

Basically I am trying to setup a connection between Gstreamer client and a pions based server. The server should

[2018-11-17 13:37] backkem commented on #230
Hi, It seems we're only setting ´´RTCPeerConnectionStateNew´´ and ´´RTCPeerConnectionStateClosed´´ for now. Sorry about this, we've implemented more enums/structs than are wired up in the logic.

Regarding the OnTrack: Have you registered a codec that matches with the one Gstreamer uses? Normally a warning should be printed if this is not the case thought.

[2018-11-18 22:25] backkem opened #231 "Examples: uniformize"
The examples have started to diverge a bit. Let's clean them up and make them uniform again.

[2018-11-18 22:41] tobiasfriden commented on #230
Ok, thanks for the response!

I registered codecs using `webrtc.RegisterDefaultCodecs()` in my main function. The client should send VP8 encoded video.

Here is the exchanged SDPs if that is helpful:

Client offer:
v=0
o=- 7797371982932634147 0 IN IP4 0.0.0.0
s=-
t=0 0
a=ice-options:trickle
a=msid-semantic:WMS sendrecv
m=video 9 UDP/TLS/RTP/SAVPF 97
c=IN IP4 0.0.0.0
a=setup:actpass
a=ice-ufrag:czF

[2018-11-19 08:42] #231 closed

[2018-11-19 08:44] Sean-Der opened #234 "Update .travis.yml to always test using the latest stable"
Instead of bumping manually we can wildcard it and stop us from messing it up someday

[2018-11-19 08:49] #234 closed

[2018-11-19 15:05] tobiasfriden commented on #230
Update: error found.
I was sending an offer from the client but calling `setRemoteDescription` on the server with type `webrtc.RTCSdpTypeAnswer`. Closing the issue!

[2018-11-19 15:05] #230 closed

[2018-11-19 17:42] #218 closed

[2018-11-19 19:42] #226 closed

[2018-11-20 09:09] Sean-Der commented on #204
This is done! We are working on using our DTLS 1.2 implementation now.

[2018-11-20 09:09] #204 closed

[2018-11-20 09:10] Sean-Der commented on #171
We just finished a Golang native version of DTLS 1.2 https://github.com/pions/dtls we won't be fixing any existing bugs with the OpenSSL version.

[2018-11-20 09:10] #171 closed

[2018-11-20 09:10] Sean-Der commented on #113
We just finished a Golang native version of DTLS 1.2 https://github.com/pions/dtls we won't be fixing any existing bugs with the OpenSSL version.

[2018-11-20 09:10] #113 closed

[2018-11-21 15:52] wdouglass commented on #119
I'm currently working on some infrastructure for the application to receive RTCP messages as well -- i'll submit a pull request later today.

[2018-11-22 08:17] kundanSingh11 opened #237 "Packet unhandled"
getting this error in the log "Packet unhandled in relay src "

Can any one help me why is this coming.

[2018-11-22 10:10] Sean-Der commented on #237
Hi @kundanSingh11

Where is this error being printed, we don't have any logs that match this in pions-WebRTC

thanks!

[2018-11-22 10:11] Sean-Der commented on #119
That would be awesome @wdouglass looking forward to the contribution!

[2018-11-22 12:38] wdouglass commented on #119
It was a little buggier then I expected, hopefully the pull request will
come earlier next week

On Thu, Nov 22, 2018, 05:11 Sean DuBois <notifications@github.com> wrote:

[2018-11-23 02:20] kundanSingh11 commented on #237
its coming in  nohup.out file when ever a i make a video call and the screen is black.

[2018-11-23 02:32] #237 closed

[2018-11-24 04:59] Sean-Der commented on #64
We now have a 100% Go (no OpenSSL dependency) version of pion-WebRTC

Me and @backkem just got our DTLS branch to the point it is ready to be tested. You can try it out [here](https://github.com/pions/webrtc/pull/225) I would really appreciate of people could test it out.

I am going to close this issue since I am assuming since we are 100% Go we no longer need special instructions. Feel free to r

[2018-11-24 04:59] #64 closed

[2018-11-24 05:02] Sean-Der commented on #201
Hey @gedw99 closing this for now since the pion-WebRTC developers can't act upon this.

I would love to see a wiki article with all these ideas you are having though. I think it could be really inspiring, I would also love to see all the projects you think we should approach! Every time I stumble upon a cool Golang project I notice you are already there :)

[2018-11-24 05:02] #201 closed

[2018-11-24 06:01] Sean-Der commented on #9
pion-WebRTC is officially 100% Go, our OpenSSL dependency is gone! I am really excited to announce we have a beta version [here](https://github.com/pions/webrtc/pull/225) I would really appreciate if people could test it. If no issues comes up I plan on merging this around December 1st.

I also need help getting [pions/dtls](https://github.com/pions/dtls) accepted into x/net. You can see the issue

[2018-11-24 08:46] Sean-Der opened #238 "Update examples to use non-deprecated APIs"
Some examples are still using `newRTCTrack` instead of `newRTCSampleTrack` and a few other cases

[2018-11-24 08:51] #238 closed

[2018-11-25 06:30] Sean-Der opened #240 "Multipackage coverage reporting broken"
After digging deeper our multi-package coverage is broken, implementing [this](https://gist.github.com/rjeczalik/6f01430e8554bf59b88e) so we get proper numbers.

[2018-11-25 06:42] #240 closed

[2018-11-27 18:18] schollz commented on #194
I am also having this issue, randomly at seems. The problem was alleviated a little bit by using 1kb packets instead of 32kb packets, but ends up happening eventually.

[2018-11-28 09:47] backkem commented on #190
Image in the Wiki has been adjusted.

[2018-11-28 09:47] #190 closed

[2018-11-28 15:37] discordianfish commented on #194
Having the same problem while trying to write a game (js, raw webrtc) with pions/webrtc as 'server'.
This worked fine locally but now that I'm running the server on a machine in the cloud, I get this error:

[code]

- Server: https://github.com/discordianfish/infisk8-server
- Client: https://github.com/discordianfish/infisk8

[2018-11-28 17:53] schollz commented on #194
Yep, I'm getting the same kind of thing:

[code]

Sometimes it happens to the sender, sometimes it happens to the recipient. You can try my code pretty easily:

**Sender:**

[code]

**Recipient:**

[code]

Then paste the key from the sender to the recipient and then paste the resulting key from the recipient back into the sender. It should transfer the "sender" binary, but it seems to always get c

[2018-11-28 20:03] backkem commented on #137
The `pion-to-pion` example seems to qualify for this.

[2018-11-28 20:03] #137 closed

[2018-11-29 15:35] backkem opened #244 "Dependency management"
Since the project is becoming bigger and has multiple repositories it may be a good time to start thinking about dependency management. It seems that go modules is getting decent support from the go team and community. How do we feel about adopting this strategy?

[2018-11-29 18:10] wdouglass opened #245 "RTCP header length field serializes incorrectly"
The header length field for RTCP messages should be the length of the packet in 32 bit words, -1

Currently, the "Goodbye", "ReceiverReport", "SenderReport", and "SourceDescription" put the full length in bytes in that field, which parses incorrectly (at least in chrome, probably elsewhere too)

[2018-11-29 18:46] Sean-Der commented on #244
👍 for me with modules.

I say we tag `dtls` this weekend, and our first release with `go-native` will be with a dtls at `1.0.0`

[2018-11-29 18:53] Sean-Der commented on #244
I also vote for moving SRTP out of tree (it has been pretty stable) no rush on that though

[2018-11-29 20:35] #245 closed

[2018-11-30 14:30] mjmac opened #247 "rtp.Packet: Marshal/Unmarshal panic with CSRCs"
Noticed this when debugging a stream with occasional CSRCs. Attempting to marshal/unmarshal these packets results in a panic due to an incorrect slice of rawPacket.

[2018-11-30 19:35] wdouglass opened #249 "Compound SRTCP messages aren't parsed properly"
Chrome sends RR messages with SLI messages packed into it's encrypted payload -- this is legal per the SRTCP standard; lets not throw out the extra messages.

[2018-12-01 11:02] #249 closed

[2018-12-02 18:54] maxhawkins opened #251 "Add fuzz testing to parser code"
Randomized testing with [go-fuzz](https://github.com/dvyukov/go-fuzz) will help identify parser edge cases we haven't thought of yet and potential "packets of death" that could crash our code.

- [ ] pkg/rtcp
- [ ] pkg/rtp
- [ ] internal/dtls
- [ ] internal/sdp
- [ ] others (?)

[2018-12-03 01:55] zsmweb commented on #215
@Sean-Der Is there any plan to implement TURN? Is the DTLS can be used？

[2018-12-03 07:02] chrisprobst commented on #64
A.w.e.s.o.m.e.

[2018-12-03 18:16] maxhawkins opened #254 "Data Race in SCTP"
Found this data race in sctp while running tests on Travis.

[code]

[2018-12-04 07:12] #244 closed

[2018-12-04 08:10] #205 closed

[2018-12-04 09:12] Sean-Der opened #255 "examples/data-channels-create does not work over STUN"
This example does work with host candidates though.

Both Chrome + Pions are stuck in `Checking`

[2018-12-04 09:14] Sean-Der opened #256 "examples/data-channels fires OnOpen twice for the same DataChannel"
Here are my logs. This happens over STUN (may be caused by packet loss/retransmissions)

[code]

[2018-12-04 09:16] Sean-Der commented on #254
@kc5nra mind checking this out?

[2018-12-04 14:02] hugoArregui commented on #194
I'm experiencing the same problem between pion and js. I think it would be useful if the developers can release a a patch to at least detect the situation (in case we need to wait for the proper fix), allowing us to close the connection or something. Otherwise the pion peer dies and there's not much we can do AFAICS

[2018-12-04 16:58] tobiasfriden opened #261 "SRTP Server/client key mismatch + no authorization of recieved messages"
When pions is in the server role the keys passed to `CreateContextSRTP` should be reversed. Also the auth tag on recieved SRTP messages should be authenticated.

I'm working on a possible fix and will submit a pull request shortly.

[2018-12-04 23:19] kc5nra commented on #194
I've created a repro using a packet reorder-er so I'm very close to dialing this in.  Thanks for the reports and examples!

[2018-12-05 03:37] Abdisalan opened #262 "examples/data-channels does not work"
<img width="427" alt="screen shot 2018-12-04 at 10 35 53 pm" src="https://user-images.githubusercontent.com/6256142/49488548-18455a00-f815-11e8-911b-f4fd6f976f8f.png">

I connected then when I try to send a message it disconnects. The only thing in the console is "sendChannel has opened". Am I missing anything?

[2018-12-05 04:11] Sean-Der commented on #262
Hey @Abdisalan sorry about that!

We just did a massive refactor, and I think I might have introduced a deadlock. Would you mind pulling master and trying again!

If you are still having issues I would love to help debug in our Slack channel. thanks!

[2018-12-05 04:17] Sean-Der commented on #255
@backkem Are you with me grabbing this one? I am going to eat dinner, but would love to knock it out!

[2018-12-05 05:00] Sean-Der commented on #208
Hey @wezzle @Lesterpig sorry for the delay! We just removed the OpenSSL dependency so moving back through tickets. I should be able to take a crack at this tomorrow (and should be pretty quick)

If either of you would like to contribute also would be happy to help review/offer guidance :) Feel free to join the Slack and happy to talk anytime!

thanks

[2018-12-05 05:03] Sean-Der commented on #197
Hey @wattanakorn495 really sorry for the delay :( I got sucked into replacing OpenSSL (but it is finally done!)

This is the same issue as #261 (which should have a PR posted soon) I will update/close the ticket when it lands! Again really sorry for the delay

[2018-12-05 06:04] Sean-Der commented on #215
Hey @zsmweb

We probably will start TURN in ~3 weeks. With DTLS just being finished we need to pay back some tech debt. I will make sure to update this ticket when I have started.

thanks!

[2018-12-05 08:31] #85 closed

[2018-12-05 08:31] backkem commented on #255
Wrongfully closed by #259.

[2018-12-05 08:53] backkem commented on #199
Added in #259

[2018-12-05 08:53] #199 closed

[2018-12-05 13:11] backkem commented on #254
Reopening since the change was reverted.

[2018-12-05 14:22] Abdisalan commented on #262
That fixed it @Sean-Der! Thank you for the prompt response :)

[2018-12-05 14:22] #262 closed

[2018-12-05 14:23] tobiasfriden commented on #261
@Sean-Der yep sure! Should I create another PR for the example or add it to this one?

[2018-12-05 18:16] #261 closed

[2018-12-05 18:17] Sean-Der commented on #261
I would just create a new PR with your examples you shared in Github. I just want to make sure you get the credit since you did the work!

[2018-12-05 18:18] Sean-Der commented on #197
Hey would you mind trying master again? With the merge of #261 this should be fixed!

[2018-12-05 18:20] Sean-Der commented on #262
Of course! And thank you for using pion-WebRTC hopefully it helps you build something awesome

[2018-12-06 07:41] Sean-Der commented on #85
Hey @jacobloveless sorry that took so long!

But in good news we have removed our OpenSSL dependency AND we have IPv6 support. So hopefully you get a chance to try it out! If you hit any bugs I am always available in our Slack channel.

thanks

[2018-12-06 08:07] #255 closed

[2018-12-06 10:28] baiyufei opened #265 "Will rtcp nack be supported in the future?"
It is useful in packet loss network

[2018-12-06 13:14] wdouglass commented on #265
At the tip of master, rtcp nacks are reported via the RTCPPacket channel in the RTCTrack object. That way you can respond to/handle it in your application.

It should make it's way to the next release if you aren't comfortable using the tip of the master branch.

[2018-12-06 13:14] #265 closed

[2018-12-06 15:38] jacobloveless commented on #85
Rockstars!

On Wed, Dec 5, 2018 at 11:41 PM Sean DuBois <notifications@github.com>
wrote:

[2018-12-07 16:22] backkem opened #266 "SCTP: Transport refactor"
Refactor SCTP as discussed on the [wiki](https://github.com/pions/webrtc/wiki/TransportDesign).

[2018-12-07 20:53] backkem commented on #50
I think we should probably postpone this to a later release.

[2018-12-08 10:06] #39 closed

[2018-12-09 00:33] Sean-Der opened #268 "Implement example showing how to use pion-WebRTC with a Janus VideoRoom"
Add a new example to `examples/janus-gateway/video-room`

[2018-12-09 00:49] Sean-Der opened #270 "Re-enable SRTP Auth tag verification"
This is failing for me with gstreamer-receive disabling for now

[2018-12-09 15:16] #268 closed

[2018-12-09 16:06] #256 closed

[2018-12-09 16:06] #266 closed

[2018-12-09 16:07] backkem commented on #254
This should be resolved by #267. Feel free to open a new issue when finding more races.

[2018-12-09 16:07] #254 closed

[2018-12-09 16:09] backkem opened #271 "Testing: Recreate TestRTCPeerConnection_OnDataChannelSync"
Recreate `TestRTCPeerConnection_OnDataChannelSync` which was lost in 09b0c78d3d27dee5ac19b2b974814301f5ba215b.

[2018-12-09 18:12] backkem opened #272 "RTP: Transport refactor"
Refactor RTP as discussed on the [wiki](https://github.com/pions/webrtc/wiki/TransportDesign).
Current design can be found under [rtp-refactor](https://github.com/pions/webrtc/wiki/TransportDesign#rtp-refactor).

TODO:
* [x] [Optimizations](https://github.com/pions/webrtc/wiki/TransportDesign#optimizations)
* [ ] Separate [raw RTP](https://github.com/pions/webrtc/wiki/TransportDesign#raw-rtp).
* [

[2018-12-09 18:54] backkem opened #273 "ORTC: Add ORTC data channel Constructors"
This is a proposal to add the ORTC data channel related Constructors. In JavaScript this API looks as follows:
[code]
In Go this would probably look like:
[code]
It seems harmless to expose this API alongside the existing WebRTC API. In addition, we can use these constructors to setup our networking stack in `RTCPeerConnection.SetRemoteDescription`. It seems easiest to keep these in the webrtc pac

[2018-12-09 20:02] Sean-Der commented on #273
I agree with this!

I see a lot of value in this because it makes it possible to use WebRTC without signaling. I have never thought about it before, but I think that could empower a lot of interesting situations. Especially for embedded devices people may want to hardcode values or only want a subset (SCTP + DTLS + ICE) for example.

If possible it would be great to move these out to their own pac

[2018-12-09 20:10] Sean-Der commented on #272
I will read the RFC, this sounds perfect as long as the mux/demux doesn't end up in `pions/dtls`!

This demuxing is very WebRTC centric, so might even be worth calling it `webrtc.Mux` or something along those lines since SRTP technically has nothing to do with DTLS (it just gets the encryption keys from it). But I fully support the design of linking transports.
[code]

[2018-12-09 20:42] backkem opened #275 "ORTC: Add RTCQuicTransport"
One we finish the `RTCIceTransport` in #273 it should be fairly straightforward to add experimental support for [webrtc-quic](https://w3c.github.io/webrtc-quic/). I think this would be a worthwhile experiment. We can use [quic-go](https://github.com/lucas-clemente/quic-go) for the networking itself. It uses the similar interfaces as our own networking code. TBD if we keep it in a separate branch.

[2018-12-10 04:05] Sean-Der opened #276 "Add E2E tests that exercise `Close()`"
We should assert that calling `Close()` works.

* It should be called in all the normal places users would call it.
    - Inside `OnICEConnectionStateChange`
    - At anytime outside a pion-WebRTC callback
    - At random times during signaling (before/between `SetRemoteDescription` and `CreateAnswer`)

[2018-12-10 09:34] backkem commented on #273
Moved to pions/ortc#1.

[2018-12-10 09:35] backkem commented on #275
Moved to pions/ortc#2.

[2018-12-10 09:58] backkem opened #277 "API: Expose networking"
For more demanding use-cases it seems interesting to have direct access to the networking layer. One would still use the WebRTC API to setup a connection since you don't want to duplicate the entire setup procedure. However, afterwards you would have to option to detach the networking, E.g.:
[code]
When this method is called, the `RTCDataChannel.readLoop` doesn't get started and it's up to the cal

[2018-12-10 11:18] gedw99 commented on #201
Hey Sean,

Yeah I am a bit promiscuous :)

I got NATS and webrtc working. Thanks @thetooth. Really nice approach.

Now I am deeply looking into webrtc for video streaming to non web browsers. Doing it with web browsers is pretty easy and s ton examples out there as we all know.
But for desktop and mobile I could just embed chrome and use that and a webview but I don't want that baggage. I want int

[2018-12-11 00:55] realL4mbd4 opened #279 "gstreamer-send example issue"
When running gstreamer-send.exe < BROWSER_SDP.txt

The following error occurs:

[code]

This error makes sense because in examples/util/util.go on line 78 we try to "unmarshal" the json but the input is not valid json... The code snippet below is the decoded base64 from the browser.

[code]

```panic: invalid character 'v' looking for beginning of value``` is probably caused by ```v=0```

I'd love

[2018-12-11 01:00] Sean-Der commented on #279
Hey @realL4mbd4

It sounds like you might be using an old version of our webpage to use the demos (which exchanged raw SDP instead of JSON). The right URL is https://jsfiddle.net/Laf7ujeo/164/

Would you mind trying again with that URL? thanks!

I am glad that you like pion-WebRTC thank you so much for using and reporting this issue :) if there is anything you would like to see in the future we wo

[2018-12-11 01:33] realL4mbd4 commented on #279
Ah, my bad. That is working now, but I'm getting this error with gstreamer:
[code]

It's probably something wrong with my configuration... The feeds show up in the jsfiddle but they just load, never actually display the test video. Any ideas?

Thanks for getting back so quick!

[2018-12-11 01:39] Sean-Der commented on #279
That sounds like GStreamer is missing some elements. A good debugging tool is to set the environment variable GST_DEBUG. In Linux I usually just run `export GST_DEBUG=*:3` first.

You need `videotestsrc` and `vp8enc` you can use the command line tool `gst-inspect-1.0` to show what elements you do have installed.

[2018-12-11 01:59] realL4mbd4 commented on #279
I got this output when running with debug:
[code]
and this from gst-inspect-1.0
[code]

It looks sparse, I installed pkg-config and gcc using these commands:

[code]

It doesn't look like it's finding any of my elements.

[2018-12-11 02:21] realL4mbd4 commented on #279
We got it!!!

I had an old hacky GST_PLUGIN_SYSTEM_PATH system environmental variable set.  I just went through and deleted all the env vars and it resolved the issues with my plugins not being found.

If I have some time I will enhance the example docs with some more platform specific docs. I'd really like to see some documentation for cross compilation of webrtc+gstreamer+golang, I have a feelin

[2018-12-11 02:21] #279 closed

[2018-12-11 05:23] aam335 opened #280 "undefined: stun.IsSTUN"
# github.com/pions/webrtc/pkg/ice
../github.com/pions/webrtc/pkg/ice/agent.go:368:6: undefined: stun.IsSTUN
../github.com/pions/webrtc/pkg/ice/transport.go:82:5: undefined: stun.IsSTUN

[2018-12-11 05:32] #280 closed

[2018-12-11 15:14] wdouglass opened #281 "Limit local ephemeral UDP ports (for cranky primitive firewall compatability)"
Rather then falling back to TCP TURN when the firewall is obstinate, allow the user to configure a smaller range to allocate ephemeral ports from

[2018-12-11 21:05] wdouglass opened #283 "pions/webrtc does not support G.722 as an RTP payload type"

[2018-12-11 22:21] backkem commented on #110
We've meanwhile addressed races in the ICE and SCTP code. We're aware that there are still races left in the WebRTC API (RTCPeerConnection and family). We'll track progress on the API in #202.

[2018-12-11 22:21] #110 closed

[2018-12-11 23:04] maxhawkins opened #285 "crasher in rtp.Unmarshal"
I encountered a panic due to a bounds exception while parsing a malformed RTP packet.

Version: 1.1.1

[code]

[2018-12-11 23:49] thetooth commented on #276
I have managed to update to current head and get stable results, but the missing close operation was causing some issues. I tracked down what was going on during tear down that I believe should be done as part of the close operation.

- Right now, as it's not fully implemented attempting to close the PC causes a lockup, it should block for those who need that, but should not block any other peer c

[2018-12-12 00:25] backkem opened #286 "Testing: move transport tests"
Move transport tests to pions/transport/test.

[2018-12-12 08:51] Sean-Der opened #289 "ICE Candidate parsing should check networkType insensitively"
Currently the networkType check is case sensitive, we also don't handle errors when we check

[2018-12-12 09:47] #289 closed

[2018-12-12 13:10] #286 closed

[2018-12-12 14:23] #283 closed

[2018-12-13 14:38] wdouglass commented on #285
Looks like this can be fixed by changing headerLength (line 30 of packet.go) from 4 to 12. also, that headerlength constant only seems to be used in Unmarshal, should we move it to function scope?

[2018-12-14 05:49] aam335 opened #291 "general: call peerConnection.Close() generates "sctp: failed to read Endpoint closed""
When trying to close, it generates an infinite "sctp: failed to read Endpoint closed"

[2018-12-14 07:37] aam335 opened #292 "Opus RTP track payload error"
Rtp.Packet.Raw on opus track contains .Payload data from offset 0 (w/o rtp header) (packet in Packet.Payload contains 12 bytes less from start)

[2018-12-15 14:56] ast commented on #291
Can confirm. When browser closes connection it gets stuck in an endless loop "sctp: failed to read Endpoint closed"

Seems to be here:
https://github.com/pions/webrtc/blob/62708191c4643ed7979c51e4ec6042f77accee60/internal/sctp/association.go#L182

"// TODO: shutdown"

Probably should shutdown :-)

[2018-12-15 15:06] ast commented on #291
A quick and dirty fix if you need this working right away is to replace the ```continue``` with a ```break```.

I'm not into the code base enough to know what is the best way to tear down...

[2018-12-15 18:15] backkem commented on #291
We're aware of this issue and are actively working on it in #287.

[2018-12-15 18:37] ast commented on #291
Perfect!

[2018-12-15 21:48] kc5nra commented on #194
I'll be pushing a PR that should address this, thanks for the patience!

[2018-12-20 06:09] Sean-Der opened #295 "Move SCTP to `pions/sctp` and implement E2E testing"
SCTP should be in its own repo, and we should get some good testing like `dtls`

Some of the tests are here https://github.com/pions/webrtc/pull/294/files#diff-2d3fd3b7fe32b830d790a48d57c911f4R23

[2018-12-20 06:39] Sean-Der commented on #291
Hey @aam335 @ast

This should be fixed! Thanks for using pion-WebRTC :) and if there is anything I can do/other issues feel free to reach out here or on Slack.

thanks.

[2018-12-20 06:39] #291 closed

[2018-12-20 07:02] backkem commented on #273
Reopened due to large overlap between ORTC and WebRTC.

[2018-12-20 07:11] backkem opened #296 "SCTP: support simultaneous open"
Support SCTP simultaneous open

[2018-12-20 07:24] backkem opened #298 "Move internal/datachannel to `pions/datachannel`"
Make package datachannel public to enable #277.

[2018-12-20 08:17] backkem commented on #276
The E2E test have meanwhile been added for the basic flow of closing the peer connection after use. The test assures that all goroutines are ended. It should therefore not be possible for callbacks to fire afterwards.

Do we want to keep this open for the other tests (different timings) as mentioned in the original issue? Maybe that's better tracked in on of the API concurrency issues?

[2018-12-20 08:24] #197 closed, assigned to Sean-Der

[2018-12-20 08:41] Sean-Der commented on #195
Hey @netwer

We recently added IPv6, refactored ICE and are 100% Go (dropped OpenSSL dependency) If you get a chance would you mind testing again? No rush though! I would love to make sure everything works before we cut a new release, sorry for the delay we got wrapped up working on a lot of cool stuff :)

Thanks again for using pion-WebRTC

[2018-12-20 08:43] Sean-Der commented on #202
Hey @Hixon10

We updated the API so users don't have to take locks when setting things.

We also added `E2E` tests that run with `-race` and things seem to be working pretty well. If you have any suggestions I would still love to improve things, but it seems to be working ok so far.

Thanks again for using pion-WebRTC! Really excited to see people using it

[2018-12-20 08:43] #202 closed

[2018-12-20 11:02] #208 closed

[2018-12-20 11:03] Sean-Der commented on #292
Hey @aam335

Thanks for using pion-WebRTC! I am sorry I don't fully understand the issue. This sounds like your asking the purpose of these two fields? I think `Raw` (which includes header) and `Payload` which is just the body are working properly.

Feel free to re-open the issue with more info! Also more then happy to chat on the pion Slack (you can find the info in the README)

thanks!

[2018-12-20 11:03] #292 closed

[2018-12-20 11:55] aam335 commented on #292
Raw=RtpOpusPacket[12:]. The problem occurred several times, possibly due to some build issues. I can’t say more precisely, because after go clean it has not been repeated yet.

[2018-12-20 20:08] hugoArregui commented on #194
@kc5nra sorry to bother you, but if you have a branch with some fix, even if it's not perfect, can you share it?. This issue is fully blocking development for me.

Thanks for working on this problem!

[2018-12-20 23:50] #296 closed

[2018-12-21 02:46] Sean-Der commented on #285
Thanks for finding this @maxhawkins!

I will grab this (write a test will invalid packet + fix)

[2018-12-21 05:59] #270 closed

[2018-12-21 06:40] kc5nra commented on #194
Fixed in #302

[2018-12-21 06:40] #194 closed

[2018-12-21 07:53] wattanakorn495 opened #303 "gstreamer rtp depay drop old packet frequently"
I modified pion-to-pion example to send video from pion peer to another peer
code here: https://github.com/wattanakorn495/pion-to-pion-video

i got these message from gstreamer debug

It happen more frequent than gstreamer-receive example

[2018-12-21 08:11] Sean-Der commented on #303
Hey @wattanakorn495

We plan on implementing a Go native JitterBuffer, just haven't had a chance to start on it yet. For now you can try using the GStreamer one. You will need to set the `payload` property dynamically but, this could be a good start. I just used this with Chromium locally.

[code]

[2018-12-21 08:42] wattanakorn495 commented on #303
Did you get corrupt video stream?
i got this
![screenshot from 2018-12-21 15-38-34](https://user-images.githubusercontent.com/41609635/50333165-f64b1780-0536-11e9-87cd-9b64168bf193.jpg)

[2018-12-21 14:52] schollz commented on #194
Thanks @kc5nra

[2018-12-21 17:54] Sean-Der commented on #303
Here is a tuned pipeline @wattanakorn495

This isn't an exact science, I picked these values from experience so they 100% can be better. But with this pipeline I was able to stream for ~2 mins without any corruption (the pipeline before ~3 seconds max with)

Can you try this patch out and see if it helps?

https://gist.github.com/fc59e15392775ad57241a211629a2c81

To explain the values
[code]

[2018-12-21 17:57] Sean-Der commented on #303
@wattanakorn495 I was also able to completely remove the JitterBuffer from the playing side and still maintain high quality which is pretty cool!

I would also see if you can dump FireFox or Chromiums vp8 encoder settings, those are going to be the gold standard imo.

[2018-12-22 14:47] backkem opened #305 "DataChannel: support adding data channels after signaling"
Currently `PeerConnection.CreateDataChannel` doesn't open a data channel. It assumes the channel will be opened when the network manager is started. This doesn't happen if a data channel is created (with in-band negotiation) after signaling.
We also have to take into account that the `OnOpen` callback can only be registered after the RTCDataChannel is returned to the user. But we can't assume `OnO

[2018-12-22 15:26] backkem opened #306 "Docs: link waffle board"
Add a link to https://waffle.io/pions/webrtc in the docs.

[2018-12-22 20:42] netwer commented on #195
Hi @Sean-Der.
Thanky for your answer.

We are took the last version. The build was ok, but when we try to execute "answer" and "offer" projects we got the following errors:

**offer:**
[code]

**answer:**
[code]

[2018-12-23 05:24] #306 closed, assigned to backkem

[2018-12-23 06:50] inta495 commented on #303
ok. i am going to test your settings.

[2018-12-23 09:50] netwer commented on #195
Hi @Sean-Der

yesterday we made a mistake in the order of launching applications

today checked in the correct order and locally everything works,
however, the error about stun is present, but the program does not fall
Also when we exchange sdp strings by hands beetween answer and offer, nothing works

[2018-12-23 16:40] Sean-Der commented on #195
The STUN error is non-fatal, we don't have leveled logging yet. We have someone working on it [here](https://github.com/pions/webrtc/pull/236) though! Sorry for the white noise.

If you exchange SDP strings manually on the same machine does it work? Just to confirm that the application works, and ruling out any bugs there.

If that works you might have a firewall/NAT that doesn't allow UDP traffic

[2018-12-23 16:44] #285 closed

[2018-12-23 18:59] netwer commented on #195
@Sean-Der

yes, we checked on the same machine it works

yes, we have NAT, but UPD traffic allowed. We checked it by wireshark.

Also, we created [electron](https://electronjs.org/) app and check webrtc in this app and it works.

[2018-12-23 23:32] Sean-Der commented on #9
1.2.0 has officially landed you can see the announcement [here](https://github.com/pions/webrtc/releases/tag/v1.2.0) look forward to hearing what people think!

Thank you to everyone who has contributed. The team gets so much joy every time we get feedback (good or bad!) and seeing every ones projects makes it all worth it. Enjoy your holidays!

[2018-12-24 03:02] notedit commented on #54
unified plan is default  in chrome m72  now.

[2018-12-24 07:31] Sean-Der opened #309 "CreateOffer and CreateAnswer shouldn't call setLocalDescription"
Currently these two methods incorrectly call `setLocalDescription` causing us to deviate from the spec.

This is going to cause user breakage, and we will have to figure out a way a nice way to notify users.

[2018-12-24 10:56] backkem commented on #215
We should conciser adding TCP support when implementing this since it will likely affect very similar code paths.

[2018-12-24 15:31] #298 closed

[2018-12-24 15:59] backkem commented on #281
Closed by #282.

[2018-12-24 15:59] #281 closed

[2018-12-24 16:03] Sean-Der commented on #158
@backkem @Bogdan-D

I am going to close this (but feel free to re-open) I don't know if we made the right decision, but it hasn't come up since September so I don't think it is a blocking pain point.

If either of you disagree feel free to re-open and we can make a plan around what needs to change and when!

thanks

[2018-12-24 16:03] #158 closed

[2018-12-24 16:10] Sean-Der commented on #303
Hey @wattanakorn495

Were those settings helpful?

[2018-12-24 16:18] backkem opened #311 "DataChannel: make lock private"
The RTCDataChannel lock should no longer be public.

[2018-12-24 16:51] #277 closed

[2018-12-24 17:25] backkem opened #312 "ORTC: Add media API"
This is a proposal to add the ORTC media related API. In JavaScript this API looks as follows:
[code]
In Go this would probably look like:
[code]

[2018-12-24 17:30] backkem opened #313 "Phase out the network manager"
This is a proposal to phase out the `network.Manager` in favor of the ORTC Constructors suggested in #273 and #312. The WebRTC PeerConnection API would use the ORTC constructors to set up the correct network stack.

Examples:
- [JS adapter](https://github.com/webrtc/adapter/blob/master/release/adapter.js)

TODO:
- [x] ICE Gatherer
- [x] ICE Conn
- [x] DTLS Conn
- [x] SCTP Conn
- [x] Data channels

[2018-12-24 21:51] netwer commented on #195
Hi, @Sean-Der

1) In Electron application we are using only STUN protocol, without TURN.
2) Both PCs gets and seds UDP datagram. We do two dumps from two differ computers. As you ask, we send it to your email.
3) We share with you our simple demo applications, based on pions and electron. Sorry, that electron example just has two files. Other files is specific of our real application.

[2018-12-25 06:31] Sean-Der commented on #195
Hey @netwer got your email and responded!

To anyone following along we will fix this offline, I will update+close this ticket when we fix the issue.

[2018-12-25 09:12] wattanakorn495 commented on #303
your setting give better than before but it still has corruption.
I found settings in chromium source.
[https://chromium.googlesource.com/external/webrtc/stable/src/+/b8671cb0516ec9f6c7fe22a6bbe331d5b091cdbb/modules/video_coding/codecs/vp8/vp8.cc](url)

I was try those setting but it still has few corruption.
and increasing min-quantizer give better result.

[2018-12-25 09:54] Sean-Der commented on #303
@wattanakorn495

Unfortunately with live video in some cases corruption is unavoidable for some network conditions, @kc5nra is working on a JitterBuffer which should help a little bit but I don't think there is much more we can do besides tune encoder settings right now.

I would love a PR if you find something that works best though! I am sure it will help a lot of people.

[2018-12-26 02:14] notedit commented on #52
I am writing another go webrtc server,  https://github.com/notedit/media-server-go,  It is a go binding of  https://github.com/medooze/media-server. Will try to make this work with pions.

[2018-12-26 08:44] Sean-Der commented on #206
Hey @SriramScorp

Sorry for the late response, but you can now stream a file using the `gstreamer-send` example without any modifications! You can see it [here](https://github.com/pions/webrtc/tree/master/examples/gstreamer-send#customizing-your-video-or-audio)

Sorry this took so long, the DTLS implementation, really took up a lot of time. If there is anything else I can do always happy to help

[2018-12-26 08:44] #206 closed

[2018-12-26 08:51] Sean-Der commented on #209
Hey @projetoarduino

Really sorry about how long this took, I was working on the DTLS stuff and got overloaded :/

I updated the `gstreamer-src` example so you can send your webcam directly from it. You can see that [here](https://github.com/pions/webrtc/tree/master/examples/gstreamer-send#customizing-your-video-or-audio)

I would modify the `gstreamer-send` example and just add a call to `peerCon

[2018-12-26 08:51] #209 closed

[2018-12-26 13:07] #102 closed

[2018-12-26 21:08] maxhawkins opened #316 "crasher in codecs.VP8Packet"
I encountered this out of bounds panic while parsing a malformed VP8 packet.

[code]

[2018-12-26 22:06] netwer commented on #195
Hi @Sean-Der
We are sent reply to your email.

[2018-12-27 07:48] Sean-Der commented on #272
@backkem

I started working on this, here are my thoughts and the steps I am going to take. Wanted to make sure I was on the right track.

----

[ ] Make the SRTP generic API generic. Just pass `[]byte` actually useful for public consumption
[ ] Move `internal/srtp` -> `github.com/pions/srtp`
[ ] Move `internal/sdp` -> `github.com/pions/sdp`
[ ] Move `pkg/rtp` -> `github.com/pions/rtp`
[ ] Move `p

[2018-12-27 08:08] Sean-Der commented on #316
@maxhawkins nice catch!

We have to a create a leaderboard for you, finding all these crashes. I also need to get up to speed with the fuzzing stuff you have done. Never done anything around it before.

[2018-12-27 09:18] backkem commented on #272
Seems like that wrapper may as well live in pions/srtp along side the contexts. Your choice thought. I guess I'm fine with leaving rt(c)p as is.

I just like how we can now throw a bunch of io.ReadWriteClosers together to form a stack on the data channel side. It seems rather powerful to mirror on the video side. You could conceivably start building a pipeline with decoders, filters, effects, ...

[2018-12-27 14:09] maxhawkins commented on #316
All my buggy code is like a fuzzer. It provides all sorts of garbled packets to test the parser code!

[2018-12-27 16:13] wdouglass opened #317 "If there aren't any valid candidate pairs, ice.Agent.getBestPair hangs indefinately"
Make sure that getBestPair always returns, and that the rest of the stack reacts properly if it fails.

[2018-12-27 18:34] maxhawkins opened #319 "Add integer wraparound tests to SampleBuilder"
`SampleBuilder.Pop` doesn't account for uint16 wraparound when `SequenceNumber < maxLate` so packets with low sequence numbers will be dropped.

https://github.com/pions/webrtc/blob/e0313c7cc5167e218ad16513546f20568d076c48/pkg/media/samplebuilder/samplebuilder.go#L77

[2018-12-27 18:42] maxhawkins commented on #316
Here's another one:

[code]

[2018-12-28 00:41] Sean-Der opened #320 "Use -coverpkg when invoking go test"
Our tests aren't being executed recursively, update this so everything gets run

[2018-12-28 00:53] #320 closed

[2018-12-28 02:31] #317 closed

[2018-12-28 04:16] Sean-Der opened #322 "Move SDP code to external package"
Follow the pattern of SCTP

[2018-12-28 14:45] wdouglass opened #324 "ICE Connection timeouts are constant, and very long"
We should add settingEngine hooks to modify them

[2018-12-28 15:15] Moisesbr opened #326 "Using webrtcdsp echo cancellation"
I trying change 'pipelineStr' in file ~/go/src/github.com/pions/webrtc/examples/util/gstreamer-src/gst.go, but without any success, anyone already has any skill, using webrtcdsp plugin

`case webrtc.Opus:`
   `   pipelineStr = pipelineSrc + " ! opusenc ! webrtcdsp ! webrtcechoprobe !" + pipelineStr`

Best Regards
Moisés

[2018-12-28 18:06] projetoarduino commented on #209
hey @Sean-Der

Thank you very much for remembering my case.

I have already updated the lib, and I have a prototype code in hand.

I can send audio and video receive audio, I have already created an app for android and a signaling server.

I want to thank you for your excellent work and I am willing to help you with what is needed.

[2018-12-28 20:32] backkem commented on #275
Reopened due to implementing ORTC in tree for now.

[2018-12-28 21:58] #322 closed

[2018-12-28 22:06] Sean-Der commented on #326
Hey @Moisesbr

Thanks for using pion-WebRTC! I would pass these arguments directly to the function, this is how I launch `gstreamer-send` and use my microphone + webrtc elements

`echo $SDP | go run *.go -audio-src 'autoaudiosrc ! webrtcdsp ! webrtcechoprobe ! queue'`

[2018-12-28 22:14] Sean-Der commented on #272
Just to follow up me and @backkem talked, and he is totally right here.

I am going to add `*Session` structs to `srtp` that allows us to follow the established pattern.

[2018-12-28 22:33] Sean-Der commented on #209
Of course @projetoarduino

we are all super grateful that you are using pion-WebRTC. The team puts a lot of time and effort into it, so makes me really happy that people actually like it :) Thanks again for the patience

Enjoy the new years

[2018-12-29 08:19] maxhawkins opened #329 "nil pointer in WriteDataChannel"
[code]

Reproduction scenario: Send on an RTCDataChannel before it is opened.
TODO: Check the spec for the right way to handle this and implement it.

[2018-12-30 09:06] Sean-Der commented on #326
Hey @Moisesbr

If there is anything else we can do feel free to re-open this issue.

We would also love to have you in the pions Slack (you can find the instructions in the README.md) thanks again for using pion-WebRTC!

[2018-12-30 09:06] #326 closed

[2018-12-30 13:21] backkem commented on #309
Maybe we should conciser implementing this in the ORTC branch since we'll be restructuring the code anyway.

[2018-12-31 05:34] Parth opened #330 "Can someone help me understand the motivation of this channel?"
onOpen seems to return a channel, as far as I can tell, no function ever uses this channel. This is an unexported function.

https://github.com/pions/webrtc/blob/b98909a75b254ac58a6be834bde1a5a68cbfe739/rtcdatachannel.go#L113

My use case: a server (related to a game) will accept many datachannels, I'd like to aggregate them in a single goroutine that'll push updates out to clients. I do this logi

[2018-12-31 07:49] Sean-Der commented on #303
Hey @wattanakorn495

Were these encoding settings helpful? Should we add them to the examples by default? I would love to get this ticket closed out (so doesn't obscure other issues)

thanks!

[2018-12-31 09:36] backkem commented on #330
Hi @Parth, `onOpen` is indeed not exported. It is an internal method that is used to call the `OnOpen` callback safely. It returns a done channel so the caller an optionally wait until the callback is finished. Currently we don't wait for the `OnOpen` callback to finish. We do use this for the `OnDataChannel` callback:
https://github.com/pions/webrtc/blob/b98909a75b254ac58a6be834bde1a5a68cbfe739/r

[2018-12-31 09:50] enobufs opened #331 "ICE connection state changes to "Disconnected" 30 seconds after it connected."
I am using data channel only, successfully saw OnOpen callback from RTCDataChannel, but in about 30 seconds, I see ICE Connection State changes from "Connected" to "Disconnected" for a small amount of time (~ a few msec) then back to "Connected" state.

[code]

This does not occur every time.  I see this about once in 5 times of connections.  When this happens, the value of `time.Since(a.selectedP

[2018-12-31 10:13] Sean-Der commented on #271
The purpose of this test is to make sure nothing is lost when setting up a DataChannel and it's callbacks.
￼￼￼￼￼
We need to assert that the user has a chance to add the OnMessage callback before any messages are received.

[2018-12-31 19:48] enobufs commented on #331
I think I found the reason why LastSent() that determines whether to send keepalive was too large, and set a [pull-request](https://github.com/pions/webrtc/pull/332).

[2018-12-31 21:52] #331 closed

[2019-01-02 15:22] wdouglass opened #333 "settingEngine makes certain code hard to cover with tests."
For instance, the settingEngine setters themselves, the peerConnection and ice.Agent constructors, etc. I'll start brainstorming fixes...

[2019-01-03 13:37] #303 closed

[2019-01-03 13:47] backkem opened #334 "Data channels: support unreliable communication"
Support unreliable data channels.
Needed by [decentraland/communications-server-go](https://github.com/decentraland/communications-server-go).

[2019-01-03 14:08] backkem opened #335 "ICE: Support connecting to peer reflexive candidates"
Support connecting to peer reflexive candidates.

cc @enobufs

[2019-01-03 19:58] backkem commented on #335
I suggest we first verify we can connect to peer reflexive candidates correctly. Allow peer reflexive candidates to be added via `PeerConnection.AddIceCandidate()` and enable the ICE agent to connect to them. This may already work but it isn't handled correctly since `ice.CandidateTypePeerReflexive` is not fully implemented:
https://github.com/pions/webrtc/blob/361cef680f416a35570259222922e1b1336e

[2019-01-04 14:09] backkem commented on #312
This is now unblocked by #328.

[2019-01-04 16:18] backkem commented on #313
Since #337 the media side, suggested in #312, can now also be added on top.

[2019-01-05 19:33] Parth commented on #330
Thank you for your clarification!

So that's not currently used, what's the long term intention of detecting when it returns?

Essentially I just want to make sure I understand the long term behavior of my goroutine returning OnOpen, currently what my OnOpen does is simply add the *DataChannel to a list of *DataChannels for all the players that are currently connected. I want to be sure that retur

[2019-01-06 11:55] backkem commented on #330
It will definitely be fine forever to return `OnOpen`. Currently it is also allowed to block `OnOpen` forever. We'll probably also keep that behavior since it's used in our examples.

[2019-01-07 10:42] gedw99 opened #341 "Screen capture with gstreamer"
Am playing around with using pions to build a remote desktop sharing system with 100% golang.

Anyone know if gstreamer can capture a video of a desktop ?
All the examples only capture video via webcam currently

[2019-01-07 14:06] wdouglass commented on #341
ximagesrc is probably what you want, but this is a gstreamer question, not a pions issue.

https://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good/html/gst-plugins-good-plugins-ximagesrc.html

`gst-launch -v ximagesrc ! video/x-raw-rgb,framerate=5/1 ! ffmpegcolorspace ! theoraenc ! oggmux ! filesink location=desktop.ogg`

[2019-01-07 14:06] #341 closed

[2019-01-07 21:48] Sean-Der commented on #324
Landed! Thank you @wdouglass

[2019-01-07 21:48] #324 closed

[2019-01-08 03:16] Parth commented on #330
Awesome, thank you!

[2019-01-08 03:16] #330 closed

[2019-01-08 09:22] Sean-Der opened #343 "Update sfu example to use RawRTP input instead of SampleBuilder"
SampleBuilder is buggy, it will just be replaced with JitterBuffer in the short term.

[2019-01-08 10:01] gedw99 commented on #341
hey @wdouglass
thanks for tip.
Is this cross platform ?

[2019-01-08 21:43] #273 closed

[2019-01-08 21:43] #275 closed

[2019-01-08 21:47] backkem commented on #305
May be fixed by #342, to verify.

[2019-01-08 22:03] backkem opened #346 "Don't start unused networking"
- When there are no data channels in the SDP: Don't spawn SCTP.
- When there are no media tracks in the SDP: Don't spawn SRTP.
- When no DataChannel has been opened don't offer SCTP

[2019-01-08 22:11] Sean-Der opened #347 "Update go.mod and go.sum for new QUIC libs and ICE changes"
Currently hitting these errors

[code]

[2019-01-08 22:14] backkem commented on #347
We should probably force enable go mix in CI.

[2019-01-08 23:41] Sean-Der commented on #347
@backkem fixed this with https://github.com/pions/webrtc/commit/4c45b5863c289baaf844ea05f632f31e7a3b43ae

[2019-01-08 23:41] #347 closed

[2019-01-09 21:27] mjmac opened #349 "Trickle-ICE causes deadlock after transport refactor"
The write lock held in RTCIceTransport.Start() prevents trickle-ICE candidates from being added to the agent, and so the agent never establishes a connection.

[2019-01-09 23:00] #349 closed

[2019-01-09 23:33] enobufs commented on #335
Attempted to connect from pion to Chrome, using pion's AddIceCandidate() for new candidates arrived after setRemoteDescription() was called, but ICE wouldn't succeed. (I confirmed, non-trickle mode in [my code](https://github.com/enobufs/webrtc-audio-streaming/tree/feature/pion) works).  I will look into this further.

[2019-01-10 00:15] enobufs commented on #335
Ok, it was fixed by #350.  Confirmed trickle works.  Moving on to prflx issue...

[2019-01-11 01:33] Parth opened #353 "Data-channels not working in Docker"
# `Data-channels not working in Docker`

Hi! I'm using WebRTC for a game, the back-end is written in go, and the frontend is a browser client. Thanks to this library I was able to drop in WebRTC in place of websockets. The network performance is significantly better, this is an awesome project!

I do however have an issue running this within docker *locally*. So my gameserver can run within docker

[2019-01-11 10:37] Sean-Der commented on #353
Hey @Parth
Thanks for using pion-WebRTC, I am really excited to see the game you are working on when it is complete :)

So my assumption is that Chromium is creating ICE candidates using interfaces that don't route to your Docker container (so it is unable to communicate) a good way to see how this all works is using the ICE debugging stuff. Sorry it isn't documented but [here](https://github.com/

[2019-01-11 13:53] backkem commented on #353
I did some quick testing on my end. I'm running on Windows where docker has its own network adapter that places all containers behind a NAT, as Sean mentioned. If I run `data-channels` from a container I can connect using Chrome but not using Firefox. Firefox doesn't include an IP address of the Docker NAT in it's offer. I'm not sure if Firefox has a setting for this.

[2019-01-12 06:11] enobufs commented on #335
I noticed in the following configuration, pion ignores all the STUN-binding requests from NATed node. Consequently, all connectivity checks fail.
[code]

[This code](https://github.com/pions/webrtc/blob/20619e871258b242c19a8ed90dfbca6696492269/pkg/ice/agent.go#L650-L652) needs to be fixed.

Connectivity checks from a NAT'ed node will have translated source tranport address by NAT. Therefore, the r

[2019-01-12 20:04] enobufs commented on #335
Added some text to our wiki page, to explain how  various candidates contribute to traversing NAT with a hope that helps: https://github.com/pions/webrtc/wiki/Network-Address-Translation#candidate-types-and-combinations-of-nat-types

[2019-01-12 21:14] enobufs commented on #335
With the fix in PR #354, connection was successfully established with a prflx candidate.  Here's the log I am seeing:
[code]

[2019-01-13 18:23] Moisesbr opened #356 "Create example loop application"
Hi guys,
I trying to make a loop application which receives an offer by WebSocket from the browser and create an answer, until here ok, the example below works,
but I see goroutine leak after second interaction, line 137 is printing number of goroutines,
Probably I using peer connection in the wrong way. Please, could you tell me the right path?

[code]
https://gist.github.com/Moisesbr/bf78029fc80

[2019-01-13 19:07] backkem commented on #356
Hi @Moisesbr, Thanks for checking out pions/webrtc. It's a bit hard to fully grasp the behavior of your code since the PeerConnection is defined as a global variable. In general, an existing PeerConnection isn't really meant to be re-used for different connection. Normally, all go-routines should close after calling `RTCPeerConnection.Close()` (This may take a couple of milliseconds). I see this i

[2019-01-13 23:37] Parth commented on #353
Hey guys, thanks for all the resources!

Few questions:

* Is there a way I can just not use STUN/ICE? My server has a static IP address, I can choose who creates the offer, and who creates the answer. What do you guys think about that strategy?
* From the first post, the logs about `udp6` came from my gameserver. Does that mean I have the ICE logging enabled already?
* So [this function](https://

[2019-01-14 11:42] backkem commented on #353
Hey, Some notes:
- No, there is no way to skip STUN/ICE in WebRTC.
- This warning probably shows up because the machine doesn't support IPv6. In master this logging should not be enabled using an environment variable. Maybe you have a version of the library from before that change?
- Yes, However, I would not recommend using it for this use-case.
- In order to join the gopher slack you can get an

[2019-01-14 13:02] backkem commented on #353
After some digging I found [this issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1313384). Firefox apparently implements [these guidelines](https://tools.ietf.org/html/draft-ietf-rtcweb-ip-handling). They restrict the IP information that is allowed to be used without explicit user consent. To test this theory I checked the SDP for the `gstreamer-receive` example. This example indeed has the Do

[2019-01-14 16:18] Moisesbr commented on #356
Tks, @backkemI will try this new approach.

[2019-01-14 16:18] #356 closed

[2019-01-14 21:47] #335 closed

[2019-01-14 23:01] enobufs opened #358 "pc.AddIceCandidate() should take RTCIceCandidateInit"
See RTCIceCandidateInit: [w3c definition](https://w3c.github.io/webrtc-pc/#dom-rtcicecandidateinit)

## Issue
Current AddIceCandidate() takes a string, `candidate` component of RTCIceCandidateInit. In the future enhancement, we'd need sdpMLineIndex, sdpMid and usernameFragment fields to correctly pair the new candidates.

## Proposed approach
Handling of these field would require a huge modificati

[2019-01-15 02:55] KouChongYang opened #359 "gcc congestion algorithm support"
when can support congestion algorithm gcc or other congestion algorithm

[2019-01-15 15:08] wdouglass commented on #359
I assume you mean this:
https://tools.ietf.org/html/draft-ietf-rmcat-gcc-02

I don't think it's on the roadmap now, @Sean-Der or @backkem may correct me....
It's a neat feature though!

[2019-01-16 03:02] enobufs commented on #41
If one NAT type is ok, then we can do it using docker containers. The idea is to have multiple layers of dockers (docker-in-docker technique), where outer most docker represents a WAN (we can run STUN/TURN/signaling server there), second layer is to set up an IP masquerade, and innermost container will be the NATted application.  As far as I know, Ubuntu's IP masquerade exhibits "Port-restricted c

[2019-01-16 10:20] backkem commented on #41
Eventually it would be nice to test using a variety of NAT types but for now it would already help a lot to automate one test. That would mean we no longer have to manually test NAT traversal.

[2019-01-16 18:50] enobufs commented on #41
I just put my demo code together...
https://github.com/enobufs/nat-traversal-test-using-docker

[2019-01-16 18:57] mjmac opened #361 "Logging cleanup"
Creating an umbrella issue for log messages which are deemed by consensus to be at the wrong log level (e.g. at Debug when Trace would be more reasonable). Refer to this issue when creating PRs for logging adjustments.

[2019-01-16 21:47] mjmac opened #363 "Deadlock on RTCPeerConnection.Close()"
Still investigating, seems to happen periodically when a pc is closed and another one is created in its place.

sync.runtime_SemacquireMutex(0xc0003c1404, 0x900000000)
	/usr/local/Cellar/go/1.11.4/libexec/src/runtime/sema.go:71 +0x3d
sync.(*Mutex).Lock(0xc0003c1400)
	/usr/local/Cellar/go/1.11.4/libexec/src/sync/mutex.go:134 +0x153
sync.(*RWMutex).Lock(0xc0003c1400)
	/usr/local/Cellar/go/1.11.4/lib

[2019-01-16 22:06] mjmac commented on #363
[webrtc-363-full.txt](https://github.com/pions/webrtc/files/2766265/webrtc-363-full.txt)

[2019-01-19 22:19] jech opened #365 "Incoming payloads are silently truncated to 8kB"
If incoming payloads are larger than 8kB, they are silently truncated, which causes loss of data.  I believe that there are two issues here:

  * there is no error indication when a packet is truncated;
  * 8kB is too small in any cases (the protocol that I'm trying to implement uses slightly over 16kB).

A simple workaround is to increase the value of `receiveMTU` in `rtcpeerconnection.go`¸ but t

[2019-01-19 22:24] jech opened #364 "PayloadString and PayloadBinary should be a single type"
Is there any good reason why `PayloadString` and `PayloadBinary` are distinct types?  This means that receiver code that doesn't care about the distinction needs to do:

    var data []byte
    switch p := p.(type) {
    case *datachannel.PayloadString:
            data = p.Data
    case *datachannel.PayloadBinary:
            data = p.Data
    }

Wouldn't it be simpler to have

    type Payload s

[2019-01-19 22:55] backkem commented on #364
I agree that this type switch isn't the most elegant API. It was probably less clear to us when we initially designed the API. We're trying to keep the API stable for now. We'll re-evaluate this when reviewing the API. Some more API suggestions are collected on the [wiki](https://github.com/pions/webrtc/wiki/v2.0.0-Release-Notes).
You may also check out the [detach](https://github.com/pions/webrtc

[2019-01-19 23:09] backkem commented on #365
This is a [known problem](https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Using_data_channels#Concerns_with_large_messages) with the WebRTC API itself. It doesn't provide a good way to handle large messages. All implementations have some limitation. We can increase the default payload size but it would still be an arbitrary limit. A possible solution would be to make this configurable.

[2019-01-20 00:31] jech commented on #365
I still think there should be some sort of indication given to the application that the message has been truncated.

[2019-01-20 00:34] jech commented on #365
I'm confused — your link speaks of a protocol problem with SCTP, not an API problem.  Couldn't the `acceptSRTCP` function reallocate the buffer when it is found to overflow, and then continue reading?  Alternatively, couldn't the `OnMessage` callback return an `io.Reader`, as is done in gorilla.websocket?

[2019-01-20 15:32] jech commented on #365
I'm glad to report that Detach solved my problem quite nicely.  Thanks.

[2019-01-20 15:34] jech opened #368 "Don't abort associations on unexpected Ack"
Am I reading RFC 4960 wrong?

[code]

[2019-01-20 18:30] backkem commented on #365
I agree we should look into adding a warning. We'll keep the issue open untill then.

[2019-01-21 19:21] #313 closed

[2019-01-22 20:36] backkem commented on #365
FYI, I did indeed link the wrong info above. For truly sending/receiving any size messages via the WebRTC API, it would have to be extended as suggested in  w3c/webrtc-pc#1732.

[2019-01-23 16:01] backkem commented on #222
Basic logging support has been added in #360.

[2019-01-23 16:01] #222 closed

[2019-01-23 16:07] backkem commented on #333
#345 added an API object that groups all methods that where previously global.

[2019-01-23 16:07] #333 closed

[2019-01-23 16:12] backkem commented on #364
Suggestion added to the Wiki. We'll take it into account in the next API revamp.

[2019-01-23 16:12] #364 closed

[2019-01-23 16:31] backkem commented on #305
The first point was fixed by #342. The problem with OnOpen remains.

[2019-01-23 22:17] #329 closed

[2019-01-23 22:17] #365 closed

[2019-01-24 09:03] rukavina opened #373 "Update JS examples to use compression for SDP input/output"
I followed the steps from https://github.com/pions/webrtc/blob/master/examples/sfu/README.md and when I paste browser's SD and hit enter the sfu crashes with: illegal base64 data at input byte 4093
Am I doing something wrong?
While I'm very excited that I found this project which looks very promising, I must say it's not very intuitive how to start with it. Some kind of a quick start or an introdu

[2019-01-24 09:18] Sean-Der commented on #373
Hi @rukavina

It sounds like your over the character limit for stdin (4096) I believe. Maybe try removing the `iceServers` from the jsfiddle. I will see if we can work on compressing this more, but with IPv6 (and other things getting added) this input has just gotten more bloated.

Thanks for the feedback! How do you think we can make the examples better? I am trying to find a good compromise betw

[2019-01-24 14:20] wdouglass commented on #373
at least in go we can use the compress package to compress the SDP before doing base64...I'm not sure the easiest way to deal with that on the javascript side without resorting to some library

[2019-01-24 17:54] enobufs commented on #334
@backkem This issue has become urgent to my project. Could you tell me how far this has been addressed? If not much, I could take a look at it this weekend. If there's any blocker to this issue you are aware of, please let me know.

[2019-01-24 18:02] rukavina commented on #373
I overcame the issue by pasting sd string to a file, and then modified the example to read the content from that file.

[2019-01-26 20:00] Parth commented on #353
Okay you gave me a bunch of good resources to go through, and this is my current understanding:

In certain conditions *ICE* has the potential to expose information about the client's network stack. This can be particularly bad if the client is behind a VPN. But if they're behind a VPN for reasons other than privacy (corporate network) they still may prefer to connect to their peer directly and ma

[2019-01-26 22:40] enobufs commented on #334
These params...
[code]
being pointers look a bit odd to me. I know spec says about "null", but it also says:

If the max value for pion (the "user agent") can be less than 2^31 (I belive reasonable values are much less than that!), then we could use `int16`, so that we can consider negative values as "null" for JavaScript... my 2c.

[2019-01-27 02:12] enobufs commented on #334
[RFC3758](https://tools.ietf.org/html/rfc3758) "SCTP Partial Reliability Extension", this is what we need to implement. Description for how to give up retransmission is not defined in this spec.