[2020-05-29 13:33] AeroNotix commented on #1063
@Sean-Der any movement on this?

[2020-05-29 15:22] EdoaLive commented on #1210
Hi, I've stumbled on this panic too, but I **wanted** to call SetRemoteDescription() with an offer I received.
Otherwise, how am I supposed to treat an incoming offer? Maybe I got this wrong somehow?

[2020-05-29 19:28] somersbmatthews opened #1226 "Illegal base64 data error from examples/save-to-disk"
### Your environment.
  - SHA: 667941621dd8c895a5dd23b133e1913221b0cf7e
  - Browser: Chrome: 81.0.4044.138

### What did you do?

`go get github.com/pion/webrtc/v2/examples/save-to-disk` does not work so I used `go get github.com/pion/webrtc` then `go install github.com/pion/webrtc/examples/save-to-disk`

Since I don't have `$BROWSER_SDP` set I used `echo (pasted session description here) > sessio

[2020-05-29 19:37] Sean-Der commented on #1226
Hey @somersbmatthews

For me on Chromium copying/pasting always ignores the trailing `=` sometimes you might have two. It might be worth switching to something that is more copy/paste resilient :)

Another thing that can happen is stdin length restrictions, `9264` doesn't seem significant but is divisible by two so seems possible :)

[2020-05-30 07:14] Sean-Der commented on #1133
@somersbmatthews That works for me! You can also try cloning and running `go run *.go`.

Also `cgo` isn't an option, I don't think we will need one for a minimal `oggreader`! The code shared above really should cover everything we need, I think it really just needs more testing. If you can get something that covers the same API surface we should be good.

Feel free to open a PR even if the functio

[2020-05-30 10:05] jech opened #1227 "Massive amounts of garbage (short-lived allocations)"
Here are some results from memory profiling of Pion as used by my SFU.  I'll probably get around to fixing the issues at some point, but I'm submitting this report in case somebody wants to get their hands dirty.

The bad news is that Pion generates massive amounts of garbage.  The good news is that in the particular case of my SFU this only happens in a few places, and should therefore be easy to

[2020-05-30 13:45] josharian commented on #1210
You probably want to create an answer, set the local description to that answer, and then set the remote description to the offer.

[2020-05-31 07:49] Sean-Der commented on #1210
I think technically this is legal, not sure why you would ever want to be in this state though. We need to fix the `segv` though, that should never happen :(

[jsfiddle.net](https://jsfiddle.net/frejxbu7/)

Also looking through the RFC I don't see anything forbidding `SetRemoteDescription` with offer when PeerConnection is in `have-local-offer` state.

[2020-05-31 13:26] josharian commented on #1210
Good to know! I'm not sure what the correct fix for the panic should look like, so I will leave this for someone else to fix.

[2020-05-31 15:43] tomroima commented on #1189
If anyone is having a problem with this while using docker, just add the STUN service port to the service exports like this: "19302:19302/udp". It will let you record the camera and audio normally.

[2020-05-31 18:15] Sean-Der commented on #1227
@jech Don't think it will help allocations, but Chrome recently turned on AES-GCM support! It should be easy enough to add to `pion/srtp`, I made sure it wouldn't be a breaking change. If you have AES-NI should be a significant performance improvement.

-----

It is probably worth digging into  `packetio.Buffer`, and how we can improve it!
* allows us to do non-blocking writes into the next subsys

[2020-06-01 00:04] jech commented on #1227
Why is there extra buffering between the layers?  Why aren't the writes synchronous?

[2020-06-01 01:02] Sean-Der commented on #1227
A user might not be calling `Read` fast enough, this avoids packet loss during those cases.

It would be nice if we could pass single buffer via Read and then each step of the way uses it in place `(User) -> SRTP -> ICE`!

[2020-06-01 12:10] jech commented on #1227
The `packetio.Buffer` issue is hopefully fixed by https://github.com/pion/transport/pull/72

[2020-06-01 16:33] jech commented on #1227
The `NewCTR` issue is hopefully fixed by https://github.com/pion/srtp/pull/76

[2020-06-02 03:37] edwinhayes opened #1234 "Occasional panic on AddICECandidate"
Perhaps 1% of the time, when I get an ICE candidate from my signalling server and try to add it, Pion panics:

[code]

[2020-06-02 04:03] Sean-Der commented on #1234
Hey @edwinhayes

I believe we fixed this https://github.com/pion/ice/commit/88b716cb3bcd2dd54f3f022b46f4212b9746e555

Mind updating to the newest version and see if that helps? thanks!

[2020-06-02 04:03] Sean-Der commented on #1226
Resolving for now @somersbmatthews, if you are able to hit a reproducible error please re-open :)

thanks!

[2020-06-02 04:03] #1226 closed

[2020-06-02 05:02] somersbmatthews commented on #1226
@Sean-Der yeah using firefox fixed the copy paste problem, but I'm still getting files with just initial headers and the jsfiddle part just says `failed` and the pion part just says `Connection State has changed failed
Done writing media files` I'm going to try some more things to try to get this jsfiddle working. I am trying to get some sample bytes written by oggwriter so i can write tests for o

[2020-06-02 05:35] edwinhayes commented on #1234
@Sean-Der - certainly; I will update my build tomorrow - however given the infrequent nature of the panic, it will potentially be a while before I can be sure it's gone.

Thanks!

[2020-06-02 18:09] jech commented on #1227
The `growBuffer` issue is hopefully fixed by https://github.com/pion/srtp/pull/77.  I'm closing this issue, please reopen if you disagree.

[2020-06-02 18:09] #1227 closed

[2020-06-03 00:29] edwinhayes commented on #1234
@Sean-Der - I can't updated to the newest version (v2.2.14): between v2.2.10 and v2.2.11, something breaks for me.  On v2.2.11, I get an ICE connection, but then no frames seem to come through.  Can you tell me what changed between these two versions so that I can track down the issue (related - is there some place that you have release notes recorded)?

[2020-06-03 02:59] Sean-Der commented on #1234
Oof that is no good :/ We had two commits

a2c7665fade3953a41e7ca6d83cc2831e7c995c3
b66c3c4903dfd295bb5d240eb947f48f9a8a9af9

Can you open `chrome://webrtc-internals` and see if you have any video flowing? Does ICEConnectionState go to connected/completed on both sides? Are you using Pion to send or receive video?

I am not sure exactly what the issue is, but would love to help you debug and get t

[2020-06-03 08:51] edwinhayes commented on #1234
This is Pion doing the sending from a native Go app; the receiving end is JS in Chrome.  WebRTC internals looks like zero packets received, but I'm putting 2000kbps into `WriteSample()` onto sending side.  ICE connection state is connected on both ends.

[2020-06-03 09:02] Sean-Der commented on #1234
Can you confirm that

Can you check that things are actually sending [here](https://github.com/pion/webrtc/blob/master/track.go#L160) it is possible the RTPSender hasn't gone to started yet (not sure why)

It doesn't sound like a connectivity issue, but signaling/media only.

Also double check that your SDPs haven't changed between versions. Make sure they have the same amount of media sections, a

[2020-06-03 13:23] juju812 opened #1236 "Why SDPMid and SDPMLineIndex isn't set in ICECandidate.ToJSON()?"
Hi, there,

In method `ICECandidate.ToJSON()`, `SDPMid` is a nil pointer and value of `SDPMLineIndex` is always 0. So I can't get these info in `PeerConnection.OnICECandidate`. Could anyone kindly clarify why SDPMid and SDPMLineIndex isn't set? Is there any concern?

Thx

[2020-06-04 04:27] edwinhayes commented on #1234
I will have to get a debugger set up to see if we get to that line.

Checked SDPs though; diffing the before and after doesn't see to show any material differences (other than SSRCs, ports, etc) from v10 to v14.

[2020-06-04 04:34] Sean-Der commented on #1234
Are you able to add a `fmt.Println` ? Any chance of a minimal reproduce? If you want to email me directly happy to help debug 1:1 sometime. sean @ siobud.com

I really am excited when people use Pion, and getting bug reports is super important to me. I don't want a bug to stop you from upgrading :(

[2020-06-04 05:00] edwinhayes commented on #1234
Yeah, if necessary, but at the moment, our build system is just fetching the package directly from Github, I'm not building manually, so I'll just have to figure out what the least-effort path is.  Have quite a few other demands on my time at the moment, so am trying to fit this in where possible.  Thanks for the offer though, that would be great!

[2020-06-06 14:04] josharian opened #1240 "reading from a track too early causes a panic"
If you create a track and then immediately call Read on it, you get this panic:

[code]

The relevant code is:

[code]

I think we should check `r != nil` before calling `r.readRTRP`, and if nil, return an error.

[2020-06-06 18:18] josharian opened #1241 "document calling PeerConnection.Close, add to examples"
As discussed here:

https://gophers.slack.com/archives/CAK2124AG/p1591453173401600

[2020-06-06 19:14] josharian opened #1242 "improve samplebuilder docs"
There's no indication of the units for maxLate.

It's not clear what an rtp.Depacketizer is or what a standard one might look like. What is the byte  slice arg and what byte slice is it returning? The tests only show a `fakeDepacketizer` that is a passthrough. In my testing, a passthrough depacketizer works fine. (Should depacketizer by an option? Should it have type func instead of type interface

[2020-06-07 17:01] Ambyjkl opened #1244 "TCP Support?"
## Summary

https://github.com/pion/webrtc/blob/bd6c5cbc71fc401eac3cd158c97586a79f92d34e/networktype.go#L13

TCP is not yet supported.

## Motivation

Feature completeness and spec compliance.

[2020-06-08 16:37] jech opened #1246 "webrtc.IceConfiguration is not thread-safe"
I think that the problem is that `Configuration.getICEServers` doesn't deep-copy the `ICEServers` slice before munging the URLs.  The result is that entries in the `ICEServers` slice get mutated, which is not thread-safe.

[code]

[2020-06-09 07:35] Sean-Der commented on #1244
We do support TCP via TURN, but not TCP via ICE yet unfortunately.

If anyone is interested in this I would love to help them implement it! Right now I don't consider this a high priority. It would be nice to have, but I am not aware of it stopping anyone from building their applications.

If this is a blocker for you (or anyone else!) I am happy to make it happen sooner though :)

thanks for usin

[2020-06-09 07:37] Sean-Der commented on #1241
It also would help a lot if we implemented https://github.com/pion/ice/issues/189

The ICE Agent would go to failed, and then all the resources would be freed without user interaction.

[2020-06-09 07:47] Sean-Der commented on #9
@dtaht Hey sorry I missed this, I would love the input from the bufferbloat community! I just went and read about it now, and looks super interesting.

I haven't had a chance to implement congestion control yet, but when I do will be great to get advice from others. With TWCC we will get a bunch of stats, and then I was planning on making it pluggable.

[rmcat](https://datatracker.ietf.org/wg/rmca

[2020-06-09 22:44] Sean-Der commented on #1246
Thanks for filing @jech sorry for the slow response :(

I will get this fixed up! Easy enough to test, will cut a PR and add you as a reviewer.

[2020-06-10 07:16] #1246 closed

[2020-06-11 03:09] newzai opened #1250 "tracing id"
in SFU server, has mary peerconnection object.  now how to discriminate each pc by log is very difficulty。 so I a tracing id to identifying each pc，ice agent , ice address(relay,host) , dtls....

[2020-06-11 14:17] LanderN commented on #1002
We have just encountered the same problem and after A LOT of debugging, we found this case happens when multiple ICE candidate pairs are marked as valid.
One of them goes to disconnected or failed, and because we hooked `OnConnectionStateChange` (`webrtc.ICEConnectionStateDisconnected`) to our cleanup function, the connection was torn down.

Is this a bug or just the weird/bad WebRTC API causing p

[2020-06-11 18:05] jech opened #1251 "No easy way to restart ICE"
At peerconnection.c:406, it says:
[code]
I don't see any other way to restart ICE on an existing PC.  (I'm currently working around the issue by tearing down the connection and creating a new one, but that has other problems, such as requiring a keyframe even if the interruption was short-lived.)

[2020-06-11 18:34] Sean-Der commented on #1251
Yea we really need to do this.

https://github.com/pion/ice/issues/190 was filed, but I never made any progress on it. I really don't think it will be that difficult either.

Will keep you updated, but my guess is ~4 days of work so I think I can make this happen within the month!

[2020-06-12 22:07] hiteshjoshi opened #1253 "ICE Connection state always fails always."
Hi Guys,

As a quick hack to try out the desktop side possibilities of this work. I am trying to create a small go lang based client but for some reason I am always stuck on ICE connection state : failed.

Can you someone please guide me on what am I doing wrong? (I am actually trying to replicate the steps involved in the browser side demo(sfu.html) of this example project [sfu-ws](https://github

[2020-06-12 22:11] Sean-Der commented on #1253
In your `SetRemoteDescription` you seem to be taking an offer? That be causing an issue, I think that needs to be an answer (because you sent an Offer)

Would you be able to share the Pion and Browser SDP? In the browser are you blocking until ICE is fully gathered, if not Pion has no way to contact the browser.

If you don't want to do that you could switch roles and have Pion answer, and the bro

[2020-06-12 22:12] hiteshjoshi commented on #1253
Also I did a small change to this file here
https://github.com/pion/webrtc/blob/master/peerconnection.go#L796

For some reasons `pc.RemoteDescription().parsed.MediaDescriptions` was always null and it was throwing exception. I quickly debugged and saw that https://github.com/pion/webrtc/blob/master/peerconnection.go#L781 `desc.parsed` has the MediaDescriptions it is looking for.

so I chaged the l

[2020-06-12 22:15] hiteshjoshi commented on #1253
@Sean-Der WOW! What a waste!!

Thank you so much. It just didnt caught my attention at all.

[2020-06-12 22:15] Sean-Der commented on #1253
@hiteshjoshi nice! did that work?

[2020-06-12 22:16] hiteshjoshi commented on #1253
and @Sean-Der Dude! You were really fast.. thanks.
Yup it worked. Nice and clean. Realised that change I did to "TRY" to make it work wasnt required if it was an Answer

[2020-06-12 22:19] hiteshjoshi commented on #1253
@Sean-Der one last quick one. It now connects but for some reason the Track isnt going forward. Any hint?

[2020-06-12 22:20] Sean-Der commented on #1253
@hiteshjoshi nice! Always happy to help, excited to see people using Pion :)

Also feel free to shoot me question is [Slack](https://pion.ly/slack)!

----

Did you add a Transceiver in the browser as well? You need to explicitly accept tracks (on both sides)

[2020-06-13 02:55] TaoZhangHao commented on #9
TinyGo support. Pion for IoT devices

[2020-06-13 04:05] Sean-Der commented on #1133
Hey @somersbmatthews are you able to open a PR soon?

This has become a blocking issue for me. I am working on insertable streams, and need audio from disk support.

If you get a chance I would open a PR with the work you have so far. It doesn't have to be perfect, but would love to get this in.

[2020-06-13 08:33] Sean-Der commented on #1002
Oof sorry about that @LanderN

Let me write a test that asserts that `Disconnected` only gets fired when ALL are disconnected. `Disconnected` is also not a fatal state, `pion/webrtc` will try to reconnect so maybe I wouldn't hang up right away.

Thanks for reporting the bug, and will get that fixed this weekend!

[2020-06-13 08:38] Sean-Der commented on #1250
Hey @newzai

The W3C decided against this, so we aren't planning to do it either. You can see the thread [here](https://github.com/w3c/webrtc-pc/issues/1775). We try to keep in sync so that our WASM bindings make sense as well.

I would embed the PeerConnection in another struct and keep the ID there.

Thanks for using Pion!

[2020-06-13 08:38] #1250 closed

[2020-06-13 19:20] LanderN commented on #1002
Hey Sean, that sounds great!

Reading the linked issue and the discussion around it, would you suggest a manual call to `peerConnection.Close()` after the ConnectionState has gone to `failed` or would that be unnecessary in the proposed implementation? I do have some other state attached to each connection that I would like to clean up when possible, I assume this should be dealt with on a change

[2020-06-14 02:23] somersbmatthews commented on #1133
@Sean-Der ok. I'm having difficulty getting save to disk to work so I can't see if my reader is working. I will push what I have before I go to sleep tonight. It might not be useable tho.

[2020-06-15 07:10] pongraczgabor87 opened #1255 "TransportCC feedback is always ON if rtcp-fb provided to the codec"
### Your environment.
  - Version: v2.2.14
  - Browser: Chrome 83.0.4103.61, Firefox 77.0.1
  - Other Information - https://github.com/pion/webrtc/blob/master/sdp.go#L229

### What did you do?

- Switch ON rtcp-fb for at least one codec.

[code]

- Create a peer connection.
- If the browser offer contains transport-cc (Chrome) everything works as expected.
- When the browser offer (Firefox) doesn'

[2020-06-15 20:39] tomandersen opened #1256 "Crasher in Pion when logging at DEBUG or TRACE level. ICE Candidate Pair String()"
### Your environment.
Version:
github.com/pion/rtp v1.5.5
github.com/pion/webrtc/v2 v2.2.15

Browser: N/A

Other Information -

### What did you do?
Turned on debug logging at the TRACE level.
ENV setting:
PION_LOG_TRACE=all

### What did you expect?
For the program to run as before, only with logging.

### What happened?
When the connection was shutdown by the remote side, the logger crashed Pion

[2020-06-15 22:31] Sean-Der opened #1257 "Confirm Transceiver creation rules"
Right now we create Transceivers implicitly when answering. I need to investigate if this is the right behavior.

If a user calls `AddTrack` after `SetRemoteDescription` but before `CreateAnswer` they might be confused.

[2020-06-16 07:28] Sean-Der commented on #1234
Hey @edwinhayes

Any luck on this? I don't want to close this out without getting your issue fixed! I just don't have anything actionable atm

thanks!

[2020-06-16 07:29] Sean-Der commented on #1236
Hey @juju812 sorry for the delay

`pion/webrtc` always does RTP/RTCP mux, so we don't create ICE candidates per media section. I believe this only matters if you have a PeerConnection that listens on multiple ports.

If there is a change we should make here happy to do it!

thanks

[2020-06-16 07:35] Sean-Der commented on #251
Closing this since we have issues in all the individual repos.

* https://github.com/dtls has fuzz testing
* https://github.com/rtcp has fuzz testing
* https://github.com/stun has fuzz testing
* https://github.com/turn has fuzz testing
* https://github.com/sdp has fuzz testing
* https://github.com/sctp has covering ticket
* https://github.com/rtp has covering ticket

It would be great if we could

[2020-06-16 07:35] #251 closed

[2020-06-16 08:40] edwinhayes commented on #1234
Hi @Sean-Der - Sorry, I have not been able to devote any time to this in the last week; I hope to either do this myself, or have someone on my team, pick this up towards the end of the week.  It is still definitely important for me though, so will get some more info to you as soon as possible.

[2020-06-16 08:53] Sean-Der commented on #1234
If Pion is answering make sure you `AddTrack` `AddTransceiver` before `SetRemoteDescription` and `CreateAnswer` (I saw this bite someone recently when upgrading)

But I am here to help! If you (or someone else on the team) wants to jump on a call happy to help debug 1:1 (for free). I just am worried there is a bug.

thanks

[2020-06-16 09:07] DehaiWang opened #1260 "How to broadcast Audio and Video at once？"
I find  broadcast  Audio or broadcast  Video ,but how to broadcast  Audio and Video at once?
build two RTCPeerConnection, one transfer Audio  and the other transfer Video ?
Have better solution?

[2020-06-16 09:08] Sean-Der commented on #1260
Hey @DehaiWang

You can use one PeerConnection! [play-from-disk](https://github.com/pion/webrtc/tree/master/examples/play-from-disk) demonstrates how.

[2020-06-16 09:29] DehaiWang commented on #1260
@Sean-Der
Hey,
as [https://github.com/pion/webrtc/blob/master/examples/broadcast/main.go](url)
i remove
`if _, err = peerConnection.AddTransceiverFromKind(webrtc.RTPCodecTypeVideo); err != nil {
	 	panic(err)
	 }`
and add
 `videoCodecs := mediaEngine.GetCodecsByKind(webrtc.RTPCodecTypeVideo)
	if len(videoCodecs) == 0 {
		panic("Offer contained no video codecs")
	}

	videoTrack, err := peerConnecti

[2020-06-17 01:55] DehaiWang commented on #1260
@Sean-Der
Thanks very much.
In the web ,i add
 `
      pc.addTransceiver('video');
`
`
      pc.addTransceiver('audio')
`
and it work fine.

[2020-06-17 04:44] DehaiWang commented on #1260
after add
`pc.addTransceiver('video');`
`pc.addTransceiver('audio')；`
in web js  ,
then web video only play audio;

[2020-06-17 06:19] #1260 closed

[2020-06-18 10:14] #1133 closed

[2020-06-18 11:02] Sean-Der commented on #43
This is now covered by https://github.com/pion/webrtc/projects/17

We are going to remove the need for users to manage SSRC/PayloadType themselves.

[2020-06-18 11:02] #43 closed

[2020-06-18 11:04] Sean-Der commented on #637
This is covered by https://github.com/pion/webrtc/projects/17

We are going to provide all of this in a pluggable API. Currently we are working on designing/splitting up the work.

[2020-06-18 11:04] #637 closed

[2020-06-18 11:06] Sean-Der commented on #681
Closing for now since we don't have anything actionable.

I have given some talks on Pion you can see them on [siobud.com](https://siobud.com) but I don't have plans on making video tutorials currently.

If anyone is interested in making them I am available to answer questions about Pion/make the material compelling :)

thanks for using Pion!

[2020-06-18 11:06] #681 closed

[2020-06-18 11:07] Sean-Der commented on #771
Covered by https://github.com/pion/webrtc/projects/17

We are going to provide a `rtp.Session` that will consume TWCC messages, and it will emit suggestions.

If doing Simulcast the developer could then choose the feed they want to send. If they were encoding they could forward the message to their encoder. Still working on the designs, but this is what we are solving next :)

[2020-06-18 11:07] #771 closed

[2020-06-18 11:08] Sean-Der commented on #791
Hey @chrbsg

Sorry this didn't get addressed. I am closing for now, if you still want to talk about this please re-open!

thanks

[2020-06-18 11:08] #791 closed

[2020-06-18 11:10] Sean-Der commented on #925
Covered by https://github.com/pion/webrtc/projects/17

Having users juggle PayloadTypes/SSRCs was a bad design, and we are working on fixing it! I have included the roadmap that covers this. The `/v3` will remove the user having to worry about this.

[2020-06-18 11:10] #925 closed

[2020-06-18 11:10] Sean-Der commented on #941
Hey @mabaohong

Sorry I missed this! If you are trying to use Pion and still have issues I am available to help in [Slack](https://pion.ly/slack)

thanks

[2020-06-18 11:10] #941 closed

[2020-06-18 11:11] Sean-Der commented on #957
Covered by https://github.com/pion/webrtc/projects/17

[2020-06-18 11:11] #957 closed

[2020-06-18 11:12] Sean-Der commented on #989
Hey @chrbsg

Another PayloadType juggling issue :( I am tracking all of this with https://github.com/pion/webrtc/projects/17

If you have any other ideas on how to make things better for building media applications I would love to hear!

thanks

[2020-06-18 11:12] #989 closed

[2020-06-18 11:13] Sean-Der commented on #968
Closing for inactivity.

If you have questions I am available here or on [Slack](https://pion.ly/slack)

thanks!

[2020-06-18 11:13] #968 closed

[2020-06-18 11:14] Sean-Der commented on #1025
I am covering here https://github.com/pion/webrtc/projects/17

`/v3` has been complicated because of all the use cases I am trying to cover. I am sure we will come to a good solution, but need to get it all into one place.

[2020-06-18 11:14] #1025 closed

[2020-06-18 11:15] Sean-Der commented on #1030
I am track this in https://github.com/pion/webrtc/projects/17

I am planning on removing PayloadType and SSRC from the public API. This is a sharp edge in the API design, and doesn't hold up at all now that we are working on Simulcast.

I am moving this all into the task board so we can make sure the new API covers all the use cases we care about.

[2020-06-18 11:15] #1030 closed

[2020-06-18 11:39] chrbsg commented on #989
@Sean-Der One idea... automatically handling RTCP, or a demo of how to do RTCP properly would have been useful. The only demo code I found referring to this was the _"Send a PLI on an interval so that the publisher is pushing a keyframe every rtcpPLIInterval"_. As a developer knowing little about RTCP it would be nice if Pion could do it. I sent audio to web browsers without any RTCP, and it worke

[2020-06-18 14:09] pongraczgabor87 commented on #1255
@Sean-Der
If we switch on TransportCC support in Firefox (about:config -> media.navigator.video.use_transport_cc = true) and try to connect to pion server we get the following error:
[code]
Does Firefox misuse the extension or pion should use the extension number from the offer?

[2020-06-19 16:58] jech commented on #1030
How will a client send sender/receiver reports if he doesn't know the SSRC?

For what it's worth, I've got a working implementation of simulcast in the Unnamed SFU, with no library changes whatsoever.  It's not merged into mainline yet since it's not quite ready for public consumption (I'm currently sending all layers in the client->server direction, not just the ones that some other client needs)

[2020-06-19 17:59] Sean-Der commented on #1030
@jech

What do you think if we make them accessible, but user doesn't have to worry about them? On the `RtpSender` and `RtpReceiver` you can pull the `SSRC`.

I just want users to be able to send RTP packets (and not worry about SSRC/PayloadType).

Nice! What are the most annoying parts to get it working? I have heard from people the lack of proper extmap support is a huge pain. We also have a PR

[2020-06-19 18:53] jech commented on #1030
I'm not sure, I'd need to think it over.  I'm currently not rewriting SSRCs, but I might end up having to do that if I fail to implement simulcasting almost entirely on the client side (see below).

The most tricky bit is to decide when to switch to a higher layer.  The down direction is easy if you have a proper congestion controller, but the congestion controller doesn't give you accurate inform

[2020-06-19 20:06] Sean-Der commented on #1039
The last 19 builds in master have passed, so I think this is fixed!

@at-wat If you see it again re-open right away and happy to jump in on it.

[2020-06-19 20:06] #1039 closed

[2020-06-19 20:17] Sean-Der commented on #9
Hey @TaoZhangHao

I would love to see this supported! If you are interested you should work on it! Happy to answer questions/give advice I am available on [Slack](https://pion.ly/slack) our or mailing list!

[2020-06-19 21:27] Sean-Der commented on #1043
Hey @cohosh

I am resolving this since we don't have any concrete plans of working on it. Since we fixed CipherSuite selection it looks like this isn't that much of a problem.

If you disagree feel free to re-open! We keep a list of [Big Ideas](https://github.com/pion/webrtc/wiki/Big-Ideas) maybe this fits in there?

[2020-06-19 21:27] #1043 closed

[2020-06-19 21:36] Sean-Der commented on #1083
Hey @adwpc

I am tracking all media issues in https://github.com/pion/webrtc/projects/17 if you get a chance give it a look and make sure I am not missing anything! My goals is to get most of this done by mid July.

thanks :)

[2020-06-19 21:36] #1083 closed

[2020-06-20 00:42] cohosh commented on #1043
Oh hey sorry I forgot about this. Yeah we have what we need at the Snowflake side :) Thanks for everything!

[2020-06-20 02:49] #1240 closed

[2020-06-22 08:35] pongraczgabor87 commented on #1255
@Sean-Der

I've tested Firefox->Chrome and Chrome->Firefox webrtc offer->answer mechanism and found the following:
- Chrome sends `extmap:3 http://www.ietf.org/id/draft-holmer-rmcat-transport-wide-cc-extensions-01` and Firefox answer contains the same
- Firefox sends` extmap:7 http://www.ietf.org/id/draft-holmer-rmcat-transport-wide-cc-extensions-01` and Chrome answer contains the same

This means

[2020-06-22 17:25] chrbsg opened #1270 "datachannel hangs with packet loss"
### Your environment.
  - Version: 2.2.17
  - Browser: Linux Chrome 83 and iOS Safari 12
  - Other Information -

### What did you do?
This is a pion program that receives microphone RTP audio from a web browser and sends back packets on a datachannel. (~~I tried to reproduce this with a simple example but it does not occur, something is different~~ code attached below).
I'm trying to simulate a d

[2020-06-22 18:12] chrbsg commented on #1270
I managed to reproduce this with a test case. It appears related to datachannel options used in browser:

    pc.createDataChannel('foo', {ordered: false, maxRetransmits: 0})

Those options along with 20% packet loss help to reproduce.

Code attached: [pionbug.zip](https://github.com/pion/webrtc/files/4814879/pionbug.zip) for server and both go and javascript client.

Logs for go client and server

[2020-06-22 18:22] enobufs commented on #1270
Looks like partial-reliability negotiation failed.  Chrome side intended 0 retransmission with unordered, but pion assumes it is a reliable channel. I will look into it asap.

[2020-06-22 19:08] natakug05 opened #1271 "ICE AgentConfig does not match what WebRTC Icegatherer expects"
- Version: latest master source
  - Browser: Brave 1.7.92
  - Other Information - icegatherer.go line 93 change ConnectionTimeout to DisconnectTimeout

I simply performed a go get github.com/pion/webrtc and I get the following error:

"github.com/pion/webrtc/icegatherer.go:93:3: unknown field 'ConnectionTimeout' in struct literal of type ice.AgentConfig"

I inspected the ICE project and found a co

[2020-06-22 19:13] natakug05 commented on #1271
Specifically commit 0c308ea365bcc990530bee742fa7c4f330eb957b of the ice project. Looks like this broke on Saturday the 20th.

[2020-06-22 19:29] Sean-Der commented on #1271
Hey @natakug05

Are you able to use Go modules? `pion/webrtc@master` and `pion/ice@master` is not going to work for a couple days unfortunately. I moved `pion/ice` to `/v2` and am making breaking changes to support ICE restarts.

Sorry for the breakage :(

[2020-06-22 19:32] natakug05 commented on #1271
Not a problem at all! This is the reason using master source is a "risk". I just went into the ICE project and checked out before that breaking change. I will watch for a change to WebRTC. Since this is known you can close this issue if you'd like.

[2020-06-22 19:35] Sean-Der commented on #1271
:+1: I will leave in case others hit this also! Will resolve when I finish my `pion/ice` work and all the master branches work together again.

thanks for using Pion :) appreciate you take the time to make bug reports.

[2020-06-25 07:44] Sean-Der opened #1274 "Remove non-trickle ICE"
For `/v3` Trickle ICE will be on by default, and you will not be able to control this via the SettingEngine.

* Supporting both code paths adds additional maintenance burden.
* This causes us to drift from the WebRTC spec
* Makes it harder to run our tests in WASM mode

[2020-06-25 07:46] Sean-Der commented on #1251
@jech `pion/ice` supports restarts!

This will be the first feature in the `/v3` branch, we have to make breaking API changes to support this unfortunately.

* we never went to `ConnectionStateFailed` (only Disconnected).
* We also would go to `Disconnected` after 30 seconds (instead of the correct 5 seconds)

In the next few days I hope to have this resolved, and you can use a `/v3` version of pi

[2020-06-27 09:29] funvit opened #1276 "TestPeerConnection_GetStats flaky on windows 10 (v2.2.15, v2.2.16, v2.2.17)"
### Your environment.
  - Version: v2.2.15, v2.2.16, v2.2.17
  - Browser: -
  - Other Information: -
  - Windows: Microsoft Windows [Version 10.0.18363.836]
 - Go ver: go1.14.4 windows/amd64

### What did you do?

    gotestsum -f dots --  -count 50 -run ^TestPeerConnection_GetStats$ ./...

### What did you expect?

all 50 repeats ok

### What happened?

flaky:

v2.2.15
··xxxx··xx·xxx·xx··xxx··x··

[2020-06-27 12:12] at-wat commented on #1276
https://github.com/pion/webrtc/pull/1130
It had been also unstable on Linux, and I added sleep to the test to avoid missing the last packet.
I guess the sleep should be longer due to the timer resolution on Windows.

[2020-06-27 23:35] Sean-Der opened #1277 "QUIC tests are disabled"
We only run the QUIC tests when `-tags quic` are enabled. We should add this functionality back.

[2020-06-27 23:36] Sean-Der opened #1278 "ORTC Samples have no documentation"
I was a little confused on how to use the ORTC examples. They all work, but took a little bit of code reading to figure it out.

It would be great if was a little more obvious, especially for the QUIC one.

[2020-06-27 23:42] enobufs commented on #1270
Using pion/webrtc (v2.2.17) on both ends with 20% packetloss (with tylertreat/comcast), during the association handshake, I noticed this trace message on one end (client side):
[code]

On the server end, I see:
[code]

These logs occur after COOKIE-ACK is received on the client end, and client starts DCEP handshake. The problem is the client sending FWD-TSN (as maxRetransmits is set to 0), before

[2020-06-28 05:47] Sean-Der opened #1279 "Include Features Matrix"
Lots of users ask in Slack what we support (and what we plan on supporting)

We should throw a simple `FEATURES.md` in the repo.

[2020-06-28 07:01] #1274 closed

[2020-06-28 07:26] ssttevee opened #1281 "Low FPS with pion"
### Your environment.
  - Version: 89d7de178734
  - Browser: Chrome Linux 83.0.4103.61

### What did you do?

I was trying out the broadcast example locally, but I found that the performance was very poor. The framerate was only around 10 fps.

For comparison, I tried streaming directly between chrome on two different computers over the internet and I was able to get nearly 60 fps.

In either case

[2020-06-28 08:56] enobufs commented on #1270
I fixed the above locally. Now DCEP handshake stably completes.

Now, I am seeing a stall.  When that happens, I see this error from ICE:
[code]

@Sean-Der I am using Comcast to cause packet loss, now 20% loss ratio. Do you think 20% loss to too much for ice to work correctly?

[2020-06-28 13:57] Generalomosco opened #1282 "Trying to pass rtc media packet to ffmpeg"
I've be trying to pass rtc media packet to ffmpeg, so i decide using unix socket but seems the frame is not valid!
I'm passing the frame bytes `s.vCallback(s.width,s.height,videoKeyframe, int64(t), sample.Data);` via unix socket then use ffmpeg to convert it to mp4 by connecting to the socket but unfortunately the mp4 is always corrupted without displaying anything.

The command line
`ffmpeg -vsyn

[2020-06-28 14:31] at-wat commented on #1282
In your code, `vCallback` and `aCallback` receive VP8 frames with RTP payload descriptor and OPUS frames.
[code]

VP8 RTP descriptor https://tools.ietf.org/html/rfc7741#section-4.1
Some heading bytes in `sample.Data` are VP8 RTP descriptor, which is not a part of raw VP8 stream.

*1: In general, raw stream of encoded video is difficult to be handled since it usually doesn't have information of fra

[2020-06-28 14:44] Generalomosco commented on #1282
Thanks for the info, i will follow the process

[2020-06-28 15:06] at-wat commented on #1282
@Generalomosco sorry, payload descriptor is already parsed by `codecs.VP8Packet` depacketizer and not in `sample.Data`. Fixed above comment.

[2020-06-29 01:16] enobufs commented on #1270
I have found another bug, this time in pion/sctp.  During the association handshake, if INIT-ACK was not received due to a packet loss, the node that did not receive INIT-ACK wouldn't have `a.useForwardTSN` set to true. This could happen because WebRTC does always the simultaneous open, and it is legit that node in the COOKIE-WAIT state receives COOKIE-ECHO and transitions straight to ESTABLISH es

[2020-06-29 01:35] enobufs commented on #1270
@tuexen Sorry to bother you but I could not find an official document that describes expected simultaneous-open in SCTP. The state transition chart below was derived from a compilation of what I saw in my search a while ago, but I have not come across the official spec and I wonder if you could refer me to an official document you know of?

<img width="516" alt="Screen Shot 2020-06-28 at 6 24 46 P

[2020-06-29 04:21] enobufs commented on #1270
@tuexen never mind.  I realized the text I was looking for was actually in RFC 4960 Sec 5.2. (I thought "simultaneous open" was an extension.

[2020-06-29 07:59] cryptix opened #1284 "Writing to a detached datachannel doesn't error when it disconnects"
This feels like another aspect of of #903 but wasn't sure and did not want to derail conversation.

# Your environment.
  - Version: webrtc v2 and master

### What did you do?

I worked through most of the examples like ortc and datachannel(-detach) to get an idea who I could integrate webrtc in our existing (go-)ssb stack. Most of the heavy lifting would be much easier with `io.ReadWriteCloser`.

[2020-06-29 08:20] tuexen commented on #1270
Glad you found it.

[2020-06-29 19:18] Sean-Der commented on #1284
@cryptix that's a good question, I don't know the answer.

It is copying the behavior of DataChannels, and not return an error when ICE has gone to disconnected (or failed). Which seems nice to me! A user can just write and we will buffer (and then send when ready). If the user wants to pace their sending they can measure back pressure.

The other hard thing is breaking backwards compatibility and

[2020-06-30 06:00] backkem commented on #1284
Maybe we do this since the disconnected state doesn't have to be final. You can still reconnect. AFAIK the reader does return an error when you close the transports. If you want this to happen you can listen for the disconnected event and close the peer connection. That should wind down and release all readers by returning an error.

[2020-06-30 06:09] #1251 closed

[2020-06-30 08:06] Sean-Der opened #1290 "Enqueue logic should take copy of PeerConnection"
I am seeing some races in `TestPeerConnection_Renegotiation_AddTrack` where we `AddTrack` after a `SetRemoteDescription`. The test `TestPeerConnection_Renegotiation_AddTrack` is flaking in master a bit. I am able to reproduce by doing `go test -run 'TestPeerConnection_Renegotiation_AddTrack' -count 50 -v`

The `SetRemoteDescription is then processed with the Track that was added BEFORE the call to

[2020-06-30 08:06] Sean-Der commented on #1290
@jeremija Any quick fixes you can think of? No rush/guilt though! I will work on this tomorrow, just trying to pay down some tech debt before working on next thing :)

[2020-06-30 08:40] Sean-Der commented on #1271
This is fixed! `pion/webrtc@master` uses `pion/ice@master`

[2020-06-30 08:40] #1271 closed

[2020-06-30 15:57] jeremija commented on #1290
I cannot reproduce this on my machine :( Do any of these tests fail or just a one of them:

- TestPeerConnection_Renegotiation_AddTrack
- TestPeerConnection_Renegotiation_AddTrack_Multiple
- TestPeerConnection_Renegotiation_AddTrack_Rename

or just the `^TestPeerConnection_Renegotiation_AddTrack$`?

[2020-06-30 16:04] jeremija commented on #1290
This is a long shot, but I think the issue might be that we call `getTransceivers()` from the enqueued `pc.startRTP()`, and these get updated when `AddTrack` is called.

Perhaps we can call `getTransceivers()` before enqueuing, and pass them to `pc.startRTP()` as an additional argument via closure?

[2020-06-30 18:48] #1290 closed

[2020-07-01 03:00] hakulat opened #1292 "There is no method to get RemoteAddr/LocalAddr of DataChannel"
### Your environment.
  - Version: v2.2.17

### What did you do?
I want to record the flow of Datachannel, with remote addr and local addr

### What happened?
There is no exported method to get Datachannel or underlayer transport conn info( remote addr and local addr)

[2020-07-01 03:05] Sean-Der commented on #1292
Hi @hakulat

I am not sure we will be able to add that, we are implementing [RTCDataChannel](https://w3c.github.io/webrtc-pc/#webidl-1970659251) so we only try add methods/fields that match things in the spec.

Are you trying to get details from the ICE connection? What information are you interested in?

thanks for using Pion!

[2020-07-01 03:17] hakulat commented on #1292
not details from ICE connection, just remote addr/local addr info of the DataChannel for P2P.
there is *dtls.Conn in `DTLSTransport` and could get DTLSTransport instance by `DataChannel.Transport().Transport()`
could we exposure RemoteAddr/LocalAddr of `*dtls.Conn` in `DTLSTransport`

[2020-07-01 04:17] Sean-Der commented on #1292
I don't think we can unfortunately. We need to support WASM as well. If we add `Go specific` functionality, it will confuse people when the compile to WASM mode :/

You are able to get the RemoteAddr/LocalAddr right? The API just isn't as friendly?

[2020-07-01 12:05] wdouglass opened #1293 "Unknown constant collides"
The `Unknown` constant in constants.go is set with iota, which in it's block always resolves to 0. This collides in a lot of places; This issue is a discussion point.

should we set "Unknown" to an arbitrary value? should we start all of our enumerations at iota+1? not sure how to resolve this, but it may be the source of a few bugs!

[2020-07-01 12:06] wdouglass commented on #1293
I'm happy to refactor to resolve this, but let's discuss a solution first.

[2020-07-01 13:17] cryptix commented on #1277
Is there more to it then removing the build tag?

[2020-07-01 14:17] cryptix commented on #1277
Apart from making the tests pass, of course.

I found some TODOs in the pion/quic wrapper around end-of-stream stuff, currently trying to resolve that.

[2020-07-01 14:58] at-wat commented on #1277
`pion/quic` is depending on the quite old version of `lucas-clemente/quic-go`.
I think it's better to resolve https://github.com/pion/quic/pull/8 before enabling it by default.

[2020-07-01 15:11] cryptix commented on #1277
@at-wat yup, I already did that in pion/quic#31 together with some related changes.

[2020-07-01 15:18] at-wat commented on #1277
oh, that's great!

[2020-07-03 10:08] masterada opened #1296 "Allow triggering ice gathering in v3"
## Summary

In v3, tricke ice is default. We use pion with the `SetNAT1To1IPs` setting, without any stun server, so we don't really benefit from tricke ice. We generate the offer in the browser, and create the answer for it in our pion powered server. In v2 ice candidates are included in the sdp answer. In v3, this is not possible (without the workaround mentioned below), because gathering of cand

[2020-07-03 15:52] Sean-Der commented on #1296
Yea!

If we expose [ICETransport](https://draft.ortc.org/#rtcicetransport*) we can also expose [ICEGatherer](https://draft.ortc.org/#rtcicegatherer*) directly

[2020-07-05 07:29] Sean-Der opened #1297 "SetRemoteDescription should return an error if SDPType is not set"
Currently we silently fail to process if unset

[2020-07-05 23:38] enobufs commented on #1270
@chrbsg told me that with the two fixes (pion/datachannel#64 and pion/sctp#127) made the situation much better, but he was still seeing the hang.

As I was digging more, I found another bug:
[code]

The peer (association ptr being 0xc000314000) keeps retransmitting COOKIE-ECHO, then finally T1-cookie timed out.  The problem is the other end (association 0xc0003141a0) was receiving the COOKIE-ECHO

[2020-07-06 03:39] at-wat opened #1299 "Panic negative WaitGroup counter in TestPeerConnection_Renegotiation_Trickle"
=== RUN   TestPeerConnection_Renegotiation_Trickle
[code]

[2020-07-06 04:12] at-wat commented on #1299
This is caused by mixture of two candidate gathering routine.
https://github.com/pion/ice/issues/236

[2020-07-06 05:33] #1299 closed

[2020-07-06 07:51] tuexen commented on #1270
Can you provide a .pcapng file and the debug output of usrsctp assuming that it is your peer?

[2020-07-06 08:41] pongraczgabor87 commented on #1255
Closed in favor of https://github.com/pion/webrtc/pull/1272.
(It's solved the problems above.)

[2020-07-06 08:41] #1255 closed

[2020-07-06 09:18] enobufs commented on #1270
Thanks @tuexen - but this is happening between pion nodes. :)  (haven't thoroughly tested with browsers yet but will do)

[2020-07-06 09:49] tuexen commented on #1270
Sorry, I wasn't realising that this is a bug report against pion, I assumed that it is a bug report against usrsctp. Sorry for the noise...

[2020-07-07 11:13] at-wat opened #1303 "TestPeerConnection_Renegotiation_Trickle failure on CI"
[code]

[2020-07-07 15:22] Sean-Der commented on #1303
There is something weird going on here, this test shouldn't cause a restart to ever happen!

Locally I put a `panic` inside of the restart code, and wasn't able to reproduce

[code]

[2020-07-08 03:43] edwinhayes commented on #1234
Sorry, this has not been forgotten, just have not been able to get someone onto it yet.

This was previously an issue for us, but we'd already fixed it, so it's not the cause of this issue.

[2020-07-08 05:42] at-wat opened #1304 "v2 branch backports"
PRs below are backported to v2 branch.

[2020-07-08 05:47] at-wat commented on #1304
- Update module pion/sdp/v2 to v2.3.9 #1286
- Use io.ReadFull in oggreader #1298
- Fix SampleBuilder packet unref #1302

[2020-07-08 05:48] at-wat commented on #1304
Tagging v2.2.18

[2020-07-08 11:48] cryptix commented on #1292
If @hakulat is referring to ICE established transports before https://github.com/pion/ice/pull/222 they were just `nil`.

@hakulat just to be clear: is there a special reason you want this info from the DataChannels? The address should be the same for all channels on the same transport, no?

[2020-07-09 03:59] Sean-Der commented on #1076
There are a lot of different variables at play here

* `gstreamer-send` probably doesn't work with Safari because we hardcode the PayloadType and/or you don't have a version that supports VP8 yet. Can you try adding [`getPayloadType`](https://github.com/pion/webrtc/blob/master/examples/play-from-disk/main.go#L200-L203), we should add this `pion/webrtc` itself maybe.

* `pc.addStream` is because Sa

[2020-07-10 02:39] DevRockstarZ opened #1305 "Unhandle SSRC Error"
My environment is GCP EC2 / Debian 10.

I run EC2's pion to connect with my local PC,

It change offer and answer both, But error occurs.

pc ERROR: 2020/07/10 02:32:38 Incoming unhandled RTP ssrc(2306978415)
pc ERROR: 2020/07/10 02:32:41 Incoming unhandled RTCP ssrc(2306978415)

How can I handle this error? Thanks.

[2020-07-10 04:47] Sean-Der commented on #1305
@DevRockstarZ This happens when Pion sees a video track the remote hasn't offered yet. This can happen (and isn't fatal) during re-negotation if you start sending video before exchanging SDPs. After exchanging the SDP this would be resolved. Are you seeing any bad behavior here, or just this message?

What version of Pion are you using. Does this error happen from using one of our `examples`? What

[2020-07-10 05:45] at-wat opened #1308 "TestPeerConnection_Renegotiation_AddTrack_Rename failure on CI"
[code]

[2020-07-10 06:07] DevRockstarZ commented on #1305
@Sean-Der Thank you for your reply. I'm making audio - SFU pion server.
Several Clients(Pion) createOffer to Pion SFU server.
And Pion SFU server createAnswer to Clients.
When another Client createOffer to Pion SFU server, re-negotiation will be occur.
I'll check my code and fix when re-negotiation fails.
Thanks for your reply again! Have a nice day!

[2020-07-10 06:16] at-wat commented on #1304
- Update module pion/srtp to v1.4.0 #1306 (security fix)

[2020-07-10 06:16] at-wat commented on #1304
Tagging v2.2.19

[2020-07-10 07:03] greko6 commented on #1076
I do feel like this issue might be related to https://github.com/pion/ion-sfu/issues/23

Basically, m= for video track in the SDP Answer is most likely hardcoded to UDP/TLS/RTP/SAVPF 96. For Chrome, 96 means VP8/90000. However, for anything based on IOS, 96 actually means h264.

This also explains why h264 works perfectly fine between Safari and Chrome on Mac, but not with VP8.

For Safari and Chr

[2020-07-11 14:15] at-wat opened #1311 "Timeout during TestICERestart on CI"
[code]
https://travis-ci.org/github/pion/webrtc/jobs/707161211

[2020-07-11 14:19] at-wat commented on #1311
`candidateBase.conn` was `Close()`-ed but `recvLoop()` didn't stop.

[2020-07-11 14:49] at-wat commented on #1311
related?: https://github.com/golang/go/issues/25839

[2020-07-13 02:13] at-wat commented on #1303
When I tried it locally with heavy CPU load by `openssl speed -multi 16`,
[code]
occured.

[2020-07-13 04:48] DevRockstarZ commented on #1305
@Sean-Der I'm really sorry for asking question again, but I logged my pion-SFU,
--- Server Side (LINUX, Pion) Log ---
I WILL SEND OFFER..!!
2020/07/13 04:42:43 user 1594615360898785951: handle event answer (comes from client)
-> pc ERROR: 2020/07/13 04:42:43 Incoming unhandled RTP ssrc(939579869)
-> pc ERROR: 2020/07/13 04:42:46 Incoming unhandled RTCP ssrc(939579869)
I think when I handle answer,

[2020-07-13 14:21] at-wat opened #2714 "NewJSEPSessionDescription: session-version doesn't follow the spec"
Current implementation:
[code]

Spec:
https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-26#section-5.2.2

**MUST increment by one on each call to createOffer**

https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-26#section-5.3.2

[2020-07-13 21:38] #1297 closed

[2020-07-13 21:39] sipsorcery opened #1315 "IPv6 Support"
### Your environment.
  - Version: Sorry don't know how to get the SHA for a Go package? I ran `go get github.com/pion/webrtc/v3` today (13th of Jul 2020).
  - Browser: No browser. The offer SDP was generated using a custom webrtc stack.

[code]

### What did you do?
Attempted to run the [data-channels example](https://github.com/pion/webrtc/tree/master/examples/data-channels) using:

`echo <sdp o

[2020-07-14 04:26] at-wat commented on #1304
- Fix grammatical errors #1295
- Fix randoms #1312
- Fix leak in TestSDPSemantics #1310
- Assert SDPType in setDescription #1313
- Update module pion/rtp to v1.6.0 #1318
- Update module pion/sctp to v1.7.7 #1319
- Fix JSEP SDP Session ID #1316

[2020-07-14 04:55] at-wat commented on #1304
Tagging v2.2.20

[2020-07-15 02:55] #1305 closed

[2020-07-15 03:38] coooool opened #1324 "how to Stream a remote screen?"
how to Stream a remote screen?

[2020-07-15 04:21] Sean-Der commented on #1324
Hi @coooool

This isn't something `pion/webrtc` solves itself. I would check out https://github.com/rviscarra/webrtc-remote-screen for an example implementation.

If you have any questions I am also happy to help in [Slack](https://pion.ly/slack)!

[2020-07-15 04:21] #1324 closed

[2020-07-15 06:25] jeremija opened #1327 "Add support for passive TCP candidates"
# Summary

See https://github.com/pion/ice/issues/196 and the PR https://github.com/pion/ice/pull/226

[2020-07-15 13:08] #1327 closed

[2020-07-15 15:54] MrDell61 commented on #1076
can use h254 with `profile-level-id=42e01f`? it looks like it works

[2020-07-16 05:55] enobufs commented on #1270
@Sean-Der @at-wat With the current pion/sctp and pion/datachannel master heads, data channel transmission over lossy connection is very stable to me and I no longer see any hang even with 20% of (extremely bad) packet loss. So far I have done the following combinations:

## 1:1 connection
* pion server vs desktop Chrome client
* pion server vs desktop Firefox client
* pion server vs android Chrome

[2020-07-16 06:00] enobufs commented on #1270
Tagged:
* pion/sctp@v1.7.8 (patch version update)
* pion/datachannel@v1.4.18 (patch version update)

[2020-07-16 06:28] Sean-Der commented on #1270
That is amazing @enobufs! Sorry I haven't been more involved so much (great!) stuff going on with Pion I am losing track :(

[2020-07-16 07:31] at-wat commented on #1270
@enobufs pion/datachannel@v1.4.18 still refers pion/sctp@v1.7.7.
I'm going to merge https://github.com/pion/datachannel/pull/68 and tag pion/datachannel@v1.4.19 then old reference to pion/sctp@v1.7.7 will be gone.

[2020-07-16 07:38] enobufs commented on #1270
Oops...  I forgot about pion/datachannel still depends on pion/sctp for testing... Thanks @at-wat so much for your help!

[2020-07-16 09:18] enobufs commented on #1270
@at-wat I updated sctp and datachannel versions to the latest on v2 branch. FYI.

[2020-07-16 17:11] enobufs commented on #1270
Now all the fixes on this issue have been landed on pion/webrtc/v2@v2.2.21. (many thanks to @at-wat)
I have chatted with @chrbsg also. Let me close this issue.

[2020-07-16 17:11] #1270 closed

[2020-07-16 21:09] sipsorcery opened #1335 "DTLS handshake failure with Bouncy Castle DTLS server"
The Bouncy Castle DTLS library will reject a client handshake if it does not support secure renegotiation [here](https://github.com/bcgit/bc-csharp/blob/5bd4c8c70f80f1e7ead8e3c73459b78eb93d0ef7/crypto/src/crypto/tls/DtlsServerProtocol.cs#L383) and [here](https://github.com/bcgit/bc-csharp/blob/5bd4c8c70f80f1e7ead8e3c73459b78eb93d0ef7/crypto/src/crypto/tls/AbstractTlsPeer.cs#L42). This results in a

[2020-07-16 21:16] Sean-Der commented on #1335
Hey @sipsorcery

I don't know enough about this yet, but by design we didn't support re-negotations! `dtls/pion` has a state machine that only runs once for the initial handshake. If you send a ClientHello/ServerHello in epoch 1 it 'should' just be ignored.

I was mostly informed by apprehension in crypto/tls https://github.com/golang/go/issues/5742 and [rusttls](https://github.com/ctz/rustls#non-

[2020-07-16 21:18] Sean-Der commented on #1315
Thanks for the report @sipsorcery ! I will check this out this weekend.

 I haven't put any time myself in getting IPv6 working. Will drop an estimate or a PR if things go really well :)

[2020-07-17 13:33] sipsorcery opened #1338 "Seg fault on sctp channel following rude ICE disconnect"
While running the `data-channels` example if the remote peer disappears a seg fault occurs.

[code]

[2020-07-17 17:29] Sean-Der commented on #1338
Oof really sorry about that :(

Master had a crash caused by ICE fixed in https://github.com/pion/ice/issues/247 I updated pion/webrtc here https://github.com/pion/webrtc/commit/a2475c19524d4dd6a7d6d2a22e242012c243850f

If you are still hitting this after updating I am here to jump in and debug :)

[2020-07-17 17:29] #1338 closed

[2020-07-17 18:09] sipsorcery commented on #1338
No need to be sorry, I'm more than happy to have some command line examples to test with.

Will pull down the latest code and test again.

[2020-07-18 14:24] MichealReed commented on #925
@Sean-Der any workarounds until v3 is ready to go? Currently experiencing this.

[2020-07-18 14:44] jeremija commented on #925
@MichealReed my workaround was to only initiate peer connections/renegotiations from the server side. That way you can control the payload types.

If you initiate the first connection from Pion, I think you should be able to renegotiate from the browser and it should keep the original Payload Type IDs.

[2020-07-18 16:25] MichealReed commented on #925
@jeremija I'm using ion as an SFU, which I assume should already function this way. I'm currently using STUN only, could spinning up a TURN server cause the events to be initiated through the server only?

[2020-07-18 17:07] jeremija commented on #925
@MichealReed sorry - I'm not that familiar with Ion. A TURN server won't help you with Payload Type IDs, since it's only function is to help establish a relay in case a direct connection is not possible.

I think some people on Slack channel have had success by manually modifying Payload Type IDs in the RTP packets, but I've never done it myself.

[2020-07-22 02:57] #1205 closed

[2020-07-22 04:38] Sean-Der commented on #1205
Hey @DevRockstarZ

Sorry I missed this, if you get a chance I would ask in [Slack](https://pion.ly/slack) I try to use GitHub as 'long term issue tracking' and just review it when I get a chance.

I would really love for you to use Pion, and I am here to help :) sorry about being slow

[2020-07-22 07:21] cedricfung opened #1343 "mid reuse will cause the new track state ended in Chrome"
### Your environment.
  - Version: v3 master
  - Browser: Chrome 84 on Ubuntu

### What did you do?

With kraken.fm (https://vec.io/posts/deploy-a-group-audio-conferencing-service), A and B in the room, if A leaves and joins again, there will be no audio wave for A on B's Chrome. If A leaves and C joins, there will also no audio wave for C on B's chrome.

However, A and C's audio could be heard by

[2020-07-22 07:38] cedricfung commented on #1343
We have discussed this previously @jeremija

[2020-07-22 19:15] jeremija commented on #1343
Hey thanks for writing this up. I'm surprised I didn't run into this in Peer Calls, although I do most of my testing in Firefox. I'll see if I can reproduce.

[2020-07-23 06:08] jeremija commented on #1343
I'm unable to reproduce this in Peer Calls and on Kraken.fm in latest Chrome. I assume you have a different version running on Kraken.fm?

I'm curious to see if you are able to reproduce your issue here https://peercalls.com

I've been trying to run your Kraken.fm project locally for the past hour, but I couldn't get it to work and I don't have any more time. Do you think you could create a short

[2020-07-23 08:02] cedricfung commented on #1343
The online kraken uses an old version of pion. To test this you may try to build kraken engine and the web in your local environment.

[2020-07-24 08:01] #1016 closed

[2020-07-24 09:10] Sean-Der opened #1345 "Simulcast Improvements"
Simulcast has landed! This a list of improvements I think would be great to see before `/v3` is tagged.

* [ ] Support SSRC Based Simulcast
FireFox uses SSRCes instead of `rid` and `mid`. We should support this as well.

* [x] Refactor/Cleanup RTPReceiver
Rename `trackStreams` -> `readerStreams`.  A lot more stuff will fall into place when multiple `onTrack` paths are removed.
* [ ] ~~Update `exam

[2020-07-24 09:14] Sean-Der commented on #1345
@jbrady42 do you have any bandwidth to help with these? (if not that is ok!)

Fantastic work on the Simulcast so far, I was super excited to merge it :) I tried to cleanup stuff as I went.

[2020-07-24 09:42] EdoaLive commented on #717
Hello,
I'm still having trouble with this problem, only with Firefox, only when there's just one track (only audio, only video, or only desktop) in a stream.

- Version: v2.2.17
- Firefox: 78.0.2 (64-bit)

Firefox seems to create an SDP with at least 2 tracks, one of which is set to recvonly, and does not like the answer.
Here's what Firefox is sending as SDP with only a video track (webcam) enabl

[2020-07-25 21:15] Sean-Der commented on #1257
Everything is correct!

At the time when I created this I didn't know answering creation was implicit.

[2020-07-25 21:15] #1257 closed

[2020-07-25 23:02] Sean-Der commented on #1277
Fixed by 940d6aae86fa13c993460900da7a7f21455bd806

[2020-07-25 23:02] #1277 closed

[2020-07-26 21:05] younos1986 opened #1347 "Many to many participants"
Is there a feature of many to many participants in PION? I mean a many to many call based on Star topology.
If so, is there any sample or just share the big idea!

thanks

[2020-07-27 07:45] at-wat commented on #1304
- Update sctp and datachannel to v1.7.8 and v1.4.19
- Update pion/ice ver to v0.7.18

[2020-07-27 07:45] at-wat commented on #1304
Tagged v2.2.22

[2020-07-27 20:43] OrlandoCo commented on #1347
check pion/ion from this repository is a SFU media server, also in ion/examples there is a basic SFU server

[2020-07-28 09:08] somersbmatthews commented on #610
Is there a grand master plan behind putting json keys in the stats structs?

[2020-07-28 09:45] DevRockstarZ opened #1348 "How can I get Peer Connection's packet loss information?"
I looked up all of the code, in webrtc/stats.go
I found
[code]
this code.
When I call peerconnection.GetStats(), but no information about packet loss.
How can I get packet loss information?
Thanks.

[2020-07-28 15:34] r-novel commented on #1348
Hello!
Unfortunately, this functionality has not implemented at the moment. I guess it will be implemented in 3.1.0 version. (See [roadmap](https://github.com/pion/webrtc/issues/9)).
You could implement some RTCP reader and extract packet loss info from Recv/Send Reports.
Also, you may create your own simple jitter buffer that provides calculate packet loss, parse RTCP NACK packets, and retransmit

[2020-07-28 20:25] wdouglass opened #1349 "PeerConnection implicitly creates a datachannel on CreateOffer"
Creating a channel implicitly goes against the w3c standard, this should be removed for v3

### Your environment.
  - Version: 940d6aae86fa13c993460900da7a7f21455bd806
  - Browser: Chrome

### What did you do?
Created/Connected a peerconnection with a single video channel

### What did you expect?
An SDP with a single mediaSection

### What happened?
the SDP has an extra mediaSection of type "appl

[2020-07-29 01:23] DevRockstarZ commented on #1348
@r-novel Thanks for your great comment!
I'll check examples and find the way to get information about packet losses.
Thanks!

[2020-07-29 01:23] #1348 closed

[2020-07-29 02:37] DevRockstarZ commented on #1348
@r-novel Sorry for re-comment in the closed issue.
I looked https://github.com/pion/ion/blob/master/pkg/rtc/plugins/buffer.go code,
but I only need Opus audio packet loss information. There's only for vp8,vp9 and h264 support.
Do I have to implement by my self? Or, audio packet loss doesn't need to be calculated?
Thanks.

[2020-07-29 10:05] r-novel commented on #1348
@DevRockstarZ Hello!
Sure! You can do that. You may change clock rate from 90000 to 48000. ( [RTP Opus rfc](https://tools.ietf.org/html/rfc7587#section-4.1) )
Calculate/retransmit logic audio packets has the same logic that video.

[2020-07-29 10:16] DevRockstarZ commented on #1348
@r-novel Thanks for your great comment!
This is my final question, when I use RTP,`buffer.go` implement will be works fine?
And buffer / jitter buffer has a lot of differences when I want to know packet losses?
Thanks a lot and have a nice day! ;D

[2020-07-29 11:26] r-novel commented on #1348
@DevRockstarZ Hello! Yeah, buffer.go works with RTP packets. You could read data from pc.track, unmarshaling to pion/rtp Packet, and send to buffer.
You may define counter variable and increment by lostPkt [here](https://github.com/pion/ion/blob/master/pkg/rtc/plugins/buffer.go#L293) for example.

Generally, the algorithm looks like this:
1) read data or RTPpacket;
2) push to buffer;
3) calculate

[2020-07-29 14:14] DevRockstarZ commented on #1348
@r-novel Thanks for your comment!
And this is my real last question, can I use jitter buffer(`buffer.go`) which you linked ([Peer-Calls](https://github.com/peer-calls/peer-calls/blob/master/server/buffer.go)) when I use RTP packet only?
Sorry for many questions. Thanks!

[2020-07-29 15:05] r-novel commented on #1348
@DevRockstarZ Hello! Sure! You could use only RTP packets for counting packet lost; You may do a few changes for removing rtcp.Nack create and send logic from your jitter buffer implementation.
RTCP NACK needs if you want to retransmit lost packets.

If you are interesting you could read [here](https://tools.ietf.org/html/rfc4585#section-6.2.1) more about RTCP NACK feedback and packet retransmit.

[2020-07-29 15:23] DevRockstarZ commented on #1348
@r-novel Thanks for your fast comment.
It really helped me a lot!
Have a nice day! ;D

[2020-07-29 15:28] r-novel commented on #1348
@DevRockstarZ I'm really happy if my comments were useful.
Good luck and have a nice day! 😃

[2020-07-29 19:57] #1349 closed

[2020-07-29 20:17] maxhawkins commented on #610
It makes it possible to deserialize JSON-encoded stats data from the browser.

[2020-07-29 21:00] somersbmatthews commented on #610
@maxhawkins  I use go-metrics packages like https://github.com/armon/go-metrics that make their own json with metrics. I know there are things like this: https://github.com/project-sunbird/prometheus-jsonpath-exporter. I was just curious how one is supposed to go about using the pion stats json in a front-end. Is the user supposed to hard code a front-end to show the json or use prometheus with gr

[2020-07-29 21:03] somersbmatthews commented on #610
@maxhawkins Like, if there were an example of how to use these webrtc stats metrics json, how would it show how to use the json to see your webrtc stats. That's what I'm getting at.

[2020-07-29 21:18] maxhawkins commented on #610
Since [dom-rtcstats](https://www.w3.org/TR/webrtc/#dom-rtcstats) is now standardized every browser implementation of WebRTC should be exported in a format compatible with Pion. The PR above implements the rtcstats spec.

You can decode using the json package and then do whatever you like with it—send it to prometheus, store in in Postgres, etc.

[2020-07-31 04:06] at-wat commented on #1304
- Update module pion/srtp to v1.5.1 #1351

[2020-07-31 04:07] at-wat commented on #1304
Tagged v2.2.23

[2020-08-04 09:26] hakulat commented on #1292
@cryptix we have devices with many network card, we want to know which network card is the datachannel exactly used.

[2020-08-04 09:28] cryptix commented on #1292
@hakulat that makes sense but aren't all DataChannels multiplexed on the same transport and thus on the same card?

[2020-08-06 09:41] hakulat commented on #1292
@cryptix there no api to get remote/local addr of DataChannel, that's the problem!

grpc could get peer info by
[code]
could we consider some api like this?

[2020-08-06 20:58] mholbergerNIMBL opened #1354 "Generate still image (jpeg/png) from RTP packets (using sampleBuilder?)"
I have adapted code from the RTP-to-webRTC example, using gst-launch-1.0 CLT for testsrcvideo, but I would like to generate an image file on the server using the incoming RTP packets from gstreamer (over UDP into the pion server).

I have cloned the incoming RTP packets and sent to the cloned packets to a sampleBuilder. I am able to pop the media.sample and confirm a keyframe using the code:
`vide

[2020-08-06 21:38] Sean-Der commented on #1354
That all sounds right to me!

If you put that single sample inside an IVF I would be curious if ffmpeg/GStreamer could handle it (helps with your debugging)

When you get this working this would be a really cool example-WebRTC-applications contribution! If you are interested this could really help people not as strong a developer as you.

Thanks

[2020-08-07 17:24] mholbergerNIMBL commented on #1354
What I am trying now is to extract the VP8 packets from the RTP packet payloads to assemble a whole VP8 frame. Im not well versed in these video/streaming protocols. I am using the RTP packets 'marker' flag to signify the start and end of the VP8 frame.
(The rtpPacket.S flag is ALWAYS set to 0, im not sure if this is a bug)

Once I have the VP8 payloads appended for the entire frame, I will then n

[2020-08-07 23:54] mholbergerNIMBL commented on #1354
I actually got it working using the sampleBuilder! And then decoded the keyframe to image object with golang.org/x/image/vp8, then jpeg.Encode to jpeg. I can maybe pull and add an example, or at least post a blob here later.

[2020-08-08 02:47] mholbergerNIMBL commented on #1354
Heres the gist of it:
https://gist.github.com/mholbergerNIMBL/e5d17491a8cad621d53c6ed1b505ab7a

This is a web server coded with go-chi/chi
Im using rs/zerolog for logging.

The 'signal' package must be manually imported from pion/examples/internal.

Im using the pion/webRTC/examples/rtp-to-webRTC example jsfiddle to test:
https://jsfiddle.net/z7ms3u5r/

Im generating a gstreamer video pipeline wit

[2020-08-08 03:07] #1354 closed

[2020-08-08 09:17] jech opened #1355 "ICE TCP: panic: send on closed channel"
While experimenting with the ICE TCP support, I got me a panic:
[code]

[2020-08-08 09:29] jech commented on #1281
Are you sending receiver reports or REMB reports?  Chrome won't increase its data rate unless it gets feedback from the receiver.

[2020-08-08 09:38] jech commented on #1221
This turned out to be an issue in my code (I wasn't generating Sender Reports right).  Closing.

[2020-08-08 09:38] #1221 closed

[2020-08-08 09:39] jeremija commented on #1355
This is actually an issue in `pion/ice`. It looks like the logic in `tcpPacketConn::handleRecv` is faulty. We check if the channel is closed, but since the mutex is unlocked before, by the time the `select` statement is reached, both channels `closedChan` and `recvChan` might be closed, and the `select` will randomly select a statement to execute:

[code]

[2020-08-08 09:51] jeremija commented on #1355
@jech  Could you try cloning the github.com/pion/ice repo locally, checking out the `issue-260` branch and modifying your go.mod to include:

[code]

and see if you can reproduce the panic?

[2020-08-08 11:43] jech commented on #1355
I'm unable to reproduce the crash with the issue-260 branch.  However, the crash is difficult to trigger in the first place, so perhaps I've just failed to reproduce it.

[2020-08-08 11:53] jech opened #1356 "Issues with TCP ICE"
Here are the results of my experiments with TCP ICE in the Unnamed SFU.

1. When the browser is the offerer, and all media traffic is in the client->server direction, the connection works and then switches to either the "disconnected" or "failed" state after a few seconds (I'm not sure which).  No data traffic goes through.  The logging console consoles itself with "sendRR: failed to send packet:

[2020-08-09 15:53] jeremija commented on #1355
This should be resolved by #1357. Please reopen if you run into this issue again!

[2020-08-09 15:54] #1355 closed

[2020-08-09 15:59] jeremija commented on #1356
@jech regarding no 2. could you check if you see any candidates gathered? I find it easiest to look at `about:webrtc` in Firefox:

![image](https://user-images.githubusercontent.com/1489493/89736489-0eeca600-da6a-11ea-8b78-f7fd97b4aa8c.png)

[2020-08-09 16:01] jeremija commented on #1356
@jech regarding issue no 2, could you check if you see any candidates gathered? I find it easiest to look at `about:webrtc` in Firefox:

![image](https://user-images.githubusercontent.com/1489493/89736530-57a45f00-da6a-11ea-981e-e6d4823a0fc2.png)

[2020-08-09 22:03] Sean-Der commented on #1356
@jech Yes we REALLY need to fix errors bubbling up https://github.com/pion/ice/issues/252 it happened as a side effect of the ICE Agent be able to go to failed. Before the sockets would never be closed so we didn't have the issues.

I will be able to fix this next week hopefully! I am on vacation and promised my wife no programming :p if you want to send a PR I would love to merge it!

IMO the API

[2020-08-11 09:46] jech commented on #1356
I'm unable to get anything to work with Firefox. Perhaps its due to testing with prive IPv4 addresses (I'm testing on my LAN).

When trying to receive a stream from the server (the browser is the answerer), I get three connected TCP pairs (IPv4) and a bunch of failed TCP pairs (for IPv6).

When trying to send a stream to the server (the broswer is the offerer), I get a single IPv4 pair which is in

[2020-08-11 11:43] jech commented on #1356
@jeremija, TCP ICE is now live on https://vps-63c87489.vps.ovh.net:8443/.  Feel free to use the "public" group for testing.  (If you send me an e-mail with your desired username and password, I'll be glad to set up a private group for you.)

[2020-08-11 12:39] jech commented on #1356
Testing with the remote server, I'm seeing loss rates on the order of 75% over TCP (in both directions).  (This causes the congestion controller to back off until the stream is unusable, and occasional ICE disconnects.)

[2020-08-11 12:57] jech commented on #1356
Oh, and just in case I'm doing something wrong, here's the code I use to enable TCP:
[code]

[2020-08-12 16:36] tarrencev opened #1360 "API's to detect + handle removed tracks"
Would be nice if pion/webrtc exposed a way to detect when remote has removed a track and handle it. Browsers support a `onremovetrack` on `MediaStream`: https://developer.mozilla.org/en-US/docs/Web/API/MediaStream/onremovetrack

Perhaps we could expose an API on `RTPReceiver`? Something like:

[code]

[2020-08-12 18:37] tekig opened #1361 "DataChannel is not created if a consistent Track already exists"
### Your environment.
  - Browser: Google Chrome 84.0.4147.105
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*

### What did you do?

Pion: CreateTrack -> Negotiation -> CreateDataChannel -> Negotiation

### What did you expect?
In offer don't have application  section

### What happened?
In offer have application  section

Offer after Cr

[2020-08-12 18:48] tekig commented on #1361
[code]

[2020-08-12 18:50] Sean-Der commented on #1361
Hey @tekig

I can grab this right now if you want to continue working on `OnNegotiationNeeded`!

This should be pretty quick. This is my fault, and I worked on this code recently.

[2020-08-12 18:54] tekig commented on #1361
Hey @Sean-Der
Yes, renegotiation loops if you create a track first, and then a channel.

[2020-08-12 19:31] Sean-Der commented on #1361
@tekig opened PR! After you approve I can merge to master :)

thanks!

[2020-08-12 19:51] tekig commented on #1361
Section appeared, but the channel does not open in Chrome and Firefox

[2020-08-13 04:43] #1361 closed

[2020-08-13 07:28] iamRyanChia opened #1365 "add rtx to sdp"
I am new to webrtc. I find no `a=rtpmap:101 rtx/90000` in my sdp. How to add rtx to sdp when creating offer? Thank you.

[2020-08-13 12:36] jech commented on #1315
a=candidate:2441 1 udp 659136 fe80::54a9:d238:b2ee:ceb%21 60720 typ host generation 0

That's a link-local IPv6 address with an interface identifier.  The interface identifier is local to the sending host, and therefore doesn't make any sense in this context.  It is not legal according to the grammar given in Section 15.1 of RFC 5245 (which ultimately refers to the *IP6-address* production in Sect

[2020-08-13 12:38] jech commented on #1365
Pion does not support RTX right now.  It would be a welcome addition.

[2020-08-13 14:23] sipsorcery commented on #1315
An alternative would be to snip the `zone ID` prefix off the IPv6 address.

[RFC 4007: IPv6 Scoped Address Architecture](https://tools.ietf.org/html/rfc4007), which deals with the `zone ID` (Windows) or `scope ID` (Linux), does indicate it can be ignored if not understood.

[2020-08-13 15:30] jech commented on #1315
That's not going to work with link-locals: a link-local is not usable
without the scope identifier (you get EINVAL from send/connect).

Site-local is obsolete for unicast (RFC 3879), so the only unicast scoped
addresses left are link-local, which don't work without the scope
identifier.  So it's not going to do you any good.

[2020-08-13 15:54] sipsorcery commented on #1315
On Windows 10 connection attempts to IPv6 link local addresses work fine.

The telnet connection attempt from a Windows 10 machine to an Ubuntu machine works.

`> telnet fe80::bcc:137b:3bc1:b926 8081`

Ubuntu running:

`nc -6 -l 8081`

On Ubuntu the IPv6 link local addresses don't seem very usable to be even able to ping the local address on the machine the interface name is required. And I wasn't

[2020-08-13 16:24] jech commented on #1315
Interesting.

However, I think we can agree that the SDP initially in this bug report is
malformed.

[2020-08-13 19:04] jech opened #1367 "ICE Agent can not be restarted when gathering"
In recent versions of the Unnamed SFU, the client will restart ICE whenever the connection's ICE state goes into failed.  I'm occasionally getting the following error:

    ICE Agent can not be restarted when gathering

It happens somewhere in the code that handles incoming offers; I'd need to add more detailed logging in order to know which exact function triggers the error.  How do I avoid this

[2020-08-13 19:30] Sean-Der commented on #1367
@jech This is really just a deficiency of `Pion/ice`! I don’t think it is terribly hard to fix either.

I think it will just take a careful design concurrency wise.

Before that improvement lands you can just not allow a restart until the nil candidate has been emitted.

[2020-08-14 04:11] soolaugust opened #1369 "Question about RTPCapabilities implement"
Hi guys,

I am new to pion project. now I try to learn the codes. but I found there are some misunderstanding here.

https://github.com/pion/webrtc/blob/9f1417347a10c6e90ffcb800b676789e05bbeb6d/mediaengine.go#L410-L413

As https://draft.ortc.org/#dom-rtcrtpcapabilities shows, there should be `fecMechanisms` here. Is there not implement or other reason.

Thanks for your answer.

[2020-08-14 05:30] soolaugust commented on #1369
sorry for my mistake. I found the reason by myself. pion implement https://w3c.github.io/webrtc-pc/#rtcrtpcapabilities not ortc.

[2020-08-14 05:30] #1369 closed

[2020-08-15 08:24] jeremija commented on #1356
Hi @jech, I had a busy week. Wanted try the test link you provided, but I see you removed it. I assume you're still having issues with Firefox?

One thing I noticed when using Firefox locally is that I sometimes have to use IP address `127.0.0.1` instead of `localhost` for the ICE candidates to show up, but this might be unrelated to your problem.

Can you reproduce this on https://peercalls.com ?

[2020-08-15 21:36] jech commented on #1356
Sorry.  I made quite a few changes to the SFU these last weeks (notably implemented ICE restarts), and I've deployed the master branch instead of the ice-tcp branch.  I'm on holidays and on very slow Internet right now, I'll see if I find the time to deploy ice-tcp tomorrow.

The main reason I cannot merge ice-tcp into master is the amount of packet loss: it's on the order of 30% to 70%, which mak

[2020-08-16 10:05] jech commented on #1356
I've now put the ICE-TCP branch of the SFU on https://vps-63c87489.vps.ovh.net:8444/.  (The master branch is running on port 8443.)

I'm using the following firewall configuration for testing:
[code]
The symptoms are less visible now that ICE restarts are implemented.  However, you should easily be able to check the TCP flow's extremely high drop rate.

[2020-08-16 12:44] jeremija commented on #1356
Thanks, I'm going to try to test this out later today.

In the meantime, would you mind trying to reproduce this issue on peercalls.com?

[2020-08-17 07:41] seamanm opened #1374 "hope we can push RTMP or RTSP to Pion"
## Summary

One paragraph explanation of the feature.

## Motivation

Why are we doing this? What use cases does it support? What is the expected outcome? Is this available in other implementations? Can this not be implemented using primitives?

## Describe alternatives you've considered

A clear and concise description of the alternative solutions you've considered.

## Additional context

Add an

[2020-08-17 16:43] mostafafarzane commented on #879
I have the same problem: `RemoteDescription contained media section without mid value`

@Sean-Der  Can you please elaborate on how can I fix this problem?

[2020-08-17 19:19] Sean-Der commented on #1374
Hey @seamanm

Yes you can! https://github.com/deepch/RTSPtoWebRTC is an example of a popular project that does this.

If you have anymore questions we are available in [Slack](https://pion.ly/slack) thanks!

[2020-08-17 19:19] #1374 closed

[2020-08-17 21:06] jech commented on #1356
I'm not at home this week, and I'm connected over an IPv4-only 4G link.  FWIW, it looks like Chromium is connecting over TCP while Firefox is connecting over UDP.

[2020-08-18 05:17] Sean-Der commented on #879
Hey @mostafafarzane

What is generating the SDP? If you share I am happy to help debug. I am also available on https://pion.ly/slack to help.

thanks

[2020-08-18 06:38] mostafafarzane commented on #879
I added `a=mid:application` under `m=application 0 UDP/DTLS/SCTP webrtc-datachannel` in the SDP and the problem gone.

Thanks @Sean-Der for your response.

[2020-08-18 09:56] soolaugust opened #1375 "PeerConnection constructor return error defined in Web IDL"
## Summary

According to https://w3c.github.io/webrtc-pc/#constructor defined, there are WebIDL errors should be returned when construstor failed.

## Motivation

Make `pion`  comply with WebRTC 1.0 specification.

## Describe alternatives you've considered

As there are some deperacted error name defined in WebRTC 1.0. should we refer to https://w3c.github.io/webrtc-pc/#constructor or https://hey

[2020-08-18 10:12] soolaugust commented on #1375
/proposal

[2020-08-18 17:31] jeremija commented on #1356
Hmm, very weird. I blocked all outgoing UDP traffic except DNS and all outgoing TCP traffic to STUN/TURN servers:

Currently only have a MacBook handy so this is the `pfctl` config I'm using:

[code]

On peercalls.com I'm able to get a local `prflx` candidate in Firefox with my public IP, whereas I don't see this candidate on your SFU: I only see the candidates with my LAN IP address.

Here are th

[2020-08-18 18:44] jech commented on #1356
Given the packet loss I'm seeing, I'm not suprised that ICE connectivity checks eventually fail.

I don't fully undestand ICE, but isn't prflx a candidate obtained when the peer acts as a STUN server?  A candidate obtained from the STUN server acting as a STUN server (duh) is srflx, I think.

[2020-08-19 06:27] Sean-Der commented on #1354
@mholbergerNIMBL I made your code into an example in https://github.com/pion/example-webrtc-applications

Thank you so much for your contribution :)

[2020-08-19 18:50] jeremija commented on #1356
After reading the RFC 5245 and some other docs, I think I finally understand it. The `prflx` candidates are obtained during connectivity checks. So I guess it all starts with the host candidates, and then the server should realize the peer's external (NAT) address once it receives (I assume) the initial binding request from peer, and let the peer know of it's external address. It's my understandin

[2020-08-19 18:59] jech commented on #1356
None at all.

[2020-08-19 19:13] barkhasikka commented on #1253
I had the exact same issue with connection stated changing to failed, but I could solve it after understanding this comment:

Would you be able to share the Pion and Browser SDP? In the browser are you blocking until ICE is fully gathered, if not Pion has no way to contact the browser.

But I am still not able to see track going forward. I get io.ErrClosedPipe when trying to write rtpBuf to track.

[2020-08-19 19:37] #817 closed

[2020-08-19 20:45] jeremija commented on #1356
I analyzed the traffic with wireshark and I see a lot of `Binding Requests` from the browser, but never seem to receive the `Binding Response` from the server. However, I see a bunch of `BindingRequests` from the server, and a bunch of `Binding Success Responses` from the browser.

Can you share the arguments you provided to `NewICETCPMux`?

[2020-08-19 20:52] jech commented on #1356
mux := webrtc.NewICETCPMux(nil, iceTcpListener, 8)
    s.SetICETCPMux(mux)
    s.SetNetworkTypes([]webrtc.NetworkType{
        webrtc.NetworkTypeUDP4,
        webrtc.NetworkTypeUDP6,
        webrtc.NetworkTypeTCP4,
        webrtc.NetworkTypeTCP6,
    })

[2020-08-24 04:39] DevRockstarZ opened #1383 "ICE Connection status goes to disconnected when I use TURN server."
Hi, this is the log messages when I use google's STUN server.

[code]

KEEP ALIVE means checkKeepalive function called which located in ice/agent.go.

But when I use my own TURN server(coTURN), I can' get ping messages from my TURN and ICE Connection State goes to Disconncted.

This is log messages.

[code]

LastReceived value increases by 2 seconds, and It overs 30 seconds.

but WebRTC works real

[2020-08-24 19:22] barkhasikka commented on #1253
Hi @hiteshjoshi

Sharing a screenshot of what I’m doing on clientside.. the backend logic follows what is provided in sfu example.. in addition to this I have added to logic for sending and adding ice candidates..

![2E31F329-CC3F-4AA8-BFC9-037CE4B0DFD2](https://user-images.githubusercontent.com/11821046/91086868-254f5000-e66d-11ea-8937-6bb19224414b.png)

[2020-08-24 22:01] edwinhayes commented on #1234
Hi @Sean-Der,

This had kind of dropped off my radar, until someone (probably me) accidentally upgraded the Pion version we were pinned to, and suddenly video stopped working again.  So now I'm inclined to actually try to figure this out...

Seems like the issue is that, in `WriteRTP()`, there are no items in the list `t.activeSenders`.  And that is empty because `Send()` in `rtpsender.go` never g

[2020-08-24 22:15] edwinhayes commented on #1234
To a cursory glance, it looks like all the calls to `startRTP()` are behind a conditional `if weOffer`, which is evaluating to false.  I'm not exactly sure what that is supposed to do, but in my case, Pion is answering, rather than offering; I don't really see anywhere where the RTP senders are started in the answering case?

[2020-08-24 23:39] Sean-Der commented on #1234
@edwinhayes

If you are answering it should be called [here](https://github.com/pion/webrtc/blob/master/peerconnection.go#L887-L891)

Does that get fired? When it goes into `startRTPSenders` do the `if` checks stop it there?

[2020-08-25 00:07] Sean-Der opened #1384 "Fix race found by TestPeerConnection_Renegotiation_CodecChange"
[code]

[2020-08-25 03:30] edwinhayes commented on #1234
@Sean-Der .

Sigh...  I have a different thing to report instead: did you know that prior to version 2.2.11, connections would still work normally, even if someone had accidentally and unhelpfully _commented out SetLocalDescription()_...  :-(

So... ah... Yeah apparently for some period of time, we just haven't been setting the local description.  The latest version works now...  Hopefully that me

[2020-08-25 04:00] barkhasikka commented on #1253
![Screenshot 2020-08-25 at 9 17 41 AM](https://user-images.githubusercontent.com/11821046/91121492-88fd6b80-e6b5-11ea-92a7-15e9a82fb80b.png)

and if it helps this is what is shown in webrtc-internals

[2020-08-26 17:05] jech opened #1387 "Return value of Track.Write()"
Commit 6cca2786c9f46f5c22d1baf3433b1102fbaa24b7 by @s4y fixed error handling in `Track.Write`.  The new behaviour is better, but I've got a problem with the return value.

The function now returns an error value if any of the writes have failed.  I don't see how I can use this value, since it is only correct to resend the packet if *all* writes have failed.  Thus, I suggest changing the behaviour

[2020-08-26 22:53] #1347 closed

[2020-08-26 22:56] Sean-Der commented on #1236
Fixed in 6d3633e58923227e00e96ed80ae46e6fa25a39cc

We now always include these entries.

[2020-08-26 22:56] #1236 closed

[2020-08-27 16:01] r-novel opened #1390 "Firefox Simulcast improvements"
### Your environment.
  - Version: Pion WebRTC v3.0.0-beta.1
  - Browser: Firefox 79, 80.0

### What did you do?
Build a Simulcast sample from examples;

### What did you expect?
Three different quality streams in the browser;

### What happened?
Error message: `OnTrack will not be fired. incoming SSRC failed Simulcast probing`

I've tried to skip incoming SSRCes and reproduce Chrome-like behavior

[2020-08-28 02:44] Sean-Der commented on #1383
Fixed by https://github.com/pion/ice/pull/266

Thank you so much @DevRockstarZ :D

[2020-08-28 02:44] #1383 closed

[2020-08-28 05:50] marverix commented on #1212
Is there any workaround for now?

[2020-08-28 06:00] Sean-Der commented on #1212
Not right now, but this would only take ~hour to fix if you are interested!

At this line https://github.com/pion/webrtc/blob/master/peerconnection.go#L1364

[code]

[2020-08-28 06:07] marverix commented on #1212
Thanks for your quick answer. So just from curiosity: So how the library "knows" that there is end-of-candidates?

[2020-08-28 06:15] Sean-Der commented on #1212
Pion doesn't care about `end-of-candidates` It takes the first connected candidate pair it can get. It waits before taking more expensive candidate pairs though (like TURN and STUN).

You can configure the amount of time you are willing to wait with the [SettingEngine](https://pkg.go.dev/github.com/pion/webrtc/v3?tab=doc#SettingEngine.SetPrflxAcceptanceMinWait)!

[2020-08-28 06:16] Sean-Der commented on #1212
https://github.com/pion/ice/blob/master/agent_config.go#L23-L33 these are the defaults

[2020-08-28 06:38] marverix commented on #1212
Thanks @Sean-Der !

[2020-08-28 10:48] barkhasikka commented on #1253
Is there any way we can have renegotiation inititated from pion since offer is created by browser side.

[2020-08-28 11:05] barkhasikka commented on #1205
Is there any solution for this?

[2020-08-28 12:20] Sean-Der commented on #1253
@barkhasikka yes! Either can side can start the renegotiating.

[2020-08-28 12:21] Sean-Der commented on #1253
Just set `ICERestart` when calling `CreateOffer`

[2020-08-29 05:40] Sean-Der commented on #1253
Hey @barkhasikka

If you get a chance [Slack](https://pion.ly/slack) is a better place to ask for support. GitHub issues is more for tracking long term code things we want to fix. I get a lot of email so hard to respond to these quickly.

thanks!

[2020-08-29 05:40] #1253 closed

[2020-08-31 14:09] tarrencev commented on #1384
There is also this flakey fail case

[code]

[2020-08-31 17:02] barkhasikka commented on #1169
Using pion v2 and still having the same issue. Have extended using pion-sfu to support many to many. OnNegotiationNeeded is fired when a new track is added to subscriber connection. In onNegotiationNeeded we create a new offer and send that to chrome.

[2020-08-31 21:45] Sean-Der commented on #1234
nice! Glad to her this is fixed :D sorry missed this been busy with the book

So I *think* there is nothing we can do here (since this is on the answerer side) but please re-open if I am wrong

[2020-08-31 21:45] #1234 closed

[2020-09-02 09:45] barkhasikka commented on #1253
Hi! I tried to join the slack channel a lot may times but I am not able to find the channel. If you can guide me on that it would be useful. Since I am using pion for a project and I keep landing into one or the other issues every now and then.

[2020-09-02 09:50] barkhasikka commented on #1253
I am using pion v2 and not able to find ice restart method.

[2020-09-03 06:23] z-feiyu opened #1395 "Is supported video of H265？"

[2020-09-03 08:05] soolaugust commented on #1395
From codes, I think pion support H264 now. which you can check from following codes:

https://github.com/pion/webrtc/blob/f7f7f3e23ca589bfd1f2c55ff6a8abac907673bf/mediaengine.go#L168-L176

[2020-09-03 08:47] enobufs opened #1396 "Error: Outbound packet larger than maximum message size 65535"
### Your environment.
  - Version: pion/webrtc@v2.2.24
  - Browser: n/a

### What did you do?
Try to send data channel message with length 64KB

### What did you expect?
Successfully sent.

### What happened?
Errored with:
[code]

[Here](https://github.com/pion/sctp/blob/v1.7.9/stream.go#L182-L184)'s where the error originates.

There are three problems:

1. By default it should allow 64KB
2. SCTP

[2020-09-03 11:47] jech commented on #1367
I've implemented a workaround (different than the one you suggest), so this is no longer urgent.

[2020-09-04 00:55] soolaugust commented on #1387
Hi @jech ,Do you have any reference for this message

` it is only correct to resend the packet if all writes have failed.`

[2020-09-04 05:47] Sean-Der commented on #1395
Hey @z-feiyu

You can send any RTP Packets you want via the [WriteRTP](https://pkg.go.dev/github.com/pion/webrtc/v3?tab=doc#Track.WriteRTP) method. You can send H265 or AV1 today.

We don't have a packetizer for H265 though. So something like [WriteSample](https://pkg.go.dev/github.com/pion/webrtc/v3?tab=doc#Track.WriteSample) isn't possible. If anyone is interested they just need to make a PR to

[2020-09-04 05:56] Sean-Der commented on #1387
@jech What if we include the `ID` or `Label`? Even then the API still feels a little sharp to me. The only thing that can cause the `Track.Write` error is using a failed candidate. In that case we either want the user to `Close()` or restart the candidate. No other success criteria I can think of.

[2020-09-04 06:07] Sean-Der commented on #1212
@jech This happens [here](https://github.com/pion/ice/blob/master/agent.go#L487-L497)

Right now it just does disconnected+failed time.  After 30 seconds of sending connectivity checks it goes to failed. This is a really easy change we could make!

In general `pion/ice` has been really naieve. I wish I could put more time into it, but I feel like we are always missing big parts :(

[2020-09-04 07:11] jech commented on #1387
No reference, but I can explain what I mean.

Suppose you're buffering keyframes in order to reply to PLI or FIR in a timely manner.  If you have a reliable indication that a packet within a keyframe didn't get through, then you could conceivably schedule resending of the packet without waiting for NACK or PLI.  However, in order to do that, you need an indication about which particular senders di

[2020-09-04 07:14] jech commented on #1387
Hmm... I guess there's too much asynchrony to propagate errors from the `sendto` system call.  Which makes the point somewhat moot.

[2020-09-05 12:00] jech commented on #1212
I see, thanks.  I've summarised this in https://github.com/pion/ice/issues/271.

[2020-09-07 06:27] 270734714 opened #1399 "ion-app-web， Can only be accessed using localhost, not IP"
In vmware, it can only be accessed by localhost, not by LAN IP. My environment is ubuntu18.04

[2020-09-07 06:29] Sean-Der commented on #1399
Duplicate of https://github.com/pion/ion/issues/380

[2020-09-07 06:29] #1399 closed

[2020-09-08 05:52] #1384 closed

[2020-09-08 05:53] Sean-Der opened #1401 "Fix Flakey test TestNegotiationNeededRemoveTrack"
[code]

[2020-09-08 20:01] Sean-Der commented on #70
This is done!

* We have an operations queue
* We have `NegotiationNeeded`

[2020-09-08 20:01] #70 closed

[2020-09-08 21:18] Sean-Der commented on #346
Fixed by f78334d9d4cb163b7280be77c848aacca168d0e6

SRTP is always going to be spawned because it happens with the DTLS handshake. SCTP is only spawned when the Remote Session Description contains the application media section.

[2020-09-08 21:18] #346 closed

[2020-09-08 21:24] Sean-Der commented on #139
Moved to https://github.com/pion/webrtc/wiki/Big-Ideas

I think this is a great idea, but I don't see it moving anytime soon unfortunately :(

[2020-09-08 21:24] #139 closed

[2020-09-10 23:15] Sean-Der commented on #798
This has an entry in [Big Ideas](https://github.com/pion/webrtc/wiki/Big-Ideas)

[2020-09-10 23:15] #798 closed

[2020-09-10 23:22] tarrencev opened #1411 "segfault during onnegotiationneeded"
[code]

[2020-09-11 18:13] #1360 closed

[2020-09-12 05:03] enobufs commented on #1396
@Sean-Der I have fixed the default value at pion/sctp@v1.7.10. (the number 1)

In the change, I added:
* MaxMessageSize param to sctp.Config struct
* MaxMessageSize() to sctp.Association
* SetMaxMessageSize() to sctp.Association

So that we could accomplish 2 and 3 I mentioned earlier at pion/webrtc.

[2020-09-12 08:29] jech opened #1418 "No obvious way to announce generic FEC"
There's no obvious way to declare support for generic FEC (ulpfec).  See RFC 5109.

There are two ways to encode ulpfec: as redundant coding (RFC 2198) or as a separate track. If my reading of Section 14.2 of RFC 5109 is correct, supporting inline ulpfec requires just the following tweaks to the SDP:

  * add an `a=rtpmap:xxx ulpfec/yyy` line to the `m=` section;
  * add the payload type chosen fo

[2020-09-13 11:36] mohit810 opened #1420 "Guidance for creating a server for receiving video and then converting it into hls for delivering"
Hi, If possible can any one give me guidance for creating live streaming server that receives the broadcast from android/ios/webbrowser and then convert the stream into different quality for delivering to users by using Hls. I know the broadcasting and receiving parts that involves the clients, but need guidance in the server part.

[2020-09-14 00:24] #1183 closed

[2020-09-14 00:35] tarrencev commented on #1308
Is this still valid? I haven't seen this error. Any idea how to reproduce?

[2020-09-14 03:22] Sean-Der commented on #1420
Hey @mohit810

Would love to help! If you ok with this being Open Source I am happy to help you wire this up for. We can put the code in https://github.com/pion/example-webrtc-applications

I would check out this answer https://stackoverflow.com/questions/63516782/ffmpeg-live-stream-transcoding-a-v-sync-issues-on-fast-camera-movement this user already has it working, might be some good hints.

[2020-09-14 17:51] #1211 closed

[2020-09-15 15:30] avarf commented on #639
Hi,
Is there any update regarding adding single-port mode?

[2020-09-15 15:38] tarrencev commented on #1343
@cedricfung i wonder if this is related to https://github.com/pion/webrtc/pull/1414?

I wasn't able to reproduce. Could you check again?

[2020-09-16 03:18] cedricfung commented on #1343
@tarrencev The issue is still there. I just update the https://github.com/MixinNetwork/kraken.fm development guide.

To reproduce it

1. Get the kraken server code https://github.com/MixinNetwork/kraken, modify go.mod to use the official pion master instead of my fork.
2. Use the default config/engine.example.toml, and modify the engine.interface to your network interface name.
3. go build and sta

[2020-09-16 10:39] mission-liao opened #1425 "daedlock in PeerConnection.startReceiver"
### Your environment.
  - Version: *v2.2.21*

### What did you do?
I'm developing a SFU based on pion and have a test with 6 peers. That test is very flaky.

### What did you expect?
I expect that test should be passed.

### What happened?
I tried to figure out what happened, and it turns out that some *OnTrack* event is not fired. Long story short, there is a scenario that might cause deadlock in

[2020-09-16 11:52] lixiaochun opened #1426 "some error during candidate"
[2020-09-16 11:42:55.607] [INFO] [34][internal.go][func1] => publish msg={{698d51a19d8a121ce581499d7b701668 698d51a19d8a121ce581499d7b701668} {{offer v=0

o=- 4061501877625146218 2 IN IP4 127.0.0.1

s=-

t=0 0

a=group:BUNDLE 0

a=msid-semantic: WMS a73caa19-52bd-49f8-89af-1ef5a34aee94

m=video 9 UDP/TLS/RTP/SAVPF 96

c=IN IP4 0.0.0.0

a=rtcp:9 IN IP4 0.0.0.0

a=candidate:4084108362 1 udp 21139371

[2020-09-16 13:00] tarrencev commented on #1242
@josharian can we close this with your PR? or are further improvements necessary?

[2020-09-16 13:02] tarrencev commented on #1311
@at-wat did pion/ice#239 resolve this?

[2020-09-16 13:03] tarrencev commented on #1281
Closing due to inactivity

[2020-09-16 13:03] #1281 closed

[2020-09-16 20:05] Sean-Der commented on #1296
Hey @masterada I am going to close this for now.

Users simulate non-trickle ICE in the browser the same way. I think it is better that we stay consistent with the browser.

The helper method `GatheringCompletePromise` works across WASM and Go. I feel a little guilty adding a non-standard API, but I didn't want to break existing users.

[2020-09-16 20:05] #1296 closed

[2020-09-17 01:27] josharian commented on #1242
I’m no longer using pion; I’m happy to let you decide about the best path forward for this issue.

[2020-09-17 20:44] jech commented on #1418
While ulpfec would be useful for audio, neither of the major browsers
supports this kind of usage.  My understanding is that at least Firefox
plans to implement flexfec for audio, but I could be wrong.

Since FEC is not useful for video (NACK works just fine for video), please
consider this feature request as having low priority for now.

[2020-09-18 07:37] mission-liao opened #1430 "deadlock when calling PeerConnection.Close"
### Your environment.
  - Version: *v2.2.25*

### What did you do?
We use pion/webrtc internally, and some test hanging occasionally when calling `PeerConnection.Close`

### What did you expect?
Should never hang when closing.

### What happened?
I tried to figure what happened from routines' callstacks, and here is one scenario that causes hanging.

[code]
[code]
[code]

- The routine-1 holds the

[2020-09-18 08:50] ldenoue opened #1431 "Twitch "Conversion failed!" with panic: write |1: broken pipe"
### Your environment.
  - Version: v3
  - Browser: Chrome or Firefox
  - Other Information
[code]

### What did you do?
I ran the twitch sample by sending my SDP using EXPORT SDP=... and then echo $SDP | go run main.go

### What did you expect?
I expect ffmpeg to keep converting the incoming RTP audio and video packets and pushing the converted audio/video to my RTMP endpoint.

### What happened?

[2020-09-18 10:02] clarencetw opened #1432 "Example rtp-to-webrtc cannot be used, stun needs to be added"
## Summary

I run sample to see `Connection State has changed failed`
I check the example "jsfiddle.net" and I don't see stun
https://jsfiddle.net/y16Ljznr/
Then I added "stun" to get "Connection State has changed connected"

## Motivation

## Describe alternatives you've considered

## Additional context

[2020-09-18 22:08] #1432 closed

[2020-09-19 20:26] #1425 closed

[2020-09-19 20:40] Sean-Der commented on #1304
* Fix deadlock in OnTrack https://github.com/pion/webrtc/pull/1434

[2020-09-19 20:40] Sean-Der commented on #1304
tagged v2.2.26

[2020-09-21 01:38] 270734714 opened #1436 "Is the server required to support ipV6?"
![image](https://user-images.githubusercontent.com/23243054/93727542-22089f00-fbee-11ea-8f29-1e63b6872a56.png)

[2020-09-21 01:52] Sean-Der commented on #1436
Hey @270734714

This is a Pion issue, but something to do with https://caddyserver.com/

I would ask on their GitHub issues and look at the docs around automatic cert generation! You can launch it directly and use the config files [here](https://github.com/pion/ion-app-web/blob/master/configs/caddy/Caddyfile) if that helps.

thanks for using Pion :)

[2020-09-21 01:52] #1436 closed

[2020-09-21 20:38] Sean-Der opened #1438 "Investigate why MTU is 8192 across DTLS, DataChannel and SCTP"
I am working on fixing the lint issues across the code base and noticed this.

[DTLS](https://github.com/pion/dtls/blob/master/conn.go#L24)
[DataChannel](https://github.com/pion/datachannel/blob/master/datachannel.go#L14)
[SCTP](https://github.com/pion/sctp/blob/master/association.go#L22)

These are all single allocations, so I think we are ok? I am going to close this issue by deleting the TODO i

[2020-09-21 21:36] #1438 closed

[2020-09-22 07:46] lichao201626 opened #1440 "Update docs to suggest other libraries for reading/writing media to disk"
## Summary

We want h264 media support include reader and writer.

## Motivation

I know there is midia support for ivf file and ogg file. But there is no support for flv file or other files. We are using the h264 video stream now and not only the vp8. We want to save file in flv format. I can only see a H264 writer, and I am curious why there is no h264 reader, or flv reader?

## Describe alterna

[2020-09-22 08:37] notedit commented on #1440
https://github.com/notedit/pion-webrtc-recorder

[2020-09-22 09:37] ldenoue commented on #1440
Is this lib using pion underneath or it depends on mediasoup?

[2020-09-22 11:07] lichao201626 commented on #1440
@notedit  Thanks for the record example, any webrtc demo playing from flv disk file?

[2020-09-22 11:24] lichao201626 commented on #1440
@ldenoue Thanks for the reply, I'd like to using pion underneath, record from the camera H264 video stream and aac audio stream saving to flv files, then sharing my existed flv files support playback and etc.  There are some examples saving vp8 to webm file or play from ivf disk file. As for my media format there may need some more work.

[2020-09-22 12:04] ldenoue commented on #1440
I think that the rtp-forwarder example would let you pipe the rtp packets to ffmpeg: if you just tell ffmpeg what output format you want, it will save to the right format.

[2020-09-22 12:23] lichao201626 commented on #1440
@ldenoue yeah, that's right. If I am not using third lib like ffmpeg, I am trying to read the rtp packet and codec to nalus and then write to flv tag, that is why I  get the problem

[2020-09-24 07:20] cnjeffliu opened #1442 "Codec matching during signaling should not be case sensitive"
I use the lib v2.2.25， but there is no audio when browser open the URL, and the video is ok.
It is ok to use v2.2.0， so I research the commit , I found the commit 846257b.
I upcase the opus , It run ok now.
vendor\github.com\pion\webrtc\v2\mediaengine.go:172
Opus = "opus"
to
Opus = "OPUS"

[2020-09-24 07:20] hallazzang opened #1443 "pkg/rtcerr: Add Unwrap method to errors to conform standard library's convention"
## Summary

Add `Unwrap` method for errors used in `pkg/rtcerr` package, to conform [the recent error interface recommendation](https://blog.golang.org/go1.13-errors).

## Motivation

To add support for `errors.Unwrap`.

## Describe alternatives you've considered

N/A

## Additional context

This could be done very easily because every error types in `rtcerr` already has `Err` member, so just addi

[2020-09-24 07:21] Sean-Der commented on #1442
Hey @cnjeffliu

What browser are you using? Are you offering/answering? Can you reproduce this using `play-from-disk`?

thanks!

[2020-09-24 07:23] cnjeffliu commented on #1442
I think, the code :
func (m *MediaEngine) getCodecSDP(sdpCodec sdp.Codec) (*RTPCodec, error) {
	for _, codec := range m.codecs {
		if codec.Name == sdpCodec.Name &&
			codec.ClockRate == sdpCodec.ClockRate &&
			(sdpCodec.EncodingParameters == "" ||
				strconv.Itoa(int(codec.Channels)) == sdpCodec.EncodingParameters) &&
			codec.SDPFmtpLine == sdpCodec.Fmtp { // pion/webrtc#43
			return codec, ni

[2020-09-24 07:32] Sean-Der commented on #1442
@cnjeffliu that diff looks good to me!

If you can submit a PR I would be happy to merge it right away :)

[2020-09-24 13:23] chrisprobst commented on #1063
@Sean-Der We came across this as well. We will try the sleep workaround, however, this does not seem right through. Is there any movement on this issue? We are in the process of migrating to v2 (we tested v3 as well, but it does not work as well).

Is there a better workaround currently?

We are actually doing the exact same stuff like in the issue, we send data on OnData() and we get:
ortc ERROR:

[2020-09-24 15:22] chrisprobst commented on #1063
Ok, we found something. We were using negotiated channels, using OnDataChannel, this bug does not occur. Maybe that helps :-).

[2020-09-24 15:40] masterada commented on #1296
Ok, the workaround works for now, worst case we will find some other workaround :)

[2020-09-26 01:48] #1443 closed

[2020-09-27 23:54] #1401 closed

[2020-09-28 05:23] #1430 closed

[2020-09-28 10:04] assadobaid opened #1455 "pion/ice connecting through corporate proxy"
## Summary

Pion ICE cannot create a connection to turn server if peers are behind a Corporate Proxy.

## Motivation

When user configure a turn server in ICEServer configuration using  transport tcp, e.g. `turn:<my-server>:3478?transport=tcp`. The ICE is not able to resolve the TCP address or Dial the turn server if the peers are behind a corporate proxy.
The ICE package uses net.DialTCP which is

[2020-09-30 00:02] Sean-Der commented on #1455
@assadobaid that sounds great to me!

If you can match how the Go stdlib does it I would love to merge. We can plumb the values from `pion/webrtc` via the SettingEngine. If you need any more guidance please reach out either here or [Slack](https://pion.ly/slack)

[2020-09-30 00:03] Sean-Der commented on #1442
@cnjeffliu are you still interested in submitting this PR?

[2020-09-30 02:31] robmunro-sg commented on #1019
I've just tried this on the lastest trunk branch - I also just get the raw HTML
using: go run examples.go --address localhost:8080
then curl localhost:8080/sdp -d "Browser SDP"

[2020-09-30 23:56] arttobe opened #1458 "Chromium's H264 Support?"
I was doing the example for an VP8 rdp stream and everything worked perfect, then I changed this line
[code]
and also the stream. Now the Browser doesn't display anything and sometimes it comes an error(64000).

Here is my SDP from my stream
[code]

What do I need to do for using h264 as codec, sadly I can't use VP8 in this project.

I hope someone can help me with this issue

[2020-10-01 04:11] Sean-Der commented on #1458
Chromium can only handle baseline constrained i420, also do a low keyframe interval. Also worth comparing with our [GStreamer](https://github.com/pion/example-webrtc-applications/blob/master/internal/gstreamer-src/gst.go#L57) example!

https://gist.github.com/ibc/3a10b27812d99c8abd1b is also really helpful for Chromium media pipeline debugging

[2020-10-01 04:12] #1458 closed

[2020-10-01 13:28] jech opened #1459 "pc.Close deadlocks under load"
Using v3.0.0-beta.4.

We've just run a reasonably large conference using the Unnamed SFU, and the server deadlocked twice.  I managed to catch a trace, and it looks like a call to `pc.Close` failed to terminate:
[code]
I'm not familiar with this part of the code, but the following looks suspicious:
[code]

[code]

[code]

[2020-10-01 16:27] Sean-Der commented on #1459
@jech I think this was fixed with https://github.com/pion/webrtc/issues/1430 !

Mind double checking my work and comparing the stack traces to ensure I am not closing it incorrectly :)

[2020-10-01 17:00] jech commented on #1459
It does look similar, granted.  I won't be able to reproduce it, since I should no longer be vulnerable (I now defer closing PCs until after I've released all locks), so I guess I might as well close it.

Sean, are you planning to cut a release, or should I depend on a git hash?

[2020-10-01 17:00] #1459 closed

[2020-10-01 17:19] Sean-Der commented on #1459
Tagged `v3.0.0-beta.5`!

I am hoping to start `new-media-api` branch this weekend. After that is merged we are gonna be in Alpha territory.  https://github.com/pion/webrtc/projects/18

[2020-10-01 17:29] jech commented on #1459
Thanks!  Updated and deployed.  Let's hope the next seminar doesn't
require any server restarts

Er... shouldn't beta come after alpha?  Won't the Go tools become confused
if you go backwards?

[2020-10-02 22:33] jech commented on #1356
I've just tried with beta.6, and passive TCP is still not useful.

[2020-10-03 07:04] Sean-Der commented on #1345
I am taking this, will work on this during the weekend!

[2020-10-04 04:47] Sean-Der commented on #1292
Hey @hakulat

Sorry I missed this thread, but this API exists today! You just don't find out this information from the DataChannel.

You want to use [OnSelectedCandidatePairChange)(https://pkg.go.dev/github.com/pion/webrtc/v3#ICETransport.OnSelectedCandidatePairChange) this is fired when the Remote/Local addr is set.

This library is implementing an established API [webrtc-pc](https://w3c.github.i

[2020-10-04 04:47] #1292 closed

[2020-10-04 04:49] Sean-Der commented on #1002
Sorry I haven't dealt with this yet :( I just haven't had the bandwidth.

If people are interested in contributing a simple test would be great here! Using `vnet` establish two valid candidate pairs, but then cause one to go to disconnected.

You should assert that `webrtc.ICEConnectionStateDisconnected` is not fired.

[2020-10-04 04:51] Sean-Der commented on #1440
Sorry I have been slow on this :(

@notedit your library looks fantastic! I would love to recommend it, maybe we should make a note in `save-to-disk` about it? I don't want to add support for more formats in-tree. The maintenance burden is pretty high, would rather see the community own little bits and pieces

[2020-10-04 04:56] Sean-Der commented on #1365
Hey @iamRyanChia

Check out https://github.com/pion/webrtc-v3-design/issues/33 we are working on getting this in-tree.

By default Pion will not enable any error correction techniques. We are working on providing an API in `/v3` where uses can opt-in and define their own. I think it is important that we give people flexibility. We have lots of different users with different use cases so we want to

[2020-10-04 04:56] #1365 closed

[2020-10-04 05:01] Sean-Der commented on #1418
Hey @jech

Would love to get your opinion on https://github.com/pion/webrtc-v3-design/issues/33. I know it has been slow moving, but I just want to be very careful. I would love your opinion on it.

We are going to allow users to provide 'adapters' going in and out. These adapters will have full access to the RTP packets so they can do anything they want. These adapters will also be able to modify

[2020-10-04 05:01] #1418 closed

[2020-10-04 15:37] jech commented on #1001
I'm being bitten by this, it causes a spurious PLI for every stream.

[2020-10-05 21:37] rahulnakre commented on #1442
I can submit a PR today

[2020-10-06 02:05] #1001 closed

[2020-10-07 02:26] #1442 closed

[2020-10-07 04:59] Sean-Der opened #1466 "Flaky Tests"
This is a list of known flaky tests that need investigating. It is unknown if these are still even an issue.

* [x] TestICERestart (Fixed by https://github.com/pion/ice/commit/302290a7846159720a0feaa9d0d696f62ee7b50f)
* [ ] TestPeerConnection_GetStats (on Windows)
* [ ] TestPeerConnection_Renegotiation_Trickle
* [ ] TestPeerConnection_Renegotiation_AddTrack_Rename
* [x] TestNegotiationNeededStress

[2020-10-07 05:00] Sean-Der commented on #1276
Closed for https://github.com/pion/webrtc/issues/1466

[2020-10-07 05:00] #1276 closed

[2020-10-07 05:01] Sean-Der commented on #1303
Closed for https://github.com/pion/webrtc/issues/1466

[2020-10-07 05:01] #1303 closed

[2020-10-07 05:01] Sean-Der commented on #1308
Closed for https://github.com/pion/webrtc/issues/1466

[2020-10-07 05:01] #1308 closed

[2020-10-07 05:01] Sean-Der commented on #1311
Closed for https://github.com/pion/webrtc/issues/1466

[2020-10-07 05:01] #1311 closed

[2020-10-07 15:13] #713 closed

[2020-10-07 17:14] Sean-Der commented on #810
Closing for https://github.com/pion/webrtc/issues/1315

[2020-10-07 17:14] #810 closed

[2020-10-07 17:16] Sean-Der commented on #1002
@rahulnakre @scorpionknifes if either of you are interested I think this would be a fun issue to look into! Even if this bug doesn't happen anymore this would be a great test to have :)

[2020-10-07 21:25] tarrencev commented on #1411
another related:
[code]

[2020-10-08 03:15] rahulnakre commented on #1002
hey, I'll take a look when I get the chance, thanks!

[2020-10-08 22:36] Sean-Der opened #1470 "Offer with newly inactive Media Section should cause local mid to stop as well"
If we receive an Offer with a `mid` disabled we should disable locally as well.

If we are an answerer and locally we have two Media Sections that are both enabled. The following offer would disable one.

Offer
[code]

[2020-10-08 22:58] #1470 closed

[2020-10-08 23:38] billylindeman opened #1471 "Segfault with simulcast track add / remove (possible race)"
### Your environment.
  - Version: master
  - Browser: Electron 9 / Chromium
### What did you do?
Using ion-sfu, I add a simulcast track to an existing stream w/ audio.  I then remove the track prior to all RID layers being received by the sfu, which triggers a segfault.

### What did you expect?
not crash

### What happened?

Segfault
[code]

[2020-10-09 09:21] umbrellary opened #1473 "data-channels-detach-create does not work"
Hi

I tried the following sample code, but both V2 and V3 report errors:

https://github.com/pion/webrtc/blob/master/examples/data-channels-detach-create/main.go

LOG
----------------
eyJ0eXBlIjoib2ZmZXIiLCJzZHAiOiJ2PTBcclxubz0tIDM2MTM0MDU3NDQ3MjY0Nzc3NTUgMTYwMjIzNDk5OCBJTiBJUDQgMC4wLjAuMFxyXG5zPS1cclxudD0wIDBcclxuYT1maW5nZXJwcmludDpzaGEtMjU2IDQ3OjYzOkI5OkZBOjMzOjM5OkYxOjRBOjg5OjA1OjVGOkJEOjdGOkYx

[2020-10-09 15:58] Sean-Der commented on #1473
Hey @umbrellary

I was not able to reproduce this. I ran the example at 7b72d684e541b9a38b66ae4593db366f7b51913d Are you able to share `go-ice-tcp/main.go` ?

Looking at that code I am not able to immediately figure out what is happening. Can you try running your programing with `-race`?

[2020-10-09 16:27] #1471 closed

[2020-10-11 00:09] Antonito opened #1476 "Disconnections not detected with ICE Lite"
### Your environment.
  - Version: v3.0.0-beta.7
  - Browser: n/a

### What did you do?

When using Lite ICE, unexpected disconnections (client terminating without properly closing the peer connection) are not detected.

To reproduce, you can use the `pion-to-pion` example's code and patch a few lines:

`answer` ([source](https://github.com/pion/webrtc/blob/master/examples/pion-to-pion/answer/main

[2020-10-11 06:06] Sean-Der commented on #1476
I was able to reproduce this as well! https://gist.github.com/a03e187de02c7abb83adf352bd84c246

[2020-10-12 12:08] AdamKorcz commented on #251
@Sean-Der Could you elaborate on what you mean by this? I might be able to contribute on fuzzing webrtc

[2020-10-12 17:15] Sean-Der commented on #251
@AdamKorcz yea! Sorry I think I meant [oss-fuzz](https://github.com/google/oss-fuzz). Right now we don't run our fuzzers, so they aren't doing much currently :(

We can either get them running over there OR setting up something ourselves.

[2020-10-12 17:28] AdamKorcz commented on #251
Awesome. I will be happy to look into that.
I may be looking in the wrong places, but I don't see the fuzzers in this repo. Could you post a link to them?

[2020-10-12 18:02] Sean-Der commented on #251
`pion/webrtc` doesn't have any itself. It gets stuff already processed in from it modules.

[dtls](https://github.com/pion/dtls/tree/master/fuzz/corpus)
[stun](https://github.com/pion/stun/tree/master/fuzz)
[sdp](https://github.com/pion/sdp/blob/master/fuzz.go)
[rtcp](https://github.com/pion/rtcp/blob/master/fuzz.go)

It looks like STUN/DTLS are the only ones that are really valuable right now. So

[2020-10-12 18:23] AdamKorcz commented on #251
That is awesome. I see some ways to proceed from here.

In order to setup continuous fuzzing through oss-fuzz, it helps with referencing adopters/users, as oss-fuzz would like to contribute to the security of projects that impact lots of people as well as companies using open source software in production. Do you know of adopters/users and is it something you can post publicly when setting up an i

[2020-10-12 18:30] Sean-Der commented on #251
I would start with `Sean DuBois <sean@pion.ly>`

Can share a list of companies privately. Developers reach out to me privately with questions. I don't want to get them in trouble with their employers though.

[2020-10-12 18:37] AdamKorcz commented on #251
Duly noted. All details in the application process for oss-fuzz are public. It is understandable that users would like to not advertise their software, and in that case it would be sufficient to name the impact based on the size/revenue of the companies using webrtc.  If that would work, and some larger companies are using webrtc, then should be good.

[2020-10-12 18:43] Sean-Der commented on #251
That works for me! Can I email you directly with the list of companies that I know of?

[2020-10-12 18:46] AdamKorcz commented on #251
Sure, feel free to send over the list at Adam/-at-/adalogics/-dot-/com

[2020-10-13 15:49] masterada opened #1477 "Nack vs slidingWindowDetector"
### Your environment.
  - Version: latest master (fdbf5b5c90a8479221cb46c3947db58d04678da3)
  - Browser: chrome

### What did you do?
I started fiddling with NACK, with a browser -> pion stream.

### What did you expect?
Nacked packets to arrive.

### What happened?
Nacked packets did not arrive.

I found out that slidingWindowDetector https://github.com/pion/transport/blob/master/replaydetector/r

[2020-10-13 15:53] masterada commented on #1296
In case any1 finds this issue, we now use the following sollution:
[code]

[2020-10-13 16:34] Sean-Der commented on #1477
@at-wat what do you think, maybe we can losen the restrictions?

Another thing that people do is have a unique SSRC for NACKs (and then the Payload is the old RTP Packet) that would get you around this!

[2020-10-13 16:47] at-wat commented on #1477
https://tools.ietf.org/html/rfc3711#section-3.3.2

The window size is a balance of memory usage vs duration how long can the stream be delayed. And it highly depends on the application. (Current default value is a minimum allowed value in RFC.)

Users can specify the window size by `SettingEngine.SetSRTPReplayProtectionWindow(uint)` and `SettingEngine.SetSRTCPReplayProtectionWindow(uint)`.

[2020-10-13 17:28] masterada commented on #1477
Thanks for the clarification. I guess i will just leave it turned off for RTP for now as our jitter buffer already handles deduping, and using different SSRC sounds really painful for now (might try it later).

One thing that occured to me after reading into the linked rfc, is that this call: `markAsValid, ok := s.replayDetector.Check(uint64(header.SequenceNumber))` does not seem to account for th

[2020-10-13 17:54] at-wat commented on #1477
In the ReplayDetector, wrapping (rollover) of the sequence number is handled. I think it should work correctly on rollover as tested in the following test cases:
https://github.com/pion/transport/blob/7f160b47c670d5b0ada9734010f0a901f7bac443/replaydetector/replaydetector_test.go#L145-L171

Just for the information, using same SSRC in multiple streams may cause potential security weakness by using

[2020-10-13 18:01] masterada commented on #1477
You are right, thanks.

Maybe i misunderstood something, i thought @Sean-Der recommended to use a different SSRC for NACK alone. I use pion on the receiver side, so the stream SSRCs are determined by the browser.

[2020-10-14 15:13] mholbergerNIMBL opened #1478 "Simulate server-side PLI packet receive (to form keyframe) from JavaScript client"
I am using Pion webserver to stream (from GStreamer UDP pipe) to a javascript media API client in the browser, like in the rtp-to-webRTC example.

I am generating snapshots from the vp8 packets on the server, but there is delay in finding a keyframe. The current fix for this is to send a PLI packet from the client on the data channel to force the server to form a keyframe. Unfortunately there is n

[2020-10-14 17:12] Sean-Der commented on #1478
The 'PLI over DataChannel' is something you will need to translate still. In the `OnMessage` from the DataChannel you need to unpack and generate the PLI.

The browser is probably automatically generating PLIs right now. If you read the incoming RTCP packets do you see them?

[2020-10-14 17:12] #1478 closed

[2020-10-14 17:13] Sean-Der commented on #1473
@umbrellary if you are still having issues please re-open.

I am not able to reproduce this, but would love to fix if you are still having issues. thanks for using Pion!

[2020-10-14 17:13] #1473 closed

[2020-10-15 20:41] danj565 commented on #696
If you are having issues with ivf playback #680 has seemingly fixed the issue or at least made it a workable solution.  It sounds like the PR is not the correct way of doing it however based on @raphaelpereira description...

[2020-10-16 01:11] umbrellary commented on #1473
package main

import (
	"fmt"
	"io"
	"time"

	"github.com/pion/webrtc/v3"
)

func main() {

	// Create a SettingEngine and enable Detach
	s := webrtc.SettingEngine{}
	s.DetachDataChannels()
	s.SetEphemeralUDPPortRange(30000, 49999)
	s.SetNetworkTypes([]webrtc.NetworkType{webrtc.NetworkTypeUDP4})

	// Create the API object with the MediaEngine
	API := webrtc.NewAPI(webrtc.WithSettingEngine(s))

	//

[2020-10-16 05:23] #1210 closed

[2020-10-16 07:05] iammeizu commented on #1354
This helps me a lot !
btw, why get a snapshot cost so much (1-2s, maxlate is 10) ?

[2020-10-20 17:33] BenLubar opened #1484 "recovered with non-error value: (string) ValueOf: invalid value"
Caused by this line:

https://github.com/pion/webrtc/blob/7fc6f5435bfb651abb5d609a84e8763579da6105/peerconnection_js.go#L655

should be passed through `stringPointerToValue` before being put into the map

[2020-10-20 19:41] Sean-Der commented on #1484
Nice catch @BenLubar

Would you be able to submit a PR (and a test?) I would love to merge them right away :)

[2020-10-20 22:26] #1411 closed

[2020-10-21 21:23] davidc604 commented on #270
@Sean-Der Do you have further context as what might cause the issue with failing the SRTP Auth tag verification? All of a sudden we're running into an issue with this info/error, ```srtp INFO: 2020/10/21 19:00:12 failed to verify auth tag``` And it only occurs with certain type of contents. Thanks!

[2020-10-23 05:23] Sean-Der commented on #270
@davidc604 What is the remote peer?

I have had some people report that certain versions of OpenSSL export invalid keying material. They were using Janus I think? They didn't provide further debugging info yet. They switched to BoringSSL and it fixed everything.

Happy to discuss further here or in https://pion.ly/slack I am PST so might be sleeping. But if you mention me in #pion will respond whe

[2020-10-23 08:00] Harardin opened #1489 "Pion Answer don't have any candidates."
I am making a request from JS to pion to have a video feed. But when answer returns it hase no candidates so wRTC cannot be established.

Here is offer and answer:
[code]

My pion code.

[code]

And some Debug log of pion:

[code]

Stun Server I use: `stun:stun.l.google.com:19302`

[2020-10-24 07:05] sumeet-tiwari-samespace opened #1491 "OnnegotiationNeeded should get triggered after negotiation is done and still the negotiation is needed."
### Your environment.
  - Version: Latest
  - Browser: doesn't matter here

### What did you do?
Added a track right after creating answer, but negotiation was not complete yet, but no onNegotiationNeeded is triggered ever , even after negotiation got completed.

### What did you expect?
OnnegotiationNeeded should get triggered once negotiation is completed

### What happened?
OnnegotiationNeeded

[2020-10-24 18:42] #1484 closed

[2020-10-24 18:45] Sean-Der commented on #1489
Hey @Harardin

This is by design. Pion implements [trickle-ice](https://webrtchacks.com/trickle-ice/) so candidates will not be in the SDP until gathering is finished.

You can set the [OnICECandidate](https://github.com/pion/webrtc/blob/master/examples/pion-to-pion/answer/main.go#L56-L58) handler and exchange candidates. You could also use [GatheringCompletePromise](https://github.com/pion/webrtc

[2020-10-25 04:09] tarrencev commented on #1491
@sumeet-tiwari-samespace thanks for creating this issue. can you provide a test that reproduces this issue?

[2020-10-25 04:16] tarrencev commented on #1466
Trace for `TestSettingEngine_SetICETCP`:

[code]

[2020-10-25 05:14] tarrencev opened #1494 "panic on checkNegotiationNeeded"
Seems there is a case where `Track` is nil while executing `checkNegotiationNeeded`. I don't think this should be possible, since the Senders direction is `Send*` but it doesn't have a track set. I think all senders in `Send*` state should have a track defined.

[code]

[2020-10-25 16:02] Harardin commented on #1489
Thank you for your answer. I am new to webRTC your advice fixed the problem.

As for an simple example how I did it.

[code]

Will refactor it on `OnICECandidate` tomorrow. Thanks again for your help.

[2020-10-25 16:02] #1489 closed

[2020-10-26 04:18] sumeet-tiwari-samespace commented on #1491
@tarrencev
In any example , Lets say in simulcast example. After SetLocalDescription, add another new track. Like this
[code]
Then OnnegotiationNeeded should trigger after negotiation is done, coz the peerconnection still needs negotiation as the new track was added after creating answer.
The behaviour is explained here.
https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/onnegotiat

[2020-10-27 04:01] takchichan opened #1495 "data-channels exapmle not work"
### Environment
  - Version: v3
  - Browser: mozilla firefox 81.0.2

### What I did
open the following url:
**http://localhost:8080/example/js/data-channels/**

### What happened?
console output the following message:
**WebRTC: ICE failed, add a TURN server and see about:webrtc for more details**

[2020-10-27 05:49] umbrellary commented on #1473
I will try, thank you very much！

[2020-10-28 18:39] tekig commented on #1491
@sumeet-tiwari-samespace you add a track to PeerConnection?

[code]

[2020-10-29 09:25] entrehuihui opened #1497 "Play from play from Disk Renegotation"
First of all, thank the author for his contribution。
I have a project to use Webrtc, I have seen a lot of examples, I think the example of play from Disk Renegotation is in line with my development, the difference is that the example reads the stream from the file, I hope to push the stream against FFMpeg, what should I do, I refer to the example of RTP to WebrTC, but unfortunately, I did not succ

[2020-10-30 13:47] yourchanges opened #1500 "ICE connection state changes to "Disconnected" 30 seconds after it connected in complex NAT"
### Your environment.
  - Version: pion/webrtc v2.2.24
  - Browser: chrome 86.0.4240.111 64bit
  - Other Information
turn server(gortcd) config

[code]

### What did you do?
I just run the https://github.com/deepch/RTSPtoWebRTC lastest version

deploy it a public ip server, when my browser and RTSPtoWebRTC server in the same LAN, it works normally.

when I open the browser in the other network env

[2020-10-30 13:58] yourchanges commented on #1500
also see:

https://github.com/deepch/RTSPtoWebRTC/issues/52

[2020-10-31 22:58] jech commented on #1477
I don't think that masterada is using the same SSRC for multiple tracks.  He's using a single track that is used for both the original data and resent data, which is what causes the issue.

It would be better to use a separate RTX track for the resent data, but I don't know how to achieve that with Pion.

[2020-10-31 23:00] jech commented on #1500
Is this a unidirectional stream?  Are you sending receiver reports?

[2020-11-01 02:01] masterada commented on #1477
Thanks @jech, finally found what you guys are talking about: https://tools.ietf.org/html/rfc4588 . Just when you think you got something working, there is always another rfc behind the corner.

[2020-11-01 02:01] #1477 closed

[2020-11-01 11:49] yourchanges commented on #1500
The browser side peer, just receive the audio and vedio stream to play, and send a ping msg every second through the data channel, here is code:

[code]

full app.js is here https://github.com/deepch/RTSPtoWebRTC/blob/master/web/static/js/app.js

[2020-11-01 11:59] yourchanges commented on #1500
I also try set it like this, but it fails too.
[code]

but I  try rewrite the js client by  ios and android native webrtc sdk, it works without any problem.

[2020-11-02 12:23] sumeet-tiwari-samespace commented on #1491
yes @tekig

[2020-11-03 16:31] cedricve commented on #1500
@yourchanges i am working with the same repo, and indeed the stream is sometimes hanging and disconnects. Looks like in the golang project it halts while sending the stream. Could we reach out to look into this together @yourchanges ?

[2020-11-03 20:09] uharband commented on #1348
@r-novel hi and sorry if i'm repeating parts of the question above.. i'm new to pion. trying to achieve something similar to the [rtwatch ](https://github.com/pion/webrtc) app: stream an existing file / other source via pion to browser. now, i see on the browser side, using the chrome://webrtc-internals, that i have packets lost over time. also, during loses video freezes shortly. usually, in a fu

[2020-11-03 22:07] r-novel commented on #1348
@uharband Hello! If I understand correctly, you streaming from static file (from you FS) through Pion app to Browser?
You could try to implement a jitter buffer where you RTP packets can be stored before transmitting to the browser. When your browser recognizes packet loss it sends NACK  packet to Pion-based server.
You need to intercept these incoming RTCP packets, parse nack messages, find packe

[2020-11-04 05:56] yourchanges commented on #1500
@cedricve  yes, sure.  but I face the problem every time , and I think my problem is a ICE problem (maybe some incorrect ice config on ice sever or webrtc peers). and your stream is sometimes hanging and disconnect, it's another problem.

[2020-11-04 09:29] yohaoquan commented on #835
Hi. I am sorry for posting here as I am only asking a question. I hope someone can clearify this for me:

If I created a new API with SetNAT1To1IPs set to my public IP in SettingsEngine, is it normal for all the video traffic to go through the server before reaching the other peer?

Sorry again for commenting on an already closed issue.. If I do not get any answers, I will probably start a new iss

[2020-11-05 07:34] Sean-Der commented on #1495
Hey @takchichan sorry I have been busy.

Did you copy/paste the Session Description messages back and forth?

Are you running FireFox + Go on the same machine?

thanks

[2020-11-05 07:35] Sean-Der commented on #1497
Hey! Sorry for the delay.

Do you mind sharing with you tried with `rtp-to-webrtc` so far? What files/format are you trying to consume?

thanks

[2020-11-05 10:41] tomsun commented on #1494
Have had the same thing happen, possibly a few times

[code]

[2020-11-05 12:10] ashellunts commented on #1440
Is this issue obsolete now? Because h264 reader is added and ffmpeg example is in plan.

[2020-11-05 12:12] ashellunts commented on #1279
I can do this but need help to figure out actually what is supported.

[2020-11-05 16:26] adwpc opened #1508 "Support RTX"
- [ ] Enable RTX in SettingEngine
- [ ] Support RTX in SDP layer
- [ ] Support RTX in Track/PC layer

[2020-11-06 04:51] Sean-Der commented on #1494
Really sorry about that @tomsun!

We are planning on making this feature only fire if you set `OnNegotiationNeeded` and that should help. There is a lot of complexity here we are still working on nailing down :)

@orlandoco Did you get a chance to investigate this at all? Any idea how hard/easy it is? I can probably grab it tomorrow if you haven't start yet!

[2020-11-06 05:49] Sean-Der commented on #1279
@ashellunts :fire: that would be awesome! I was kind of blocked on finding a good layout/design in the README. If it is too long it will not be as approachable. Maybe we can remove `webassembly` and make it in entry

These are the sections I see.

* Pure Go
  - No C dependencies

* PeerConnection API
    - Renegotiation
    - Full ICE Agent
    - ICE Restart
    - Trickle ICE
    - ICE-TCP
    - S

[2020-11-06 05:51] Sean-Der commented on #1440
:+1: I am fine with resolving!

Also with the 'features matrix' hopefully it will help people understand that `pion/webrtc` is solving a subset of what they are looking for.

If you need something beyond WebRTC you need to bind this with another lib.

[2020-11-06 06:04] Sean-Der commented on #835
Hey @yohaoquan

`SetNAT1To1IPs` is a replacement for using a STUN server. Instead of creating a NAT binding you just supply a candidate directly.

I am not sure what you mean by 'is it normal for all the video traffic to go through the server before reaching the other peer'. Pion is just a WebRTC implementation. So everything is always P2P. You can create a SFU using Pion though!

The best place t

[2020-11-06 15:11] OrlandoCo commented on #1494
@Sean-Der Sorry I have been fighting with a nasty chrome bug for a week now, andI have not had time, hope we can solve it soon!

[2020-11-07 06:39] DehaiWang opened #1512 "the connected RTCPeerConnection addTransceiver() trigger onnegotiationneeded . after negotiation,new track donot play."
I user Chrome 86.0.4240.111.
I code as like examples "broadcast",but the speakers are more than one .

 when the new speaker join in the room,  the connected RTCPeerConnection  in  browser side  addTransceiver('video') , browser side trigger  onnegotiationneeded , browser side createOffer(),setLocalDescription(),sent offer to the server side.

 the connected RTCPeerConnection in  server side recei

[2020-11-09 20:11] uharband commented on #1348
hi @r-novel
thanks so much for the lead.
i'm not finding how to read the rtcp packets coming in from the other peer.. (the other peer is a simple browser). i see the peerconnection has a WriteRTCP method, no ReadRTCP.. how do i connect to the incoming rtcp stream?
does that somehow have to do with the RTCFeedback?
thanks again,
Uzi

[2020-11-10 05:25] regata opened #1514 "RTP -> WebRTC Poor audio quality"
### Your environment.
  - Version: github.com/pion/webrtc/v3 v3.0.0-beta.12

### What did you do?

Hello,

I'm trying to send audio to the browser but quality is bad and very choppy. There are many examples how to do it with video but I couldn't anything for audio. I'd be happy to contribute such example here but first need to get it working.

I have the following setup:
* Generate RTP stream usin

[2020-11-10 05:48] Sean-Der commented on #1514
That all looks right to me!

In `chrome://webrtc-internals` can you see how much packet loss you are experiencing?

My guess is that either the audio is bad (re-sampling/bad packetization/$x) OR you are seeing packet loss. If you can rule loss out, I have some debugging ideas.

[2020-11-10 15:03] regata commented on #1514
AFAIK, no packet loss `Lost: 0`

[code]

Not sure if it's related but I noticed some differences between ffmpeg's and pion's codec parameters:
* ffmpeg: `a=fmtp:111 sprop-stereo=1`
* pion: `a=fmtp:111 minptime=10;useinbandfec=1`.

Also pion sets `a=rtcp-mux` but, AFAIK, ffmpeg does not have it

Thank you for your help!

[2020-11-10 15:58] regata commented on #1514
Here is Chrome debug output for the audio channel https://i.imgur.com/8haT8lT.png

[2020-11-10 17:11] jech commented on #1514
Interesting.  Packets lost is 0, but concealed samples is on the order of 20%.

Perhaps some samples are dropped before being encapsulated in RTP?

[2020-11-11 02:11] regata commented on #1514
I validated that RTP stream looks correct by encoding and decoding it locally:

Encoding:
`ffmpeg -f pulse -i default -c:a libopus -b:a 48000 -ssrc 1 -payload_type 111 -f rtp -sdp_file rtp.sdp rtp:/127.0.0.1:5004
9:02`

Decoding:
`ffmpeg -protocol_whitelist rtp,file,udp -i rtp.sdp audio.mp3`

Do you think that Opus codec parameters between ffmpeg and what Pion offers to the browser is the issue?

[2020-11-11 03:44] regata commented on #1514
I also plotted RTP packet sequence numbers and timestamps. These are the packets i read off the rtp stream produced by ffmpeg. May be it has additional clues?

![](https://i.imgur.com/smxuwig.png)

[2020-11-11 05:30] JVillella commented on #1514
@Sean-Der and I paired a bit over the #pion Slack channel. The primary issue turned out to be ffmpeg's packetizing. Instead of directly forwarding these packets, we re-packetize them w/ pion.

Instead of,

[code]

We did,

[code]

That was an enormous improvement to the audio quality. This was the final ffmpeg command we used (bit different than when we started. It also contributed to the final qu

[2020-11-11 05:32] JVillella commented on #1514
[before-after.zip](https://github.com/pion/webrtc/files/5521957/before-after.zip)

Also, here are before and after audio samples ^

[2020-11-11 05:53] uharband commented on #1348
for the sake of future reference to getting nack packets. assuming you have one sender
i was looking to get feedback on the sender channel (from pion to browser). the RTCP packets are in the sender, not the receiver

    sender := peerConnection.GetSenders()[0]
    packets, _ := sender.ReadRTCP()

    // make sure this packet is a nack one
    nackPacket, ok := packet.(*rtcp.TransportLayerNack)

[2020-11-11 06:08] bshimc opened #1516 "Reduce DataChannel.readLoop allocations"
## Summary

I'm evaluating webrtc for a use case that stresses DataChannels.  In profiling, I tracked down some pathological alloc behavior to readLoop.  A simple patch that uses `sync.Pool` to minimize allocs (see patch below) resulted in what appear to be significant GC improvements.  That said, the patch in question changes the semantics of the datachannel OnMessage handler; that's to say the c

[2020-11-11 06:18] Sean-Der commented on #1516
This is amazing! Really love to see stuff like this.

To get this merged today I think we can make it a SettingEngine option. This is a pretty scary breaking change, users will upgrade and not understand what hit them :(

We can get this merged quickly (with a test) and then revisit later.

[2020-11-11 14:04] txthinking opened #1518 "DataChannel is Closed but PeerConnection.ICEConnectionState is Connected"
I am not sure this is a bug or w3c api is unfriendly.

### Description

Two peers: both pion.webrtc
What I do: create a datachannel and send data each other
Result: everything is ok

But: A accidental problem unable to reproduce. So I write this issue.

### Accidental Problem

DataChannel.ReadyState() is closed but PeerConnection.ICEConnectionState is still connected.

### Question

1. Is this pro

[2020-11-11 21:10] Sean-Der commented on #1518
Did the remote peer call `DataChannel.Close()`?

The ICEConnection and DataChannel shouldn't interact (but we could have a bug here!). Even after a ICE Restart the DatatChannel should still work, it will just queue data while things aren't connected.

thanks for reporting and using Pion :)

[2020-11-12 04:15] txthinking commented on #1518
Yes,
I use ordered, negotiated DataChannel, and MaxRetransmits = 10(but looks like MaxRetransmits only works on in unreliable mode[1] I will remove it).
Set 10s timeout on send, if send error or timeout, the dc.close().

Recently, I am trying when timeout DO NOT dc.close()

It looks like if DataChannel.send timeout (or cause rarely error, because it `Data sent before connecting is buffered if poss

[2020-11-12 17:36] tekig commented on #1491
@sumeet-tiwari-samespace
I tried to reproduce the problem but there are no errors.
Earlier, for manual testing, an [example ](https://github.com/pion/webrtc/pull/1359/commits/99a6d98b3555c05f2960432bd5b2b72ecce08ef8) was written that allowed creating/deleting tracks/channels locally/remotely, but it was very confusing and was deleted.
I added a track according to your example, [here](https://githu

[2020-11-12 22:09] Sean-Der commented on #1518
@txthinking you can measure how much a DataChannel has queued, and make sure that packets are being ACKed. I think that is the most can do you. [datachannels-flow-control](https://github.com/pion/webrtc/tree/master/examples/data-channels-flow-control)

GetStats might have more info, but I don't know it that well.

[2020-11-13 01:57] txthinking commented on #1518
Thank you @Sean-Der

[2020-11-13 01:57] #1518 closed

[2020-11-13 06:59] Sean-Der commented on #1518
Thanks for using Pion @txthinking !

I added a test to demonstrate this behavior in 50e49758778f0ba8e3b42708a1c9ab7e333b54f1. Even though the PeerConnections are disconnected and `SendText` returned an error, the next time they reconnect the message is delivered.

We need to start a FAQ that explains disconnections and shutdowns.

[2020-11-14 10:20] hannes09 opened #1524 "rtp-to-webrtc crashes with panic: illegal base64 data"
Hi,
i have tested the rtp-to-webrtc example.
When running the example via `got get` everything works fine.
Browser shows my video stream.

When compiling  examples/rtp-to-webrtc form the source and running the main.go  binary the error occures:

`panic: illegal base64 data at input byte 5025

goroutine 1 [running]:
github.com/pion/webrtc/v3/examples/internal/signal.Decode(0xc00010d500, 0x13a3, 0x8

[2020-11-14 10:51] #1524 closed

[2020-11-14 10:53] hannes09 commented on #1524
I passe in a wrong string

[2020-11-15 04:57] Sean-Der commented on #1516
Fixed by https://github.com/pion/webrtc/commit/159ba5aca3b96b85f7a653329102ea12046a1b1f

[2020-11-15 04:57] #1516 closed

[2020-11-15 04:57] Sean-Der commented on #1495
Hey @takchichan

I am going to close this for now. I hope you were able to get it working for you.

If you are still having issues please re-open!

[2020-11-15 04:57] #1495 closed

[2020-11-15 04:58] Sean-Der commented on #1497
Hey @entrehuihui I am closing this for now. I am hoping you were able to get it working.

If you weren't able to make it work please re-open and I am happy to help :)

[2020-11-15 04:58] #1497 closed

[2020-11-15 05:19] Sean-Der opened #1526 "Track V3 Tasks Remaining"
These are all the things we need to finish with V3 Track API

* [x] Re-enable `TestPeerConnection_Media_Closed`
* [x] Rework API so that `Bind` is called in `SetRemoteDescription`
* [x] Write the following tests for new Track API
    - [x] Writing to a un-added Track
    - [x] Write to a track on Closed PeerConnection
    - [x] Write to a track on a disconnected PeerConnection
    - [x] Write to a

[2020-11-15 07:14] Sean-Der commented on #1526
@at-wat @masterada @jeremija ^ following up on the other PR. Add anything else you think is important!

If you agree I would like to merge the other PR and then begin the process of getting this done for `v3.0.0`. We are so close, and really want more people involved :)

[2020-11-15 09:07] at-wat commented on #1526
https://tools.ietf.org/html/rfc2045#section-2

[2020-11-15 21:04] Sean-Der commented on #1076
This is fixed by 7edfb701e09e89258d4b3235cded99befc8058fd :partying_face:

pion/webrtc internally now is aware of PayloadTypes, and when answering sets the proper values. When you create a track you instead only are aware of MimeType+Format Parameters. `example-webrtc-applications` will be updated when `v3.0.0` is released.

`examples/broadcast` can be used to day and I was able to do `Chrome` and

[2020-11-15 21:04] #1076 closed

[2020-11-15 21:07] Sean-Der commented on #712
@enobufs I wrote my first test using `vnet` in WebRTC! [TestICERestart_Error_Handling](https://github.com/pion/webrtc/blob/master/peerconnection_go_test.go#L935)

Currently there is nothing in `pion/webrtc` we are unable to test, so I am going to resolve :) (re-open if you disagree!)

Adding `TCP` support would be nice, but there are no tests I would write if I had it!

[2020-11-15 21:07] #712 closed

[2020-11-16 20:50] Sean-Der opened #1531 "Deadlock when Closing DataChannel while SCTP not finished"
[code]

[2020-11-16 21:49] #1531 closed

[2020-11-17 04:10] at-wat commented on #1526
I think as `TrackLocalStaticRTP` is in the main package, parameters like MTU is better to be configurable by users.
https://github.com/pion/webrtc/pull/1517#discussion_r523729641

[2020-11-17 07:33] Sean-Der commented on #1526
@at-wat That sounds good to me! If you want to start the `...opt` or doing a configuration struct I am happy with either.

[2020-11-17 14:03] BambooTuna opened #1537 "The playback time of the exported Ogg audio file will be incorrect."
### Your environment.
  - Version: *Release or SHA*
  - Browser: *include version*
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to have context*

### What did you do?

### What did you expect?
If you see the PR(#1536 ) and there is no problem, please merge.

### What happened?
When trying to record the microphone input of a user connected to webrtc usi

[2020-11-18 04:15] Sean-Der commented on #1537
Resolved by 1ffa87eb0733e7bfc6a50dcd2b2bac7d93c380ad

Thank you so much @BambooTuna

[2020-11-18 04:15] #1537 closed

[2020-11-18 18:15] OrlandoCo opened #1538 "Make WithMediaEngine to receive a pointer"
## Summary

Now that mediaengine allow to register and get ext map headers, api sould receive a pointer in order to use the ME outside Pion conext.

## Motivation

On pion-sfu the subscribers starts with not default codecs, once a user share it's media we need to register that media codec to not offer other codecs asside the one shared.

## Describe alternatives you've considered

No alternatives

[2020-11-18 18:17] Sean-Der commented on #1538
👍 completely missed that, if you open a PR will merge right away.

I will also make a test to confirm that header extension queries work via public API.

[2020-11-18 18:56] #1538 closed

[2020-11-19 04:26] kiepluhanh97 opened #1541 "About ErrSessionDescriptionConflictingIceUfrag"
Hi,
I have go server and when I connect from my browser use javascript, everything will be ok.
But when I create a client on python to handle some AI process from webrtc (https://github.com/aiortc/aiortc), in SDP have two different **a=ice-ufrag:** lines when create buffer have **video** and **datachannel**. I got an error **SetRemoteDescription called with multiple conflicting ice-ufrag values**.

[2020-11-19 04:34] Sean-Der commented on #717
If someone is interested in taking this here is a test they can drop in!

[code]

[2020-11-19 04:39] Sean-Der commented on #1526
@jeremija @OrlandoCo Any interest in splitting/taking on any of these tasks? I am happy to do all of them, just don't want to duplicate work :)

[2020-11-19 05:50] #1020 closed

[2020-11-19 05:59] Mutronics opened #1542 "sdp.go"
src/github.com/pion/webrtc/v2/sdp.go:625:26: invalid indirect of a.String() (type string)

[2020-11-19 06:01] Sean-Der commented on #1542
`pion/webrtc` requires you use Go modules to build. Do you have them enabled/how are you building today?

thanks!

[2020-11-19 06:28] Mutronics commented on #1542
This error show after this changes: https://github.com/pion/sdp/commit/848fa29661cf2e71c1ab23e343bf22448fb4fd15

[2020-11-19 06:39] Sean-Der commented on #1542
You need to enable Go modules. The API of different packages will change between different versions.

[Go Modules](https://blog.golang.org/using-go-modules) are mandatory for using Pion WebRTC. So make sure you set `export GO111MODULE=on`, and explicitly specify `/v2` or `/v3` when importing.

[2020-11-19 16:03] pascal-ace commented on #880
@Sean-Der  / @tylerlong
One year later... I try to make the soft-phone work, without success.
I used the pawn library several times, so I was happy to find it here.
I have the same symptom, no OnTrack, and the connectionState is always checking or failed, but never goes connected.

I also noticed that without the stun, the Sip connection was a failure.

I put the DTLS on the server (as suggested i

[2020-11-21 18:35] iraklippv opened #1544 "Faild to pair turn ICE"
Hi,
 My pion turn server failing all turn ICE ,but  when checking via turn client its OK.

its my log, can you help solving issue ?

Session Statistics
[ 12 | 6442450945 ] https://etest4.rs.ge/ (closed) Sat Nov 21 2020 21:25:33 GMT+0400 (Georgia Standard Time)
▲ hide details
PeerConnection ID: 1605979520897000 (id=6442450945 url=https://etest4.rs.ge/)
RTCConfiguration
bundlePolicy: balanced
iceTra

[2020-11-21 20:27] Sean-Der commented on #1542
Hey @Mutronics

If you are still having issues please reopen, thanks for using Pion!

[2020-11-21 20:27] #1542 closed

[2020-11-21 20:29] Sean-Der commented on #1541
Hey @kiepluhanh97

pion/webrtc requires that the remote Peer supports bundling. `aiortc` does support it, so I am not sure what the issue is.

One alternative would be to use two PeerConnections. We are not planning on supporting non-bundle in the short term though.

Thanks for using Pion, and happy to answer any other questions.

[2020-11-21 20:29] #1541 closed

[2020-11-21 20:31] Sean-Der commented on #1544
Hi @iraklippv!

Would you be able to share a simple example? I am having a hard time following those logs.

If you can email me auth details to sean@pion.ly I can help debug in private as well.

thanks

[2020-11-22 08:40] scorpionknifes commented on #1279
Here is a quick draft for a FEATURES.md. https://gist.github.com/scorpionknifes/5627ff9cc23aca76129191aa03b7f463.

Representing data using a matrix/table seems counter-intuitive unless we want to compare pion to something else (features). e.g

| | Example | Example  |
| --------: | :-------- | :-------- |
| Example | 👍 | ⛔️|

I was also thinking of using ticks e.g
- [x] Example
- [ ] Example

Let

[2020-11-23 01:38] Sean-Der commented on #1279
@scorpionknifes That's a good point! There are a few other states I am not sure how to represent.

* This feature is missing, but we we will do it eventually
* This feature is missing, but we will not be implementing
* This feature is missing, but you can accomplish it yourself  (and we may do it in the future as well)

[2020-11-23 05:56] Sean-Der commented on #1526
@at-wat I tried a few different ways (and failed) to make `TrackRemote` an interface. I might be missing something, but I don't see the value.

* I don't think we should encourage casting in `OnTrack`. Users are going to copy examples and be confused why they don't work.
* I can't think of any use cases that are blocked. Users can just chain `Read` into their own code etc...

[2020-11-23 16:03] tomsun commented on #1494
Same in beta 12:
[code]

Also a similar but different one:
[code]

[2020-11-23 17:06] Sean-Der commented on #1494
@tomsun sorry about that! I opened https://github.com/pion/webrtc/pull/1548

We will get that merged today and tagged so you can stop seeing that :(

[2020-11-23 18:08] Sean-Der commented on #1494
@tomsun I just tagged `v3.0.0-beta.14`, so you shouldn't hit this anymore!

We are two PRs away from `v3.0.0` as well. Will be working on lots of stabilization tasks as we get closer :)

thanks for using Pion, really appreciate the patience with the bugs.

[2020-11-23 19:12] tomsun commented on #1494
🙌 thanks @Sean-Der - awesome!

(Mainly trying out https://github.com/pion/webrtc through https://github.com/pion/ion-sfu - maybe you're right that the sfu doesn't implement renegotiate itself..? Trying out your patch https://github.com/pion/webrtc/commit/00ec48af6375e2adb4de50602ca74d20382ef361 now 🙏 , on top of where we otherwise were, using some replace statements in relevant go.mod:s )

(Also u

[2020-11-25 21:52] jeremija commented on #1526
@Sean-Der so sorry for a late reply. Last week has been super crazy for me work-wise :frowning_face:. I see you've already implemented all of this (kudos to you!), and I just read your comment about how you ran into issues with the last task (making `TrackRemote` an interface))

[2020-11-25 22:05] Sean-Der commented on #1526
@jeremija no worries at all :) this all Open Source/for fun!

If you have some time approving https://github.com/pion/webrtc/pull/1546 would be a huge help.

[2020-11-26 12:25] fayfive commented on #1260
I can call AddTrack on the PeerConnection as many times as Iwant.But there is a question，different browser has different payload type. For exsample，chrome is 102:h264,but firefox is 126:h264. If set the answer,102:h264,the firefox will not show the video.So is there a solution? Maybe change the payload type before Track.WriteSample ?

[2020-11-26 13:06] Sean-Der commented on #1260
Hey @fayfive

This is no longer an issue! In /v3 we internally manage the SSRC/PayloadType for you

[2020-11-27 09:37] fayfive commented on #1260
And now，how to Achieve One-to-many?  I create a new peer while a new request, but the cpu performance is full.
 Is the function that manage the SSRC/PayloadType in the v3 beta 11?

[2020-11-27 17:42] Sean-Der opened #1553 "Expose SetReadDeadline on TrackRemote"
`transport.Buffer` has this, so we just need to expose the API on `TrackRemote`

[2020-11-27 20:20] Sean-Der opened #1554 "PayloadType and Extension Header ID needs to be set at the Transceiver Level"
Currently the `MediaEngine` stores these values at the PeerConnection level. We need to store them at the Transceiver level.

One use case where this is important is the fan-out use case. Without this change the SFU would have to choose either Header ID 1 or 2. You would then have to modify the headers as they flow through. This same restriction applies to PayloadType.
[code]

By allowing values p

[2020-11-28 08:12] NickThorne123 commented on #1019
OK so I was having a mental block about where $BROWSER_SDP comes from. So will explain here for the benefit of others.

Say you want to run the reflect example, then open the reflect jsfiddle page linked from [here](https://github.com/pion/webrtc/tree/master/examples/reflect). Click on the text [A] from the box called "Browser base64 Session Description". Then go back into the linux bash shell / o

[2020-11-29 01:08] at-wat commented on #1466
On WASM
[code]

[2020-11-30 03:53] baiyufei opened #1559 "Improve H264Reader performance"
### Your environment.
  - Version: 74e790aa115dde28b49ca3fad833bd3ec82e0391

### What did you do?

Use h264reader

### What happened?

https://github.com/pion/webrtc/blob/master/pkg/media/h264reader/h264reader.go#L102

[code]

h264reader reads file byte by byte, which is slowly.

It took 216s to parse an 80M h264 file.

[2020-11-30 03:56] Sean-Der commented on #1526
These are all merged, we are now just stabilizing `/v3` :partying_face:

[2020-11-30 03:56] #1526 closed

[2020-11-30 03:58] Sean-Der commented on #1559
@baiyufei We do that because of our start code probing `0x00, 0x00, 0x01` vs `0x00, 0x00, 0x00, 0x01` and so we don't have catch if we 'over read' across NAL units.

If you are able to implement optimizations (and provide a benchmark) that would be amazing!

[2020-11-30 05:18] Sean-Der opened #1560 "Catch performance regressions in CI"
Currently we have nothing to catch performance regressions. We have a few benchmarks spread out across repos. No one consistently runs them though.

We should use benchstat, and commit baseline reports in the `.github` folder. When we see a percentage change (5%?) we should fail the build. IPFS has already implemented it [here](https://github.com/ipfs/ci-helpers/blob/master/orbs/ci-go/commands/ben

[2020-11-30 05:20] Sean-Der commented on #1560
@at-wat @bshi does this sound like a good plan? Any mistakes I am running head first into :)

@ashellunts @scorpionknifes if you are interested this could be a really fun task to take on!

[2020-11-30 05:20] Sean-Der commented on #1560
I wrote this benchmark, but didn't commit it

[code]

[2020-11-30 06:22] Sean-Der commented on #9
I am so excited to announce that [Interceptors](https://github.com/pion/interceptor) have landed! `pion/webrtc` will now have pluggable RTP/RTCP processors. This means you can conditionally enable/disable and tweak things like Error Correction and Congestion Control.

By default we will enable NACK and Receiver Reports. You can disable them, and configure the RTP pipeline however you want though.

[2020-11-30 08:45] at-wat commented on #1560
@Sean-Der I think it's better to make it pointer not for the performance but to make it less confusing as I wrote: https://github.com/pion/webrtc/pull/1540#pullrequestreview-540545532

[2020-11-30 16:05] baiyufei commented on #1559
[benchmark](https://github.com/baiyufei/h264benchmark): Parsing 10M h264 file on Windows 10 (AMD Ryzen 5 2600X).

Current h264reader took **44.61s**:
![current](https://user-images.githubusercontent.com/14902592/100631935-3643e780-3367-11eb-9e9f-ee38920b6497.png)

Optimizations h264reader took **0.06s**:

Read 4096 bytes from the system at one time to the readBuffer.

![new](https://user-images.gi

[2020-12-01 04:10] Sean-Der commented on #1554
The PayloadType and Extension Header ID can be changed on every round of signaling

[2020-12-01 07:19] Sean-Der commented on #1554
@OrlandoCo maybe I missed something, but for this to work Pion needs to be the offerer. Do we need to add an API to override values at the Transceiver level? They can only be used if `Send` hasn't been called yet.

[2020-12-01 17:26] OrlandoCo commented on #1554
@Sean-Der There are 2 cases:

1. When Pion is the offerer, pion should negotiate the ext headers with `ext id` set by media engine, atm if pion offers there is no ext header if pion does not negotiate it, thius maybe can be separated in `offerExtHeader` and `anserExtHeader`, because maybe you want to negotiate `twcc` or `audiolevel` in the upstream but not dowstream

2. When Pion is the answerer,

[2020-12-01 18:54] Sean-Der commented on #1554
1.) So you want to support `TWCC` in `sendrecv`, `send` or `sendrecv` transceivers only? You aren't interested in configuring it ad-hoc per Transceiver? That is great to hear if so, that is easier to do and requires just MediaEngine API changes.

2.) 👍

[2020-12-01 20:25] OrlandoCo opened #1564 "Performance regression with context introduction"
### Your environment.
  - Version: latest
  - Browser: n/a
  - Other Information -
#1560
https://github.com/pion/transport/pull/116

### What did you do?

Run below bench on commit before and after ctx:

[code]
The results where:

[code]

The performance loss is in line with the results obtained in https://github.com/pion/transport/pull/116

### Solutions
1- Remove the context commit
2- Add two me

[2020-12-01 21:29] Sean-Der commented on #1564
@at-wat What do you think is best? I see pro and con for both, so I don't have a clear winner.

* Expose `SetReadDeadline` and `SetWriteDeadline` allowing `TrackLocal` and `TrackRemote` to be cancellable
We can't use `Context` in the future to pass values into `Interceptors` or other interesting use cases.

* Expose `Write/WriteRTP` and `WriteContext/WriteRTPContext`
We make the API more complicat

[2020-12-01 23:49] #1559 closed

[2020-12-01 23:51] Sean-Der commented on #1553
Being discussed in #1564 instead

[2020-12-02 02:19] at-wat commented on #1564
Change in https://github.com/pion/transport/pull/116 makes `Read` behavior strange. (`Read` returns data even after the deadline is exceeded.)
If we decide to accept this behavior, we can also remove `ctx.Done()` check at the beginning of `ReadContext`.

[2020-12-02 08:02] scorpionknifes commented on #1560
I was trying out benchstat on github actions. The results are sometimes inconsistent. I'm currently testing using [reference](https://github.com/github/go-fault/blob/main/.github/workflows/benchstat.yml). Idk if this is a worker issue since the test runs on two different jobs in github actions.

The exact code I used is https://github.com/scorpionknifes/webrtc/blob/master/.github/workflows/bench.y

[2020-12-02 08:26] at-wat commented on #1560
I think the performance on the CI environment really depends on the timing since many CI jobs shares a host machine. (Even if the virtual core is assigned to the job, memory and i/o bandwidth is limited by the host.)
I guess it's better to compare US working hours vs weekend to determine the tolerance.

[2020-12-02 21:33] OrlandoCo commented on #1554
No, for example in the SFU we support twcc in `RemoteTracks` but not int `LocalTracks`, since we wont react to TWCC RTCP from subscribers. But not sure if this way of work may make harder for other users, since this seems an special case of a SFU, that need more grained control in publishers and subscribers

[2020-12-02 23:35] Sean-Der commented on #1554
I don't think we can do it for `RemoteTrack` vs `LocalTrack`. We will have issues like what happens when you have a `RemoteTrack` and `LocalTrack` that belong to the same Transceiver, but they have different configurations? We can throw errors, but I would prefer to keep that complexity out.

What we can do though is make it so you can set it at the `MediaEngine` level. You can do `TWCC` only for

[2020-12-03 00:36] at-wat commented on #1560
@Sean-Der any thoughts about https://github.com/pion/webrtc/issues/1560#issuecomment-735643915?

[2020-12-03 03:43] Sean-Der commented on #1564
These are my numbers when reverting locally.

[code]

[2020-12-03 03:47] Sean-Der commented on #1560
@at-wat sorry missed that!

I am 100% in support of leaving it as a pointer, agree with your points. `/v3` needs to go out and I don't think changing it this late is a good idea either.

[2020-12-03 03:51] Sean-Der commented on #1560
@scorpionknifes that is a very good point. Maybe we just test the current commit against `master`?

[2020-12-03 07:46] Sean-Der commented on #1564
@OrlandoCo I believe this is fixed! If you are happy with how everything is performing go ahead and resolve.

If there is anything that still needs done I can take it! Also super interesting to see what further optimizations we can do :)

[2020-12-03 12:59] jech commented on #1564
I would argue that context is the wrong way to pass values into interceptors.

Context does a well defined thing: it carries (nested) request-scoped data and implements (nested) request cancellation.  The inefficiency of context is partly due to its power: the ability to nest contexts relies on context propagation, which is essentially a tree walk.

Pion is essentially asynchronous, and does not h

[2020-12-04 19:52] #1554 closed

[2020-12-04 23:36] #1564 closed

[2020-12-05 13:03] tekig opened #1574 "Race when replacing track"
### Your environment.
  - Version: master (7b1a63243a47e08f713360a481b86861e2d4a650)
  - Browser: no browser

### What did you do?

When replacing tracks multiple threads, AddTrack can return the same free transceiver and try to establish different tracks in it.

Test
[code]

### What did you expect?
[code]

### What happened?
Replacing all tracks without errors

[2020-12-05 14:02] jech opened #1575 "v3: please export track SSRC and ClockRate"
There are a number of track properties that were available in v2 but are only available to interceptors in v3.  In particular, there are no equivalents to `track.SSRC` and `track.Codec().ClockRate`.

Interceptors are a neat idea, but they will take some time to be adopted universally, and some applications might want to use a different approach.  For people to be able to move to v3 incrementally,

[2020-12-05 17:11] Sean-Der commented on #1575
@jech I think the best thing to do is embed `TrackLocalStaticRTP`. You can then have your own implementation of `Bind`, you can capture the SSRCes etc....

#### Getting the SSRC
* `Track` would need to return `[]uint` and when pulling that list I don't think it would be useful. So we would have to put it on `RTPSender`
* Extending `RTPSender` will break WASM. We are going to make it so you can wri

[2020-12-05 17:32] jech commented on #1575
That's a lot of boilerplate just to get the SSRC.  I find it rather
distasteful.

I will only break programs that use the unimplemented method.  Document it
that (*RTPSender).SSRC() is not available under WASM, and let the users
decide whether they're willing to pay the price.

I have no problem keeping track of the ClockRate myself, if that's what
you prefer.  But I find it mildly distasteful: it

[2020-12-05 20:33] jech commented on #1575
ClockRate is already exported for TrackRemote: you can do `track.Codec().ClockRate`.  For some reason, it is not exported for `TrackLocalStaticRTP`.

[2020-12-05 20:53] #1575 closed

[2020-12-05 21:38] jech commented on #1575
This has been closed, but the SSRC issue remains.

[2020-12-06 09:31] uoosef opened #1581 "The pfs in recorded video of (ivf or h264 writer) is not correct"
### Your environment.
  - Version: windows 10 pro 10.0.181362.1198 server and golang 1.13
  - Browser: Chrome 84.0.4147.125 on android 8.1

### What did you do?
I build a sfu with ion-sfu repository and I use of recording to disk example to save rtp packets to disk.

### What did you expect?
I recorded a 15 seconds stream but the resulting video plays in 4 seconds!

### What happened?
I have many

[2020-12-07 07:45] Sean-Der commented on #1574
Nice catch @tekig !

I will pull this in tomorrow and see what I can get. Sorry been pulled away on other v3 issues :(

[2020-12-07 16:08] jsmouret opened #1585 "panic: interface conversion: interface is nil, not interceptor.RTPWriter"
### Your environment.
  - Version: v3.0.0-beta.15
  - Browser: Chrome

### What did you do?

In a broadcast scenario, it crashed when adding/removing a shared local track to joining/leaving peers.
I tried a mutex around AddTrack / RemoveTrack / WriteSample with no effect.

### What did you expect?

No crash :)

### What happened?

[code]

[2020-12-08 09:15] mission-liao opened #1586 "deadlock when calling PeerConnection.Close"
### Your environment.
  - Version: *v3.0.0-beta.15*
  - Stacktraces:
[code]
[code]
[code]

### What did you do?

calling `PeerConnection.Close`

### What did you expect?

The call to `Close` method should return successfully.

### What happened?

The call to `Close` method hangs.
- the routine of `decrypt` is blocked by the routine of `storeSimulcastStream`.
- the routine of `storeSimulcastStream`

[2020-12-08 14:45] Sean-Der commented on #1586
@mission-liao sorry about that! You fix one bug and introduce two other ones :)

This was introduced by 70fb90c7fdbca5c728003ee87e5f46d231a058ce I pushed a fix in https://github.com/pion/webrtc/pull/1587

[2020-12-08 15:31] #1585 closed

[2020-12-08 15:31] Sean-Der commented on #1585
Really sorry about that @jsmouret would you mind trying again?

[2020-12-08 15:41] Sean-Der opened #1589 "Remove QUIC Support"
RtcQuicTransport was [removed](https://chromium-review.googlesource.com/c/chromium/src/+/2446019) from Chromium.

I think it is important interoperability that we remove this. It will also reduce test time and reduce maintenace efforts on us.

[2020-12-08 15:43] Sean-Der commented on #1589
I tried to add everyone that might be interested/would have reasons to push back on this. I have opened a PR and will let it sit for a few days until we get consensus.

[2020-12-08 15:53] Sean-Der commented on #1589
`Test / Go i386 1.15 (pull_request) Successful in 28s` 🔥 This looks to have a positive impact on total test time in CI!

[2020-12-08 16:05] jsmouret commented on #1585
Looks fine, thanks a lot!

[2020-12-09 02:30] #1589 closed

[2020-12-09 02:33] #1586 closed

[2020-12-09 12:22] cryptix commented on #1589
No pushback from my end. If the transport doesn’t have browser adoption I pretty much don’t care and think it doesn’t have a place in a webrtc stack.

I wouldn’t mind getting a link to some backstory/context. I thought google was just replacing gQUIC with something else but this seems to go further..?

[2020-12-10 00:19] #1212 closed

[2020-12-10 00:22] Sean-Der commented on #1560
I spent some time doing research today and found https://pythonspeed.com/articles/consistent-benchmarking-in-ci/

cachegrind looks promising! This might be a 'master only' thing depending on how much longer this makes the tests run.

[2020-12-10 00:35] Sean-Der commented on #1581
Hey @uoosef I am gonna move conversation to https://github.com/pion/webrtc/issues/696

We are working on improving this in `/v3` but there is only so much we can do under adverse network conditions. Since we don't decode the video we can't request PLIs etc. We are going to have NACK on by default in `/v3`.

H264 itself doesn't have timing info, so you need to explicitly set it. ivf requires that y

[2020-12-10 00:35] #1581 closed

[2020-12-10 00:37] Sean-Der commented on #1466
We haven't had a failed build for master in 35 commits, so closing for now. I am sure more will arrive in the future but I feel good about where we are at today :)

[2020-12-10 00:37] #1466 closed

[2020-12-10 03:26] Sean-Der commented on #1589
@cryptix all the communication has been private unfortunately. https://bugs.chromium.org/p/chromium/issues/detail?id=1131222

My guess is security issues and lack of adoption? https://bugs.chromium.org/p/chromium/issues/detail?id=1108472

[2020-12-10 18:42] bshi commented on #1560
I'm late to the party but have a couple cents.  The discussion is focused on how to track progress with an emphasis on microbenchmarking but I'd like to point out that perhaps this is premature given we don't have much clarity on _what_ we should be measuring (and by extension optimizing).  The latter is, admittedly, a trickier problem but my intuition is that we could be more effective if we coul

[2020-12-11 17:22] pascal-ace opened #1592 "Incomplete SDP with v2 and v3-beta16"
I've been trying to make SIP work with your library for more than a week. Based on https://github.com/Sean-Der/ringcentral-softphone-go. I've been trying with v2 and v3.
And with the PCMU and OPUS codecs.
I use as ipbx a freeswitch in a local vm.
I can try in all directions, but I never manage to have a connection. Either the OnICEConnectionStateChange event never switches to connected, when I hav

[2020-12-11 18:38] Sean-Der commented on #1592
Hey @pascal-ace

For WebRTC we require each media section have a direction. If you add `a=sendrecv` to the bottom it will work. Let me check what the spec is on this (should we assume implicitly a direction)

Running https://gist.github.com/Sean-Der/c3b20c1203210f4c0556332ec8be318d

I get

[code]

[2020-12-13 19:20] tekig commented on #1279
Many complex terms can scare people off or raise their expectations. They may say "A lot has been done here, we can easily use this project", but they are not.

I think that people who understand will not switch to another project, because they already have a ready-made solution that works. Not sure, but people come here who don't know much about WebRTC in the beginning. The words ICE, TURN and et

[2020-12-14 13:48] pascal-ace commented on #1592
Hello, sorry for the response time, the time it takes me to test and update.
Sorry I missed this evidence, in the SDP of the freeswitch logs, the sendrecv is present, but not in what I receive. Once corrected I get to :
I had some problems, on the codec (mimeType) = "audio/PCMU", I asked on slack to fix the SetLocalDescription function, I'll try to do a PR quickly.
I also noticed that if I don't p

[2020-12-14 18:15] #1279 closed

[2020-12-14 19:38] Sean-Der commented on #1592
@pascal-ace is the Freeswitch server sending ICE traffic?

I would do `tcpdump -i any udp` and look if you are getting traffic. Since `FreeSwitch` is offering it should be sending you ICE requests. `export PION_LOG_TRACE=ice` could also be helpful.

FreeSwitch may be expecting the SDP fingerprint inside the audio media section. I don't see any structural differences beyond that though.

[2020-12-15 15:02] pascal-ace commented on #1592
Thanks to try to help me, so :
_192.168.1.74_ is my Local IP with my Go
_192.168.1.10_ : My VM with freeswitch

In my Go code, with the PION_LOG_TRACE=ice :
[code]
I see it's Valid, but not working. In freeswitch, I didn't manage to get the logs only from ICE, but here are the logs after getting the remote SDP (my answer.SDP):

[code]

We can see that it matches on the PCMU codec (Or Opus when I d

[2020-12-15 17:42] pascal-ace commented on #1592
in the chrome://webrtc-internals/  when I using sipml5 demo site, All call are here :
15/12/2020, 18:22:06 | setRemoteDescription
15/12/2020, 18:22:06 | setRemoteDescriptionOnSuccess
15/12/2020, 18:22:06 | signalingstatechange
15/12/2020, 18:22:06 | transceiverAdded
15/12/2020, 18:22:06 | transceiverAdded
15/12/2020, 18:22:06 | createAnswer
15/12/2020, 18:22:06 | createAnswerOnSuccess
15/12/2020,

[2020-12-15 18:17] pascal-ace commented on #1592
I try to edit my answer.SDP,  try to be as close as possible to what sipml5 sends, in the end, my SDP looks like (But it still doesn't work):

[code]

[2020-12-17 09:46] pascal-ace commented on #1592
The SDP problem is fixed with ```a=sendrecv```, the second non-connection problem is another problem directly seen on slack, and will be fixed once the sip-to-webrtc examples work. (I'll put a comment if the problem is relevant)

[2020-12-17 09:46] #1592 closed

[2020-12-18 16:00] sampleref opened #1603 "sfu-ws example with trickle ICE not able to send rtp out to browser"
I tried to modify the given https://github.com/pion/example-webrtc-applications/tree/master/sfu-ws example to support trickleICE as below,

1.    Changes for trickle enable

[code]

2.    Below WsConn Method is similar to Room with Trickle ICE support for a single **pubReceiverC** and **subSenderC**
[code]

3. I have small JSON wrapper struct to handle JSON Message for SDP and ICE Messages as belo

[2020-12-18 17:15] Sean-Der opened #1604 "Should we insert an implicit mid if the remote doesn't have one?"
When working with sip-to-webrtc I had to add a mid myself like [this](https://github.com/pion/example-webrtc-applications/blob/master/sip-to-webrtc/main.go#L86)

This is a regression from v2, before we would match on order only. I need to check with Chromium, but it would be nice if we could just assume mids.

[2020-12-19 02:40] hammerheaddown commented on #1019
can you send us some info on how exactly we are supposed to do this on a windows pc?

isnt there a batch file file or something we could use?

[2020-12-19 16:15] jech commented on #1560
I think Sean is merely speaking about catching regressions, not about general performance tuning.  While microbenchmarks are misleading, they are good for catching regressions, and every performance regression should be investigated, even if it's only so that a human can decide that it doesn't matter in practice.
Having realistic benchmarks would be great, but it's way more ambitious than what Sea

[2020-12-21 02:48] mission-liao commented on #1553
@Sean-Der I've read the discussion #1564 and believe this issue could be reopened. Once this [PR](https://github.com/pion/webrtc/pull/1606) is merged (no idea why it failed, would look into that later), I will try to expose `SetReadDeadline` on `TrackRemote`, below is my implementation plan on this part:

- Expose `SetReadDeadline` on `TrackRemote`, but I would like to provide options for users to

[2020-12-22 02:31] mission-liao commented on #1553
Just realized that `TrackRemote` only handles `ReadRTP`, not `ReadRTCP`, there is no need to add an additional option to `SetReadDeadline`.

[2020-12-22 15:43] seamanm opened #1608 "how can get candidate info connect to webrtc peer"
### Your environment.
  - Version: *3.0.0*

### What did you do?
i want connect to android webrtc ,but need candidate , but i don't know how can get this.like this
      "candidate1" : {
         "candidate" : "candidate:2999745851 1 udp 2122260223 192.168.56.1 65195 typ host generation 0 ufrag OLSu network-id 3",
         "sdpMLineIndex" : 0,
         "sdpMid" : "data"
      },
      "candidate2"

[2020-12-22 22:50] Sean-Der commented on #1608
Hey @seamanm

They are exposed via `OnICECandidate` like in the browser. You can also get them for the local session description after they have been gathered. We provide a helper to block until gathering is complete. You read about both options here https://github.com/pion/webrtc/wiki/Release-WebRTC@v3.0.0#after

[sfu-ws](https://github.com/pion/example-webrtc-applications/tree/master/sfu-ws) is

[2020-12-22 22:50] #1608 closed

[2020-12-24 15:16] mission-liao commented on #1553
@Threadnaught I would like to assign this issue to you. Please feel free to assign it back to me if somehow you can't finish the integration of timeout methods to `pion/webrtc`.

[2020-12-25 20:53] Sean-Der commented on #1260
@fayfive How many PeerConnections are you serving when you reach resource exhaustion? Is this on a specific host?

To see an example of fanout we have https://github.com/pion/webrtc/tree/master/examples/broadcast and https://github.com/pion/example-webrtc-applications/tree/master/sfu-ws

[2020-12-26 00:49] TroyDota opened #1613 "Increase bandwidth."
Hi, I was curious about how to increase the bandwidth on the WebRTC channel for higher quality video

Currently I can send 700Kbps at 60FPS and all 60frames make it to the client, but 700Kbps on 1080p video looks like trash.

if I send 2000Kbps the video plays back at ~ 1FPS.

🚀

[2020-12-26 00:57] #1613 closed

[2020-12-26 17:41] #1553 closed

[2020-12-27 06:33] Sean-Der commented on #1304
v3 has been released :D

closing! We will be leaving the `v2` branch forever in case anyone needs it.

[2020-12-27 06:33] #1304 closed

[2020-12-27 07:02] Sean-Der commented on #1387
Calling `Write` on a `TrackLocal` will never return a network error. These were all the considerations that went into this decision.

* Returning an error back to the user wouldn't be useful. A PeerConnection doesn't have an ID, so would be hard to identify the offender.
* Returning the non-temporary error breaks DTLS and SCTP. The state then later could be fixed with an ICE Restart. DTLS and SCTP

[2020-12-27 07:02] #1387 closed

[2020-12-27 15:38] TroyDota opened #1614 "Minimizing player on chrome causes video to stop and need to be repaired."
When i alt tab or take the player out of visibility for a while (causing no Animation Frames to run) the player stops and needs to be reloaded to work again. Is there a way programmatically to fix this without severing the webrtc connection? or am i doing something wrong?

[2020-12-27 19:54] Sean-Der opened #1615 "Porting projects to /v3"
This is a running list off al the projects we have ported to /v3. Each list entry will contain a issue we made asking if the owner wants it ported, and a link for the PR that ported it.

* ....
* ....
* ....

[2020-12-28 00:20] jech opened #1616 "ICEServer and RTCConfiguration cannot be marshaled to JSON"
Consider the following:
[code]
This fails horribly:
[code]
There are two issues here:
  * the types `Configuration` and `ICEServer` do not have the required `json` tags;
  * a number of fields are numeric instead of being strings.

How do people want this fixed?  I can either make the relevant fields into strings, or write custom marshallers/unmarshallers.  The alternative would be to work around

[2020-12-28 18:15] Sean-Der commented on #1241
Duplicate of https://github.com/pion/webrtc/issues/839

[2020-12-28 18:15] #1241 closed

[2020-12-28 18:29] Sean-Der commented on #1500
@yourchanges It looks like gortcd was the issue? Switching to coturn fixed everything?

[2020-12-28 18:39] Sean-Der commented on #1616
Can you write Marshal/Unmarshal functions for the fields that are enums as well? I don't know if it is possible off the top of my head, but would be fun to try!

It would be a shame to lose the compile time checks we have.

[2020-12-28 18:51] Sean-Der commented on #744
I agree that the API can be frustrating, but I think we get more benefits (then negatives) from the callback based API we have today.

* Users coming from JS are able to pick up our API easily.
* We don't have subjectivity when designing the API. Much less for the devs to bikeshed about.

If someone does want a non-callback based API they can use ORTC today! I haven't seen much interest however. I

[2020-12-28 18:51] #744 closed

[2020-12-28 18:54] Sean-Der commented on #1544
Hey @iraklippv

Sorry I lost track of this. With Pion WebRTC v3 and the holidays I wasn't able to get to this. If you are still having issues please re-open!

[2020-12-28 18:54] #1544 closed

[2020-12-30 06:02] #1616 closed

[2020-12-31 14:17] BenjaminX commented on #9
Sean, Any plan on Native mobile SDKs (included iOS android)

[2020-12-31 18:19] Sean-Der commented on #9
Hey @BenjaminX

Do you want to run Pion on the device, or are you connect iOS/Android to a Pion server? Both are possible today.

[sfu-ws](https://github.com/pion/example-webrtc-applications/tree/master/sfu-ws) shows how you can connect iOS/Android to a Pion server using Flutter.

You can use gomobile like in [go-yuv2webrtc](https://github.com/poi5305/go-yuv2webrtc). [c-data-channels](https://gith

[2021-01-01 02:30] BenjaminX commented on #9
Thanks a lot, sean.  Have you checked this project https://github.com/flutter-webrtc , it should be integrated into Pion

[2021-01-01 13:15] fayfive commented on #1260
@Sean-Der
I download v3 and see the sample.But it dose not work in local network. I usb nginx to see the web.  I set peerConnectionConfig := webrtc.Configuration{}, is there any problem?

[2021-01-02 03:51] cameronelliott opened #1621 "examples/simulcast should read mediaSessions from SDP or PeerConnection.GetReceivers().Tracks()"
The simulcast example at examples/simulcast is great!
But, one small gotcha, it magically knows the names of the Rids that appear in the SDP from the browser.

It would be nice if the example iterated through the Rids and created the 'f','h','q' tracks by iterating either
through sdp.SessionDescription or PeerConnection.GetReceivers().Tracks()
Instead of magically knowing how many tracks+the names

[2021-01-02 15:35] fayfive opened #1622 "memory overflow"
I wrote a program referring to the V3 broadcast example. Read local h264 to WriteSample(). The function is OK, but the memory can not be released. When a old watcher web page close, the memory can not be reduced. When a new watcher page open, the memory is increased. I use OnConnectionStateChange to listen PeerConnectionStateDisconnected. When PeerConnectionStateDisconnected, I RemoveTrack and clo

[2021-01-02 19:35] Sean-Der commented on #1622
Hey @fayfive

Sorry you are having issues! You don't need to call `RemoveTrack`, closing the PeerConnection will free all resources associated with the PeerConnection.

I am not able to reproduce this right now. We have some basic tests to assert things don't leak, but we could have missed something.

Would you mind doing a heap profile?  If you are able to share the entire project that would even

[2021-01-03 04:03] fayfive commented on #1622
@Sean-Der
Your sample has the same phenomenon. It also listen disconnected and peerConnection.Close(), but the memory can not be released. My RTSP just has H264 and no voice.

Here is the link
https://github.com/pion/rtsp-bench

thanks

[2021-01-03 06:38] Sean-Der commented on #1622
I am able to reproduce this. The NACK Responder Interceptor has a leak.

The issue is that sync.Map is GC'ed this seems to be related to https://github.com/golang/go/issues/40999 I am moving to a map + mutex

[2021-01-03 07:00] #1622 closed

[2021-01-03 07:04] Sean-Der commented on #1622
@fayfive This should be fixed with `v3.0.2`

`sync.Map` would only do GC in certain cases. I was able to confirm that it would leak sometimes.

Another thing I saw is that if a HTTP Request hung (SIGQUIT the client) that that PeerConnection created in the handler would stick even if `Close` had been called. Make sure that you gracefully kill all HTTP clients or wait until the HTTP request fully ti

[2021-01-03 07:13] Sean-Der commented on #1622
To confirm I did the following

* I loaded the page in 3 tabs in Chromium and ran `go tool pprof -png -nodecount 0 'http://localhost:8080/debug/pprof/heap'` to confirm things were allocated

* I ran the same command and got the attached heap profile

[2021-01-04 05:38] fayfive commented on #1622
@Sean-Der
The bug is fixed. Thanks!
I am using sync.Map(go version 1.15.5) in my project and the project is OK. I saw the sysnc.Map issue, it seem to be fixed in Augest.

[2021-01-04 11:41] DeadInside1985 opened #1624 "Falling throughput"
### Your environment.
  - Version: v3.0.2

### What did you do?
Run this example https://github.com/pion/webrtc/tree/master/examples/data-channels-flow-control

### What expect?
Stable throughput without errors.

### What happened?
Part of debug log
[code]

[2021-01-04 20:52] chrisuehlinger opened #1625 "h264reader appears to not read/pass the first keyframe it receives"
### Your environment.
  - Version: *v3.0.3*
  - Browser: *Chrome 87.0.4280.88*
  - Other Information - *[reduced test case](https://github.com/chrisuehlinger/pion-h264-repro)*

### What did you do?

I'm building a tool that involves using ffmpeg to pipe a video stream into pion, which then reads the stream (as if reading from a file) and sends it to a client in Chrome. This is most similar to the

[2021-01-05 04:21] cameronelliott commented on #1345
**Issue/sub-issue**

*tweaking the simulcast example so it doesn't feed the media back to the browser causes an issue where OnTrack has blank Rids for the simulcast tracks*

Correct output from `simulcast`
[code]

`simulcast` that demos bug with blank/empty Rids:
[code]

Repo with issue, last commit is changes to realize the bug:
(look at last commit to see my small changes vs. the vanilla simulca

[2021-01-05 07:15] Sean-Der commented on #1390
Moved to #1345

[2021-01-05 07:15] #1390 closed

[2021-01-05 07:16] Sean-Der commented on #1621
Moved to https://github.com/pion/webrtc/issues/1345

[2021-01-05 07:16] #1621 closed

[2021-01-05 10:01] seamanm opened #1626 "how to change datachannel protocol to "UDP""
## Summary

i want use datachannel and udp protocol transfer some file,but don't know how to modify

## Motivation

Why are we doing this? What use cases does it support? What is the expected outcome? Is this available in other implementations? Can this not be implemented using primitives?

## Describe alternatives you've considered

A clear and concise description of the alternative solutions you

[2021-01-05 13:58] Sean-Der commented on #1626
The Datachannel runs over the ICE Agent. You can’t control UDP/TCP and the Datachannel level. No matter UDP or TCP a Datachannel is reliable so you will not lose messages.

ICE is usually over UDP. Unless you use TCP TURN. You can force TCP TURN via the PeerConnection configuration.

[2021-01-05 13:59] Sean-Der commented on #1626
If you have anymore questions feel free to ask here or in [Slack](https://pion.ly/slack)

[2021-01-05 13:59] #1626 closed

[2021-01-06 05:07] Sean-Der commented on #1614
Hey @TroyDota

Where are you getting the frames from? What is your keyframe interval/are you responding to NACKs?

[2021-01-06 05:10] Sean-Der commented on #1624
@DeadInside1985 thanks for the report!

I think the ICE Agent has gone to failed `ice WARNING` usually means the socket is closed and an ICE Restart is needed.

Is this reproducible for you? Would you mind exiting or panicking on ICE issues? We might have a bug in that area.

[2021-01-06 05:11] Sean-Der commented on #1625
This is one of the best bug reports I have ever seen! Thank you so much @chrisuehlinger will check it out ASAP :)

I usually don’t get much Pion time until the weekends :(

[2021-01-06 14:31] baiyufei commented on #1625
When sps and pps are in two separate rtp packets, [Chrome does not treat packets as a keyframe](https://source.chromium.org/chromium/chromium/src/+/93789ecf59c3afe3c5aa7125950744e6869c97fd:third_party/webrtc/modules/video_coding/packet_buffer.cc;l=301;bpv=1;bpt=1). First sps and pps  were discarded by Chrome.
Enable webrtc log of Chrome, will see warning like this:
[code]
Sending sps and pps in on

[2021-01-06 17:23] DeadInside1985 commented on #1624
Yes, I can reproduce this. I will try to get more info.

[2021-01-06 17:44] chrisuehlinger commented on #1625
@Sean-Der Thanks! I also wanted to make sure I wasn’t messing anything up or using the reader wrong. Once this gets resolved, I’m down to build a play-h264-from-disk example (since there aren’t any examples yet that use H.264)

@baiyufei I had never heard that Chrome had anything besides webrtc-internals, this is huge, thanks. WRT this issue, is there a change I could make to my ffmpeg incantation

[2021-01-07 13:34] cgojin opened #1628 "pion-webrtc can not got the video track of iOS native app"
### Your environment.
  - Version:  v3.0.1 or latest
  - Browser:  flutter app run on iOS (https://github.com/pion/example-webrtc-applications/tree/master/sfu-ws/flutter)

### What did you do?

Server:
https://github.com/pion/example-webrtc-applications/tree/master/sfu-ws/main.go

git clone https://github.com/pion/example-webrtc-applications

cd example-webrtc-applications/sfu-ws
go run main.go

C

[2021-01-08 01:46] cgojin commented on #1628
**ion v0.4.6 received the SDP that has been modified by the client (ion-app-flutter run on iOS):**
v=0
o=- 8865357072505998543 2 IN IP4 127.0.0.1
s=-
t=0 0
a=group:BUNDLE audio video
a=msid-semantic: WMS 9AA16A97-26AE-459C-A643-DA4167BBC19F
m=audio 54284 UDP/TLS/RTP/SAVPF 111
c=IN IP4 192.168.99.6
a=rtcp:9 IN IP4 0.0.0.0
a=candidate:435002659 1 udp 2122260223 192.168.99.6 54284 typ host generation

[2021-01-08 12:44] cgojin commented on #1628
**If sfu-ws and iOS client PeerConnection use plan-b, sfu-ws can get the video track of iOS native app**

sfu-ws INFO: 2021/01/08 20:35:15 Send offer to client: {offer v=0
o=- 5473304514670651829 1610109315 IN IP4 0.0.0.0
s=-
t=0 0
a=fingerprint:sha-256 05:28:E6:39:3A:8E:FD:38:B2:8D:80:5E:B0:68:FE:8B:9F:58:1A:43:19:96:25:56:F2:9F:92:BE:6F:75:D0:A9
a=group:BUNDLE video audio
m=video 9 UDP/TLS/RTP/S

[2021-01-08 14:23] baiyufei commented on #1625
@chrisuehlinger I created a [PR](https://github.com/pion/rtp/pull/112) to solve this. You can try https://github.com/baiyufei/pion-h264-repro for test.

[2021-01-11 10:54] celestial2 opened #1631 "updateFromRemoteDescription not used in v3"
The function updateFromRemoteDescription is not used in mediaengine.go nor it is exported. I was previously using PopulateFromSDP, but now since it is gone with v3 i guess updateFromRemoteDescription has the same purpose or am i wrong ?

If it's not the case what should i use to populate with sdp ?

[2021-01-11 11:11] celestial2 commented on #1631
This answers my question, didn't actually see it in the release notes. Can be closed.

[2021-01-11 11:11] #1631 closed

[2021-01-12 00:14] chrisuehlinger commented on #1625
@baiyufei Thanks! I'll get to checking it out in a bit. On my end, I was able to mitigate my issue by increasing keyframe frequency so the initial lag is decreased, but it'll be good to have an actual solution to the problem.

[2021-01-12 08:07] cgojin commented on #1628
Sorry, this is an iOS app or flutter-webrtc issue.

[2021-01-12 08:07] #1628 closed

[2021-01-12 10:06] NielsDom commented on #1019
Hi, curl localhost:8080/sdp -d "Browser SDP". not working for me, it shows:
curl: (7) Failed to connect to localhost port 8080: Connection refused

Thank you

[2021-01-12 10:16] NielsDom opened #1632 "curl: (7) Failed to connect to localhost port 8080: Connection refused"
Hello,

Project looks exciting, but I am not even able to launch it.

When I try: curl localhost:8080/sdp -d "YOUR SDP",
I got  "curl: (7) Failed to connect to localhost port 8080: Connection refused".

Thanks

[2021-01-12 16:57] Sean-Der commented on #1632
Hey @NielsDom

Sorry about the issues you are running into! Would you mind trying `reflect` or `datachannels` first. They are a little less involved, it will help if you can see all the moving parts.

When you get back to trying the broadcast example did you `go run main.go` in `webrtc/examples/broadcast`? Are you running `curl` on the same machine that you ran broadcast?

[2021-01-13 10:47] daonb commented on #1615
I've ported webexec, been pretty straight forward

[2021-01-13 14:04] NielsDom commented on #1632
@Sean-Der Thank you.
I can run examples localhost following instructions: https://github.com/pion/webrtc/tree/master/examples.
I run curl on same machine that runs examples.
But I cannot get Golang base64 Session Description. If I understand well I have to generate it from command: curl localhost:8080/sdp -d "Browser SDP". (which "browser SDP" = Browser base64 Session Description, right?)

I try t

[2021-01-13 17:43] #1514 closed

[2021-01-13 21:03] Sean-Der commented on #1615
@daonb webexec is super cool! More people need to know about it :)

Mind if I post on our Twitter about it? You should also post on reddit.com/r/golang reddit.com/r/webrtc and do a Show HN! I think WebRTC would be really great for ops tools. You get E2E encrypted (instead of routing through a server) and Go just makes things so easy to deploy

[2021-01-14 00:56] jech opened #1635 "Pion should skip the two-second delay when ICETransportPolicy=ICETransportPolicyRelay"
When looping back through a TURN relay, Chrome takes a few milliseconds to connect: https://github.com/jech/galene/blob/master/static/galene.js#L2307

The equivalent code on the server side takes 2 seconds: https://github.com/jech/galene/blob/master/ice/ice.go#L127

The reason for that is that the TURN delay is fixed to two seconds (`ice.defaultRelayAcceptanceMinWait`), and this delay is honoured

[2021-01-14 02:02] mission-liao opened #1636 "DTLS should be restarted when the remote DTLS fingerprint has been changed or the tls-id has changed during applying an answer"
### Your environment.
  - Version: *v3.0.3*

### What did you do?
  - Make a pair of `PeerConnection`s, one is at server side, and another one is at App side.
  - The App is crashed or is swipe out from foreground.
  - When the App is back, I would need to create a fresh `PeerConnection` and pair it with the one at server side.
  - The pairing is not working, ICE is connected but not the DTLS part

[2021-01-14 16:59] daonb commented on #1615
@Sean-Der Thanks for your kind words and for the offer to help. I feel webxec and its client - Terminal7 - needs more testing before spreading the word.

Terminal7 is a touchable terminal emulator & multiplexer inspired by tmux 💟. Just like tmux it supports multiple tabs and panes in complex layouts. Unlike tmux, it has its own webrtc based communication allowing each pane to have its own font siz

[2021-01-16 00:22] jech commented on #810
This is not a duplicate of #1315 — the latter is Pion reacting correctly to malformed SDP.  There is no evidence of malformed SDP in this report.

[2021-01-16 09:56] testingbot opened #1640 "Garbled audio when using PCM 8-bit"
### Your environment.
  - Version: latest

### What did you do?

I am receiving a stream of [PCM 8-bit audio](https://developer.android.com/reference/android/media/AudioFormat#ENCODING_PCM_8BIT) (48000 samplerate) through WebSockets, which I pass in a `IO.Pipe()` and then read:
[code]

I receive audio on the other end, but it's all garbled.

### What happened?
Perhaps the `Duration` parameter need

[2021-01-16 12:13] Sean-Der commented on #1640
Hey @testingbot

My guess is the SampleRate is the issue. Pion right now signals 8000 https://github.com/pion/webrtc/blob/master/mediaengine.go#L80 and that is what most browsers do by default.

You can try 48000 but I am not sure if it will work! Are you setting up your local codecs like this? https://github.com/pion/webrtc/blob/master/examples/save-to-disk/main.go#L50

Can you try downsampling j

[2021-01-17 19:41] Sean-Der commented on #1640
@testingbot I can reproduce this behavior! It seems like our audio math is wrong. ffmpeg's packetizer does 209 samples, and we do 209. This is coming from `(s *TrackLocalStaticSample) WriteSample(`

I will have a fix for this today. My guess is we are casting/losing precision somewhere and is messing everything up :(

[2021-01-18 00:07] #1640 closed

[2021-01-18 00:08] Sean-Der commented on #1640
Hey @testingbot I pushed a fix to master. PCM was broken if you were using the SampleBuilder. This is what I did to confirm everything was ok.

Apply this patch
[code]

Then I sent audio in like so
[code]

[2021-01-18 08:24] yourchanges commented on #1500
@Sean-Der  yes, for me it is.

[2021-01-19 01:59] chenzheng123 opened #1642 "Audio can't play"
Hello,

In the examples/play-from-disk directory of the WebRTC project, I found that only videos can be played, but no audio can be played. Is this a bug?

Thanks!